[2022-05-25 09:22] prabh-t commented on #780
PR https://github.com/ebi-ait/ingest-archiver/pull/91

[2022-05-26 08:41] ipediez commented on #782
It's missing an issue with the elixir login and registering the domine with them. An "invalid grant" error is showing.  @prabh-t to send email to them to ask for permissions for our client.

[2022-05-26 08:46] ipediez commented on #780
GitLab runner is not working properly for our integration tests. @ke4 to reach out for technical assistance

[2022-05-27 08:14] ipediez opened #784 "Unable to import a spreadsheet"
**Describe the bug**
Will Sullivan (UCSC) reported at 23:28 that they were unable to import spreadsheets in ingest. [This is the slack conversation](https://embl-ebi-ait.slack.com/archives/C02K08WJQF6/p1653604122841889):

I'll add the screenshots sent by Will to the end of the ticket

I've tried to import the test spreadsheet for archiving [to a test project](https://contribute.data.humancellatlas

[2022-05-27 08:50] amnonkhen opened #785 "Unable to export datasets"
**Describe the bug**
Will Sullivan (UCSC) [reported at 23:28](https://embl-ebi-ait.slack.com/archives/C02K08WJQF6/p1653604122841889) that they were unable to export projects.

He tried to export the projects [kicked to valid by Jacob yesterday](https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-wrangler-central/808).

**Presumably**, the list of projects h

[2022-05-27 12:42] ami-day opened #786 "File status changes to "invalid" when metadata is updated"
**Describe the bug**
When a project has been exported, it is possible to make updates to the project or/and submission metadata and re-export it. However, for some datasets, when a metadata update is made, the sequence files change to "invalid" status. However, no error message other than the error warning is shown. There should also not be invalid sequence files at this point, unless they were sp

[2022-05-27 12:49] jacobwindsor opened #790 "Use CoreDNS to resolve ingest services"
All of our apps are using service environment variables which are not updated at runtime (see [here](https://serverfault.com/questions/1010098/kubernetes-environment-variables-runtime-update)). This means if the IP of a service changes, the dependent deployments are not aware of this change.

**task**
- [ ] Change all instances of e.g. `MY_SERVICE_SERVICE_SERVICE_HOST` to be `my-service.{{ .Releas

[2022-05-27 12:55] ami-day opened #787 "Add or Update linkings between entities in bulk"
As a wrangler, I want to be able to either **add new linkings** or **update linkings** between entities in bulk in ingest i.e. in an automatic, non-manual way.

An example is: update the process ids linked to each of many sequence files in bulk in ingest.
An example is: create a new analysis file and then link it to many process ids and cell suspension ids in ingest

Perhaps a way to do this would

[2022-05-27 13:16] ami-day opened #788 "Update project form with "sample type""
**Goal**
As a wrangler, I would like to be able to find and list all projects of a particular sample type in ingest using the project filter / search.
Currently, we do not record the sample type in the project form when a project is created.
If we record the sample type (organoid, iPSC, ESC, primary, other), then we should be able to filter projects by sample type.

**Acceptance criteria:**

- [ ]

[2022-05-27 13:19] ami-day commented on #459
Im closing this, the imaging tab problems have been solved and I have now exported an imaging dataset to HCA DCP.

[2022-05-27 13:19] #459 closed, assigned to jacobwindsor, ami-day

[2022-05-27 14:15] jacobwindsor commented on #775
https://github.com/ebi-ait/ingest-kube-deployment/pull/46

[2022-05-27 14:26] ami-day commented on #746
Have found the relevant cell barcode and umi barcode patterns in publications and documentation for the following methods:

· inDrop
· Drop-Seq
· CEL-Seq2
· Quart-seq2
· MARS-seq
· SCRB-seq
·Seq-Well
·Visium

[2022-05-27 14:57] amnonkhen commented on #785
According to the logs there has been a problem with the communications with Elixir AAI.
In addition we restarted the broker.

It is not clear why this fixed the problem.

@ke4 exported the 2 datasets:
1. [5bb1f67e-2ff0-4848-bbcf-17d133f0fd2d](https://contribute.data.humancellatlas.org/projects/detail?uuid=5bb1f67e-2ff0-4848-bbcf-17d133f0fd2d)
2. [18d4aae2-8363-4e00-8eeb-b9e568402cf8](https://contr

[2022-05-27 15:22] amnonkhen commented on #784
@jacobwindsor verified it is back to working using a test spreadsheet.
@amnonkhen [notified UCSC](https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1653662889755279?thread_ts=1653660656.937849&cid=C9XD6L0AD).

[2022-05-27 15:25] ami-day opened #789 "Enhancement: ingest all projects page search method"
When I search on a specific keyword like "organoid" in the HCA project catalogue, the search results returned are very specific to organoid projects - this is really useful to track for example how many and which datasets have been submitted under a project such as HCA:Organoid award.

Alternatively, in the HCA Ingest All Projects page,  the keyword "organoids" returns a set of projects that are n

[2022-05-30 08:43] yusra-haider commented on #775
@amnonkhen @MightyAx please have a look at this once you're back

[2022-05-30 08:44] yusra-haider commented on #780
@ke4 to check if GitLab is working now so he can proceed with deployment

[2022-05-30 09:21] jacobwindsor commented on #790
Relates to #784. This was the reason that bug happened

[2022-05-30 12:17] jacobwindsor opened #791 "Register integration environment on LS AII"
https://lifescience-ri.eu/ls-login/relying-parties/how-to-register-and-integrate-a-relying-party-to-ls-login.html

[2022-05-31 08:42] ESapenaVentura commented on #780
TBpromoted to prod. Waiting on maintenance from GL.

Can try to manually promote while GL is not working properly

[2022-05-31 08:44] ESapenaVentura commented on #580
Did some testing with @gabsie and @Wkt8 . There were some issues with file archiving.

Did another post request but didn't have capacity to investigate.

@Wkt8 did you manage to archive successfully?

@ke4 to investigate later with @prabh-t . Messages take time to process? may be the underlying issue.

[2022-05-31 08:46] ESapenaVentura commented on #775
Found an issue, @jacobwindsor replied to @ke4 and needs action on this

[2022-05-31 08:49] ESapenaVentura commented on #695
@gabsie to add this to post-demo agenda: @amnonkhen to prep for discussion

[2022-05-31 08:51] ESapenaVentura commented on #790
This should be done relatively quickly (If the bug does not appear). Needs re-assignment - @jacobwindsor and @ke4 to catch-up on this.

[2022-05-31 15:02] prabh-t commented on #791
I have added the following Redirect URIs in the Perun LifeScience Login Service provider registration page (https://spreg-legacy.aai.elixir-czech.org/spreg/auth) for HCA Ingest client (ID e2041c2d-9449-4468-856e-e84711cebd21)

[code]
The change has not been applied straight away but a request (see below) has been created.

[code]

We need to check when this is approved and then we should be able t

[2022-05-31 15:58] prabh-t commented on #791
Moving this to waiting. Someone needs to check if/when this change has been applied and test login in integration env.

[2022-06-01 08:20] ke4 commented on #790
I updated the description with 2 article links from @jacobwindsor .

[2022-06-01 09:43] gabsie commented on #775
This would wait until @amnonkhen is back next week.

[2022-06-01 09:48] gabsie commented on #767
Make this ticket a bit more specific @gabsie

[2022-06-01 09:54] gabsie commented on #768
@idazucchi will check once again to see if this is resolved.

[2022-06-01 09:55] gabsie commented on #591
to discuss with @amnonkhen next week.

[2022-06-01 17:06] ke4 commented on #775
I had to reinstall `awscli` to the latest version:
[code]
 and also change `client.authentication.k8s.io/v1alpha1` value in the config files to `client.authentication.k8s.io/v1beta1` in these places:
- ~/.kube/config
- in the `ingest-kube-deployment` repo: `infra/eks.tf`
This value change is a known issue in `aws-cli`: https://github.com/aws/aws-cli/issues/6920#issuecomment-1119926885

[2022-06-01 17:39] idazucchi commented on #768
I've modified the spreadsheet to add `cell_line.publication.official_hca_publication` and uploaded it in a new [project](https://staging.contribute.data.humancellatlas.org/projects/detail?uuid=3478672b-6e5c-4d81-af0f-d8462b5213c6)
The publication error is gone and this ticket can be closed

[2022-06-06 08:36] Wkt8 commented on #784
Karoly worked on this together with Jacob.

[2022-06-06 08:37] Wkt8 commented on #775
Karoly in progress and working on this - ran into some issues with the cluster creation script and is working through it.

[2022-06-07 08:39] ke4 commented on #775
Karoly has to review Certificate creation with @amnonkhen

[2022-06-07 12:25] gabsie opened #792 "Get a list of projects which are Submitted but Catalogue=no"
As a stakeholder, I want to get a list of projects which are Submitted but Catalogue=no, so that we can review and get them updated to show in the Catalog.

[2022-06-08 12:35] ami-day commented on #761
The open-source barcode checker tool (umi_tools extract) works on each of the test cases, given the expected barcode pattern. In the case that 1 of the files returns an unexpected 10X Genomics version as output, I have validated the result against an orthogonal python-based sliding window script. The sliding window script measures the % reads with a levenshtein distance of 0bp or 1bp when compared

[2022-06-09 08:19] Wkt8 opened #793 "sequence_file descriptor files are missing values for the “content_type” and “size” properties"
**Describe the bug**
sequence_file descriptor files are missing values for the `content_type` and `size` properties for the files in project [88ec040b-8705-4f77-8f41-f81e57632f7d](https://contribute.data.humancellatlas.org/projects/detail?uuid=88ec040b-8705-4f77-8f41-f81e57632f7d&tab=upload)

I believe these values are automatically generated by Ingest. Is there a way we can check / add these valu

[2022-06-09 09:40] Wkt8 commented on #580
This did not archive successfully - going to try again.

[2022-06-09 12:44] Wkt8 commented on #580
Still not archiving successfully. Using the GET command results in a number of readings with

`fileArchiveResult":null,`

[2022-06-10 12:54] ami-day commented on #763
Closing this as it overlaps another ticket, we only need 1.

[2022-06-10 12:54] #763 closed, assigned to ami-day

[2022-06-13 08:48] amnonkhen opened #794 "3 files had an incorrect CRCs"
see ops ticket: ebi-ait/hca-ebi-wrangler-central#815
We have not been able to find a theory or reproduce.

[2022-06-13 09:19] MightyAx commented on #775
More testing, and reviewing needed here.

[2022-06-13 13:21] ke4 opened #795 "Investigate why datasets are stuck in exporting"
**Description of the problem**
In the last few days the same issue has happened repeatedly when exporting a project:
The project status remains stuck in `Exporting` but the staging area contains the newly generated JSON files
**see Yusra's comment on ticket #121**

**Datasets affected**
- ticket #666 - [ingest](https://contribute.data.humancellatlas.org/projects/detail?uuid=425c2759-db66-4c93-a358

[2022-06-13 13:29] ke4 commented on #795
I create a new submission in `dev` environment for the dataset in [ticket#666](https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/666):
- https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=11758ef8-a0b2-41c4-b971-bae347bb5cd7&project=d6ebcdb2-6e14-46f6-8009-3749d3947ccb

[2022-06-13 13:34] ke4 commented on #795
As the original spreadsheet attached to the ticket contained a couple of errors Ida helped me to fix it.
Here is the fixed spreadsheet I used to create the submission: [GSE192740_v1_ontologies_666_pheno-schema-fix3.xlsx](https://app.zenhub.com/files/299258791/ea630aa4-6241-40e4-81b2-428cb3e18bef/download)

[2022-06-13 13:37] ke4 commented on #795
The hca util upload area for the files: [data files](s3://hca-util-upload-area/46a00d3b-1e19-4137-8533-6e4adf6fdbe1/)

[2022-06-13 13:38] ke4 commented on #795
Files have been uploaded and now they are validating.

[2022-06-13 15:49] ke4 commented on #795
Some jobs failed in checksum calculation (1) and file validation (2). I cloned all of them which resulted in restarting the jobs.
All of them succeeded now.

[2022-06-13 15:50] ke4 commented on #795
Here are the remaining actions with this submission:
- [x] graph validate
- [x] export metadata and data
- [ ] check the logs

[2022-06-13 15:58] ke4 commented on #795
Looking at the protocols I just realized that the graph validation is going to fail as 1 protocol is not linked.
And it just happened.
![Screenshot 2022-06-13 at 16.58.23.png](https://images.zenhubusercontent.com/5f2957fd448645a503a32777/470a146f-5129-46fb-8a9b-ffc5de2e8024)
I probably need @idazucchi 's help to fix this. I think the original and this submission also differ in protocol names, but

[2022-06-14 09:39] ke4 commented on #795
@idazucchi fixed the issue by deleting the protocol because it wasn't in the final exported protocol and restarted the graph validation.

[2022-06-14 09:40] ke4 commented on #795
Here is the new updated spreadsheet: [https://app.zenhub.com/files/299258791/82c77da3-41d1-42a6-a525-ed532c31d7b9/download](https://app.zenhub.com/files/299258791/82c77da3-41d1-42a6-a525-ed532c31d7b9/download)

[2022-06-14 09:55] ke4 commented on #795
The graph validation has succeed. I am triggered the exporting of the submission on the UI and monitoring the logs.

[2022-06-14 12:12] ke4 commented on #795
The submission status is now `Exported`.

[2022-06-15 09:28] gabsie opened #796 "Metadata csvs per project, for consumers"
Hey Amnon

I have chosen a project from ingest which we can use to produce metadata csv examples for.

https://contribute.data.humancellatlas.org/projects/detail?uuid=957261f7-2bd6-4358-a6ed-24ee080d5cfc

and this project

[Kuppe's dataset](https://contribute.data.humancellatlas.org/projects/detail?uuid=e9f36305-d857-44a3-93f0-df4e6007dc97)

Can we please produce the necessary metadata files which

[2022-06-15 09:45] gabsie commented on #790
@amnonkhen to review and decide

[2022-06-15 09:54] gabsie commented on #795
Quickly check what the next suggested experiment here should be. Communicate with @MightyAx as well

[2022-06-15 09:56] amnonkhen opened #797 "integration tests not running due to gitlab runner problem"
See this [pipeline](https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/pipelines/288789).
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/5c05b787-64f9-4c96-b9ad-99eec207503b)

There is a related [helpdesk ticket](https://helpdesk.ebi.ac.uk/Ticket/Display.html?id=591417).

# Acceptance Criteria

- [ ] integration tests are being run by gitlab after push to git
- [ ]

[2022-06-15 11:22] #764 closed, assigned to amnonkhen

[2022-06-15 11:23] amnonkhen opened #798 "validation of links.json"
The exporter does not validate the generated `links.json` files using the json schema as it should.

Related to #764

[2022-06-15 12:52] ke4 commented on #795
I checked on AWS Batch for the failed jobs, but I could not find anything that was related to this submission. 😢

[2022-06-15 13:03] ke4 commented on #794
I am going to check the following scenario.
- [x] Create a new submission on dev environment
- [x] Upload the data files
- [x] Check and note down the CRC32C checksums
- [x] Replace 1 or more data file(s) with modified content but same name(s)
- [x] Check again the checksums and compare them with the previous ones

[2022-06-15 16:11] ke4 commented on #794
1. I created a submission using the medium-sized spreadsheet I used for archive testing.
2. I uploaded the files and checked the logs of the executed lambda function.

In the log below you can see that some of the files already have checksum values, but not for all of them. That is very strange.

[code]

[2022-06-15 16:14] ke4 commented on #794
I created a new spreadsheet by renaming the files in the previous spreadsheet: [https://app.zenhub.com/files/299258791/135020d5-1281-465f-b1c9-592c98aead76/download](https://app.zenhub.com/files/299258791/135020d5-1281-465f-b1c9-592c98aead76/download)
I also created a new hca util upload area with the renamed files: [303b04bd-561d-4683-9c9d-81c1204587e8](s3://hca-util-upload-area/303b04bd-561d-468

[2022-06-16 08:39] ofanobilbao commented on #797
Might need help from @ke4 or @MightyAx

[2022-06-16 09:26] ke4 commented on #794
I uploaded the new submission I created yesterday with new filenames and checked the checksum calculation log in AWS CloudWatch.
In all the generated logs the checksums initially were `None`. That's what we expected.

[2022-06-16 10:04] ke4 commented on #794
I uploaded the same new submission I created yesterday but with the same filenames from a different hca util upload area and checked the checksum calculation log in AWS CloudWatch.
In all the generated logs the checksums initially were `None`. That's what we expected.

[2022-06-16 10:14] ke4 commented on #794
I created yet another submission from the same spreadsheet and used the previous hca util upload area.
The checksums initially are still `None`. It looks like our theory about the cache failed with this test.

[2022-06-16 10:32] amnonkhen commented on #797
With @MightyAx's advice the faulty EBI Gitlab runner ([1349](https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/runners/1349), clicking this would result in a "not found" error) was dissociated from the integration tests project.
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/6090e6ff-c08c-41ff-826c-9a1e782e1826)

After restarting the failed [pipeline](https://gitlab

[2022-06-16 14:15] amnonkhen commented on #797
A new [push](https://github.com/ebi-ait/ingest-graph-validator/pull/74) by @ESapenaVentura resulted in a failed [pipeline](https://gitlab.ebi.ac.uk/hca/ingest-graph-validator/-/pipelines/289220) with "no permissions" error in the integration tests phase.
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/6ce57627-f3fc-4c97-b405-000b0adb3db0)

I am investigating whether this

[2022-06-16 15:12] amnonkhen commented on #797
@amnonkhen re-triggered the job and it is running ok.

[2022-06-17 08:27] ke4 commented on #794
When I reuploaded the same files to an already existing submission the files get initialised with the correct checksums from the postgres cache correctly.

[2022-06-17 08:30] ke4 commented on #794
When I changed the content of an already uploaded file, then upon uploading the file its checksum values were initially `None` as it has got a new `S3_key` and `S3_etag`. So it looks like it is working as it is expected.

[2022-06-17 08:39] MightyAx commented on #795
Prototype complete for Exporting Errors being "Dead Lettered"

[2022-06-17 08:39] ofanobilbao commented on #775
@ke4 will work on this today

[2022-06-17 08:40] ofanobilbao commented on #795
@MightyAx to build this into the ingest exporter code today

[2022-06-17 08:44] ofanobilbao commented on #794
Next steps will be discussed

[2022-06-17 15:04] MightyAx commented on #795
Ready for PR

[2022-06-20 08:36] ofanobilbao commented on #795
@amnonkhen reviewing this morning. Will probably be pushed to Production. @ke4 to review the PR as well

[2022-06-20 08:36] ofanobilbao commented on #798
@amnonkhen to push to prod

[2022-06-20 08:39] ofanobilbao commented on #775
@amnonkhen to help on this

[2022-06-20 14:57] ke4 commented on #775
I finished the cluster/app deployments, but I can't destroy the cluster. It looks like something is wrong with the user's authorization.

[code]

[2022-06-20 16:17] ke4 commented on #775
It looks like we don't have enough permission for our users to perform some operations on AWS that are required to destroy our EKS clusters.
I wrote to CD on Slack about this problem and waiting for his answer.

[2022-06-20 16:47] ke4 commented on #791
I checked and I could log in to the UI of our integration environment. I also added the `WRANGLER` role to my account.

[2022-06-21 08:56] MightyAx commented on #775
Possibly also include Santiago Insua.

[2022-06-22 09:38] amnonkhen commented on #248
This is already implemented.

[2022-06-22 09:41] MightyAx commented on #795
Deployed to staging with Queue Configuration changes.

[2022-06-22 12:38] amnonkhen opened #799 "deployment scripts should support bash and zsh"
Deployment scripts only work on bash.
It seems the only problem is in the `config/environment_*` files.

[2022-06-22 14:50] amnonkhen opened #800 "automation for HCA ontology release"
see new script [deploy_ontology.sh](https://github.com/ebi-ait/ingest-kube-deployment/blob/master/infra/scripts/deploy_ontology.sh)

[updated SOP](https://github.com/ebi-ait/hca-ebi-dev-team/blob/master/docs/operations_tasks/HCAO-release.md)

- [x] review by another dev - done by Alexie
- [x] test for the July release (pending HCAO release)

[2022-06-22 14:58] amnonkhen opened #814 "map a single contributor metadata column list to ingest columns"
Map the columns of a contributor metadata spreadsheet to ingest metadata attribute names.

This is for an investigation whether how we could automate the compilation of the ingest metadata spreadsheet from the raw metadata files from the contributor.

# Step 1
- [x] Record metadata column mappings in the [Alkaslasi Data Dictionary tab in this spreadsheet](https://docs.google.com/spreadsheets/d/1Nb

[2022-06-23 08:20] amnonkhen opened #806 "ingest api user documentation"
Paulo needs documentation about using ingest api. At this point it is only read operations.

[2022-06-23 08:21] amnonkhen commented on #806
example on how to search ingest by accession:
[code]

There are additional query parameters that could be used. they are given here with example values.

- page=0
- size=20
- sort=updateDate,desc
- search=EGAD00001007718
- searchType=AllKeywords

[2022-06-23 08:38] idazucchi commented on #798
This has already been tested - waiting for #795 to be promoted to prod

[2022-06-23 08:41] idazucchi commented on #797
Amnon will look into this today - it could be a permission problem

[2022-06-23 08:44] idazucchi commented on #794
We have been unable to reproduce the error so we are closing the ticket

[2022-06-23 08:44] #794 closed, assigned to ke4

[2022-06-23 13:07] ke4 commented on #794
I cleaned up this hca util upload area: `303b04bd-561d-4683-9c9d-81c1204587e8`.

[2022-06-24 08:42] gabsie commented on #775
This to be taken by Alexie and Amnon and not wait for @ke4 to be back

[2022-06-24 13:33] amnonkhen commented on #796
see ebi-ait/hca-ebi-wrangler-central#826

[2022-06-24 13:48] amnonkhen opened #801 "UI improvements"
Create tickets as we go along:

- [x] #852 - pressing _enter_ key on the search field empties it
- [x] #851 - fix redirect when not logged-in
- [ ] #881 - Contributor Role Ontology dropdown contains all kinds of ontologies
- [ ] searching for submissions by uuid
- [ ] #911 - project grouping filtering by biological network
- [ ] favourite projects per user
- [ ] search anything, e.g. find entity b

[2022-06-24 15:27] amnonkhen commented on #793
The only time ingest validates the file size and metadata type is when the file descriptor json file is created. We should consider validating it during metadata validation.

[2022-06-27 12:48] MightyAx commented on #795
My deploy to staging ebi-ait/ingest-exporter#37 was originally flawed and I created fixes ebi-ait/ingest-exporter#39 which fixed the terra experiment queue and ebi-ait/ingest-exporter#40 which fixed the assay manifest queue, acording to testing on dev.

The fixes are now being deployed to staging.

[2022-06-28 08:52] MightyAx commented on #795
The Dead letter queues have been deployed to production

[2022-06-28 16:18] MightyAx commented on #792
Code change ready for Review

[2022-06-29 08:45] MightyAx commented on #792
Actually I missed a part of the ticket (submitted projects) so back into dev

[2022-06-29 09:34] ofanobilbao commented on #767
ebi-ait/dcp-ingest-central#808 would need to be addressed as part of this ticket

[2022-06-29 09:35] ofanobilbao commented on #808
Referenced the issue in the Development task related to this. So moving this to Done

[2022-06-29 13:11] MightyAx commented on #792
Ingest Core and Ingest UI tickets now in review.

[2022-06-30 09:59] gabsie opened #802 "prototype the ability to submit a simpler, one tab sample spreadsheet"
As a data manager
I would like to know whether I can submit a metadata csv to ingest.

# Acceptance Criteria

## 1. no missing data in contributor's spreadsheet

**Given**
a metadata spreadsheet in an arbitrary tabular format
**and**
spreadsheet contains all the column needed by ingest

**When**
user sends it to ingest team (by mail or UI)

**Then**
ingest can figure out the experiment design (ini

[2022-06-30 10:13] gabsie commented on #792
Let's check this separately with Alexie and we see what's next.

[2022-06-30 10:57] MightyAx commented on #525
Initial idea was to migrate to gitlab but I think that would require moving the [metadata-schema](https://github.com/HumanCellAtlas/metadata-schema) repository from the [HumanCellAtlas](https://github.com/HumanCellAtlas) GitHub organisation to our [ebi-ait](https://github.com/ebi-ait), and is probably overkill.

Considering we just need to run a python script and node npm tests:
**The next step is

[2022-06-30 16:16] MightyAx commented on #795
While investigating a large export I was slowly scaling the exporter and got as high as 20 exporter pods... which made ingest-core hit it’s maximum memory and crash,

As part of evaluating impact for this ticket I can happily report that the messages that failed were moved to the error queue as expected, and I moved them back onto the main queue.

Also, scaling the exporter down to 10 after this k

[2022-07-01 08:39] amnonkhen commented on #792
@MightyAx to present to @gabsie & @ofanobilbao this morning.
@amnonkhen to code review

[2022-07-01 08:40] amnonkhen commented on #800
@MightyAx to review.

[2022-07-01 08:49] amnonkhen commented on #793
@amnonkhen to organise a discussion about dcp1 projects export and problems (missing metadata attributes).

[2022-07-04 08:37] MightyAx commented on #792
@MightyAx alexie to check gittlab deployment and confirm staging release.

[2022-07-04 08:55] amnonkhen opened #803 "nxn project import script creates empty project"
among all projects imported using the nxn import script there is one project that is completely empty.

see:

- [script code](https://github.com/ebi-ait/hca-ebi-dev-team/tree/master/scripts/populate_ingest)
- last nxn import ticket: ebi-ait/hca-ebi-wrangler-central#819
- the [empty project](https://contribute.data.humancellatlas.org/projects/detail?uuid=5086a7a2-d5d8-44b0-af94-93d5e4c46f8c) from t

[2022-07-04 09:26] MightyAx commented on #800
Can you please explain what this block of code is doing:
[code]

can you explain what the `-i.bak` is doing in the following:
[code]
I gather the whole thing is doing a find and replace

[2022-07-04 10:14] #791 closed, assigned to prabh-t

[2022-07-04 10:14] #780 closed, assigned to prabh-t, ke4

[2022-07-04 10:14] #795 closed, assigned to ke4, MightyAx

[2022-07-04 10:14] #798 closed, assigned to amnonkhen

[2022-07-04 10:14] #784 closed, assigned to amnonkhen, prabh-t, ke4, jacobwindsor

[2022-07-04 10:15] #776 closed, assigned to nobody

[2022-07-04 10:15] #785 closed, assigned to amnonkhen, prabh-t, ke4, yusra-haider

[2022-07-04 10:15] #797 closed, assigned to amnonkhen

[2022-07-04 10:15] #670 closed, assigned to MightyAx, ESapenaVentura

[2022-07-04 10:15] #744 closed, assigned to prabh-t, ke4

[2022-07-04 10:15] #777 closed, assigned to prabh-t

[2022-07-04 10:15] #547 closed, assigned to gabsie, ofanobilbao, yusra-haider

[2022-07-04 10:15] #663 closed, assigned to yusra-haider

[2022-07-04 10:15] #770 closed, assigned to prabh-t

[2022-07-04 10:15] #755 closed, assigned to ke4

[2022-07-04 10:15] #760 closed, assigned to ke4

[2022-07-04 10:15] #771 closed, assigned to ke4

[2022-07-04 10:15] #756 closed, assigned to ke4

[2022-07-04 10:15] #768 closed, assigned to nobody

[2022-07-04 10:16] #473 closed, assigned to jacobwindsor, aaclan-ebi

[2022-07-04 10:40] MightyAx commented on #792
dev / staging release successful.
(It's worth noting that the Gitlab jobs needing to be restarted multiple times.)

[2022-07-04 11:16] MightyAx commented on #792
Screenshot from [staging](https://staging.contribute.data.humancellatlas.org/projects/all):

![Screenshot 2022-07-04 at 12.15.31.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/a18d2846-e9dd-4653-8204-caabad80b59c)

[2022-07-04 13:00] MightyAx opened #804 "Ingest client fixes for reducing callbacks to ingest-core from ingest-exporter"
- [x] Cache calls to ingest
    - using [requests-cache](https://pypi.org/project/requests-cache/)
- [x] Specify higher number of items to return from lists in ingest.
    - ingest-core lists include a Pageable that defaults to 20 items, but can be specified to a higher number.
    - ingest-client does not extend this option to its consumers (such as ingest exporter)

[2022-07-05 08:35] ofanobilbao commented on #792
@MightyAx to move it to Prod

[2022-07-05 08:37] ofanobilbao commented on #525
@MightyAx to open a new PR. Ida also ok if Alexie adds to her PR

[2022-07-05 08:38] ofanobilbao commented on #800
@amnonkhen and @MightyAx to go through this together

[2022-07-05 08:39] ofanobilbao commented on #793
There was a meeting yesterday with the wranglers on this, and there is a plan, that is recorded on the Operations ticket

[2022-07-05 08:48] ofanobilbao commented on #806
@amnonkhen to create a shareable document

[2022-07-05 09:15] amnonkhen opened #805 "sra rest api used in importing from geo is broken"
**Describe the bug**
"import from geo" script uses the following endpoint:

[code]
passing an SRP accession and get a csv output as a response.

(see [code](https://github.com/ebi-ait/geo_to_hca/blob/fe2fc6120f85f49c562e435c33c4421d7f4ecf33/geo_to_hca/utils/sra_utils.py#L59))

When I call this endpoint now, however, I am getting a **400** error with the following message:

I emailed sra@ncbi.nlm.n

[2022-07-05 15:04] amnonkhen commented on #806
API docs are exposed along with the [dev docs](https://ebi-ait.github.io/hca-ebi-dev-team/api/api.html)

This can be edited [here](https://github.com/ebi-ait/hca-ebi-dev-team/blob/bb32b0a8a0ca595547a139a68eed7671bff46b38/docs/api/api.md#L6-L5) and [here](https://github.com/ebi-ait/ingest-core/blob/bb3513427254541a5cbe81f66fbb7734e1f26a74/src/main/resources/rest-messages_en.properties#L9)

[2022-07-06 09:47] MightyAx commented on #695
I've prompted the dcp2 channel about this as it came up in the dcp demo, as a vital step in resolving the double pipes issue:
ebi-ait/hca-ebi-wrangler-central#809

[2022-07-07 08:39] gabsie commented on #525
This has been fixed yesterday --

[2022-07-07 08:41] amnonkhen commented on #800
@MightyAx here are the answers to your questions

- getopts - read command line args. If none is given it uses the default values before the getopts statement
- -i.bak - back up th input file of sed
- the sed command replaces the ontology version number in the environment file

[2022-07-08 08:40] ESapenaVentura commented on #800
TBU on the next ontology release!

[2022-07-08 08:43] ESapenaVentura commented on #695
Waiting on people to review/approve PR 60 in DCP2 repo. Needs more research for now

[2022-07-12 08:42] ESapenaVentura commented on #814
From Amnon:
[code]

@Wkt8 and (optional) other wranglers to look at it

[2022-07-12 09:33] Wkt8 commented on #814
Have had a look and have added comments - overall looks good!
Also came up with a list of columns from Paulo that we don't really understand / were not mappable in the form of a question -

What are the columns 'exp_condition_1', 'exp_condition_2', 'exp_condition_3', 'disease_detail', and 'tissue_detail' meant to show? Do you have any examples?

[2022-07-12 15:47] idazucchi opened #807 "project not imported from Valentine's database"
**Describe the bug**
After the script to import projects from Valentine's database was run an empty project appeared.
This is the project that should have been imported
[code]

I suspect that the project is empty because the doi cannot be found in Europe PMC

**Expected behaviour**
I expect all projects with a doi to be imported in ingest.
If that is not possible I expect an error message to tell

[2022-07-13 17:47] amnonkhen commented on #805
No response from the sra people.

[2022-07-14 08:43] ESapenaVentura commented on #802
@amnonkhen to comment on progress

[2022-07-15 08:48] Wkt8 commented on #814
Wranglers to have a look at the 'missing columns' list at the bottom of the Data Dictionary tab of the spreadsheet. @Wkt8

[2022-07-18 08:18] gabsie commented on #814
Hey @amnonkhen, thanks for the column names.
You have now added the user friendly names as columns, however they are too general and I don't know which thing they're referring to.
I have added a line underneath, please include the system id-s  there as well, so that I know what the name refers to.

Sorry for the hassle
Gabs

[2022-07-18 12:21] amnonkhen commented on #808
I am not able to reproduce the error message mentioned in this ticket.
I tried doing it with the following spreadsheets:
- the SS2 spreadsheet
- [Oihane's spreadsheet](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/808#issuecomment-1186932486)
- [Enrique's spreadsheet](https://app.zenhub.com/workspaces/dcp-ingest-product-

[2022-07-18 12:40] ESapenaVentura commented on #808
I can't replicate the error either - Tried following the steps with Oihane's spreadsheet in staging

[2022-07-19 08:11] amnonkhen opened #809 "Uploading from "All Submissions" page should detect duplicate projects"
Currently using the "Upload New Submission" dialog in the "All Submissions" page causes a significant amount of duplicate projects due to repeated uploads of the same spreadsheet.
As an immediate remedy the button will be hidden. See #767

Further discussion is require whether we should support the Wrangler's original intent which was to update the existing submission, and can be represented as th

[2022-07-19 08:46] ESapenaVentura commented on #808
Error cannot be replicated - closing ticket!

[2022-07-19 08:46] #808 closed, assigned to amnonkhen

[2022-07-19 08:47] ESapenaVentura commented on #767
@ke4 to review, @amnonkhen to paste URL to PR

[2022-07-19 08:48] amnonkhen commented on #767
See [PR 177](https://github.com/ebi-ait/ingest-ui/pull/177)

[2022-07-19 08:48] ESapenaVentura commented on #802
@amnonkhen to add info to spreadsheet today

[2022-07-19 08:52] ESapenaVentura commented on #805
@ESapenaVentura  and @amnonkhen to meet about this

[2022-07-21 08:21] amnonkhen commented on #805
@ESapenaVentura and @amnonkhen found the proper way to trigger the entrez api.
So of the calls require a 2 phase sequence:
1. first to get and "env" (sort of a session)
2. 2nd to to the actual search
see [entrez docs](https://www.ncbi.nlm.nih.gov/books/NBK25500/#chapter1.Searching_a_Database)

[2022-07-21 08:38] idazucchi commented on #767
Karoy approved the PR, waiting to release when the devs are back after the release

[2022-07-21 08:46] idazucchi commented on #814
to check on Moday with Gabs

[2022-07-24 20:27] amnonkhen commented on #814
@gabsie I am not sure what you mean by "too general".
The names on the first line are the same names in the ingest spreadsheet.
The columns' widths might need extending in order to see all the words.
Regardless of this, I have added the ingest variable names at the second line.

[2022-07-25 08:38] gabsie commented on #802
@gabsie  to finally take a look at the spreadsheet and connect with Paulo

[2022-07-26 08:38] idazucchi commented on #767
@MightyAx will take a look and merge

[2022-07-27 07:41] gabsie commented on #805
Is this now resolved?

[2022-07-27 10:07] gabsie commented on #323
@MightyAx to maybe just check whether this is done and close.

[2022-07-27 14:54] MightyAx opened #810 "Ensure ingest-ui uses supported version of node."
As discovered in ticket [#767](https://github.com/ebi-ait/ingest-ui/pull/177#pullrequestreview-1050682323), the version of node used throughout the ingest UI project is different in development, testing and production scenarios.

What's worse is that the version of node used in production is End-Of-Life and no longer supported.

It's hard to just change one part of ingest UI platform since the ver

[2022-07-28 08:35] Wkt8 commented on #767
Has been pushed to staging. @Wkt8 to verify!

[2022-07-28 08:36] Wkt8 commented on #810
Alexie to timebox to 1 hour and then move on to something else as not incredibly high priority. Close to done.

[2022-07-28 08:38] Wkt8 commented on #695
Talk about this at the DCP2 demo. @idazucchi to put into the agenda.

[2022-07-28 11:56] MightyAx commented on #810
Timebox slightly flexed but [Ingest UI PR #179](https://github.com/ebi-ait/ingest-ui/pull/179) is now ready for review.

[2022-07-28 13:01] ami-day opened #811 "Ability to add a new file (file metadata) in ingest"
In order to update projects which initially did not include the file metadata for a particular file (e.g. gene expression matrix file, fastq file), we need to be able to add a new file (file metadata) to a submission in ingest.
We can currently add new protocols or biomaterials for example, not there is not an  "Add file" button.
An example dataset where this is needed:
https://github.com/ebi-ait/

[2022-07-29 08:43] Wkt8 commented on #767
I'm happy with this! Can't see any ways to generate a full project only from a spreadsheet submission.

[2022-07-29 09:31] gabsie commented on #811
Hey other wranglers, can you please advise if you have come across such a scenario?

@ESapenaVentura @Wkt8 @idazucchi

[2022-08-01 08:23] Wkt8 commented on #811
It would be useful, but I think we have an alternate route of creating new submissions (which I believe fits this use case of contributors coming back and relaying new information) to add a new file in ingest

[2022-08-01 08:39] Wkt8 commented on #810
Amnon to review.

[2022-08-01 16:37] ami-day opened #817 "Unable to select "normal" ontology label in ingest"
**Description of the task:**

When I am working on updating a submission in ingest...
When I go to edit the disease status of a biomaterial in ingest (e.g. a donor organism or specimen), if I try to search for "normal", it does not appear as an option in the drop-down list of ontology labels. I am able to save the text "normal" but I think this will likely mean that the "normal" ontology label wil

[2022-08-02 08:40] amnonkhen commented on #767
@MightyAx to push to prod

[2022-08-02 08:54] amnonkhen opened #829 "tabula muris crashes ingest ui"
reported by @ESapenaVentura
https://contribute.data.humancellatlas.org/projects/detail?uuid=e0009214-c0a0-4a7b-96e2-d6a83e966ce0

[2022-08-02 09:13] MightyAx commented on #767
Deployed to Production, will show at DCP demo later

[2022-08-02 09:29] MightyAx commented on #800
Ticket for next Ontology Release
GitHub: ebi-ait/hca-ebi-dev-team#494
ZenHub: https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-dev-team/494

[2022-08-02 15:46] MightyAx opened #812 "Make /project /relatedProjects return the same results."

[2022-08-03 09:17] idazucchi commented on #817
I've done some testing in staging - see this [project](https://staging.contribute.data.humancellatlas.org/projects/detail?uuid=a98da336-fffb-42d8-9453-6c144ab215fe&tab=project) and the [spreadsheet 1](https://docs.google.com/spreadsheets/d/17uaJ4xsH0rCu517568LdAB_MtIQCsP_z/edit?usp=sharing&ouid=113452802627011629126&rtpof=true&sd=true) [spreadsheet 2](https://docs.google.com/spreadsheets/d/1LLmyYB

[2022-08-03 16:02] amnonkhen opened #813 "creating a process in the ui renders the project un-exportable"
While investigating dataset stuck in export ticket ebi-ait/hca-ebi-wrangler-central#869 @MightyAx and @amnonkhen found the following bug:

Creating a new process or biomaterial via the UI creates the relevant entity but does not properly connect it to the project entity, because it does not add it to the `projects` attribute.

During export the contents of the `projects` attributes is read, but pr

[2022-08-04 08:40] MightyAx commented on #812
This issue was not the cause of exporting issues as thought. While it might be a source of confusion.

[2022-08-04 16:15] MightyAx commented on #813
ready for review: https://github.com/ebi-ait/ingest-core/pull/138

[2022-08-04 18:05] willrockout opened #827 "GEO-TO-HCA tool error - "could not find sra accession""
**Description of the task:**

The geo-to-hca tool has stopped working for most GSEs this happens for both the spreadsheet downloads on ingest and the command line. When creating a project, you get the below error even when it is not a super-series.
<img width="1307" alt="Screen Shot 2022-08-04 at 10 59 51 AM" src="https://user-images.githubusercontent.com/19597324/182919090-a7288fe0-63c9-4af6-9fda

[2022-08-05 08:58] MightyAx commented on #827
Maybe another instance of: ebi-ait/dcp-ingest-central#805

[2022-08-08 08:23] gabsie commented on #814
Hi everyone

I have now communicated with Paulo on the correct mappings of columns and have asked for a meeting to go over the different columns and names, hopefully this week.

[2022-08-08 08:41] ke4 commented on #813
@MightyAx retest it in staging

[2022-08-08 09:15] MightyAx commented on #385
this has been working since: ebi-ait/ingest-client#48
https://gitlab.ebi.ac.uk/hca/ingest-client/-/pipelines

Although it doesn't run the pipeline automatically (I haven't figured out how to fix that yet)

[2022-08-08 09:45] MightyAx commented on #813
### Pre-fix test case

- Projects list for Process created from the UI is **blank**: [processes/62ea957ed9314d329d7b8bd2/projects](https://api.ingest.staging.archive.data.humancellatlas.org/browser/index.html#https://api.ingest.staging.archive.data.humancellatlas.org/processes/62ea957ed9314d329d7b8bd2/projects)
- This submission is **stuck in exporting**: [10df2518-7ea6-40dd-9ee9-0d0cf33c4acc](htt

[2022-08-09 10:02] MightyAx opened #815 "Resolving Exporter Timeouts"
### Issues

When a project is being exported, the files need to be transferred from ingest to terra. There are two issues with our current implementation that cause a lot of operational work that are related and could be solved at the same time.

Firstly, when the exporter is transferring these files, it will fill up the export queue with jobs that are waiting for the transfer to finish, **this wi

[2022-08-09 14:48] amnonkhen opened #816 "integration test that would identify #813"
The bug mentioned in  #813 slipped through the cracks in the integration tests.
A scenario should be added to identify this bug.

[2022-08-10 10:01] gabsie commented on #810
New ticket to address Amnon's review is needed.

[2022-08-11 08:45] gabsie commented on #580
@ke4 did some tests yesterday.
There are currently problems with:
Alkaslasi - file upload
With metadata archiving as well.

Investigation is under way, together between @MightyAx and @ke4

[2022-08-11 17:15] willrockout commented on #805
@amnonkhen @ESapenaVentura want to check in on this in relation to my ticket that Alexie tagged above

[2022-08-12 09:06] MightyAx opened #818 "Make Tickets for Archiving issues"
Issues discovered during @ke4's knowledge share with @MightyAx
**For "next steps" of archiving:**
_(move them to epic #643)_
- [ ] #841
- [ ] #842
- [ ] #843
    - POST to archiver
    - `https://archiver.ingest.staging.archive.data.humancellatlas.org/archiveSubmissions`
    - returns wrong self / archiveJob links in _links
        - `http://172.20.186.196/archiveJobs/{id}`
    - Should return:

[2022-08-12 11:14] Wkt8 opened #821 "Several project.contributor metadata entities are not shown in the UI"
There are several project.contributor metadata entities present in our metadata schema and wrangling spreadsheet that are not present in the Ingest UI.

This means that we cannot change these entities from the UI - we would have to download, edit, and reupload a spreadsheet that changes the project level metadata.

The entities are:
project.contributors.phone
project.contributors.laboratory
projec

[2022-08-12 16:12] ke4 opened #819 "Archiving - Project conversion to BioStudies failed"
When I create the project / submission in the new way (create an empty project first then add a submission and update the project afterwards) and don't add publications to the project the archiving will fail.

[2022-08-12 16:17] ke4 commented on #819
PR: https://github.com/ebi-ait/ingest-archiver/pull/92

[2022-08-15 08:12] amnonkhen opened #820 "developer environment setup script and docs"
Currently the setup of a developer's environment is a multi step process scattered between a few documents, code repos ([hca-ebi-dev-team](https://github.com/ebi-ait/hca-ebi-dev-team), [ingest-kube-deployment](https://github.com/ebi-ait/ingest-kube-deployment)) and collective memory.

Ideally it should be a simple process of running a single setup script that does all of:
- software setup
- verifi

[2022-08-15 08:38] MightyAx commented on #819
@MightyAx will review today

[2022-08-15 08:39] MightyAx commented on #804
@MightyAx to fix GitLab running unit tests issue

[2022-08-15 08:41] MightyAx commented on #820
@MightyAx to review after Archiving priorities resolved with Karoly.

[2022-08-15 08:58] MightyAx commented on #827
Amnon to use same fix from SRA.

[2022-08-15 13:26] MightyAx commented on #640
- But we might have a project made up of new samples that we will get accessions for and old samples where the accession has been provided
- We can link "other peoples" samples to BioStudies and ENA submission we create so really this should be an expected failure
    - even better, we could check if a sample that has an accession is "owned" by us before we try to send changes to it's metadata.

[2022-08-16 08:14] MightyAx commented on #804
After some issues with gitlab the integration tests and unit tests are running for ingest-client on PRs, (and hopefully merges will run the tests and then deployments).

The Integration and unit tests needed some fixes which are on PR:
https://github.com/ebi-ait/ingest-client/pull/55

Which requires review.

[2022-08-16 08:39] Wkt8 commented on #819
Tested in staging - hopefully moving to production today.

[2022-08-16 08:41] Wkt8 commented on #804
@ke4 and / or @amnonkhen to review

[2022-08-16 11:06] MightyAx opened #822 "Data archiving fails on the first try but then works on retry"

[2022-08-16 11:08] MightyAx opened #823 "Data archiving: Fails with 65Gb of data"
- Test Submission: [f623e7ad-83d0-4d4a-9326-a9afc6ce3fac](https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=f623e7ad-83d0-4d4a-9326-a9afc6ce3fac)
- [Spreadsheet](https://docs.google.com/spreadsheets/d/1Xaoldp3tZCQ7zDOtSEJwDX7N2IbbWxyu/edit#gid=1310064913)
- HCA Util location of data files: ?

Task:
- [ ] Set staging data-archiver to single threaded
- [ ] data-archive the a

[2022-08-16 11:14] MightyAx commented on #823
@ke4 can you add the location on the spreadsheet and data file info to the ticket body please.

[2022-08-16 11:14] MightyAx opened #824 "Archiving fails without sample names"
with error:
[code]

Solution: fallback to biomaterial_core.biomaterial_id?

[2022-08-16 14:12] ke4 commented on #824
PR: https://github.com/ebi-ait/ingest-archiver/pull/93

[2022-08-16 17:46] MightyAx commented on #824
Approved

[2022-08-17 16:18] amnonkhen commented on #827
There seem to be 2 problems here:

- GSE156456 - a duplicate of ebi-ait/dcp-ingest-central#805

The following accessions which all give the error:
[code]
- GSE205642
- GSE202210
- GSE195719
- GSE202601

[2022-08-17 17:08] willrockout commented on #827
Interesting because in the second list none are superseries and all have data in sra.

[2022-08-17 18:25] amnonkhen opened #825 "output of geo-to-hca cannot be loaded in Numbers"
The spreadsheet file created in the geo-to-hca tool cannot be loaded to Numbers on Mac.
It can be loaded in Google Sheet.
It can be programatically read by the import code if ingest (in ingest-broker).

Example file: [GSE156456.xlsx](https://app.zenhub.com/files/299258791/e8440499-3411-4417-8cf3-dd78b3f73e78/download)

[2022-08-17 18:49] amnonkhen commented on #638
could be related to #805
The accession stated in the ticket works when running with the fix to #805.

[2022-08-18 08:42] amnonkhen commented on #824
@MightyAx to test on staging and deploy to prod

[2022-08-18 09:00] amnonkhen opened #826 "copying of dev cluster config not working"
When running `make retrieve-kubeconfig-dev` the following error is shown:

[code]

it comes from the `terraform init` command in `init.sh`.

It does not happen to prod nor staging.

Discovered while working on #899

[2022-08-18 13:49] MightyAx commented on #824
dev biosamples was down so could not be tested, contacted Dipayan

[2022-08-18 14:27] MightyAx commented on #804
Deployed to PyPi!
https://gitlab.ebi.ac.uk/hca/ingest-client/-/pipelines/312221
https://pypi.org/project/hca-ingest/

[2022-08-18 14:37] amnonkhen commented on #827
@willrockout the "super series" error message is an incorrect error message, I will issue a fix for it.

I am trying to figure out the difference between the accessions that work, e.g. GSE156456,  and the 4 that result in the error, e.g. GSE202210.

Currently I see that the call to *esummary* tool for the 4 erroneous ones has a response that has no `extrelations` attribute, while the ones that wor

[2022-08-18 15:36] MightyAx opened #828 "Exporter using caching ingest-client"
- [ ] Performance tests
    - [x] Choose good example project (possibly from [Testing Spreadsheets](https://drive.google.com/drive/folders/1dKZ5bscfej7U_rjJNt0DUBi0B8r58FFo?usp=sharing))
    - [x] Performance Test export of project using existing client
    - [x] Change Exporter to use new client
    - [x] Performance Test export of project using new client

Demoable:
A project being exported - fo

[2022-08-18 20:33] willrockout commented on #827
Ok, this works for the command line tool but for the UI I can't get the SRP study accession to work for creating a new project or downloading a spreadsheet from an already created project. This is the UUID `505a3492-2f46-411d-afff-359c24431462` for the one I tried to use the SRP.

[2022-08-19 08:41] gabsie commented on #804
Awesome.

[2022-08-19 08:57] amnonkhen commented on #829
moving to dev board

[2022-08-19 09:22] amnonkhen commented on #827
@willrockout, the [project uuid you specified](https://contribute.data.humancellatlas.org/projects/detail?uuid=505a3492-2f46-411d-afff-359c24431462) is associated with the GSE202210 Geo accession.
Currently ingest UI does not let you generate a spreadsheet from a Geo accession for which a project already exists.
Would you please explain what you are trying to achieve?

[2022-08-19 10:27] MightyAx commented on #828
# Baseline Test on Staging:
Testing [Submission](https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=d3e2e3be-f0dd-4146-9453-94d8d6f46e4a&project=2160edb1-41f6-4315-9a6f-f34db410bac1):

### First Log message:
[code]

### Last Log Message:
[code]

### 85 Minutes
### Rabbit MQ Graph:
![Screenshot 2022-08-19 at 12.34.33.png](https://images.zenhubusercontent.com/5d4053c054f63460

[2022-08-19 10:32] MightyAx opened #830 "Make Rabbit Externally accessible without Kubernetes"

[2022-08-19 14:36] MightyAx commented on #828
# Caching version on Staging

### First log message:
[code]

### Last log message:
[code]
### 69 minutes
### Rabbit MQ Graph
![Screenshot 2022-08-19 at 16.47.29.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/91bc2de9-8355-465f-a578-48fb8cbc4218)
### Log Messages per minute
no gaps!
[![Screenshot 2022-08-19 at 16.51.11.png](https://images.zenhubusercontent.com/5d4053c054f6346037

[2022-08-19 16:02] MightyAx commented on #828
@amnonkhen With the above metrics, 85 minutes with the old exporter and 69 with the caching exporter do you agree that we can deploy this to production?

[2022-08-19 16:41] willrockout commented on #827
@amnonkhen I'm trying to test this because I've never been able to get the SRP accession to work through the UI. I see now the srp will download a spreadsheet in the project creation page now which is wasn't doing yesterday. I was also trying tot test adding an SRP to a project and generating a spreadsheet for it. Do I have to delete the GSE to it will default to the SRP?

[2022-08-22 08:39] MightyAx commented on #824
biosamples dev is back staging test.

[2022-08-22 08:41] MightyAx commented on #824
biosamples dev is down again

[2022-08-22 10:54] MightyAx commented on #824
Managed a test on staging and can confirm that sample names are no longer required

[2022-08-22 13:54] amnonkhen commented on #828
Thanks @MightyAx.
85m -> 69m is a good improvement.
If we run the same project again does the 69m figure stay consistent?
If so, we can deploy to prod.

[2022-08-22 14:18] amnonkhen opened #831 "deployment of ingest-broker on dev fails"
See for example the [following gitlab job](https://gitlab.ebi.ac.uk/hca/ingest-broker/-/jobs/970917).

Running the deployment command locally with debug messages enabled shows that the broker fails to start:

[code]

needs more investigation.

[2022-08-22 16:19] amnonkhen commented on #831
Looking at the [k8s admin console](https://github.com/ebi-ait/ingest-kube-deployment#how-to-access-dashboard), I noticed errors in the [broker's pod](http://localhost:8001/api/v1/namespaces/kubernetes-dashboard/services/https:kubernetes-dashboard:/proxy/#/service/dev-environment/ingest-broker-service?namespace=dev-environment):

[code]

[2022-08-22 16:30] amnonkhen commented on #831
After I ran the deployment locally it ran successfully.

[code]
Not sure why this is happening.

[2022-08-23 08:42] gabsie commented on #827
@amnonkhen needs a chat with somebody to explain the required feature etc, maybe arrange to chat to @ami-day

[2022-08-23 10:14] MightyAx commented on #828
# Second Cached Test

## First Log Message
[code]

[2022-08-23 10:22] gabsie opened #832 "Acceptance test for archiving into ENA"
Any dataset currently in Valid state, should be able to be archived into ENA.
When a developer has archived 3 datasets without any issues, this task can be reassigned to a wrangler.

**We can consider this task done when 10 datasets have made it into ENA staging.**

[2022-08-23 10:39] gabsie commented on #151
@ami-day please add all your current tasks to this epic, as well as remove any that are currently outdated.

[2022-08-23 12:13] MightyAx commented on #828
The export was notionally 72 minutes but two of the exports timed out because the metadata (despite being present on terra) cannot be verified. This didn't happen during the last export and I'm not certain if it says anything about the software or my change.

[code]
Initial Graph
https://monitoring.ingest.staging.archive.data.humancellatlas.org/goto/GCOaDdZ4z

Rejected Export Experiments:
https://

[2022-08-23 16:57] amnonkhen commented on #827
@willrockout it seems a few issues are being mixed here.
Let me put them in order:

1) There was a bug in the SRA Tools API that the geo-to-hca tool is using. This is fixed.
2) There are Geo accessions to which an SRA Study (with an SRP accession) is not directly linked. The script used to not support these kind of projects (this scenario had not been foreseen). The tool now supports it by finding

[2022-08-23 17:04] amnonkhen opened #833 "ingest ui does not allow generating a spreadsheet from geo for an existing accession"
see #827

[2022-08-23 17:05] amnonkhen commented on #827
need code review from @MightyAx & @Mil-m before closing

[2022-08-23 17:14] willrockout commented on #827
@amnonkhen cool that makes more sense

[2022-08-23 20:56] amnonkhen commented on #827
Thanks @willrockout, please let me know how the HTTP API usage is going.

[2022-08-23 21:45] willrockout commented on #827
@amnonkhen I will give the API a try on another note trying to create a new project for *GSE192721* I'm now getting the below error that seems like we've hit the API too many times. Thoughts?
<img width="1311" alt="Screen Shot 2022-08-23 at 2 34 58 PM" src="https://user-images.githubusercontent.com/19597324/186272171-c7fd9a56-b676-4844-9cbd-4617ce20c993.png">

[2022-08-24 09:00] gabsie opened #834 "Programmatic submissions in DCP Ingest"
As a data contributor/data manager with more than one dataset to submit, I wish to understand how to submit data programmatically into the DCP.

Steps in the process:
- [ ] #839 create a project
- [ ] I want to create a submission and upload metadata to it
- [ ] Upload files, linking them to a specific submission
- [ ] Check status of project/submission/files
- [ ] Submit to the DCP

More things t

[2022-08-24 09:00] amnonkhen commented on #827
@willrockout sorry about the "too many hits". I have introduced throttling for the requests, but evidently have missed some of them. Fix to come ASAP. See #838

[2022-08-24 09:48] amnonkhen opened #835 "some studies do not have an ENA file report"
Geo accession GSE192721 is related to Study SRP352749.
The relevant [ENA file report url](https://www.ebi.ac.uk/ena/portal/api/filereport?accession=SRP352749&result=read_run&fields=run_accession%2Cfastq_ftp) returns no content.

How should these cases be handled by geo-to-hca?

[2022-08-24 10:00] amnonkhen opened #836 "archiving to scea"

[2022-08-24 10:01] #836 closed, assigned to amnonkhen, ami-day

[2022-08-24 10:02] amnonkhen commented on #836
duplicate of #151

[2022-08-24 10:52] MightyAx commented on #828
@amnonkhen thoughts?

[2022-08-24 14:51] amnonkhen commented on #834
Code will be maintained in [github]https://github.com/ebi-ait/hca-ebi-dev-team/tree/feature/dcp-834-programmatic-submissions/scripts/programmatic_submissions) and edited via Google Collab.

Initial dev branch: [feature/dcp-834-programmatic-submissions](https://github.com/ebi-ait/hca-ebi-dev-team/tree/feature/dcp-834-programmatic-submissions)

After navigating to the file, click the _open in collab

[2022-08-24 16:42] amnonkhen opened #837 "Dev onboarding for Milena"
These are topics covered (or to be covered) for Milena's onboarding.
This will be a source for a formal onboarding guide for new joiners.

# docs
   - [x] onboarding docs
   - [ ] wiki

# connection, access, etc.
   - [x] dev env setup - automated script
   - [ ] dev env setup - what's not yet automated
   - [ ] accounts verification: github, aws, google groups, mailing lists, wiki
   - [ ] connec

[2022-08-24 16:47] willrockout commented on #827
Thanks, @amnonkhen outside the UI the command line tool works now

[2022-08-24 17:49] amnonkhen commented on #627
This sequence diagram shows the sequence of events for creating a new submission, the relevant involved components and the location where the new functionality will be would be implemented.
Note: ZenHub does not render this diagram. View it on github #627.

[code]

[2022-08-25 00:40] amnonkhen commented on #627
See draft PR with test: ebi-ait/ingest-core#141

[2022-08-25 08:41] amnonkhen opened #838 ""too many requests" in Entrez API calls in geo-to-hca"
HTTP 429, Too many requests, in call to `esummary`.
Input accession: `GSE192721 `

![image](https://user-images.githubusercontent.com/927145/186623351-73b72181-3821-42a5-9973-bf93bc0b98d3.png)

Reported by Will

[2022-08-25 08:43] MightyAx commented on #831
Possibly a gitlab issue.

[2022-08-25 08:45] MightyAx commented on #820
Have you seen this https://ebi-ait.github.io/hca-ebi-dev-team/admin_setup/Onboarding.html

[2022-08-25 10:29] gabsie commented on #828
OK then, if this is a step forward, let's get this up on prod and keep an eye on prod how this performs. Other changes depend on it. Let's get this rolling! @MightyAx

[2022-08-25 10:37] ESapenaVentura commented on #834
In the discussion yesterday, we defined several checkpoints in the process:
- [ ] Create a project with minimum information
- [ ] I want to create a submission and upload metadata to it
- [ ] Upload files, linking them to a specific submission
- [ ] Check status of project/submission/files
- [ ] Submit to the DCP

I will copy them to the body of the ticket and create tickets for each of them! feel

[2022-08-25 10:37] ESapenaVentura opened #839 "Create a project programmatically with minimum information"
As part of the epic to create programmatic submissions in ingest, the first step is to ensure that we are able to create a project in ingest with minimum information.

Alongside all the tickets related to #834, there will be documentation in the form of a readme.md and a python notebook, explaining how to create/check/submit programmatically in ingest.

Both documents will reside, at least for now

[2022-08-25 14:10] MightyAx opened #840 "Data Archiver: Idempotency (only send files if they need to be sent)"

[2022-08-25 14:37] MightyAx opened #841 "data-archiving does not check status of submission before starting"

[2022-08-25 14:37] MightyAx opened #842 "metadata-archiving does not check status of submission before starting"

[2022-08-25 14:37] ESapenaVentura commented on #839
Up to today:
- A project has been created successfully, with its content fully filled; missing the extra bits of the information on the project page that are not part of the metadata schema
- Currently writing documentation
- Changes have been pushed: https://github.com/ebi-ait/hca-ebi-dev-team/blob/feature/dcp-834-programmatic-submissions/scripts/programmatic_submissions/programmatic_submissions.

[2022-08-25 14:37] MightyAx opened #843 "Archiver self links aren't given the correct domains"

[2022-08-25 14:37] #818 closed, assigned to MightyAx

[2022-08-25 16:42] amnonkhen commented on #838
This problem happens on prod and dev but not when running locally

[2022-08-26 08:37] ESapenaVentura opened #844 "Add "get_project_by_user_id" to ingest-client API object"

[2022-08-26 08:39] ESapenaVentura commented on #839
Created ticket to add a useful feature for users to the ingest-client library: #844

[2022-08-26 08:46] amnonkhen commented on #844
Are you aware of the [/projects/search/findByUser](https://api.ingest.archive.data.humancellatlas.org/browser/index.html#https://api.ingest.archive.data.humancellatlas.org/projects/search/findByUser) endpoint?
Or the other [search](https://api.ingest.archive.data.humancellatlas.org/browser/index.html#https://api.ingest.archive.data.humancellatlas.org/projects/search) endpoints?

[2022-08-26 08:48] amnonkhen commented on #839
Are you aware of the [/projects/search/findByUser](https://api.ingest.archive.data.humancellatlas.org/browser/index.html#https://api.ingest.archive.data.humancellatlas.org/projects/search/findByUser) endpoint?
Or the other [search](https://api.ingest.archive.data.humancellatlas.org/browser/index.html#https://api.ingest.archive.data.humancellatlas.org/projects/search) endpoints?

[2022-08-26 08:49] ESapenaVentura commented on #844
Yep! but our `IngestApi` object wraps around the API endpoints and shows user-friendly functions (e.g. `IngestApi.get_project_by_id()`)

I would like to add a function that wraps around that endpoint as well (e.g. `IngestApi.get_project_by_user_id()`), because I can see how a programmatic user would like to not have to remember by heart/in a document the UUID of all their projects!

[2022-08-26 08:51] ESapenaVentura commented on #839
I have answered in the ticket with more detail but tl;dr, what I want to do is add a wrapper around those endpoints in our `IngestApi` object https://github.com/ebi-ait/ingest-client/blob/4fbe2828a373184683c6954e4d9bf290cbe309bb/hca_ingest/api/ingestapi.py

[2022-08-29 22:03] amnonkhen commented on #838
We might need to acquire an NCBI API key in order to be able to send more than 3 requests per second. See [this post](https://ncbiinsights.ncbi.nlm.nih.gov/2017/11/02/new-api-keys-for-the-e-utilities/) from the NCBI website.
The API key could be for the ingest broker (set up during broker installation) or even for a Wrangler (set up during ingest UI Wrangler account setup).

[2022-08-29 23:58] amnonkhen commented on #838
As a workaround the tool waits 0.5 seconds before each call to the eutils endpoints.
This solved the 429 error for the test accessions. Although this is not scalable, the run time is still reasonable and does not require firther optimisation at this point.

Workaround release on 30/8 with geo_to_hca v1.0.18. It is available in the UI and REST API.

Tested with the following accessions:
GSE121611,

[2022-08-30 08:36] ESapenaVentura commented on #812
Let's talk about closing it or not tomorrow when @amnonkhen is here

[2022-08-30 08:41] ESapenaVentura commented on #839
a new feature is going to be ready soon - @ESapenaVentura to create PR and tag @MightyAx

[2022-08-30 08:43] ESapenaVentura commented on #627
@Mil-m to check and fix the test for statuses

[2022-08-30 12:10] amnonkhen opened #845 "include metadata spreadsheet in staging area"
We would like to include the metadata spreadsheet in the staging area so it can be made available for consumers in the Data Browser.

See [mockups and references & directory structure](https://miro.com/app/board/uXjVPbKHNuc=/) and [Slack channel](https://humancellatlas.slack.com/archives/C03VB103H63)

Tasks for ingest team:
- [x] add `DCP/2 Ingest` as source HumanCellAtlas/metadata-schema#1490
- [

[2022-08-30 13:38] ESapenaVentura commented on #844
PR has been created, reviewed by @MightyAx and @amnonkhen and merged to master: https://github.com/ebi-ait/ingest-client/pull/56

I have just tested the library's new function in pipy test environment:
[code]

[code]

And works as expected! returns an iterator (from function get_all) and retrieves all my projects

[2022-08-30 13:38] ESapenaVentura commented on #844
going to deploy to master, v2.2.0

[2022-08-30 13:55] amnonkhen opened #846 "new endpoint: ontology terms needed by HCA"
Ingest should provide a web endpoint to return the list of ontology terms needed by HCA, so that the OntoTools team can alert  the HCA whenever a change is expected in a relevant term.

Following a meeting with the OntoTools team: (Zoe, Bradley) and HCA team: @Wkt8, @ESapenaVentura , @idazucchi & @amnonkhen
See [this board](https://miro.com/app/board/uXjVPbGpHDw=/)

Options to get the terms:
1. ac

[2022-08-30 14:10] ESapenaVentura commented on #846
btw, we have a very easy way of retrieving all the latest ontology schemas

[code]

[2022-08-31 12:21] #833 closed, assigned to nobody

[2022-08-31 16:07] amnonkhen commented on #285
related to #800 which is a script that deploys the HCAO once it is released.
The missing part are:
- [ ] have it run by gitlab in response to some trigger, e.g. availability of a new HCAO release or tag in quay.io
- [ ] add some validation to the new release of HCA

[2022-08-31 16:08] amnonkhen opened #847 "test result trends in gitlab"
Currently unit test results are not shown in gitlab.
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/a0247793-93b4-4fe0-80b1-fb45264cba91)
It is possible to have show them in gitlab if the unit test report xml is created and made an "artifact"
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/d2b6cc00-e060-40ca-ac76-ff25124f5bfb)

code example fo

[2022-09-02 15:27] amnonkhen commented on #627
[code]

[2022-09-02 17:05] MightyAx commented on #815
@amnon please review:
https://github.com/ebi-ait/ingest-core/pull/140
https://github.com/ebi-ait/ingest-client/pull/57

[2022-09-05 11:30] amnonkhen opened #848 "enforce reviewer list of schema test data PRs"
Use github features to require reviews by the designated reviewers.
See HumanCellAtlas/schema-test-data#22

[2022-09-05 13:46] gabsie opened #849 "Metadata sheet from ingest available in catalogue"

[2022-09-06 14:13] Mil-m opened #850 "Set status to Submitted when exporting finishes successfully"
scenario 2 - set the status to Submitted when exporting finishes successfully
- test
- code

integration tests
- add an integration test

[2022-09-07 10:03] gabsie opened #851 "redirect when not logged in goes to home"
following a link to a project when not logged it sends you to logging screen but does not take you back to project after logging in.

# reproduce
1. make sure you are logged out of ingest
1. click a project or submission link
1. you will notice the "error checking access" message
1. click "Log in" and follow the login process
1. once login is finished you will be redirected to the home page rather

[2022-09-07 10:03] gabsie opened #852 "pressing enter on search field empties it and looses search term"
# Steps to reproduce
1. Go to [All Projects](https://contribute.data.humancellatlas.org/projects/all)
1. Type a search term in the search box **without** pressing _Enter_
1. notice the project list being filtered
1. press _Enter_
1. search box is emptied
1. all project are shown

Steps 5, 6 are the bug.

# Expected result:
1. After typing Enter project list should remain filtered

[2022-09-07 12:56] amnonkhen opened #853 "integration test failing on staging & prod"
Looking at the staging pipeline , I notice 3 failures:
- **test_ingest_to_terra** - [pipeline](https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/jobs/990102) - [api](https://api.ingest.staging.archive.data.humancellatlas.org/submissionEnvelopes/6318675d925813602e497940) [ui](https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=05fd5d04-30da-40b2-9145-eb3ef856c184)
    -

[2022-09-07 14:28] MightyAx commented on #815
Nathan from the broad has asked for authorisation for our service account to be given "Pub/Sub Editor” as this would allow us to “Modify topics and subscriptions" and "publish and consume messages”

Once our setup is working the service accounts could be downgraded to "Pub/Sub Publisher" and "Pub/Sub Subscriber" which would be sufficient once development is complete.

[2022-09-08 08:40] MightyAx commented on #850
@MightyAx  to review

[2022-09-09 16:49] willrockout commented on #827
@amnonkhen So seems we are getting a new error with the command line tool as well as in the UI. This GSE162122 is throwing the below error:
<img width="1190" alt="Screen Shot 2022-09-09 at 9 49 00 AM" src="https://user-images.githubusercontent.com/19597324/189400917-47d41704-6c97-4372-b06b-3cff4838ffa6.png">

This is thrown for both GSE and SRP

[2022-09-12 08:42] MightyAx commented on #839
@idazucchi to start with testing the notebook. Documentation pending.
@ESapenaVentura to link to notebook

[2022-09-12 09:15] MightyAx commented on #850
ready to merge

[2022-09-12 09:53] MightyAx commented on #853
For the direct archiving case I can see that it took 2 hours for the dev system to validate files
https://monitoring.ingest.dev.archive.data.humancellatlas.org/goto/WaiMOXM4z
[code]

[2022-09-12 10:42] ESapenaVentura commented on #839
PR with the Notebook here: https://github.com/ebi-ait/hca-ebi-dev-team/pull/502

[2022-09-12 10:43] ESapenaVentura opened #854 "Metadata spreadsheet for consumers"

[2022-09-12 14:37] MightyAx commented on #853
I re-ran just the 1one of the three failing tests again by itself, and the was batch job to validate the files hadn't even started by the time the integration test timed out:
![Screenshot 2022-09-12 at 15.33.45.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/aba6e114-f63b-4b2b-a0d5-ba355b639d64)

Finally they were run almost an hour after they were added, and only took 5 seconds

[2022-09-13 08:41] ESapenaVentura commented on #853
@MightyAx will try to get the tests on staging and prod to pass

[2022-09-13 08:47] amnonkhen commented on #854
This is tracked on #543

[2022-09-13 14:59] amnonkhen commented on #827
Thanks @willrockout for reporting this problem.
We will look into it.

[2022-09-14 09:32] MightyAx commented on #853
it seems by retrying at the correct time you can bypass the AWS batch issue

[2022-09-14 09:32] MightyAx commented on #853
dev tests are currently failing due to a PR that has not yet been merged.
staging tests have passed.
prod tests have passed

[2022-09-14 18:49] amnonkhen opened #855 "error in geo_to_hca for accession GSE162122: "Run""
Problem for accession GSE162122 in geo_to_hca tool.
[Reported](https://github.com/ebi-ait/dcp-ingest-central/issues/827#issuecomment-1242217588) by @willrockout in ticket #827 but unrelated to it.

![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/6a068b16-d65c-4009-a932-4c170a273c49)

[2022-09-15 08:45] idazucchi commented on #627
this was tested
now waiting for #850 to fix a github issue

[2022-09-15 08:48] idazucchi commented on #815
waiting for Amnon's review

[2022-09-15 08:51] idazucchi commented on #855
Amnon to discuss this with Wei

[2022-09-15 08:58] Wkt8 commented on #664
Notes: https://docs.google.com/document/d/1Fv73WoeTEHNpJL5Jcr8-DaprbdO1vmnb8bwVlQvniwc/edit#

Priorities:
How to link the bionetwork datasets together
Descriptors → in parallel with the new metadata spreadsheet
Minimal investigation on fastqs

[2022-09-15 09:38] Wkt8 opened #856 "Cellxgene: Investigation and workability of the create-obs-layer script"
The create-obs-layer script has a number of different caveats and workarounds that were made initially due to time pressures, investigation will be needed to see if we can actually use it to create high-quality data that we can trust, as it currently needs manual curation after using it at the moment, which ends up costing extra time than not using the script.

[2022-09-15 09:54] amnonkhen commented on #855
The esearch response for SRP294127 contains a "phrase not found" error.

See debug log:

[code]

[2022-09-15 12:51] Wkt8 commented on #855
Spoke to Amnon - the SRP accession can't be accessed from the SRA website - the accession doesn't appear to be publicly available.

[2022-09-16 08:43] ESapenaVentura commented on #848
@amnonkhen to check if PR has been reviewed

[2022-09-16 08:44] ESapenaVentura commented on #855
@amnonkhen determined the error is that the error message is not clear - Amnon to issue a PR

[2022-09-16 08:46] ESapenaVentura commented on #845
@amnonkhen and @Mil-m made a design chart - to be linked.

Continuing today

[2022-09-16 11:05] ESapenaVentura commented on #845
First 2 items done - We're going to go with [database entry metadata](https://ontology.archive.data.humancellatlas.org/ontologies/edam/terms?iri=http%3A%2F%2Fedamontology.org%2Fdata_2193) for the ontology term

[2022-09-16 11:07] ESapenaVentura commented on #845
We can start testing this in staging

[2022-09-16 12:58] MightyAx commented on #815
I ran this on production in advance to configure the subscription topic
This would have been done the first time the new exporter was run on the production environment but I wanted to ensure it was functional

[code]

[2022-09-16 12:58] MightyAx commented on #815
On staging, awaiting user testing.

[2022-09-16 12:58] MightyAx commented on #850
On staging, awaiting user testing.

[2022-09-16 15:31] MightyAx commented on #815
First Test Successful
[Submission](https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=40cb05cf-7ae1-4543-8aa0-11e5c5f832c6&project=41185446-7fc0-4e9e-9fb6-bb93ca37907b)
[Export Job](https://api.ingest.staging.archive.data.humancellatlas.org/browser/index.html#https://api.ingest.staging.archive.data.humancellatlas.org/exportJobs/6324910179c78d5fd8f79e1e)

Transfer Job:
[code

[2022-09-16 16:36] MightyAx commented on #815
@amnonkhen wanted to test at least one more export
Once his testing is complete:
This [ingest-core pipeline](https://gitlab.ebi.ac.uk/hca/ingest-core/-/pipelines/322400) and this [ingest-exporter pipeline](https://gitlab.ebi.ac.uk/hca/ingest-exporter/-/pipelines/322398) can be released to production.

[2022-09-16 16:38] MightyAx commented on #850
Once testing is complete:
This [ingest-core pipeline](https://gitlab.ebi.ac.uk/hca/ingest-core/-/pipelines/322400) and this [ingest-exporter pipeline](https://gitlab.ebi.ac.uk/hca/ingest-exporter/-/pipelines/322398) can be released to production.

[2022-09-16 16:38] MightyAx commented on #627
Once testing is complete:
This [ingest-core pipeline](https://gitlab.ebi.ac.uk/hca/ingest-core/-/pipelines/322400) and this [ingest-exporter pipeline](https://gitlab.ebi.ac.uk/hca/ingest-exporter/-/pipelines/322398) can be released to production.

[2022-09-20 08:35] Wkt8 commented on #855
Needs code review

[2022-09-20 08:37] Wkt8 commented on #848
Still waiting on review - Amnon to send Dave a reminder

[2022-09-20 10:52] amnonkhen commented on #855
@willrockout the [GSE162122](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE162122) accession you mentioned has missing data. It is connected to SRP294127, which is [not available in SRA](https://www.ncbi.nlm.nih.gov/sra?term=SRP294127).
I have changed the geo_to_hca tool to show a better error message next time, but I cannot help with this specific accession.

[2022-09-22 12:34] ami-day commented on #151
Dataset tracking ticket in Operations board: https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/866

[2022-09-22 23:34] pnejad commented on #827
@amnonkhen any updates you can share with us?

[2022-09-23 10:04] amnonkhen commented on #827
@pnejad this problem was not related to this ticket.
I created ebi-ait/dcp-ingest-central#855 for it and [notified](https://github.com/ebi-ait/dcp-ingest-central/issues/855#issuecomment-1252179139) @willrockout  about it.
The problem was with the dataset. The tool's problem in this case was an unclear error message, for which I will issue a fix next week.
When there is a problem in the geo_to_hca

[2022-09-23 10:33] idazucchi opened #857 "Ingest unable to generate spreadsheet for second submission if referencing entities in the first submission"
**Describe the bug**
After clicking the button to generate the spreadsheet for a submission ingest hangs in the generation phase indefinetly.
I think this happens when the spreadsheet generation failed for some reason; in the case of [this example](https://contribute.data.humancellatlas.org/submissions/detail?uuid=6076f9df-7197-4ea8-8ede-240b6dac5cd9&project=7f351a4c-d24c-4fcd-9040-f79071b097d0) I

[2022-09-23 20:47] idazucchi opened #858 "Operation not allowed during spreadsheet import"
**Describe the bug**
Uploading a spreadsheet to staging raises this error and doesn't seem to update the project information.
![Screenshot 2022-09-23 at 21.40.52.png](https://images.zenhubusercontent.com/615acd999165ed463cb3f02e/7a926e53-c974-44ae-b431-ae4616a185c8)

This is possibly due to the fact that ingest tries to update the project right after creating the submission which is then in the pe

[2022-09-27 08:38] gabsie commented on #815
Continue testing today to push to prod eventually.

[2022-09-27 08:40] gabsie commented on #627
There is a bug relevant to this feature, which is still being investigated by @amnonkhen

[2022-09-27 16:11] MightyAx commented on #815
wrote a document on how to confirm that the file transfer is working and monitor it:
https://ebi-ait.github.io/hca-ebi-dev-team/operations_tasks/stuck-submissions-submitted.html

[2022-09-28 08:34] MightyAx commented on #815
Confirmed both test projects have been exported, and viewed the files exported to terra.
[Ingest Project](https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=f4ab9570-bded-41af-a709-6a75f3a60cfa&project=b09ced5b-99ff-442e-8f06-89848b2893a8)
[Terra Staging Area](https://console.cloud.google.com/storage/browser/broad-dsp-monster-hca-dev-ebi-staging/staging/b09ced5b-99ff-442e-8

[2022-09-28 14:58] Wkt8 opened #859 "MAMS (Matrix and Analysis Metadata Standards) Pilot Dataset"
This is higher-level FAIRification work to ensure that different matrix formats have a common ground and store similar information / follow a schema that can be used to describe many different file formats.

We are working to adapt one of our datasets that has been wrangled to cellxgene into the MAMS format.
See link here: https://cellxgene.cziscience.com/collections/e33ffcd3-7cbf-4b8c-b0f4-85587a

[2022-09-28 15:01] Wkt8 opened #860 "Investigation into Analysis_Protocol fields"
Based on an in-person meeting with Dave Horsfall (Haniffa Lab) at the WSSS Conference, I have organised a meeting with him, Ida, and a couple other computational biologists in the Haniffa lab to discuss analysis_protocols, useful metadata to be captured, and compare our different schemas.

This will give us a better understanding of what metadata is actually useful for computational biologists, an

[2022-09-30 08:45] MightyAx commented on #855
@amnonkhen to push to production today

[2022-10-03 14:39] #831 closed, assigned to amnonkhen

[2022-10-03 14:39] #853 closed, assigned to amnonkhen, Mil-m

[2022-10-03 14:39] #525 closed, assigned to nobody

[2022-10-03 14:39] #792 closed, assigned to MightyAx

[2022-10-03 14:39] #796 closed, assigned to amnonkhen

[2022-10-03 14:39] #385 closed, assigned to nobody

[2022-10-03 14:40] #822 closed, assigned to MightyAx

[2022-10-03 14:40] #824 closed, assigned to ke4, MightyAx

[2022-10-03 14:40] #819 closed, assigned to ke4

[2022-10-03 14:40] #804 closed, assigned to MightyAx

[2022-10-03 14:40] #800 closed, assigned to amnonkhen

[2022-10-03 14:40] #767 closed, assigned to amnonkhen, MightyAx

[2022-10-03 14:41] #813 closed, assigned to amnonkhen, MightyAx

[2022-10-03 14:41] #810 closed, assigned to MightyAx

[2022-10-03 14:41] #828 closed, assigned to amnonkhen, MightyAx

[2022-10-03 14:57] amnonkhen commented on #850
Two problems after a test on staging by @gabsie & @amnonkhen :

- [ ] project status box in admin area is empty
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/65ba5f00-cdf2-4af8-b1d1-404db43a0322)

- [ ] in the history list the entry "In progress -> Submitted" is shown as None
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/9f87aaae-76ed-4eda-

[2022-10-04 08:41] ESapenaVentura commented on #850
@amnonkhen found solution, created a PR

Ned review, tagged @MightyAx and @Mil-m

[2022-10-04 08:42] ESapenaVentura commented on #845
@Mil-m and @amnonkhen working on this

Working on it today

[2022-10-04 08:51] MightyAx commented on #850
approved.

[2022-10-04 22:55] amnonkhen commented on #855
@willrockout I have pushed to prod a fix that will produce better error messages on such cases where a spreadsheet cannot be generated from the input accession.

[2022-10-05 19:45] willrockout commented on #855
Awesome! Thanks, Everyone! Should be ok to close this ticket

[2022-10-05 19:47] willrockout commented on #827
Yeah, that's my bad I figured it was related and I was out of town so I couldn't update Parisa.

[2022-10-05 19:47] #827 closed, assigned to amnonkhen, ESapenaVentura

[2022-10-07 08:45] ESapenaVentura commented on #860
Had first meeting - Second one with more people

Discuss same things, with people with more insight

[2022-10-07 08:55] ESapenaVentura commented on #793
@ESapenaVentura to link PR for filling out DCP1 file metadata

[2022-10-07 11:07] amnonkhen opened #861 "release process for the hca ci/cd itself"
Currently gitlab uses the trunk of the _master_ branch of _ingest-kube-deployment_ branch as the source of the deployment scripts (k8s deployment descriptors, helm charts, etc)

See [pipeline definition `.deploy_k8s.script[0]`](https://github.com/ebi-ait/gitlab-ci-templates/blob/6e05761e18244c906745362ef18281fd70acb48d/build-release-deploy.yml#L101)

This makes it difficult to safely make changes

[2022-10-07 11:17] amnonkhen commented on #861
Currently gitlab uses the trunk of the master branch of _ingest-kube-deployment_ branch as the sourceof the delployment scripts (k8s deployment descriptors, helm charts, etc)

See [pipeline definition](https://github.com/ebi-ait/gitlab-ci-templates/blob/6e05761e18244c906745362ef18281fd70acb48d/build-release-deploy.yml#L101)

This makes it difficult to safely make changes to the ci/cd process witho

[2022-10-10 09:03] MightyAx commented on #845
Ingest Broker cannot be built until we we resolve the dependancy issues.

Hopefully by merging these PRs:
- ebi-ait/ingest-client#58 Deployed
- ebi-ait/geo_to_hca#41 Deployed

[2022-10-10 16:05] rachadele opened #878 "Ambiguous geo-to-hca spreadsheet generator error for GSE119945"
*Overview*
Ingest spreadsheet generator is throwing an ambiguous error I've never seen before when trying to register  GSE119945 (screenshot included)

Browser
<img width="1343" alt="Screen Shot 2022-10-10 at 9 02 41 AM" src="https://user-images.githubusercontent.com/51383714/194908633-0d08d1c5-6bbc-4637-bb5f-289a79a55813.png">

[2022-10-10 16:22] rachadele opened #879 "ambiguous geo-to-hca spreadsheet generator error: ERP116235"
*Overview*
Trying to generate a spreadsheet for ERP116235 returns an ambiguous error (screenshot included)

Browser
<img width="1324" alt="Screen Shot 2022-10-10 at 9 21 58 AM" src="https://user-images.githubusercontent.com/51383714/194911802-47f662b4-3ca9-483b-80fa-287b8365125c.png">

[2022-10-11 08:43] Mil-m commented on #845
Launching the tests for ingest-broker locally

[2022-10-11 09:27] amnonkhen commented on #878
Issue will be investigated later this week.

relevant logs:
[code]

[2022-10-12 09:00] ESapenaVentura commented on #793
PR ebi-ait/hca-ebi-dev-team#508

[2022-10-13 08:43] ofanobilbao commented on #845
We are approaching the end of this task. Alexie helped Milena yesterday and @amnonkhen will work with her today.

[2022-10-14 08:40] gabsie commented on #627
Let's have this tested/confirmed by a wrangler, and see if this works correctly. @ESapenaVentura

[2022-10-14 08:40] #812 closed, assigned to MightyAx

[2022-10-14 08:45] gabsie commented on #845
Continue with the tests today. @Mil-m

[2022-10-17 08:47] MightyAx commented on #860
waiting for response from Dave Horsfall

[2022-10-17 11:47] ami-day opened #862 "Get list of publications/projects from SCEA via ftp"
**Description of the task:**

We need to be able to track which single-cell publications have been curated to the hca metadata standard (and submitted to the hca dcp) AND which of those publications/projects have already been curated to SCEA mage-tab format and uploaded to the SCEA portal.

This ticket is for the following:

- [x]  Investigate the scea ftp: write code to download key publication/p

[2022-10-17 15:39] ami-day opened #864 "Script to get file validation statuses as a list locally"
**Description**
I would like to be able to obtain a list of all the file names and related file validation statuses from ingest given a submission uuid.
I have modified a script written by Enrique to do something similar, however my modifications allow me to list all the file names alongside their validation status, so that I can make use of this information locally.

To run at the command-line:
`

[2022-10-17 15:55] ESapenaVentura commented on #864
Please put a link to the PR!

Also, just a hunch, but you're probably not dealing with pagination

All (or most, at least) APIs have a `page` parameter that defaults to 10/20 for the results to not overload the database with a dump of all the database

You need to iterate over the pages to get all the files.

Let's talk about it tomorrow in stand-up

[2022-10-18 08:40] idazucchi commented on #845
two things to fix:

1. ~Currently every time someone hits the generate button a new file record will be added to the submission, but actually we only ever want one of these records within a submission, so if an old file exists we should update the existing file.~
1. ~We should add a wait after adding a file before sending the s3 command until the file is metadata invalid, otherwise the upload serv

[2022-10-18 08:42] Wkt8 opened #863 "Prep for eLwazi DS-I Africa Datathon (FAIR Workshop)"
Wei is going to the eLwazi DS-I Africa with Isuru to give a workshop on FAIR data and Open Data Science Platforms (ODSP). Prep work required for the following:

- [x] Skeleton of workshop created
- [x] workshop presented to FAIR experts (Nick Juty and Ibrahim)
- [x] Time spent studying Fuqi's handover document
- [x] Reviewing key FAIR data and DSM (Dataset Maturity) concepts to communicate
- [x] I

[2022-10-18 09:54] ami-day commented on #864
Closing this as have sorted this now. It was indeed the page number limit.

[2022-10-18 09:55] #864 closed, assigned to ami-day

[2022-10-18 12:14] MightyAx commented on #845
Point 2 has been provisionally resolved:
https://github.com/ebi-ait/ingest-core/pull/146

[2022-10-18 13:04] ami-day opened #865 "Add SCEA publications list to HCA project catalogue"
We need to track which publicaitons/datasets have already been curated to SCEA.
I have a list of publication metadata (doi,pubmed id,title) and study accessions (SRA/GEO). We need to add this to the project catalogue along with the assigned scea id.

- [ ] Feature to add SCEA accession to projects in the project catalogue

- [ ] Ability to find a project in the project catalogue by doi and/or pubm

[2022-10-18 13:04] ami-day commented on #865
To discuss with @amnonkhen and @gabsie

[2022-10-18 13:14] MightyAx commented on #845
3. We should also patch the project **before** we generate the spreadsheet, so that the spreadsheet is generated **after** the metadata has been added,

This is to allow the UI will show **Download Spreadsheet** instead of **Generate Spreadsheet** when a spreadsheet has already been generated.

[2022-10-19 11:24] MightyAx commented on #845
for issue 1: stop naming the spreadsheet using the date time stamp,
using similar sequence to [triggering file revalidation](https://github.com/ebi-ait/hca-ebi-dev-team/tree/master/scripts/retrigger_file_validation)
remove the cloudUrl and checksum and set validation to file_not_uploaded

sending the file to s3 will overwrite the existing file and trigger the post back of the checksums, clearing t

[2022-10-20 08:40] ESapenaVentura commented on #863
Already met with experts to prepare the workshop

Meeting again next week there's going to be a demo of the workshop

[2022-10-20 09:39] gabsie commented on #845
Just add the new emergent issues on this here, @MightyAx and we continue tracking this ticket.

[2022-10-20 09:51] amnonkhen opened #866 "add spreadsheet generation to system tests"

[2022-10-20 10:11] MightyAx commented on #866
You may find this a useful starting place:
https://github.com/ebi-ait/ingest-integration-tests/pull/30

[2022-10-20 16:02] MightyAx commented on #845
Generating spreadsheet via Exporter redesign ideas:

1. Core: preempt the existing [`DefaultExporter.exportMetadata(ExportJob exportJob)`](https://github.com/ebi-ait/ingest-core/blob/9074e3af46032d50adbf06a984e8779ac978ef77/src/main/java/org/humancellatlas/ingest/exporter/DefaultExporter.java#L94)
    - This probably by renaming `exportMetadata()` -> `generateSpreadsheet()`
     - Put a message on

[2022-10-24 08:39] Wkt8 commented on #845
Amnon to catch-up with Alexie this morning. Future steps pending.

[2022-10-24 09:58] ami-day opened #868 "Define User Stories: Tracking SCEA work in HCA Ingest"
**User Story**

I have written the User Stories into a shared google doc., for review and discussion with @gabsie and @amnonkhen .
Here:
https://docs.google.com/document/d/1EPg12StBb0d1OsEc-XirdsDrGOdbUCRxNJG1Nf6E6Ps/edit

[2022-10-24 14:59] MightyAx commented on #845
On the rework we have a draft PR in core and exporter with the general flow covered, but as we continue

Rather than having exporter call broker we should:

- [x] push the export code into client (its already mostly there as data collector)
- [x] Have the exporter run a version of [the aborted broker code](https://github.com/ebi-ait/ingest-broker/pull/44) for generating metadata
- [x] have the exp

[2022-10-25 12:09] amnonkhen commented on #845
PR ebi-ait/ingest-exporter#46 implements step 4 in [Alexie's comment](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/845#issuecomment-1289169602)

The missing bits are:
- [x] integrate your function that creates the metadata json for the spreadsheet
- [ ] sort out the key name for the spreadsheet on terra.
These happen al

[2022-10-26 13:35] MightyAx commented on #845
I've made the code "work" so far testing in the python console hasn't thrown any errors but I haven't yet sent any data to terra.
[code]

More manual testing and some unit tests required!

[2022-10-27 08:40] ESapenaVentura commented on #845
Testing is next!

[2022-10-27 08:41] ESapenaVentura commented on #717
Set up deadline for Friday 28th

[2022-10-28 08:37] ofanobilbao commented on #845
Amnon hoping to finish testing and fixing issues today

[2022-10-29 23:23] amnonkhen commented on #845
code fixes & testing are in the following PRs:
- ebi-ait/ingest-client#60
- ebi-ait/ingest-exporter#45
- ebi-ait/ingest-core#147

see exporter test class: (see [tests/exporter/terra/spreadsheet/test_exporter.py](https://github.com/ebi-ait/ingest-exporter/blob/2a72b3961a5c583fdd0bf8b95ca5c0d1f88a253e/tests/exporter/terra/spreadsheet/test_exporter.py))

[2022-11-01 09:33] gabsie commented on #717
@ofanobilbao I am starting here, and we can continue working together here
https://docs.google.com/document/d/1eIAsRIUmUtJaPgTMuFuHjMGCm3fhg0oefLfYeElZM-M/edit?usp=sharing
I am also doing a visualisation also in Miro

[2022-11-01 16:31] ami-day opened #869 "Error in ingest: exceeding maximum limit on number of rows in spreadsheet"
Error in ingest trying to import a spreadsheet exceeding the maximum number of rows (cell suspensions). We need to increase the limit. The number of rows is 76,000, and currently the limit is 50,000. It might be worth increasing the limit to 100,000 or more just to prevent this potentially happening in future.

Link to project in ingest: https://contribute.data.humancellatlas.org/submissions/detai

[2022-11-02 12:13] MightyAx commented on #845
# Manual Testing
1. Initial Export
   - [x] Create project
   - [x] Export
   - [x] Verify spreadsheet
2. Updated Export For the same submission
   - [x] Create project
   - [x] Export
   - [x] Verify spreadsheet
   - [x] Update metadata (in same submission)
   - [x] Export
   - [x] Verify spreadsheet
3. Multi Submission Project Support (Expect Failure)
   - [x] Create project from small dataset

[2022-11-02 12:14] MightyAx commented on #845
# Integration (/System Tests)
- [x] Initial Export
- [x] Update Export for Same Submission
- [x] Multi Submission Project Support (Expect Failure)

[2022-11-03 09:46] ESapenaVentura commented on #845
@MightyAx to set-up and start testing locally today

Maybe meet with @Mil-m to explain

[2022-11-03 09:46] ESapenaVentura commented on #845
@MightyAx to set-up and start testing locally today

Maybe meet with @Mil-m to explain

[2022-11-03 14:52] amnonkhen opened #870 "Dev onboarding for Enrique"
These are topics covered (or to be covered) for Enrique's onboarding.
This will be a source for a formal onboarding guide for new joiners.

# docs
   - [ ] onboarding docs
   - [ ] wiki

# connection, access, etc.
   - [ ] dev env setup - automated script
   - [ ] dev env setup - what's not yet automated
   - [x] accounts verification: github, aws, google groups, mailing lists, wiki
   - [ ] conne

[2022-11-04 09:53] MightyAx commented on #845
ebi-ait/ingest-exporter#45 and ebi-ait/ingest-core#147 deployed to dev for testing.

[2022-11-07 09:40] idazucchi commented on #845
alexie working on a bug - the exporter keeps all spreadsheets generated

[2022-11-07 09:42] idazucchi commented on #717
gabs to send the first page for review today

[2022-11-07 09:44] idazucchi commented on #839
new repo for programmatic submissions
enrique is working on a repo readme

[2022-11-08 04:12] gabsie commented on #717
https://docs.google.com/document/d/1eIAsRIUmUtJaPgTMuFuHjMGCm3fhg0oefLfYeElZM-M/edit?usp=sharing

[2022-11-08 09:43] Wkt8 commented on #717
@idazucchi and @Wkt8 to review this document. Oihane has reviewed.

[2022-11-08 09:45] Wkt8 commented on #845
A couple of changes still to be made to the flattener and then additional testing required. PR requires approvals.

[2022-11-08 11:41] gabsie commented on #717
@amnonkhen - can you please look at the code etc using the example text from the doc? I will arrive on campus and continue catching up.

[2022-11-08 14:41] ESapenaVentura commented on #793
Pushed changes:
- Improved query from azul (Now filters on file_source, to avoid DCP/1, DCP/2 analysis team files)
- Deals with pagination in azul
- Now has a progress bar when patching (Can take a very long time for projects with thousands of files)

[2022-11-08 14:54] ESapenaVentura commented on #839
Repository: https://github.com/ebi-ait/ingest-programmatic-submissions
GH page: https://ebi-ait.github.io/ingest-programmatic-submissions/

[2022-11-08 16:23] MightyAx commented on #845
We should ping Hannes and Trevor on slack once we have final version with examples on dev/prod.

[2022-11-08 16:52] MightyAx commented on #845
The new ingest client is ready and I've tested it
@amnonkhen please review [the PR](https://github.com/ebi-ait/ingest-client/pull/61)

[2022-11-09 12:46] MightyAx commented on #845
client pr merged and deployed to PyPI
@amnonkhen [Exporter PR](https://github.com/ebi-ait/ingest-exporter/pull/47) Ready for Review

[2022-11-09 18:03] ESapenaVentura commented on #839
The documentation has been written: everything that anyone needs to access the docs.+ notebooks is here https://ebi-ait.github.io/ingest-programmatic-submissions/

Waiting impatiently on review! This has taken forever

[2022-11-09 20:43] amnonkhen commented on #717
@gabsie Here is what it looks like. What do you think?
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/46721860-5f95-4398-8164-38dcbfb60a78)

[2022-11-10 09:38] MightyAx commented on #845
PR Approved, One comment about logging has sparked my interest.
Just trying to finish that this morning so we can merge and manually test on dev today.

[2022-11-10 09:38] MightyAx commented on #845
PR Approved, One comment about logging has sparked my interest.
Just trying to finish that this morning so we can merge and manually test on dev today.

@MightyAx to post to slack to invite group testing once merged to dev.

[2022-11-10 09:42] MightyAx commented on #839
@MightyAx (and other volunteers) to review.

[2022-11-10 09:42] MightyAx commented on #717
@Gabs to make minor visual changes.

[2022-11-10 10:22] amnonkhen opened #871 "route lattice submissions to DCP through ingest"
Task originated in a slack discussion between @tburdett & @amnonkhen on Q3 2022.
Part of the groundwork for Managed Access Data.

Deadline: end of Q1 2023

[2022-11-10 10:36] gabsie commented on #717
Hey Amnon
In the file, I changed the subsections to have shorter names:
https://docs.google.com/document/d/1eIAsRIUmUtJaPgTMuFuHjMGCm3fhg0oefLfYeElZM-M/edit?usp=sharing

[2022-11-10 17:31] MightyAx commented on #845
The latest ingest-broker, ingest-exporter (with ingest-client) and ingest-core have been deployed to dev for testing.

Initial tests show spreadsheets being sent to terra without the additional information from previous exports

[2022-11-10 17:32] MightyAx commented on #717
submission guide has been deployed to [dev](http://dev.contribute.data.humancellatlas.org) for testing

[2022-11-11 09:44] Mil-m commented on #845
the next steps:
1. Manual Tests - @MightyAx, @Mil-m

- [x] Initial Export
- [x] Update metadata on same submission and re-export
- [x] Multi Submission Project Support (Expect Failure)

2. User Flow Test @ESapenaVentura

[2022-11-11 10:22] gabsie opened #872 "When editing a project field, the Wrangling status disappears"
Bug.
When editing a project field, the Wrangling status disappears. We have checked this with two statuses.

Steps to reproduce:

1. Open up a Project with a status 'Eligible' or 'in Progress', could be for other statuses as well
2. Change the Project label to something else. Ignore validation errors and Save.
3. Check the project Admin tab - Wrangling status is not only 'Not specified', but the w

[2022-11-11 10:49] ESapenaVentura commented on #717
I have a couple of comments:
- Is there any way for the TOC on the left to follow the screen? if I scroll down, I would like to still see the table
- Can we change the font a bit? I don't know how to make it better, but right now the font looks very sharp and clumped.
- I would re-factor the content a bit:
   - Moving the "contribution checklist" to the top, with links to each of the different sec

[2022-11-11 12:23] ESapenaVentura commented on #845
Tried for user flow:

- Created a project and a submission, project with custom metadata (Manually filled), submission with `small_dataset.xlsx` testing spreadsheet https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=de4768d5-03a9-4aaf-8b92-ac0ef96af577&project=9b2a1653-b9bc-4b0e-befa-272784354a04
- Uploaded files, everything went correctly, and exported
- Once exported, I check

[2022-11-11 12:54] ESapenaVentura commented on #845
Spreadsheet metadata has the exact same uuid and was regenerated successfully!

[2022-11-11 17:07] amnonkhen commented on #192
this is done.

[2022-11-14 09:38] ofanobilbao commented on #845
It has been tested multiple times, for different scenarios. We will move this to staging so that more people can do testing.

To merge the following need to be merged to master:

- ingest-broker,
- ingest-exporter (with ingest-client)
- ingest-core

[2022-11-14 09:40] ofanobilbao commented on #717
This is now live in Dev. @gabsie will review the content and edit it. Amnon showed her how to be able to edit going forward

[2022-11-14 14:27] gabsie commented on #867
Let's check at Kickoff whether this is still relevant, and we can get these scenarios and spreadsheets together with Enrique maybe?

[2022-11-14 15:34] MightyAx commented on #845
deployments to staging were made successfully and testing began.

[2022-11-14 15:35] MightyAx commented on #845
I’ve found an issue with spreadsheet exporting, I don’t think this effects us going to production, but it will need to fixed.
Once we’ve sent a spreadsheet (or most any metadata file actually) to terra, when we try to send an updated version it fails but gets marked as success.
I’ve posed this as an issue with metadata exporting before, and since we are using the same routines to send the metadata

[2022-11-14 16:00] MightyAx commented on #845
For future reference: https://cloud.google.com/storage/docs/object-versioning

[2022-11-14 16:55] MightyAx commented on #845
#### Issue to be made as a new ticket:
- [ ] **Updating an existing project that has already been exported will silently fail to send a new version of the metadata file.**
    - This is a wider problem with the metadata exporter, that now also affects metadata spreadsheet exporter
        - If a file exists it is assumed to be the correct version and no attempt is made to check/update it.
    - Th

[2022-11-15 09:42] Wkt8 commented on #845
As above - new ticket at the design stage to be made - workaroundable. Doesn't block this ticket.

[2022-11-15 09:43] Wkt8 commented on #717
Gabs to continue editing and then to create a PR for merging into prod / master. Alexie and Enrique to support if necessary.

[2022-11-15 09:44] Wkt8 commented on #852
@amnonkhen should this ticket be assigned to you? If so, please update.

[2022-11-15 11:37] MightyAx commented on #839
@ESapenaVentura I've made a PR with my review recommendations.
ebi-ait/ingest-programmatic-submissions#1

[2022-11-15 11:45] MightyAx commented on #793
still waiting for a fix I recommended.

[2022-11-15 11:48] MightyAx opened #873 "Projects being re-exported will not have their terra spreadsheet updated."
### Acceptance criteria

Re-exporting an exported project should:
- Use the same file descriptor uuid with a new date-time stamp
- Use the same metadata file uuid with a new date time stamp
- Store the spreadsheet on terra

### The issue
Currently: If a file exists on terra, the metadata exporter assumes that it is the correct version and no attempt is made to check/update/replace it, since these

[2022-11-15 12:07] MightyAx commented on #845
new ticket made: #873
ToDo: deploy to prod:

- [x] core
- [x] exporter
- [x] broker

[2022-11-15 13:39] MightyAx commented on #717
deploying to staging

[2022-11-16 10:03] #863 closed, assigned to Wkt8

[2022-11-16 10:03] #859 closed, assigned to Wkt8

[2022-11-16 10:03] #844 closed, assigned to ESapenaVentura

[2022-11-16 10:03] #838 closed, assigned to amnonkhen

[2022-11-16 10:03] #855 closed, assigned to amnonkhen

[2022-11-16 10:03] #805 closed, assigned to amnonkhen

[2022-11-16 10:23] MightyAx commented on #845
Production Deployment and integration tests ran successfully

[2022-11-16 10:24] MightyAx commented on #793
I've approved
@amnonkhen will need to approve that their requested changes have been addressed

[2022-11-16 10:31] MightyAx commented on #839
I think you have made an excellent easy to read summary of the system, the ethos behind the system, what problems it solves, an even pointer's to why certain decisions were made.

I think this is an excellent primer to our team across many topics and I'll be recommending reading and playing with this to our new starters before we throw them anything else.

GREAT JOB!

[2022-11-16 11:00] gabsie commented on #869
@amnonkhen and @ESapenaVentura to discuss solution.

[2022-11-16 11:00] gabsie commented on #872
This actually happens when I create a project from scratch in backoffice.

[2022-11-16 12:18] MightyAx commented on #873
@gabsie: What file name would be the nicest user user experience when downloading an ingest spreadsheet from the data browser?
The following are just some ideas:

- {project_uuid}.xlsx
- {project_uuid}_{timestamp}.xlsx
- {project_title}.xlsx
- {year}-{month}-{day}_{project_title}.xlsx

**I'd be curious what "perfect" would look like.**
I'll use this information to decide between the two possible i

[2022-11-16 16:23] gabsie commented on #873
Hi, Alexie!

I would like to have the word metadata in the name.

project_title-metadata-{ddmmyy}.xlsx

If project title is too long as it would be, I am good with either short name or a certain number of characters from the project title.

Thanks, Alexie, slack me if you want

Gabs

[2022-11-16 16:33] MightyAx commented on #873
Thanks gabs, that leads to the following implementation:

- [ ]  Change the spreadsheet name to `{project_shortname}_metadata_{dd}-{mm}-{yyyy}.xlsx`
- [ ]  Change how the metadata and datafile uuids are generated to keep them consistent across multiple exports

[2022-11-16 16:46] MightyAx commented on #872
Does it happen when your project has no submissions?

[2022-11-16 16:48] gabsie commented on #872
yep when I tested, but worth it to also check the scenario of having an existing submission and then editing project details.

[2022-11-16 16:50] Mil-m commented on #872
as I didn't receive this error on the project with submission I'll try it with the clear project without any submissions
@gabsie @MightyAx

[2022-11-16 16:57] MightyAx commented on #873
Example project spreadsheet names:

[code]

[2022-11-16 17:13] MightyAx commented on #873
### Multi Submission Support
Because we are changing datafile and metadata uuids generation to keep them consistent regardless of the spreadsheet file name. We have an opportunity to very easily fix the issue identified in the demo of multi-submission exports.

By generating the datafile and metadata uuids using the submission uuid as the "seed", each submission exported to terra will have its own

[2022-11-16 19:03] Mil-m commented on #872
(1) I don't see the 'Wrangling status' field after creating a new project (at staging URL), is it a normal case? I assumed to see the 'N/A' for example (as in the other fields: Wrangling priority / Release number)

[2022-11-16 20:24] Mil-m commented on #872
so far I don’t see an error either on 'staging' or on the 'dev'

[2022-11-17 09:42] MightyAx commented on #845
@MightyAx
- [x] to check production for terra spreadsheets
@gabsie
- [ ] to notify downstream components by email

[2022-11-17 09:45] MightyAx commented on #717
@gabsie
- [x] to post the minor edit required

@MightyAx / @amnonkhen
- [ ] to Commit / PR / merge to production

[2022-11-17 09:50] MightyAx commented on #852
PR ready for Review.

- [x] @MightyAx to review.

[2022-11-17 09:53] MightyAx commented on #872
- [ ] @Mil-m to book meeting with @ofanobilbao for issue identification.

[2022-11-17 10:25] MightyAx commented on #845
[This project](https://contribute.data.humancellatlas.org/submissions/detail?uuid=72705a81-c281-403d-96bd-fdb606f6afec&project=fc381e70-df1b-407d-8131-52ab523270bd) has been exported and generated this spreadsheet as expected.
[https://app.zenhub.com/files/299258791/14ba93bc-d204-4e8c-8df9-e315000cfa48/download](https://app.zenhub.com/files/299258791/14ba93bc-d204-4e8c-8df9-e315000cfa48/download)

[2022-11-17 10:33] MightyAx commented on #873
I think we need to keep track of all production spreadsheet exports that were made with the old mechanism and  rename the spreadsheets/metadata/and file descriptors of those exports directly on terra as if they were the new scheme.

This is so future re-exports of these few projects will behave correctly if a new spreadsheet is ever generated.

[2022-11-17 12:14] ESapenaVentura commented on #869
Discussing with @idazucchi about data modelling this evening - May not need this feature

[2022-11-17 12:24] ofanobilbao commented on #872
@Mil-m and me had a chat just now. Some of the issues that Gabby and me were encountering, did not happen when I was testing in staging with her. However, I've also noticed that some of the projects in Prod that I manually added and where this issue happened, I had edited them for their status to be Eligible and I see from the History tab that 12h later the status was removed altogether.

Milena w

[2022-11-17 12:32] gabsie commented on #872
were we testing before in dev or prod? @ofanobilbao

[2022-11-17 13:08] ofanobilbao commented on #872
@gabsie this was only in staging. It was only to clarify with Milena what the issues where. Once she observes the issues herself, then she might be able to start understanding why this is happening.

[2022-11-17 17:43] gabsie commented on #717
This is ready for Prod as far as I am concerned

[2022-11-18 09:40] idazucchi commented on #717
alexie will push this to prod today

[2022-11-18 09:41] MightyAx commented on #717
- [x] put it on the main branch so it is
deployed to staging and tested there
- [x] check it in staging manually
- [x] promote to prod.

[2022-11-18 09:42] idazucchi commented on #839
@Wkt8 and @idazucchi to review

[2022-11-18 09:50] idazucchi commented on #872
the bug couldn't be reproduced but a trace remains in the History tab
the status usually disappears after 12h, but in this case the status has remained
@ofanobilbao will add more details

[2022-11-18 10:05] idazucchi commented on #832
Amnon followed the SOP for archiving and apparently the process completed successfully
However the logs contain errors which are not visible to the user which is a problem

[2022-11-21 09:33] MightyAx commented on #873
Review Approved (with changes) I'll merge and test.

[2022-11-21 09:35] ESapenaVentura commented on #852
@ofanobilbao did some user testing and feature is now in prod

[2022-11-21 09:36] ESapenaVentura commented on #845
@gabsie to check the comment above with the checkbox ^^^

[2022-11-21 09:37] ESapenaVentura commented on #839
@ESapenaVentura to review today

[2022-11-21 09:38] ESapenaVentura commented on #793
@amnonkhen when you have time please review

[2022-11-21 09:39] ESapenaVentura commented on #872
@ofanobilbao to add screenshots, although bug does not seem to be reproducible so we may need to move this to waiting

[2022-11-21 09:43] ESapenaVentura commented on #869
@ESapenaVentura to move this to closed once Updated with the tickets about graph-validation work

[2022-11-21 11:07] MightyAx opened #875 "Bug: Project shortname allows spaces"
Theres a bug when editing a project that spaces are allowed with the Project Label (aka project short name). But the messages states that spaces are not allowed.

Saving the project does not trigger a validation issue.

![Screenshot 2022-11-21 at 11.07.17.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/c7ea73a6-4682-4f22-aed9-5d2d2827ac1d)

[2022-11-21 11:23] ESapenaVentura opened #876 "Investigate how genome version can be tracked in the schema"
**Description of the task:**
As per some discussions in the HCA developmental meeting in Paris, we have been told the genome version would be an important field to track

We need to investigate how to track it in the HCA metadata schema, in a sensible, parseable and useful manner so that users can query it downstream

**Acceptance criteria for the task:**

- [x] The field(s) has been discussed and

[2022-11-21 11:31] ESapenaVentura commented on #860
This discussion may be coupled with #876

[2022-11-21 12:28] MightyAx commented on #873
Found a further issue due to `contentLastUpdated` not updating on project for a change in biomaterial.
this means:
- [x] We need to create a synthetic `dcpVersion` based on the export date
- [x] we also have allow overwrites for spreadsheets (to allow multiple exports on the same day

[2022-11-21 13:45] #869 closed, assigned to ESapenaVentura

[2022-11-21 14:06] MightyAx commented on #873
Production exports to be renamed:
[code]

[2022-11-21 15:15] MightyAx commented on #873
@amnon to review: https://github.com/ebi-ait/ingest-exporter/issues/49

[2022-11-21 15:42] ESapenaVentura commented on #839
Reviewed the PR, I agree with mostly everything but I left a small comment

[2022-11-22 02:14] Mil-m commented on #858
In my tests, this error occurred on the **dev** but not on the **staging**
...
and I don't see this error more...

[2022-11-22 03:40] Mil-m commented on #858
both on **staging** and **dev** - is it OK?
->
https://api.ingest.dev.archive.data.humancellatlas.org/submissionEnvelopes/637c45c347c42201491853ea/submissionManifest
https://api.ingest.dev.archive.data.humancellatlas.org/submissionManifests/637c45cd47c42201491853eb/submissionEnvelope
...
https://api.ingest.dev.archive.data.humancellatlas.org/submissionEnvelopes/637c45c347c42201491853ea/commitInval

[2022-11-22 09:36] Wkt8 commented on #845
Still waiting on #873

[2022-11-22 09:38] Wkt8 commented on #839
Alexie to look into the 'no: toc' to see if there is an alternate method.

[2022-11-22 09:43] Wkt8 commented on #832
@amnonkhen to give an update on where we are - archiving is not working on dev.

[2022-11-22 09:45] Wkt8 commented on #872
Bug does not seem to be reproducible so moving to waiting.

[2022-11-22 09:47] ofanobilbao commented on #872
@ofanobilbao to add some screenshots showing when this happened at least for a few examples

[2022-11-22 11:37] ESapenaVentura opened #877 "Spreadsheet generation does not cope with entities coming from the same entity type"
**Describe the bug**
When generating the spreadsheet, Ingest does not cope well with processes that have the same type of entity as an input and as an output.

This was discovered when the spreadsheet for [this test data](https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=d449543b-8415-46c9-8cbb-fbc20a4bd6cd&project=039a535d-a7a8-4808-9d7b-2b602c8bd8d1) was downloaded.

The

[2022-11-22 11:38] ESapenaVentura commented on #875
it is not a bug, there is no validation in the project shortname field. We should work in adding some regex validation into that field!

[2022-11-22 13:34] MightyAx commented on #873
merged the above, tested, found an improvement:
### Final Implementation ebi-ait/ingest-exporter#50:
- [x] Create a synthetic `dcpVersion` based on the submission content last modified
    - This endpoint wasn't obvious and is not included as part of the default submission info

@amnonkhen ebi-ait/ingest-exporter#50, ready to review

[2022-11-22 15:25] MightyAx commented on #858
## What we've tested (on dev):
### update project from spreadsheet flow:
1. new project (blank, ignore validation)
2. upload spreadsheet, update project
3. project is updated, marked as valid, submission is imported, only invalid due to missing files
4. test passed

### New project flow:
1. new project, fill out project form
2. upload spreadsheet, DO NOT update project
3. submission is imported, o

[2022-11-22 17:33] MightyAx commented on #839
I managed to *finally* get ruby installed, and Jekyll, will test out GH pages tomorrow.

[2022-11-22 17:35] MightyAx commented on #873
deployed to dev, can test (again) tomorrow

[2022-11-23 16:33] Mil-m commented on #858
I re-produced this error on the 'staging' but for the new projects (not for already existed)
A new project might be with the filled-out fields or not (the error will be in any case)

[2022-11-23 17:38] MightyAx commented on #873
The issue found in 49 had lasting consequences so I had to actually make:
### Really this is the last change ebi-ait/ingest-exporter#51
- [x] filter google transfer notifications for deleted submissions
- [x] script to re-queue errors in the error queue to their original queues.
    - Helpful when errors occur in lots of places.

@amnonkhen ready for review

[2022-11-24 09:40] ofanobilbao commented on #793
@ESapenaVentura tested it again yesterday with the Immune Census. It worked fine

[2022-11-24 09:42] ofanobilbao commented on #858
It makes sense to reproduce this locally. @Mil-m to ask help from @MightyAx

[2022-11-24 18:38] MightyAx commented on #873
Multiple issues found, highest blocking ones here:
### ebi-ait/ingest-exporter#52
- [x] Resilient export job
- [x] Acknowledge Messages for deleted submissions:
    - [x] Data transfer responder
    - [x] Spreadsheet generator
    - [x] Submission Exporter
    - [x] Experiment Exporter

[Miro board with some of the errors/investigation](https://miro.com/app/board/uXjVPAaOb7A=/?share_link_id=683198

[2022-11-25 13:04] MightyAx commented on #873
@amnonkhen Ready for review.

[2022-11-28 09:37] ofanobilbao commented on #839
Milena was testing this on Friday. Alexie to test today

[2022-11-28 09:37] ofanobilbao commented on #793
@amnonkhen to review today

[2022-11-28 09:56] MightyAx commented on #873
On Friday, the change was made an deployed to dev, where it was tested.
The change reprocessed all the messages for deleted submissions from the error queue, passing all integration tests.

Note:  There are some [remaining errors](https://miro.com/app/board/uXjVPAaOb7A=/?moveToWidget=3458764539655949908&cot=14), but I think they aren’t introduced by this change and seem circumstantial rather than

[2022-11-28 10:00] MightyAx commented on #873
The change has been merged to staging and is ready for user testing. @gabsie has volunteered.

[2022-11-28 13:49] #702 closed, assigned to gabsie

[2022-11-28 13:49] #753 closed, assigned to gabsie

[2022-11-28 14:38] gabsie commented on #858
What is the status here? @Mil-m ?

[2022-11-28 14:42] #866 closed, assigned to Mil-m

[2022-11-28 14:55] Mil-m commented on #858
Hi @gabsie
Is it Ok if I'll update it today evening or tomorrow morning?

[2022-11-28 16:49] MightyAx commented on #873
Tested with gabs on staging:

1. exporting
2. reexporting with filename change
3. reexporting with same filename

Deployed to PROD

[2022-11-28 16:53] MightyAx commented on #873
Re: Reexporting production spreadsheets made with the old file_name style has been sucessful using [this code](https://github.com/ebi-ait/ingest-exporter/blob/7b5b408a76063202eed678580a1d6895307ede27/reexport_spreadsheets.py#L46).

Deleting old files:
[code]

Sending new files:
[code]

[2022-11-29 00:29] Mil-m commented on #858
For this moment ->
need to fix the 'import a spreadsheet' request in Postman to receive a successful import (it will not guarantee that there will be any logs about the current error, possibly we will have to look at the logs inside docker containers)

[2022-11-29 09:38] Wkt8 commented on #873
7 projects files have been deleted and exported with new spreadsheet-type files in the terra staging area.

This ticket is now done.

[2022-11-29 09:44] Wkt8 commented on #872
@ofanobilbao to add some screenshots and then close the ticket because it does not seem to be reproducible.

[2022-11-29 10:22] ofanobilbao commented on #872
When I was going through the potential Kidney Atlas project list:
I added several to Ingest, triage them and labelled them Eligible. See screenshot of list of Projects that all of a sudden I discovered had no Status anymore.![List of Projects that should be Eligible.png](https://images.zenhubusercontent.com/5b6c1d07134f1f42006dc89f/68207038-7ffd-4e42-8065-ba86a4c166f7)

[2022-11-29 10:24] ofanobilbao commented on #872
Find one specific example (others were the same) of a project that I added for that Atlas effort. I added the project, triaged it and labelled it Eligible and as per the history (another screenshot) I can see status was removed in about 12h.
![Example of Proj labelled Eligible.png](https://images.zenhubusercontent.com/5b6c1d07134f1f42006dc89f/ee98cd0c-42c6-4feb-9cff-e2e84a680e81)
![Example of Proj

[2022-11-29 10:25] ofanobilbao commented on #872
2nd example of the same situation:
![Example Proj 2 Sc.png](https://images.zenhubusercontent.com/5b6c1d07134f1f42006dc89f/45ebf1e7-ccd4-461a-98e3-abc41844de34)
![Example Proj 2 Sc2.png](https://images.zenhubusercontent.com/5b6c1d07134f1f42006dc89f/78d923ef-6679-4db1-bf66-09c7680b79b2)

[2022-11-29 10:33] ofanobilbao commented on #872
Example of a project that was on Submitted status and went to No status.
![Example Proj Submitted to none.png](https://images.zenhubusercontent.com/5b6c1d07134f1f42006dc89f/52708ee7-a3e8-40b0-bcc1-55bad22c2558)
![Example Proj Submitted to none sc2.png](https://images.zenhubusercontent.com/5b6c1d07134f1f42006dc89f/e5ed97aa-9714-4daf-9b93-f5e6e63624ef)
![Example Proj Submitted to none sc3.png](https

[2022-11-29 10:35] ofanobilbao commented on #872
As per our discussion in stand-up earlier today, I am closing the ticket with all possible screenshots I took. In case we need to re-surface the ticket because the issue happens again. At the minute the errors seem to not be taking place. So the bug is either resolved or not reproducible anymore.

[2022-11-29 10:35] #872 closed, assigned to Mil-m

[2022-11-29 10:53] MightyAx commented on #873
### Exports that were "fixed"

- Submissions exported between the **16th and 25th of November**
- The first submissions to be exported with spreadsheets
- Exported with the "old" metadata uuid format that would mean the spreadsheet could not be updated, each export would be considered a "new" spreadsheet and duplicated in the DCP
- After the new feature was developed and the "metadata uuid" format

[2022-11-29 10:55] gabsie opened #880 "Validation error when editing a Project - Contributor institute is mandatory?"
To reproduce:
==========

- Create a new project or open up an existing one, edit some Project details like name, short name, species, etc
- Try and save, errors pop up about Institute, for every Contributor

Next steps:

- investigate how often we actually have Contributor institute
- make the Institute non-mandatory (why didn't it actually raise the error when creating?)

@ESapenaVentura, can yo

[2022-11-29 11:04] MightyAx commented on #873
@ofanobilbao Please see the list of projects above that are first of the exports to terra that will include metadata spreadsheet files.

[2022-11-29 11:07] ESapenaVentura commented on #880
Instution is a mandatory field when loading the ["contact.json" module](https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/module/project/contact.json#L7)

[2022-11-29 11:09] ESapenaVentura commented on #880
Most times, it's actually more likely that the contributor will have **multiple** institutes

The project was probably not raised because the "ignore validation errors" checkbox was ticked on project creation

[2022-11-29 13:51] gabsie commented on #880
Thanks, Enrique - will close for now :)

[2022-11-29 13:51] #880 closed, assigned to nobody

[2022-11-29 13:58] gabsie opened #881 "Contributor Ontology Role dropdown contains all kinds of ontologies"
Hi there

Another thing I noticed. When editing a contributor and wanting to assign a contributor role, I discovered the dropdown starts with all kinds of things (like biological processes, etc)

Can this dropdown just contain roles? This is very confusing if somebody like a contributor opened this field up?

Thanks
Gabby

[2022-11-29 14:13] Wkt8 opened #882 "CellxGene Interoperability Meetings"
Wei is going to meetings with Elizabeth Kiernan and Kaylee Matthews and other organisations to try and determine how well / easily they can use the cellxgene-wrangled matrices that we are pushing from the HCA.

[2022-11-29 14:16] Wkt8 opened #883 "eLwazi Catalogue Spin-up"
Wei is working with Isuru to spin-up an HCA-style catalogue for the eLwazi group and the DS-I Africa group projects.

[2022-11-30 09:58] gabsie opened #884 "Be able to update DCP1 datasets"
As a data wrangler, I want to update DCP1 datasets with data and metadata so that they are correctly displaying.

** Acceptance Criteria / Definition of Done **

* Given I go and update metadata/data for a DCP1 project
* When I enter the changes and Validate
* Then the projects will be exported successfully.

[2022-11-30 14:00] ofanobilbao commented on #873
Number 4 in the list has two submissions, one from 2019 with exported status and one from a few days ago, in metadata validating. I believe this might be the DCP1 dataset that Enrique was updating for the contributor including more data. That's not in the Import form so I will refrain from adding it for now

[2022-11-30 14:22] ofanobilbao commented on #873
Project: [79351583-b212-44ba-b473-731bdcddb407](https://contribute.data.humancellatlas.org/projects/detail?uuid=79351583-b212-44ba-b473-731bdcddb407)  - It was submitted in between some of the ones that already contain the spreadsheet. Why would this not contain it?

Project: [e0c74c7a-20a4-4505-9cf1-38dcdd23011b](https://contribute.data.humancellatlas.org/projects/detail?uuid=e0c74c7a-20a4-4505-9