[2022-01-17 09:57] ESapenaVentura commented on #613
Blocked by #616

[2022-01-17 10:00] ESapenaVentura commented on #612
@aaclan-ebi has a suspicion on what the error is, she will investigate (After #616)

[2022-01-17 12:08] MightyAx opened #617 "EBI Gitlab Runners <v13.0 fail"

[2022-01-17 12:19] jacobwindsor commented on #571
@aaclan-ebi That looks great thanks for catching that!

[2022-01-17 12:20] jacobwindsor commented on #575
Thanks @ofanobilbao

[2022-01-17 13:39] jacobwindsor commented on #616
@aaclan-ebi @MightyAx and I seem to have solved this issue by increasing the memory limit of the ingest runners to 4GB.

See [successful pipeline](https://gitlab.ebi.ac.uk/hca/ingest-ui/-/pipelines/232535)

[2022-01-17 15:39] ofanobilbao commented on #570
Adding to Gabby's last comment on this. I tested a scenario where I created a project from DOI, added the fields that we wanted for the catalogue (even more as I filled the entire first tab) but did not bother editing other tabs, like adding institutions for authors, or adding funders. In this scenario the system was giving me the validation error and removing it from the catalogue, even if all th

[2022-01-17 17:29] jacobwindsor commented on #613
PR https://github.com/ebi-ait/ingest-ui/pull/149

[2022-01-17 17:33] jacobwindsor commented on #321
@aaclan-ebi what is the lastest on this? I can pick it up if you're busy with other things

[2022-01-17 17:47] ke4 commented on #527
PR ebi-ait/ingest-archiver#69

[2022-01-17 17:49] ke4 commented on #615
Started to create a script to get the attributes, their type and probably other data from the schema and add it to the document. It is quicker than by do it manually.

[2022-01-17 18:42] aaclan-ebi commented on #612
It seems that I've unintentionally changed the behaviour on when the submission will be linked to the project as part of my changes in ebi-ait/dcp-ingest-central#549
https://github.com/ebi-ait/ingest-client/compare/d5654ab..04e6d5e?diff=split#diff-2617875dbb190b4041551953a829be7e70dc9172d66c8b63df7fb46d079d6c71L77-L79

**Before**:  The linking of submission to project will happen AFTER **creating

[2022-01-17 18:45] aaclan-ebi commented on #321
I haven't got a chance to investigate further the last [finding](https://github.com/ebi-ait/dcp-ingest-central/issues/321#issuecomment-970159103) Please feel free to pick up @jacobwindsor thanks!

[2022-01-18 09:36] ipediez commented on #612
@aaclan-ebi yes, it would be perfect if you could link that submission, which is already graph valid. Thanks!

[2022-01-18 09:36] gabsie commented on #616
For now this should be sorted.

[2022-01-18 09:37] gabsie commented on #613
Needs reviews and promoting.

[2022-01-18 09:38] gabsie commented on #527
Needs another review @amnonkhen

[2022-01-18 09:39] gabsie commented on #570
@MightyAx will review and work on this today

[2022-01-18 09:40] gabsie commented on #601
Some ideas were sent through by tech services how to protect our server.

[2022-01-18 09:45] gabsie commented on #612
New ticket has been created but it seems the Project overwrite has changed the behaviour of the submission linking.
@amnonkhen and @aaclan-ebi will discuss after standup how to unblock projects exporting.

[2022-01-18 09:49] gabsie commented on #615
Script is more or less ready. Wranglers can revise the spreadsheet for next sprint. (Dev ticket?)

[2022-01-18 11:06] MightyAx commented on #570
Temporarily ignored is not a state that exists in the system, providing some way for wranglers to remember to go back and fill out more information for projects to be added into the catalogue feels like a different feature to this.

It is indeed all validation, that is the only method of validation we have. If the validation rules for the catalogue and ingest are different, more change will be req

[2022-01-18 11:13] amnonkhen commented on #593
@wkt8 @esapenaventura please review [arguments.csv](https://github.com/ebi-ait/hca-to-scea-tools/pull/58/files#diff-522d008bf7896457ae1ae226169d71bd223e29f82dd9c11513f412c5ce9d7a0d) file and add or fix the parameters.

[2022-01-18 11:20] aaclan-ebi commented on #612
1 - [7b1f1a8d-4aa6-4d2d-a675-5b0589ed2d65](https://contribute.data.humancellatlas.org/submissions/detail?uuid=7b1f1a8d-4aa6-4d2d-a675-5b0589ed2d65) total count of entities 722
error: no error, this submission is linked to project HumanColonRewiringUlcerativeColitis and needs to be deleted

2 - [4bc044b2-aa53-4c8f-8d5e-a40e5b6c4cf1](https://contribute.data.humancellatlas.org/submissions/detail?uuid

[2022-01-18 12:01] ke4 commented on #615
I updated the document with the biomaterial attribute names and also populated other columns that we send with current archiving to DSP/ direct archiving in phase 1.
https://docs.google.com/spreadsheets/d/18LvAf8wv-yGV552kk0R3SlGf5oEmAyKdKZ2OMk9QMWk/edit#gid=1484105842

[2022-01-18 12:40] aaclan-ebi commented on #612
To summarise, there are 4 unique submissions noted above that are blocked:
- submission 2
- submission 9
- submission 6 - owned by UCSC
- submission with 98868 entities

Unblocked @ipediez and @idazucchi on their submissions

submission 2 - https://contribute.data.humancellatlas.org/projects/detail?uuid=cd61771b-661a-4e19-b269-6e5d95350de6&tab=upload

submission 9 - https://contribute.data.humance

[2022-01-18 12:40] aaclan-ebi commented on #612
**Dev notes:**

commands ran manually to link submission to project and delete submission errors:

[code]

[2022-01-18 12:42] aaclan-ebi commented on #612
I'll work on the fix on the importer code next to make sure linking of submission to project happens first when importing.

[2022-01-18 15:02] MightyAx commented on #608
Functionality finished in theory, building a test on the dev system.

[2022-01-18 16:18] jacobwindsor commented on #613
This is on staging and ready to test @Wkt8

- [x] Pagination works as expected on all tabs of submission
- [x] Filtering by validation status works as expected on all tabs of submission

[2022-01-18 16:47] Wkt8 commented on #613
Pagination and Filtering have been tested on Biomaterials, Processes, and Protocols tab in staging. Works as expected!

[2022-01-18 17:02] jacobwindsor commented on #617
Contacting Sandeep to see who to talk to

[2022-01-18 17:21] jacobwindsor commented on #617
After a brief discussion with Sandeep - the advice from web prod is not to use the EBI shared runners as there are issues with them. In this case, we can see how we go and deploy our k8s implementation to staging cluster as well if needed.

Alternatively, we can spin up our own "ingest-ops" separate cluster and that won't take resources away from dev or staging.

[2022-01-18 17:23] jacobwindsor commented on #598
This has been fixed by #613

[2022-01-18 18:57] jacobwindsor commented on #473
@aaclan-ebi I'm not sure how your proposed solution would work. It's the upload service that posts the original Invalid state right? At least I can't see any logs anywhere in Validator of "Unable to open..." (nor in upload service but I'm not very familiar with Cloudwatch)

[2022-01-18 18:58] ke4 commented on #614
I checked this issue and it looks like we are trying to submit samples that are already accessioned in BioSamples, but not owned by us. I am not sure that is possible to do. I already set up a catchup meeting with Isuru for tomorrow morning and discuss it with him.

[2022-01-18 19:02] jacobwindsor commented on #563
We could add an optional DCP url (or UUID) field to the project form for this - I can't think of another way.

I don't love that that field would be available for all projects (not just those from Lattice). Is there a way to distinguish Lattice team's projects from others? That way we could hide the new field.

[2022-01-18 19:05] jacobwindsor commented on #617
I have disabled shared runners for all projects

[2022-01-19 11:59] MightyAx commented on #608
Tested:
![dcp-608-submit-button](https://user-images.githubusercontent.com/13031259/150125433-14bb3c80-1b51-421a-be06-b9970bd902de.png)

[2022-01-19 14:38] amnonkhen opened #619 "populate_injest installation fails"
I am trying to set up the *populate_ingest* tool on a new laptop and getting the following error while installing the requirements to a freshly created virtual environment.

[code]

related to #382

[2022-01-19 14:41] amnonkhen commented on #619
@yusra-haider how did you manage to get this working?

[2022-01-19 15:02] aaclan-ebi commented on #616
It seems that using 4GB limit won't allow us to run tests in parallel, I'm seeing these errors in running the tests:
[code]
It seems that it's requesting 4GB for every job and other jobs couldn't run because of it
[code]

[2022-01-19 15:35] ke4 commented on #615
I also created a PR for the helper script: https://github.com/ebi-ait/ingest-archiver/pull/70

[2022-01-19 16:04] ke4 commented on #615
ENA XML schema is available to download [here](https://ena-docs.readthedocs.io/en/latest/submit/general-guide/programmatic.html#types-of-xml)

[2022-01-20 09:23] yusra-haider commented on #142
[miro board](https://miro.com/app/board/uXjVOeQdM0A=/) with UX design and architectural flow

[2022-01-20 09:40] idazucchi commented on #612
PR ready, review needed

[2022-01-20 09:42] MightyAx commented on #608
Please ignore the above updates to ingest-ui, as this needs to be fixed in Ingest Core:
https://github.com/ebi-ait/ingest-ui/pull/150#pullrequestreview-857128097

[2022-01-20 09:43] idazucchi commented on #615
@ESapenaVentura will write the ticket for the wranglers to review the document

[2022-01-20 09:45] idazucchi commented on #600
@aaclan-ebi will work on this today

[2022-01-20 09:48] MightyAx commented on #509
1. Use Europe PMC to check DOI Exists
![Screenshot](https://user-images.githubusercontent.com/13031259/150173412-b444ce50-5a18-4ebe-a98f-baab76a170d8.png)

2. When Europe PMC doesn't provide all the properties we now use what we can rather than crashing.
![Screen Recording](https://user-images.githubusercontent.com/13031259/150173862-2a11f363-a27a-41fb-8b21-9e6bf8423d14.mov)

[2022-01-20 09:49] idazucchi commented on #509
@MightyAx will continue to work in this, then @ofanobilbao and @gabsie will to some checks

[2022-01-20 09:50] idazucchi commented on #321
@jacobwindsor is looking at this

[2022-01-20 09:52] idazucchi commented on #142
Creating the UI endpoint for the broker
@gabsie to take a look at the miro board

[2022-01-20 09:57] idazucchi commented on #614
NCBI samples are owned by someone else so we can't submit them or edit them
The error message was not user-friendly @ke4 will create a ticket for this
@ke4 and @Wkt8 to discuss on how to proceed

[2022-01-20 11:13] ipediez opened #620 "Unable to un-assign primary or secondary wrangler"
**Description of the task:**

The project [Multiomics single-cell analysis of human pancreatic islets reveals novel cellular states in health and type 1 diabetes](https://contribute.data.humancellatlas.org/projects/detail?uuid=22eed35e-0062-4c7f-90ed-388e6c29a84f&tab=project) is not wrangleable right now, as it is a pre-print with no data or metadata available at the moment. To avoid this affectin

[2022-01-20 14:13] MightyAx commented on #509
Added functionality based PR feedback
1. **If the DOI does not exist the wrangler email link includes the searched for DOI**
    - ![Screenshot 2022-01-20 at 14 02 43](https://user-images.githubusercontent.com/13031259/150353836-d7847304-e32f-4085-8f3f-a15f94aadc2e.png)
2. **If the DOI is already used in a project (or more), a link to the project(s) is given in the error message:**
    - ![Screens

[2022-01-20 16:41] aaclan-ebi commented on #612
Another submission was affected by the linking issue https://contribute.data.humancellatlas.org/submissions/detail?uuid=310e23bf-ed26-4447-a2d5-d666e558b3a1. The manual fix was done.

The fix is now deployed in prod.

[2022-01-20 17:29] jacobwindsor commented on #509
This is now in staging for testing @ofanobilbao @gabsie

[2022-01-20 18:00] jacobwindsor commented on #321
[This PR](https://github.com/ebi-ait/ingest-core/pull/108) can be reverted when we have figured this out

[2022-01-21 07:00] ofanobilbao commented on #509
Thanks @jacobwindsor and @MightyAx

Tests below:

Test 1: I have tested the DOI that was being stuck for me before. Now it creates the entry in Ingest despite EuropePMC not containing all the fields. This is the expected behaviour right? Or should we pop a message saying that we have populated as much as we could? Otherwise there is no difference with "perfect match" with Europe PMC right?

Test 2

[2022-01-21 09:38] aaclan-ebi commented on #576
@gabsie will create tickets for further work.

[2022-01-21 09:39] aaclan-ebi commented on #600
@aaclan-ebi will continue work today.

[2022-01-21 09:40] aaclan-ebi commented on #321
from @jacobwindsor

[2022-01-21 09:41] aaclan-ebi commented on #142
@yusra-haider created PR's , will continue working on the UI changes today.

[2022-01-21 09:41] aaclan-ebi commented on #528
@ke4 started this again and will continue work today.

[2022-01-21 13:50] jacobwindsor commented on #321
I have triggered a lot of integration test runs (>10) and this error has not occured. The logs can be left until we see this again and can investigate

[2022-01-21 14:03] jacobwindsor commented on #473
The two below submissions have failed with this error:

https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=b5dfaf0b-785e-49b4-891c-8513556b0099
https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=dbedbbc1-e88f-41d8-9467-1e3a9b7dd782

[2022-01-21 15:47] jacobwindsor commented on #509
@ofanobilbao I think [this PR](https://github.com/ebi-ait/ingest-ui/pull/154) addresses your issues in Test 4 and also adds a loading state which should make the "hanging" effect less tedious. See images in the PR description

About test 1 - is there any actions?

[2022-01-23 11:39] prabh-t commented on #521
Prabhat has now tested this on one of the two large data sets Enrique provided:
1.
s3://hca-util-upload-area/517faf99-ef45-4190-9a82-1150fb27bfd9/
GSE151192_ontologies_20210707.xslx

2. THIS ONE
s3://hca-util-upload-area/63254179-d1ae-456e-8df0-4de0810c284e/
Roser_vento_endometrium_no_organoid-2021-10-14T11-01-31_ontologies.xlsx

Submission summary:
Size: ~450GB (total)
UUID: https://dev.contribut

[2022-01-23 11:41] prabh-t commented on #521
Data archiver log:
[code]

[2022-01-23 12:28] prabh-t commented on #609
This will require some refactoring to be able to mock / implement a dry run version of the external api service calls.
Since the dependency is injected further down from the main entry point, it is not straightforward to pass a mock service instead. If we are able to instantiate all the external service dependencies closer to the main entry, it would be easier to mock. @ingest-devs suggestions wel

[2022-01-24 06:48] ofanobilbao commented on #509
Thanks @jacobwindsor! Looking at the PR images, it looks as if this should sort that out. About test 1, I would just ignore it for the time being. Looking at my comment retrospectively that would probably just be an enhancement (if anything) if we open up the system beyond wranglers.

[2022-01-24 08:53] prabh-t commented on #529
Update: Prabhat has started to work on this, and has generated the model classes from the XSDs (for experiment and run XMLs), and now looking at the hca->ena experiment mapping.

[2022-01-24 09:06] prabh-t commented on #579
mtg scheduled for Thursday 27th, Jan.

[2022-01-24 09:12] prabh-t commented on #492
Think this is done.
- ingest-archiver/README.md contains the sequence diagram ([HCA Ingest to EBI Archives Flow](https://github.com/ebi-ait/ingest-archiver/blob/dev/README.md#hca-ingest-to-ebi-archives-flow)), and
- ingest-archiver/doc ([Data files to EBI Archives](https://github.com/ebi-ait/ingest-archiver/blob/dev/doc/data_files_archiving.md))

[2022-01-24 09:27] prabh-t commented on #521
PR: https://github.com/ebi-ait/ingest-data-archiver/pull/1

[2022-01-24 09:40] ipediez commented on #509
@MightyAx to check the PR and review it

[2022-01-24 09:41] MightyAx commented on #509
already done

[2022-01-24 09:43] ipediez commented on #608
Deployed on staging, ready for testing.

[2022-01-24 09:45] gabsie opened #621 "Research questions for interviews with scientists"

[2022-01-24 09:46] gabsie opened #622 "Schedule interviews and invite wranglers as observers"

[2022-01-24 09:46] ipediez commented on #521
@ke4 to review it

[2022-01-24 09:48] ipediez commented on #142
The two PR's are in progress, it might be needed help from another developer

[2022-01-24 09:49] ipediez commented on #528
@ke4 to continue working today

[2022-01-24 09:50] yusra-haider commented on #142
PRs raised here:

for the geo-to-hca: https://github.com/ebi-ait/geo_to_hca/pull/32
ingest broker: https://github.com/ebi-ait/ingest-broker/pull/25
ingest ui:https://github.com/ebi-ait/ingest-ui/pull/152/files

[2022-01-24 11:00] gabsie opened #623 "Provide Visium metadata spreadsheet in format we are going to get through backoffice"

[2022-01-24 11:00] gabsie opened #624 "Provide spreadsheet in flattened form - to follow from the one for submission"

[2022-01-24 11:33] Wkt8 commented on #623
@Wkt8 will do this

[2022-01-24 14:28] jacobwindsor opened #625 "Release 12 projects missing from Catalogue"
Projects from release 12 are not in the catalogue and are not set to "Published in DCP"

[2022-01-24 14:32] gabsie commented on #623
Hey, @Wkt8 - let me know when you can put the XLS sheet for the imaging dataset here. I will afterwards let Amnon create the flattened version for it..  :)

[2022-01-24 15:08] jacobwindsor commented on #625
The below projects are not displaying because they do not have DOIs and hence an empty array in `publicationsInfo`. This could be changed so that they do display and say "pre-publication or citation missing". I think that used to be the case? @gabsie @ofanobilbao to decide

[code]

There are also many projects from release 12 that have no been included in the catalogue. For this reason, they have

[2022-01-25 09:36] MightyAx commented on #509
still waiting for dev's to review https://github.com/ebi-ait/ingest-ui/pull/154

[2022-01-25 09:38] yusra-haider commented on #607
PR up for review: https://github.com/ebi-ait/ingest-ui/pull/155

[2022-01-25 09:39] yusra-haider commented on #608
waiting for wrangler testing @Wkt8

[2022-01-25 09:40] yusra-haider commented on #142
Still waiting for approvals from devs

[2022-01-25 09:42] yusra-haider commented on #600
@aaclan-ebi  had a meeting @gabsie and @amnonkhen to clarify UX flow. This will be carried over for next sprint

[2022-01-25 09:44] yusra-haider commented on #528
@ke4 refactoring the code (conversion and submitter flow). @ke4 to discuss with @prabh-t regarding the refactoring and potential side effects.

[2022-01-25 09:44] yusra-haider commented on #614
@ke4 is refactoring the code

[2022-01-25 09:45] yusra-haider commented on #529
@prabh-t got some clarification on this from @MightyAx about the historical code context. still in progress.

[2022-01-25 11:17] MightyAx commented on #509
releasing to staging

[2022-01-25 13:12] Wkt8 commented on #623
https://docs.google.com/spreadsheets/d/1fBm89rJvvfHODg1u3vtmnRth4VftGqSi/edit?usp=sharing&ouid=114069941208994528669&rtpof=true&sd=true

[2022-01-25 13:15] gabsie commented on #623
nice, thanks @Wkt8!

[2022-01-25 13:20] gabsie commented on #624
Hey @amnonkhen

@Wkt8 has already supplied a metadata spreadsheet for the first Visium dataset.
Would it be possible to create a flattened version for this file?
https://docs.google.com/spreadsheets/d/1fBm89rJvvfHODg1u3vtmnRth4VftGqSi/edit?usp=sharing&ouid=114069941208994528669&rtpof=true&sd=true
(FYI - this is a real spreadsheet for a real project)

cc @Wkt8 @ipediez if you guys need to advise on

[2022-01-25 13:44] Wkt8 commented on #608
LGTM!

[2022-01-25 14:52] MightyAx commented on #509
Pending testing by @gabsie / @ofanobilbao before being released to production.

[2022-01-25 15:37] aaclan-ebi commented on #608
Thanks @Wkt8 . This is in prod now.

[2022-01-26 02:26] gabsie commented on #621
Research questions for our interviews are here:
https://docs.google.com/document/d/1zBfMO9-rwQQcR4VwgJvMGWh60iDhlB6TssaNZDtAOuk/edit?usp=sharing

[2022-01-26 02:34] #514 closed, assigned to aaclan-ebi

[2022-01-26 02:34] #558 closed, assigned to gabsie

[2022-01-26 02:35] #575 closed, assigned to jacobwindsor, MightyAx

[2022-01-26 02:40] #480 closed, assigned to gabsie

[2022-01-26 07:01] ofanobilbao commented on #509
Tests:

1. When I introduce a complete URL rather than the DOI, as expected, an error message appears telling me what the right format should look like, and showcasing a possible format for my specific example. When I correct it to match the format, it creates the project populating with whatever is found in EuropePMC (not saved it for future testing). Looks great to me.

2. When I try to enter a

[2022-01-26 07:25] ofanobilbao opened #626 "Add "Needs Update" status to Ingest Status"
As a wrangler, I want to be able to mark a project as requiring updates so that Ingest is the source of truth rather than having to remember to create or move a ticket in the Zenhub board every time a need for update is identified. This would also enable me to quickly filter by the status when I plan to do updates.

As a stakeholder, I want to be able to understand what percentage of the projects

[2022-01-26 09:36] gabsie commented on #562
Closing this as a duplicate for 576

[2022-01-26 09:36] #562 closed, assigned to gabsie

[2022-01-26 09:54] gabsie opened #627 "Automatic project status update to In Progress"
As a data wrangler and stakeholder, I want to have a correct view of how many projects have been Submitted over a certain period of time.

This [Miro board](https://miro.com/app/board/uXjVPcuO51U=/) prepared by @ESapenaVentura @Mil-m & @amnonkhen contains the project status transition chart and outlines the required transitions to be automated.

## **Current situation**:
A data wrangler would forg

[2022-01-26 10:01] gabsie opened #628 "When entering a GEO accession, create a project similar to the DOI flow"
As a data wrangler, I would like to create a project in ingest backoffice based on a GEO accession, and save with its existing information.  (So that wranglers can know who is working on what)

This is an improvement of the GEO to HCA spreadsheet generation functionality we already have in place.

[2022-01-26 10:04] amnonkhen opened #629 "automate resource cleanup after submission deletion"
When Wranglers delete a submission, the corresponding s3 bucket needs to be deleted. It is currently a manual "dev on ops" task, but it should be automated.
See ebi-ait/hca-ebi-wrangler-central#615

[2022-01-26 10:20] amnonkhen opened #630 "track doc usage in google analytics"
We should track our documentation usage in Google Analytics.

[2022-01-26 10:49] gabsie commented on #142
pls approve, devs :)

[2022-01-26 10:52] gabsie commented on #521
some tasks missing but th ney need new tickets

[2022-01-26 11:00] gabsie commented on #628
This would need a design meeting to sort out the flow and make it consistent with the DOI flow..
Let's have a meeting with @ESapenaVentura and devs who decide to take on this task

[2022-01-26 11:13] gabsie commented on #628
@aaclan-ebi will join the discussion together with Yusra and Amnon.

[2022-01-26 11:17] prabh-t opened #631 "Create an external available endpoint to trigger data archiving"
It was expected this request would come from another ingest component for e.g. ingest-core/-archiver, but we realised it may be useful to be triggered by end-users as well, thus this endpoint to initiate the process in the background.

This would effectively automate Step 2 (of 3) of the current Archiving SOP.

This can be in ingest-core or ingest-archiver, both with external IP/domain name.

- [x

[2022-01-26 11:18] gabsie commented on #268
1. How to make this a MVP from this ticket - Gabs to schedule a meeting to discuss her idea.

[2022-01-26 11:20] gabsie commented on #574
Linked to 268

[2022-01-26 11:34] gabsie commented on #268
Invite @aaclan-ebi to the meeting

[2022-01-26 11:36] MightyAx commented on #620
Reviewer's: @aaclan-ebi & @yusra-haider

[2022-01-26 12:49] MightyAx commented on #620
This issue is 2 fold:
1. there is no interface (clickable) to allow "clearing a wrangler assignment" or "setting the default value" for primary or secondary wranglers.
2. The underlying data for an unassigned project is `primaryWrangler: null`, ingest-ui strips out all null values before sending the data to ingest core.
     - This affects more fields than primary / secondary wrangler and will hav

[2022-01-26 13:02] amnonkhen commented on #628
@yusra-haider , @aaclan-ebi @ESapenaVentura & @amnonkhen had a design discussion.

created a branch with the sequence diagram: [feature/dcp-628-new-project-from-geo](https://github.com/ebi-ait/ingest-broker/tree/feature/dcp-628-new-project-from-geo)

[2022-01-26 13:37] gabsie commented on #624
Hey @amnonkhen - spreadsheet is above. Imaging information is in the last 4 tabs. They more or less link the imaged specimens back to a specimen, to a protocol and a file. @Wkt8 can provide more info :) to your other questions.

[2022-01-26 17:37] MightyAx commented on #620
Work in progress solution for problem 1: "there is no interface (clickable) to allow clearing a wrangler assignment":
![Screenshot 2022-01-26 at 17 32 05](https://user-images.githubusercontent.com/13031259/151216312-3161b88a-f7fa-40c3-9864-b07defbf6f5d.png)
![Screenshot 2022-01-26 at 17 32 20](https://user-images.githubusercontent.com/13031259/151216327-17ed67e1-9044-4026-80f0-5038c0b642e0.png)
![

[2022-01-26 18:02] idazucchi opened #632 "Unable to download spreadsheet from ingest"
**Describe the bug**
I am unable to download a spreadsheet for project NucleiMultiplexHashing

**To Reproduce**
1. Go to the [submission page](https://contribute.data.humancellatlas.org/submissions/detail?uuid=e6dca5ce-60b2-4087-97bd-fb32b20db01a&project=dc1a41f6-9e09-42a6-959e-3be23db6da56)
2. Click on Download spreadsheet
3. Wait
4. Service unavailable message appears - the waiting message is ov

[2022-01-26 22:38] yusra-haider commented on #142
all PRs are merged now. Feature is now available on dev environment for testing

[2022-01-27 09:37] amnonkhen commented on #623
@amnonkhen to verify table linking with @Wkt8

[2022-01-27 09:37] amnonkhen commented on #142
@ESapenaVentura to test

[2022-01-27 09:40] amnonkhen commented on #600
Alegria to publish PRs for review this morning.

[2022-01-27 12:35] ESapenaVentura opened #633 "Linking entities from another submission alter submission status from original submission"
**Describe the bug**
Linking an entity from another submission will kick the original submission back to "metadata valid" status

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a project page with an exported submission
1. Create another submission
1. Link protocols from exported submission into new submission

**Expected behaviour**
The status from the previous submission is not chan

[2022-01-27 14:25] MightyAx commented on #620
Current Sequence Diagram: https://miro.com/app/board/uXjVOSWgtMw=/

[2022-01-27 17:43] aaclan-ebi commented on #600
@gabsie @amnonkhen I updated the miro board of actual screenshots of what I've implemented: https://miro.com/app/board/uXjVOX88PlI=/

It changed quite a bit from the original, part of the changes are what we also discussed last Friday and a little more UI touches which I think are helpful. Please let me know if you have comments or anything you want to change.

[2022-01-28 09:24] gabsie commented on #268
Hey everyone, just posted this as an old design, but we need to get a meeting in order to see how it fits/doesn't fit![7.3.3 Contribute.My Projects  - Contacts Add another.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/ce19b418-728d-4fb0-b040-b8cca397ed76)

[2022-01-28 09:36] amnonkhen commented on #624
@gabsie @Wkt8 please review
[https://app.zenhub.com/files/299258791/9330eb69-8da3-4883-af08-02ee6921e839/download](https://app.zenhub.com/files/299258791/9330eb69-8da3-4883-af08-02ee6921e839/download)

[2022-01-28 09:40] prabh-t commented on #624
Amnon to schedule a mtg with Wei.

[2022-01-28 09:42] prabh-t commented on #607
@jacobwindsor to help with testing.

[2022-01-28 09:46] amnonkhen commented on #321
This has not happened recently. Moving to icebox.

[2022-01-28 09:48] amnonkhen commented on #625
pending discussion @gabsie @jacobwindsor @ESapenaVentura
@gabsie to schedule for next week.

[2022-01-28 09:50] amnonkhen commented on #628
@aaclan-ebi @yusra-haider to pair up on this.

[2022-01-28 09:51] amnonkhen commented on #600
needs PR reviews from devs
needs UI reviews from @gabsie

[2022-01-28 10:19] Wkt8 commented on #624
Gave some feedback to amnon (coordinates file not there, some of the analysis_protocol fields are showing information that isn't 100% accurate). Will have another catchup later!

[2022-01-28 10:41] gabsie opened #634 "Explore and map out the current data submission flow and steps, and insights on how it should improve"
Initially this is a meeting with representatives of backend (dev), Gabs, Amnon and map out what is happening currently

Acceptance criteria - a workflow of the current situation, + identification of pain points by wranglers

[2022-01-28 11:04] gabsie opened #635 "Transform the current View mode for Contributors in a table view"

[2022-01-28 16:31] aaclan-ebi commented on #142
Deployed broker changes to staging.

@ESapenaVentura this should be ready for testing in staging.

[2022-01-31 09:38] MightyAx commented on #600
Need Review:
https://github.com/ebi-ait/ingest-broker/pull/26
https://github.com/ebi-ait/ingest-client/pull/40
https://github.com/ebi-ait/ingest-core/pull/109

[2022-02-01 09:34] ipediez commented on #528
Amnon and Alegria reviewed it and @ke4 is still working on it. Almost finished.

[2022-02-01 09:36] ipediez commented on #142
@ESapenaVentura to do this today and @yusra-haider to check

[2022-02-01 09:37] ipediez commented on #625
A meeting took place, @jacobwindsor to pick some of the tasks described in the previous comments. @gabsie to check if this needs to be converted into an epic.

[2022-02-01 09:38] ipediez commented on #600
@aaclan-ebi got the reviews and applied the comments, devs to take another look at it

[2022-02-01 09:41] yusra-haider commented on #142
@ESapenaVentura I just checked and the feature is already on staging env. We're all set to go ahead with testing :)

[2022-02-01 09:41] ipediez commented on #620
@gabsie @ipediez and @ofanobilbao to take a look at the design and the functionality

[2022-02-01 09:45] ipediez commented on #529
@ESapenaVentura : this discussion took place before, it might be information available at Google Drive.
@amnonkhen : this needs a proper discussion with a wrangler.
@ke4 to organise a meeting

[2022-02-01 13:50] ke4 commented on #528
Finished applying all the suggestions from @aaclan-ebi and @amnonkhen in the PR: https://github.com/ebi-ait/ingest-archiver/pull/71 and waiting their approval.

[2022-02-01 15:10] ke4 commented on #614
I checked this submission with the archiving script and here is my summary:

This is the response:
[code]

Unfortunately this `No message available` error message is coming from BioSamples.
I already talked with Dipayan and they are going to fix this right away and provide a better and more clear error message.
But that does not mean that we could update somebody's else sample.
The above submissio

[2022-02-01 15:40] ke4 commented on #551
I found the following `pypi` related files in this repository (https://github.com/ebi-ait/ingest-graph-validator):
- Dockerfile
- Makefile
- README.md (version image from pypi)
- README.template (a section related to pypi)
- setup.cfg
- setup.py
- version

[2022-02-01 18:28] ke4 commented on #635
I would be glad to do some UI work. It would be a change from archiving work, at least for a short amount of time. 😊
So, happy to pair on this with @aaclan-ebi if that is fine with her.

[2022-02-02 10:26] aaclan-ebi commented on #600
Hi @ESapenaVentura The changes are all deployed to staging and ready for testing.
Please check miro board to see the new flow: https://miro.com/app/board/uXjVOX88PlI=/https://miro.com/app/board/uXjVOX88PlI=/

[2022-02-02 14:49] ipediez commented on #632
This is blocking one of my datasets too

[2022-02-02 21:20] ke4 commented on #551
@jacobwindsor I created a new setup.py for the entry point according to this article: https://chriswarrick.com/blog/2014/09/15/python-apps-the-right-way-entry_points-and-scripts/.
I tested it and it worked for me.
I also added the missing steps to the README file.

Here is the PR: https://github.com/ebi-ait/ingest-graph-validator/pull/68

[2022-02-03 09:06] gabsie commented on #632
Hey @aaclan-ebi - is this something you have taken? I think we need to escalate this investigation :)

[2022-02-03 09:38] Wkt8 commented on #632
https://drive.google.com/open?id=1vVQJon-IBKhQnDIaltaHtFRFz3LftI0E&authuser=mshadbolt%40ebi.ac.uk&usp=drive_fs

[2022-02-03 09:39] Wkt8 commented on #624
Amnon to try and find some capacity for this.

[2022-02-03 09:40] Wkt8 commented on #607
Jacob to check if in prod.

[2022-02-03 09:41] gabsie commented on #620
Hi, @MightyAx - I am good with the designs shown above !

[2022-02-03 09:42] Wkt8 commented on #528
Need approval from @amnonkhen

[2022-02-03 09:43] Wkt8 commented on #614
@Wkt8 to provide another submission without accessions owned by NCBI.

[2022-02-03 09:48] Wkt8 commented on #628
Alegria and yusra have divided up the work and are improving the feature.

[2022-02-03 09:50] Wkt8 commented on #529
Meeting organised for today.

[2022-02-03 10:10] MightyAx commented on #620
@ofanobilbao you wanted to know the other fields that can't currently be un-set, that should be resolved by current intended solution:
- Project Information Fields:
    - releaseDate
    - accessionDate
    - dataAccess
    - technology
    - identifyingOrganisms
- Wrangler Admin Fields:
    - primaryWrangler
    - secondaryWrangler
    - wranglingState
    - wranglingNotes
    - dcpReleaseNumber

[2022-02-03 10:38] aaclan-ebi commented on #632
Interesting, i see the following error in prod logs for Ida's submission
[code]

[2022-02-03 11:39] amnonkhen opened #636 "isolated environment for feature development"
Enable isolated environment for feature development.

- [ ] docs
- [ ] setup scripts
- [ ] ci/cd
- [ ] being able to share a running env with Wranglers

see #573

[2022-02-03 13:54] ESapenaVentura commented on #142
Tested it, I have a couple of small comments:

- Adding an invalid accession (or string, for that matter) returns an error but also makes it so that you need to reload the page (see pic below). Could we make it similar to the DOI error, so that you don't need to refresh?

![Screenshot 2022-02-03 at 13.48.48.png](https://images.zenhubusercontent.com/5ca5f897027e3e7234ac788c/82c946cc-2a3f-4223-9afb-

[2022-02-03 14:08] aaclan-ebi opened #637 "Cannot view the input files in the process details in the UI"
**Steps to Replicate**
1. Upload a spreadsheet with sequencing file and analysis file linking
2. View the submission in the UI
3. Go to _Processes_ tab
4. Find the process and expand the row details of that process

**Actual Behavior:**
Could not view the input sequencing file. It seems like the input files are missing.

**Expected Behaviour:**
UI should show the input files

e.g.
Process has inpu

[2022-02-03 14:09] aaclan-ebi commented on #637
reported by @idazucchi

[2022-02-03 14:17] aaclan-ebi commented on #632
Seems like the downloader implementation is not able to handle datasets with file to file linking (e.g. sequencing file to analysis file linking). I'll work on a fix for this.

[2022-02-03 14:45] ke4 commented on #321
This is happening again.
Here are the last 3 failed jobs from gitlab:
https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/jobs/718739
https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/jobs/719090
https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/jobs/718740

[2022-02-03 15:26] jacobwindsor commented on #321
@ke4 I see that these are not all caused by the same issue. There are different errors in the integration tests' submissions

https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=442f58de-9761-40f6-b7b9-d95cfd3a905f
https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=fe0a2221-78bd-44bb-bb7e-6d5514c36c21
https://dev.contribute.data.humancellatlas.org/submissions

[2022-02-03 16:00] MightyAx commented on #620
Awaiting PR Reviews

[2022-02-04 09:37] idazucchi commented on #551
@ke4 and @jacobwindsor to discuss

[2022-02-04 09:41] idazucchi commented on #620
Jacob is reviewing

[2022-02-04 09:48] idazucchi commented on #142
@aaclan-ebi is going to push some changes as part of 628 which could solve the issue Enrique pointed out

[2022-02-04 09:55] idazucchi commented on #628
@MightyAx and @ke4 to review Alegria's PR

[2022-02-04 09:56] ESapenaVentura opened #638 "geo_to_hca not working for GSE52529"
**Describe the bug**
GEO to HCA tooling does not work for 2 accessions. Until we got further details, the accession is:
- GSE52529

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'all projects' page in the UI
2. Click on "New project"
3. Click on generate spreadsheet with geo accession
4. Input GSE52529

**Expected behaviour**
A spreadsheet is generated

**Environment**
- [x] prod
- [

[2022-02-04 09:57] idazucchi commented on #632
@aaclan-ebi to work on this

[2022-02-04 09:58] idazucchi commented on #529
second part of the meeting today

[2022-02-04 11:55] aaclan-ebi opened #639 "Investigate cors issue in broker endpoints"
This happened in dcp-142 and may also be an issue in other broker endpoints.

[2022-02-04 13:44] amnonkhen commented on #624
v0.4 - image files and analysis files, hidden empty columns
(https://app.zenhub.com/files/299258791/07201c29-3d3f-4ddf-bd08-c66177112a72/download)

[2022-02-04 16:04] ke4 opened #640 "Archiving: Idempotency (only submit entities if they need to be submitted)"
We have to check if the entity - we would like to archive - has an accession belongs to us.
If yes we could go and send it to the archive.
If not we should skip it from the archiving process, but we have to report the list of entities not been submitted to the user at the end of archiving and the reason why they have not been archived.

**Acceptance criteria**:
- We should be able to archive new e

[2022-02-04 16:38] ke4 opened #641 "Integration test for bulk update is failing"
When we execute integration test for bulk update it is failing.
Here is the log:
[code]
It looks like the example file has been changed.

[2022-02-04 17:15] yusra-haider commented on #142
This is what the current functionality looks like when run locally:

https://images.zenhubusercontent.com/299258791/e7f90f50-1566-494b-aa9f-03086d711275/screen_recording_2022_02_04_at_17_05_43.mov

The issue reported by Enrique is due to the `OPTIONS` call failing due to `CORS` errors. We fixed that in https://github.com/ebi-ait/ingest-broker/pull/28 but discovered that the change is causing the U

[2022-02-04 17:16] yusra-haider opened #642 "Fix cross origin access in import-geo endpoint, in broker"

[2022-02-07 09:42] aaclan-ebi commented on #631
@prabh-t updating the sop re data archiving. There's a PR for review.

[2022-02-07 09:43] aaclan-ebi commented on #529
@prabh-t had a meeting with Karoly and Amnon. @prabh-t to finalise the design/approach.

[2022-02-07 10:32] amnonkhen opened #643 "Archiving - New Features"
This epic golds "post dsp retirement"new features for the archiving.

[2022-02-07 10:33] yusra-haider commented on #642
PR raise here: https://github.com/ebi-ait/ingest-broker/pull/30

[2022-02-07 10:34] yusra-haider commented on #142
PR for the fix raised here: https://github.com/ebi-ait/ingest-broker/pull/30

[2022-02-07 11:35] MightyAx commented on #620
Review comments resolved, merged and deployed to dev.
merged to master and deployed to staging.
Will sit with @Wkt8 this afternoon to verify.

[2022-02-07 12:12] aaclan-ebi commented on #628
We've got changes on the UI flow: https://miro.com/app/board/uXjVOQXsRrU=/
pls check @gabsie @amnonkhen

[2022-02-07 13:17] Wkt8 commented on #614
https://drive.google.com/drive/folders/1YqzWhKdE0bJMZnGNNi2LvmZCFjGQV5sH
This spreadsheet created by @ESapenaVentura should be suitable. Thanks Enrique!!

[2022-02-07 13:44] Wkt8 commented on #620
Have sat with @MightyAx and tested it - looks great. Clear, and fulfils what we are trying to do. I think we can put this into production.

[2022-02-07 13:49] MightyAx commented on #620
Deployed to Production.
Verified functionality is on production

[2022-02-07 14:42] aaclan-ebi commented on #632
@idazucchi it seems that the dataset is using a protocol from a different project/submission d58f1239-387d-4a39-bc79-bb29b765863d , https://api.ingest.archive.data.humancellatlas.org/protocols/60feb094ad68e2545d23bd93  Is this intended?

@ipediez could you paste here the UI link to your dataset?

Thanks!

[2022-02-07 14:56] ke4 commented on #640
**BioSamples**:  it is easy to check whether a sample belongs to us: get the sample by accession and verify that the domain field equals to our AAP domain.
**BioStudies**: I started a conversation regarding to this problem with their dev team as it seams to me their downloadable JSON payload is not containing any ownership information.
**ENA**: get the ENA entity from the archive and validate the

[2022-02-07 15:16] ke4 commented on #640
The latest information from BioStudies Team:

`Juan Rada  3:07 PM`
`We will need to create a new endpoint for metada retrieval of submission, we can include this type of information, as owner, submitter, creation time, etc.
I will create ticket and put it in backlog. Right now we are working in some others ticket but we may include it in next spring. We will update you after spring planning meetin

[2022-02-07 15:41] prabh-t commented on #631
~~https://github.com/ebi-ait/ingest-data-archiver/pull/6~~ **Merged**
~~https://github.com/ebi-ait/ingest-archiver/pull/72~~ **Merged**
https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/633 needs wrangler feedback

[2022-02-07 16:06] ESapenaVentura commented on #600
I have tested the feature:

- With a small dataset, it works great! just as intended
- With a big dataset, I haven't checked yet, but we found a bug ( @aaclan-ebi can give more details on this) related to hitting the button before the submission is fully imported

Just a small comment, I would love to see an option to get an email notification when the spreadsheet generation is finished, but I thi

[2022-02-07 16:13] aaclan-ebi commented on #600
Thanks @ESapenaVentura

Issues:

- [ ] 1 - don't allow user to download while importing/linking - i thought i added this check, i need to verify
- [ ] 2 - exporting causes another user's importing to fail https://github.com/ebi-ait/ingest-broker/pull/32 - awaiting 1 more review

[2022-02-07 17:15] jacobwindsor opened #644 "Allow for cross-submission graph validation"
**User story**
As a wrangler, I want to re-use entities across submissions and have the graph validate correctly.

[Example submission](https://contribute.data.humancellatlas.org/submissions/detail?uuid=16bc680d-8044-4457-9509-3661d178e84a&project=e5d45579-1f5b-48c3-b568-320d93e7ca72)

**Tasks**

- [x] Figure out how. Hydrate with all project entities (including duplicates) or hydrate by crawling

[2022-02-07 17:35] ke4 commented on #463
We only have the credentials for the dev account.
I asked Amnon to request credentials for `prod`, too.
We don't need it for `staging` as we are already using BioStudies test env with our dev and staging env.

[2022-02-07 17:36] ke4 commented on #463
I registered our hca-archiving-broker-prod@ebi.ac.uk with BioStudies test environment and they sent an email to that address to activate our new account. I am probably not subscribed to that email list, so I need @amnonkhen to help me to access that email list and activate our new account.

[2022-02-08 09:22] aaclan-ebi commented on #632
Re my question above, @idazucchi confirmed that the protocol linking was fixed yesterday.

PRs ready for review:
https://github.com/ebi-ait/ingest-client/pull/43
https://github.com/ebi-ait/ingest-core/pull/112

[2022-02-08 09:40] ipediez commented on #632
Submission UUID: `85b5d566-bb78-4bed-89e6-2f44e7b6bd48`
Project: `5b328561-4a97-40ac-b7ad-6a90fc59d374`

[2022-02-08 10:34] aaclan-ebi opened #645 "Do not allow download if importing is in progress"
related to ebi-ait/dcp-ingest-central#600

**Step/s to replicate:**
Upload a spreadsheet to create big submission (~800 metadata) - this may take long

**Actual Behavior:**
The user is not able to see linking progress.
The user is able to download a spreadsheet even when linking hasn't finished yet

**Expected behaviour:**
The user should see that linking is in progress
The user should not be able

[2022-02-08 13:32] Wkt8 opened #646 "Submission stuck in pending, not reporting errors"
**Describe the bug**
Uploading a submission to the staging environment results in it being stuck in pending, and not loading the submission

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the staging environment
2. Upload the attached test spreadsheet
3. See error

**Expected behaviour**
The spreadsheet should generate a new submission that moves from the pending state to the draft an

[2022-02-08 13:33] Wkt8 commented on #646
[https://app.zenhub.com/files/299258791/3affa936-f3f7-43ea-81ef-dcd45b2ce833/download](https://app.zenhub.com/files/299258791/3affa936-f3f7-43ea-81ef-dcd45b2ce833/download)

This is the example spreadsheet which was causing errors.

[2022-02-09 11:00] gabsie commented on #628
needs reviews by devs, and then wrangler checks @ami-day

[2022-02-09 11:08] gabsie commented on #473
Try investigation ideas
Do one of them - @aaclan-ebi
If not working, move to icebox

[2022-02-09 11:11] #593 closed, assigned to amnonkhen

[2022-02-09 11:16] gabsie commented on #640
hey @ke4  - let's rename etc the ticket so that it could be finalised this sprint (only the achievable task)

[2022-02-09 11:18] gabsie commented on #609
Break down into tickets for the different services, under this epic. If there is a small ticket, achievable this sprint, please let's have it here/
@amnonkhen @ke4

[2022-02-09 11:25] gabsie commented on #618
needs a design discussion, @aaclan-ebi and @jacobwindsor

[2022-02-09 11:29] yusra-haider opened #647 "Getting Internal Server Error on GEO Accessions"
As reported on slack by the wranglers, there's a `500 Internal Server Error` being thrown when these GEO accessions are used:

`GSE173682
 GSE131928
 GSE181346
 GSE174792
 GSE186368
GSE189770`

An example screenshot, as seen on dev environment, for the accession GSE189770

![image.png](https://images.zenhubusercontent.com/5fa15836bb6093b67034928a/c4871566-4dcd-401c-aae0-9e791b773490)

We need to i

[2022-02-09 11:37] amnonkhen opened #648 "import projects from geo"
**As a wrangler**
I want to use ingest ui to create a new project and import metadata using a GEO accession
so that I don't need to create the project and metadata manually.

**Acceptance Criteria:**

Given a geo accession
When I enter it in ingest ui
Then a new project is created in ingest
And the metadata read from geo is imported to ingest
And I can download the spreadsheet to continue further

[2022-02-09 11:38] amnonkhen commented on #638
No need for `[BUG]` prefix. We have labels for this.

[2022-02-09 12:22] aaclan-ebi opened #649 "Project Updates"
As a data submitter, I want to make changes to a dataset, including:

(link this to relevant tickets when they are created, implemented)
- [ ] Additions of metadata
- [ ] Additions of files
- [ ] Edits to existing metadata fields
- [ ] Deletions of metadata fields
- [ ] Deletions of files

This Epic covers both pre- and post-submission updates on the part of the submitter. The tickets in this epic

[2022-02-09 13:13] aaclan-ebi opened #650 "GEO spreadsheet has staging schema urls"
**Steps to replicate:**
1. Go to the new project page
2. Enter GEO accession
3. The project will be created and the user will be redirected to the project's page
4. In the Experiment Info tab, click the download spreadsheet button
5. Save the file

**Actual Behavior:**
Excel file has "Schemas" tab and schema URL are staging URLs

**Expected Behavior:**
Excel file has no "Schemas" tab so that impor

[2022-02-09 13:19] aaclan-ebi commented on #646
Thanks @Wkt8  for sending the screenshot of console logs! it's very helpful!

This is a bug introduced by ebi-ait/dcp-ingest-central#600 , the contentLastUpdated endpoint of the submission is failing on an empty submission.

[2022-02-09 13:54] ke4 commented on #463
Yesterday BioStudies flowed my account with 400 emails :-( regarding all the submissions I made in their submission portal.
Amongst them there was the email response for our registration with the HCA DEV user, but the activation link in their email was only a plain text instead of a link, so I could not activate our user.
I notified them about this issue and I am waiting for their response.

[2022-02-09 14:03] Wkt8 commented on #614
The issue has been solved and completed. Other tickets have been created to deal with the issue around testing.

[2022-02-09 14:12] jacobwindsor commented on #537
I have investigated this again this afternoon and can find nothing specific about this project that causes the issue. I am going to move on for now and see if I have time this sprint to come back to it.

I have unblocked Idas My Projects page by unassigning her from this project

[2022-02-09 14:52] jacobwindsor opened #651 "Set memory limits on deployments"
If we set memory limits on our deployments, pods will gracefully be terminated and restarted without downtime when they exceed the limit. This will help our problems with the slowness of core when memory usage gets unnecessarily high. Fair warning that we still need to investigate why memory usage gets so high.

See https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/

[2022-02-09 15:13] amnonkhen commented on #651
Good idea +1

[2022-02-09 15:47] aaclan-ebi commented on #649
According to Andrew Herbst , deletions are not supported yet

https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1644418807515119?thread_ts=1644403388.628289&cid=C01360XN04S

[2022-02-09 15:49] aaclan-ebi commented on #649
We have to implement the exporting according to the spec and we also have to make sure the Terra importer can also handle them.

[2022-02-09 16:44] jacobwindsor commented on #618
This is now ready for testing in staging. Please follow the repro steps in the description

[2022-02-09 17:04] #614 closed, assigned to ke4

[2022-02-09 18:29] aaclan-ebi commented on #629
PR's for review:
https://github.com/ebi-ait/ingest-core/pull/113/files
https://github.com/ebi-ait/ingest-staging-manager/pull/3

[2022-02-09 18:32] aaclan-ebi commented on #646
PR for review: https://github.com/ebi-ait/ingest-core/pull/114

[2022-02-10 09:43] gabsie commented on #574
Checked - the button is not there :)

[2022-02-10 13:07] jacobwindsor commented on #644
Decided to go the relatively simple route and just populate from all submissions in the project with ebi-ait/ingest-graph-validator#72. I have subsequently downgraded the story points of this task.

Had a conversation with @ke4 about knock-on effects of cross-submission linking with archiving and we don't think this will have an effect. However, he will confirm whether archiver is using informatio

[2022-02-10 14:07] gabsie commented on #628
@yusra-haider is this ready for checking by @ami-day

[2022-02-10 14:10] yusra-haider commented on #628
@gabsie not yet. One of the pull requests still needs review compliance and then further reviews. I'll move it to the user testing pipeline once done

[2022-02-10 14:48] ami-day commented on #618
I have tested this, it is working. @jacobwindsor can we close the ticket?

[2022-02-10 14:53] amnonkhen opened #652 "verify ingest support for Treatment Protocol"
see [metadata PR](HumanCellAtlas/metadata-schema#1428)
see board https://miro.com/app/board/uXjVOOZKIkM=/

tasks:

- [ ] merge metadata PR to staging
- [ ] generate a spreadsheet with example metadata for the new entity
- [ ] import spreadsheet in ingest
- [ ] add any necessary graph validation tests
- [ ] new project should be valid
- [ ] new project should be downloadable as a spreadsheet that c

[2022-02-10 15:40] jacobwindsor commented on #635
See PR https://github.com/ebi-ait/ingest-ui/compare/dcp-635?expand=1

[2022-02-10 16:33] gabsie commented on #624
Hi, @Wkt8 - are you happy with this file as something to be usable by a scientist trying to use Visium metadata?

[2022-02-10 16:33] ke4 opened #653 "When removing "INSDC sample accession" field's value the field got an empty string value"
Steps to reproduce:

1. Go to Ingest UI
2. Select a submission with `Archiving` status
3. Edit one of the biomaterial and remove the value from the `INSDC sample accession` field
4. Save the biomaterial
5. Click on the `ingest api url` and check the JSON.

Expected behaviour:
There should not be a field inside `biomaterial_core` with a key `insdc_sample_accession`.

Actual behaviour:
There is a fi

[2022-02-11 09:39] MightyAx commented on #624
@gabs needs to email (people) regarding this.

[2022-02-11 09:42] MightyAx commented on #628
@yusra-haider to address review comments.

[2022-02-11 09:43] prabh-t commented on #529
PR https://github.com/ebi-ait/ingest-archiver/pull/73

[2022-02-11 09:44] MightyAx commented on #644
@jacobwindsor to explore design for faster hydration

[2022-02-11 09:47] MightyAx commented on #631
@ami-day please review ebi-ait/hca-ebi-wrangler-central#633

[2022-02-11 09:49] MightyAx commented on #646
Merge to master, deploy to staging, ask a wrangler (ami?) for user testing

[2022-02-11 09:51] MightyAx commented on #531
@ke4 testing, will create a draft PR to link here.

[2022-02-11 09:59] #417 closed, assigned to MightyAx, ami-day, aaclan-ebi, ESapenaVentura

[2022-02-11 09:59] #491 closed, assigned to prabh-t

[2022-02-11 10:00] #549 closed, assigned to gabsie, aaclan-ebi

[2022-02-11 10:00] #613 closed, assigned to jacobwindsor

[2022-02-11 10:00] #616 closed, assigned to jacobwindsor, MightyAx, aaclan-ebi

[2022-02-11 10:00] #620 closed, assigned to MightyAx

[2022-02-11 10:00] #600 closed, assigned to aaclan-ebi

[2022-02-11 10:00] #528 closed, assigned to amnonkhen, ke4

[2022-02-11 10:00] #509 closed, assigned to jacobwindsor, MightyAx

[2022-02-11 10:00] #607 closed, assigned to jacobwindsor, aaclan-ebi

[2022-02-11 10:00] #521 closed, assigned to prabh-t

[2022-02-11 10:00] #551 closed, assigned to ke4

[2022-02-11 10:00] #570 closed, assigned to gabsie, ofanobilbao

[2022-02-11 10:01] #598 closed, assigned to jacobwindsor

[2022-02-11 10:01] #605 closed, assigned to aaclan-ebi

[2022-02-11 10:01] #546 closed, assigned to amnonkhen, jacobwindsor, gabsie, aaclan-ebi

[2022-02-11 10:01] #517 closed, assigned to jacobwindsor, aaclan-ebi, yusra-haider

[2022-02-11 10:01] #578 closed, assigned to jacobwindsor

[2022-02-11 10:01] #557 closed, assigned to ke4

[2022-02-11 10:01] #571 closed, assigned to jacobwindsor

[2022-02-11 10:01] #513 closed, assigned to amnonkhen, ami-day, ESapenaVentura

[2022-02-11 10:02] #566 closed, assigned to aaclan-ebi

[2022-02-11 10:02] #552 closed, assigned to aaclan-ebi

[2022-02-11 10:02] #567 closed, assigned to amnonkhen

[2022-02-11 10:02] #556 closed, assigned to ke4

[2022-02-11 10:02] #541 closed, assigned to ke4, aaclan-ebi

[2022-02-11 10:02] #542 closed, assigned to amnonkhen

[2022-02-11 10:02] #462 closed, assigned to aaclan-ebi, ESapenaVentura

[2022-02-11 10:02] #608 closed, assigned to nobody

[2022-02-11 10:02] #507 closed, assigned to jacobwindsor

[2022-02-11 10:02] #508 closed, assigned to jacobwindsor, ami-day

[2022-02-11 10:02] #486 closed, assigned to aaclan-ebi

[2022-02-11 10:02] #536 closed, assigned to ke4

[2022-02-11 10:02] #464 closed, assigned to aaclan-ebi, ESapenaVentura

[2022-02-11 10:02] #495 closed, assigned to aaclan-ebi, Wkt8

[2022-02-11 10:02] #470 closed, assigned to amnonkhen, ami-day

[2022-02-11 10:03] #302 closed

[2022-02-11 10:03] #310 closed, assigned to nobody

[2022-02-11 10:03] #448 closed, assigned to ke4

[2022-02-11 10:03] #569 closed, assigned to amnonkhen

[2022-02-11 10:03] #523 closed, assigned to ke4

[2022-02-11 10:03] #623 closed, assigned to Wkt8

[2022-02-11 10:03] #622 closed, assigned to gabsie

[2022-02-11 10:03] #524 closed, assigned to ke4

[2022-02-11 10:03] #581 closed, assigned to ke4

[2022-02-11 10:03] #615 closed, assigned to ke4

[2022-02-11 10:03] #527 closed, assigned to ke4

[2022-02-11 10:03] #502 closed, assigned to ke4

[2022-02-11 10:03] #497 closed, assigned to ke4

[2022-02-11 10:03] #471 closed, assigned to ke4

[2022-02-11 10:03] #492 closed, assigned to prabh-t

[2022-02-11 10:03] #601 closed, assigned to amnonkhen

[2022-02-11 10:03] #642 closed, assigned to aaclan-ebi, yusra-haider

[2022-02-11 10:03] #617 closed, assigned to jacobwindsor

[2022-02-11 10:03] #455 closed, assigned to aaclan-ebi

[2022-02-11 10:04] #612 closed, assigned to aaclan-ebi

[2022-02-11 11:27] ke4 opened #654 "Add a new SS2 dataset without accessions to be able to use it for direct archiving"
The current SS2 dataset is not suitable for testing the direct archiving as it contains invalid accessions for biomaterials, project and files.
It is located here: https://github.com/HumanCellAtlas/metadata-schema/blob/master/infrastructure_testing_files/current/dcp_integration_test_metadata_1_SS2_bundle.xlsx

I had a discussion with @ESapenaVentura and I am going to replicate the same dataset and

[2022-02-11 12:16] jacobwindsor commented on #646
merged to master

[2022-02-11 12:31] jacobwindsor commented on #644
Doing design for faster hydration in another branch. This is now ready for testing in staging. @ipediez will test with her submission that contains links to entities in another submission. @ipediez could you please test it with a few other submissions please? I would suggest using the ones in the [google drive](https://drive.google.com/drive/u/1/folders/1dKZ5bscfej7U_rjJNt0DUBi0B8r58FFo) that @ESa

[2022-02-11 16:09] Wkt8 opened #655 "GEO_to_HCA error even without adding submission accessions"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to '...'
2. Click on '....'
3. Run '...'
4. Scroll down to '....'
5. See error

**Expected behaviour**

**Screenshots / Logs**

**Links**

**Environment**
- [ ] prod
- [ ] staging
- [ ] dev

**Browser**
- [ ] Chrome
- [ ] Safari
- [ ] IE
- [ ] Other (please specify)

[2022-02-11 16:10] Wkt8 commented on #655
Will will fiil in details about the error he is encountering here on this ticket.

[2022-02-11 17:00] ke4 opened #656 "Can not submit a submission as Submit tab is empty after graph validation"
After a successful graph validation when the user clicks on the `Submit` tab the page is empty. It is not possible to submit the submission.

Steps to reproduce:
1. Upload a valid new submission
2. Go to `Validate` tab and click on `Validate Submission` button
3. Wait for validation
4. When the submission's status changed to `Graph Valid` go to the `Submit` tab

Expected behaviour:
The `Submit` ta

[2022-02-11 17:12] ke4 commented on #656
This is blocking me to generate test data for direct archiving.

[2022-02-11 17:59] ke4 commented on #531
Draft PR: https://github.com/ebi-ait/ingest-archiver/pull/74

[2022-02-14 09:39] ipediez commented on #654
PR's have been merged, part of the integration tests

[2022-02-14 09:42] ipediez commented on #644
@yusra-haider and @jacobwindsor to keep investigating @ipediez issue: able to upload submissions without project assigned, problems when uploading the submission inside a project

[2022-02-14 09:43] ipediez commented on #631
@ami-day to test this

[2022-02-14 09:44] ipediez commented on #635
devs to review

[2022-02-14 09:45] ipediez commented on #463
still waiting for biostudies response

[2022-02-14 09:46] ipediez commented on #625
It looks like it works now, it would need testing from @ofanobilbao

[2022-02-14 09:51] ipediez commented on #656
@ke4 and @aaclan-ebi to investigate this afternoon

[2022-02-14 13:23] ke4 commented on #463
I sent a message them today to notify them we are still waiting for their reply.

[2022-02-14 13:24] ke4 commented on #463
I am also waiting for @amnonkhen to get the account/email for production usage.

[2022-02-14 15:27] jacobwindsor opened #657 "Add unit tests for ingest-client"
Add unit tests for ingest-client

- [ ] Test all functions for `ingestapi.py` and that they call ingest (mocked) with correct headers and correct mocked response

[2022-02-14 15:28] jacobwindsor opened #658 "Add integration test flow for submitting via a preexisting project"
Add an integration test that tests the flow for submitting via a project that already exists. At the moment, all integration tests test as if a submission was created via the All Submissions page

[2022-02-14 16:21] jacobwindsor commented on #625
I am going to move this into the "in production" column since I fixed them in production

[2022-02-15 00:52] #130 closed

[2022-02-15 00:56] gabsie commented on #5
all tasks here seem done

[2022-02-15 00:56] #5 closed

[2022-02-15 09:42] jacobwindsor commented on #656
@ke4  to verify whether this is a problem

[2022-02-15 09:44] jacobwindsor commented on #628
Build is failing in PR, to be addressed by @aaclan-ebi and @yusra-haider

[2022-02-15 09:48] prabh-t commented on #632
require one more review/approval.

[2022-02-15 09:49] jacobwindsor commented on #531
Needs two approvals on the PR but @ke4 is away right now so will be waiting on his return

[2022-02-15 09:49] jacobwindsor commented on #629
More reviews needed

[2022-02-15 09:49] jacobwindsor commented on #529
Waiting for @prabh-t to address review comments

[2022-02-15 09:51] prabh-t commented on #656
Alegria to try to reproduce issue.

[2022-02-15 10:07] jacobwindsor commented on #656
I think this is not happening anymore. I just created an SS2 submission here https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=bb969a26-d198-4bf1-8aa3-2fae40c8441c&project=22887fde-1011-4378-ae26-fa9f4e447b03

[2022-02-15 10:37] gabsie opened #659 "Ingest UI: Delete single metadata entity"
As a data submitter,...
I can delete metadata from a submission,ission
to correct any issues with my submission

### Status
UI change to add delete button, and minor fixups from #689
- [x] Ingest UI: https://github.com/ebi-ait/ingest-ui/pull/167 **Staging**

Core change to properly unlink entities when they are deleted (prevent crashes loading those entities) and sending delete requests to the sta

[2022-02-15 10:38] gabsie opened #660 "Support deletion of metadata entities pre-submission"

[2022-02-15 10:57] #147 closed

[2022-02-15 11:19] ami-day opened #661 "Ingest graph validator not working correctly, preventing submission"
The ingest graph validator does not seem to be correctly validating metadata in ingest. It is highlighting biomaterials, protocols, processes, files as invalid. In particular, returning an error message indicating "entity does not have linkings with any other entity". When I check this, it is not the case.

An example submission: https://contribute.data.humancellatlas.org/submissions/detail?uuid=0

[2022-02-15 13:04] jacobwindsor commented on #635
@gabsie to test on staging

[2022-02-15 13:09] ami-day commented on #101
This is no longer relevant.

[2022-02-15 13:09] #101 closed

[2022-02-15 13:41] ami-day commented on #631
I have added my comments to the pull request here https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/633#pullrequestreview-882996895

[2022-02-15 13:45] ami-day commented on #151
@gabsie I'm going to look into this this sprint while i'm on development, once I've got somewhere, I'll set up a google meet with you to talk through. I'm going to use the integration of the geo-to-hca tool in ingest as a starting point for the design.

[2022-02-15 13:46] ami-day commented on #151
@gabsie I'm going to look into this this sprint while i'm on development, once I've got somewhere, I'll set up a google meet with you to talk through. I'm going to use the integration of the geo-to-hca tool in ingest as a starting point for the design.

[2022-02-15 14:44] ami-day commented on #258
Hi @amnonkhen I had a look into the above as you suggested. Tagging @gabsie also for comment!

I am wondering whether we should instead include a tick-box question in the blank space at the center of the screen "Is the dataset eligible for SCEA?" only **after** a dataset has been successfully exported to the HCA DCP. So, the status in the toolbar at the top right will say "exported to DCP" as oppo

[2022-02-15 14:55] ami-day commented on #258
<img width="811" alt="conversion-to-scea" src="https://user-images.githubusercontent.com/25744951/154087295-980c4f8c-55e9-4136-96e5-b582e6b445ae.png">

[2022-02-15 14:57] ami-day commented on #258
<img width="745" alt="scea-file-conversion" src="https://user-images.githubusercontent.com/25744951/154087613-a0adf23e-d013-4249-a135-2a870391a600.png">

[2022-02-15 14:59] ami-day commented on #258
<img width="800" alt="scea-file-conversion" src="https://user-images.githubusercontent.com/25744951/154087993-b289c6d1-ec9b-46a0-9509-bc952c9ac351.png">

[2022-02-16 09:55] ami-day opened #662 "Submission stuck in ingest after spreadsheet import"
I am trying to upload a spreadsheet for a project in ingest production. It is getting stuck after import. It is important to resolve this so I can submit it in the Feb release.

The submission is here: https://contribute.data.humancellatlas.org/submissions/detail?uuid=fde26dd4-0a23-4f01-bccd-c110a61b445c

And the google sheet here:
https://docs.google.com/spreadsheets/d/1OACqSsuAEy_fbiCpTJlhK5LNkw

[2022-02-16 10:01] gabsie opened #663 "Additional labels per project: 'To follow up', 'SCEA', 'CellxGene', 'Needs update'"
As a wrangler
I would like to mark a project with a label on occasions like:

- I have seen a pre-print for a project, but there is still no data
- I have emailed a contributor, requested actions, but they have been slow in responding, and I don't want to forget about this
- I deem this project suitable for CellxGene/SCEA

Acceptance criteria
============
Given I go to ingest backoffice
When I vie

[2022-02-16 11:27] aaclan-ebi commented on #632
Tested Irene's spreadsheet in staging: https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=06923b5d-942d-430f-99c2-b56f64caa96e

The spreadsheet was downloaded successfully.

Will promote to prod.

[2022-02-16 11:27] gabsie commented on #258
Hi, @ami-day let's chat about this Friday morning as arranged

[2022-02-16 13:44] gabsie opened #664 "Fair HCA data"

[2022-02-16 15:01] aaclan-ebi commented on #632
Hi @ipediez & @idazucchi The spreadsheet was generated successfully for both of your submissions in prod. You can check and download them now.

[2022-02-16 15:06] gabsie opened #665 "Transform the HCA metadata into CellxGene one"
As a data wrangler, I want to submit my HCA DCP project into CellxGene, so that scientists can look into its visualisation there.

Acceptance criteria:

[2022-02-16 15:17] gabsie opened #666 "Criteria for suitability of DCP projects for CellxGene"
As a data wrangler, I need to know what makes a project suitable for CellxGene, so that I can filter all suitable ones currently in DCP.

Acceptance criteria:
Given I have a list of criteria
When I look up projects in DCP
I can identify the potential ones for wrangling for CellxGene.

[2022-02-16 15:19] gabsie opened #667 "1 project prototype into CellxGene"
As a data wrangler, I want to submit my HCA DCP project into CellxGene, so that scientists can look into its visualisation there.

Acceptance criteria:

[2022-02-16 15:23] gabsie opened #668 "Identifying and wrangling one suitable project from DCP to CellxGene"
Rewrite as a user story for a wrangler with an outcome.

- [x] Get an example dataset for cellxgene, which was already wrangled by Lattice (input files and JSON metadata, used as input to the flattener) (Jason can point us to its staging area)  @Wkt8
- [x] Identify one suitable 10x project from DCP (Ingest), which has got all required files for CellxGene @Wkt8
- [x] Matching up inputs to the flatt

[2022-02-16 15:23] gabsie commented on #668
Take a look here: https://github.com/Lattice-Data/lattice-tools/blob/main/scripts/flattener.py
See also [341](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/341)

[2022-02-16 15:32] #554 closed, assigned to gabsie

[2022-02-16 15:43] prabh-t opened #669 "Patch file document with data archive result"
After ingest data archiver has completed transferring data files for a submission to ENA upload area, the result of the transfer is published to the `ingest.data.archiver.complete` queue.

This result needs to the processed and the file metadata document needs to be updated in ingest with the outcome of the transfer, including the MD5 computed, if the file was compressed during the process, etc. T

[2022-02-16 15:56] gabsie opened #670 "Additional project field - visualisation portals, to appear both in backoffice and Catalogue"
As a Data contributor/wrangler,
I would like to add the link to my project in a supported Analysis Portal (e.g. Cellxgene/SCEA/UCSC browser),
so that other scientists can view my data in the visualisation tool

**Acceptance Criteria**
- [x] Wrangler/Contributor can specify a link to an analysis portal (through supplementary links)
- [ ] Only supported portals are shown in the catalogue
- [ ] catal

[2022-02-16 16:32] aaclan-ebi commented on #628
@ami-day this should be ready for testing in staging.

[2022-02-16 16:49] gabsie opened #671 "Utilise the communication language/templates used to communicate the value of CellxGene"

[2022-02-16 16:59] ami-day commented on #628
I have tested the following:

**GSE156728**

- Raises error: "Unable to import the project or download spreadsheet. Unable to find HCA metadata against given accession [AttributeError("'NoneType' object has no attribute 'empty'",)]".
- Error is expected: there is no SRA study accession linked to this GEO accession.

**GSE157789**

- Response: "The project metadata with GEO accession GSE157789 has

[2022-02-16 17:08] ami-day commented on #628
@gabsie shall I move this to Done?

[2022-02-17 09:39] yusra-haider commented on #631
waiting on @prabh-t

[2022-02-17 09:40] yusra-haider commented on #645
@aaclan-ebi working on this

[2022-02-17 09:46] gabsie commented on #538
This is now ready as to what we needed

[2022-02-17 09:46] #538 closed, assigned to gabsie

[2022-02-17 12:51] ami-day commented on #258
Updated version below following discussion with @aaclan-ebi and @yusra-haider , and yes let's chat tomorrow :)

[2022-02-17 12:51] ami-day commented on #258
![hca=-to-scea conversion.png](https://images.zenhubusercontent.com/5e1da45b0fe8592c8ad1cc18/588abbab-57a9-4682-abf9-c8e250d04370)

[2022-02-17 17:16] aaclan-ebi opened #672 "Ability to know when spreadsheet updates finished"
Requested by Will: https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/627

As a data submitter, I want to see an indication in the UI on the progress of spreadsheet updates importing, so that I can verify if all the updates were applied and successful.

 **Acceptance Criteria / Definition of Done**

Given a submission,
When I uploaded a spreadsheet with updates,
then I should see when it h

[2022-02-17 18:02] aaclan-ebi commented on #661
@ami-day It seems that the entities weren't linked together and that caused graph validation errors. The linking wasn't done at all because of an issue with the importer/broker. As we don't have a way to bulk update the linking I'm afraid you have to start over again, delete this submission and reupload the spreadsheet and files. Apologies for this. Please let me know if I can help you with the re

[2022-02-17 18:13] aaclan-ebi commented on #645
Hi @ami-day  would you be able to do some QA on the UI changes on this ticket?

The changes are listed here and it also includes some screenshots:
https://github.com/ebi-ait/ingest-ui/pull/161#issue-1140339986

I also have a test spreadsheet I can send on slack which you can use for testing.

Thanks!

[2022-02-17 19:03] aaclan-ebi commented on #545
No need for this as we're using dev cluster to run our gitlab jobs

[2022-02-17 19:03] #545 closed, assigned to nobody

[2022-02-18 09:41] ami-day commented on #647
@yusra-haider picking this up

[2022-02-18 11:30] aaclan-ebi opened #673 "Ability to view file to file linkings in the UI"
As a user
I want to view and update the file to file linkings in the UI
so that I can verify if they are correct and fix any errors

Given a spreadsheet where the sequencing file is linked to an analysis file
When I view the process in the UI
Then I should see that process's input files, protocols and output files and modify them

This is needed for ticket: ebi-ait/hca-ebi-dev-team#470

[2022-02-18 11:39] ami-day commented on #662
This is now working so closing the ticket.

[2022-02-18 11:39] #662 closed, assigned to ami-day

[2022-02-18 12:01] ami-day commented on #645
Tested this, it is working as expected.

[2022-02-18 14:08] amnonkhen commented on #647
@yusra-haider what does the user see in this case?
Is this ticket about improving the experience of the user when the GEO script has an error, or about improving the script to that it is more robust?
Also, please add the important details about the problem to the ticket. It is inconvenient and inefficient to have to go to slack to understand what this is about.

[2022-02-18 15:03] prabh-t commented on #669
PRs:
https://github.com/ebi-ait/ingest-core/pull/115 (approved, merged)
https://github.com/ebi-ait/ingest-data-archiver/pull/7 (approved, merged)

[2022-02-18 16:21] prabh-t commented on #631
Steps to test direct data file upload to ENA using the new endpoint:

1. Prepare a test submission in dev or staging.
2. Get the ARCHIVER_API_KEY from Step 2 of the Archiving SOP.
3. Run the following command in terminal, replacing INGEST_ARCHIVER_URL accordingly depending on the environment you are using and the test submission uuid.
[code]
This will trigger the background process to start transf

[2022-02-21 09:28] yusra-haider commented on #647
@amnonkhen I've updated the ticket

[2022-02-21 09:41] idazucchi commented on #631
@ami-day to test this following the instructions

[2022-02-21 09:43] idazucchi commented on #531
Some transitive dependencies caused the archiver to break, not running in staging.

[2022-02-21 09:46] idazucchi commented on #673
@yusra-haider to review this

[2022-02-21 09:48] idazucchi commented on #463
there is already a prod user

[2022-02-21 09:53] amnonkhen commented on #468
prod queue name: **hca-archiving-broker-prod**

https://helpdesk.ebi.ac.uk/Search/Results.html?Query=Queue%20%3D%20%27hca-archiving-broker-prod%27%20AND%20Status%20%3D%20%27__Active__%27

[2022-02-21 09:55] amnonkhen commented on #463
mailbox: hca-archiving-broker-prod@ebi.ac.uk
[view all messages on RT](https://helpdesk.ebi.ac.uk/Search/Results.html?Query=Queue%20%3D%20%27hca-archiving-broker-prod%27%20AND%20Status%20%3D%20%27__Active__%27)

[2022-02-21 10:28] ke4 opened #674 "Fix archiver dependency management"
If we pin dependency versions in the correct way, we won't have problem with breaking changes with our transitive and other dependencies.
We could use `pip compile` to generate the `requirements.txt` file.

[2022-02-21 10:44] gabsie opened #675 "Establish upload areas per project, not submission"

[2022-02-21 11:33] gabsie opened #676 "Visualisation of HCA data in CellxGene"

[2022-02-21 15:01] ami-day commented on #258
Update with MiroBoard: https://miro.com/welcomeonboard/a3NMdEJiQXJ3RG8wN2RubktvWlphdDZuaEZrdDFGUExxSnZmYmI0dFQ0SThNVHRPdEdycEJ5WVJKblVVeGJkeXwzMDc0NDU3MzU2MjM1MTYyMzk1?invite_link_id=794991323961

[2022-02-21 16:59] aaclan-ebi commented on #637
Duplicate of ebi-ait/dcp-ingest-central#673

[2022-02-21 17:00] #637 closed, assigned to nobody

[2022-02-21 17:10] aaclan-ebi commented on #653
to verify if this is the same issue : https://embl-ebi-ait.slack.com/archives/C016R78CDV1/p1644502236844049

[2022-02-22 09:36] Wkt8 commented on #531
Hotfix applied, now in production.

[2022-02-22 09:37] Wkt8 commented on #511
Karoly has tested this and it is working in the dev environment.

[2022-02-22 09:40] Wkt8 commented on #631
Ami has tested and left feedback (?) to be looked at.

[2022-02-22 09:41] Wkt8 commented on #669
Still waiting on a review for second PR - then can be merged into prod.

[2022-02-22 09:42] Wkt8 commented on #529
@ke4 and @amnonkhen to review PR again after prabhat makes changes.

[2022-02-22 10:28] gabsie opened #677 "Project as the main working area for a data submitter"
As a data submitter, I want to:
Register a Project for the DCP
Upload Data and Metadata about it
clearly see that the Project I work on in ingest will eventually be reflected as a Project in the DCP Portal.

[2022-02-22 10:44] #341 closed

[2022-02-22 10:55] gabsie commented on #665
this is a duplicate of other tix

[2022-02-22 10:55] #665 closed, assigned to nobody

[2022-02-22 11:01] gabsie opened #678 "Transform the HCA data and metadata to CellxGene format with the Lattice flattener"
As a data curator for HCA DCP, I would like to easily transform the metadata and data from ingest in a format suitable for submission to CellxGene.

see [initial discussion](https://docs.google.com/document/d/1S60Bh2R9mjsEXSqmYYOAfMoFhTWiAOMy0GwuBpJDBPA/edit#heading=h.o3keh5pnoirn)

Acceptance criteria:

Take a look for the flattener here: https://github.com/Lattice-Data/lattice-tools/blob/main/sc

[2022-02-22 11:02] gabsie commented on #678
Take a look here: https://github.com/Lattice-Data/lattice-tools/blob/main/scripts/flattener.py
- [ ] Dev work (?)
- [ ] Run the 1 example project files through the flattener

[2022-02-23 07:15] gabsie opened #679 "change the relationships between project's metadata entities"
As a data submitter,
I want to be able to change the relationships between entities through the spreadsheet,
and see my changes reflected in the ingest system.

Acceptance criteria:
 - (e.g. change the donor to a specimen, or be able to assign a new protocol to a list of cell suspensions)

[2022-02-23 09:31] yusra-haider commented on #650
as discussed with @aaclan-ebi , the schemas tab in the spreadsheet template has been removed.

PR raised here: https://github.com/ebi-ait/geo_to_hca/pull/33

this change needs to be pushed to PyPI, once merged

[2022-02-23 10:48] Wkt8 commented on #668
Example dataset here: https://drive.google.com/drive/folders/1BS2nNwVDg1QKd_MC-zidx_JAyoIKqNrt?usp=sharing

Jason has zipped up the metadata/data for one matrix, and it should be somewhat similar to a staging are organisation. He has mentioned that we will have to customize the flattener script to look for the local objects rather than objects in the Lattice Portal, in order to work with these. He

[2022-02-23 11:13] gabsie opened #680 "Ability to see the updates in the metadata relationships on the DCP portal"
As a data submitter, I want to see the changes in metadata relationships I entered in ingest on the DCP portal.

**Acceptance criteria:**
1. Given 2 donors and cell suspension and cell suspension input is donor 1
When the user changes the linking so that: cell suspension input to donor 2
Then the changes will be submitted to the staging area upon export

-----

2. Given 2 cell suspensions and 6 fi

[2022-02-23 14:11] aaclan-ebi commented on #650
PR merged but I couldn't publish to pypi yet. The shared hca dev user `ebi-hca-ingest` should be added as maintainer of https://pypi.org/project/geo-to-hca/ , moving to waiting pipeline for now

[2022-02-23 15:10] jacobwindsor commented on #678
I have discovered [this script](https://github.com/ebi-ait/lattice-tools/blob/main/scripts/DCP_mods/DCP_flatten.py) which leads me to think that some work has already begun on this.

Looking at the current script I think automating this will be at least a little complicated because:

- The flattener needs R installed on the local machine
- The flattener is designed to be ran as a script not a modu

[2022-02-23 15:21] aaclan-ebi opened #681 "Ingest API Query endpoint returns 500 when given with invalid operator"
**Steps to replicate:**
1. Get token from the UI
2. Execute the ff in the command line:
[code]

**Actual Behavior**
returns HTTP 500 error

[code]

**Expected Result**
returns HTTP 400 error, Bad request, with  invalid operator message

[2022-02-23 17:11] aaclan-ebi commented on #680
@gabsie I've updated the acceptance criteria. This falls to the update scenario 5, 6, 7 in this doc: https://docs.google.com/document/d/1nTZDW9xQhgZfM6jQkBbK2O68CRvALPiJ8F-noiEvxTA/edit#

5. Modifying links between metadata (Updating a subgraph) with no new entities
6. Adding a metadata
7. Modifying links between metadata (Updating a subgraph) with entities added

Ida's dataset actually needs both

[2022-02-24 09:30] gabsie commented on #680
HI, @aaclan-ebi - this sounds great!
Let's briefly chat about this at standup. I think we can split them if we think that there's a possibility only one gets done this sprint.

[2022-02-24 09:41] gabsie commented on #647
@jacobwindsor has taken this for now, while waiting for his other tasks.

[2022-02-24 09:44] gabsie commented on #678
@jacobwindsor has started to investigate this, and needs more info on the mapping of metadata attributes.
will catch up with Amnon if needed additionally on this.

[2022-02-24 14:44] amnonkhen opened #682 "code linting as a PR quality check"
We should use linters to make sure our code is up to our quality standards.
Failure to meet the standard would disallow merge of the PR.

See discussion about [linting rules](https://docs.google.com/document/d/1Mz5Au3ApfZmaD3EhkzZ3HQg8ECRfkPBgSpyrglfG4ZI/edit#)

Acceptance Criteria:
- [ ] relevant errors
- [ ] not too many errors
- [ ] easy enough to inspect error messages

Tasks/Questions:
- [x]

[2022-02-24 15:05] amnonkhen commented on #205
@aaclan-ebi please explain what this ticket is about or delete it

[2022-02-25 09:37] ke4 commented on #680
@aaclan-ebi is going to start the implementation today.

[2022-02-25 10:26] jacobwindsor opened #683 "Add back "no publication or citation missing" in the project catalogue"
At some point, this feature was removed so that projects without publications don't show.

See [ops-598](https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-wrangler-central/598)

[2022-02-25 10:26] jacobwindsor commented on #683
Done in https://github.com/ebi-ait/projects-index/pull/81

[2022-02-25 14:38] aaclan-ebi commented on #265
Same steps as documented here https://github.com/ebi-ait/ingest-kube-deployment/tree/master/jobs/dcp1-version can be done for similar ad-hoc scripts/jobs. Closing this now.

[2022-02-25 14:38] #265 closed

[2022-02-25 14:39] aaclan-ebi commented on #277
This is already implemented https://github.com/ebi-ait/dcp-ingest-central/issues/673. Closing this as a duplicate of dcp-673.

[2022-02-25 14:39] #277 closed

[2022-02-25 14:40] aaclan-ebi commented on #301
This is related to AWS account migration which is no longer relevant now.

[2022-02-25 14:40] #301 closed

[2022-02-25 14:46] aaclan-ebi commented on #303
This is no longer relevant. The "no space" issue in the integration test runner is already resolved when we decided to use the ingest dev cluster for running tests See ticket: https://github.com/ebi-ait/dcp-ingest-central/issues/260

[2022-02-25 14:46] #303 closed

[2022-02-28 09:38] idazucchi commented on #650
Alegria will release to pypi today

[2022-02-28 09:41] idazucchi commented on #647
Probably due to changes in the PubMed api. Can be solved by using different library or   using GSE accessions

[2022-02-28 09:43] idazucchi commented on #668
@Wkt8 to work on this today

[2022-02-28 10:55] jacobwindsor commented on #678
New repo for this https://github.com/ebi-ait/ingest-cellxgene-submitter

[2022-02-28 13:22] amnonkhen commented on #647
Consider using [Entrez API](https://www.ncbi.nlm.nih.gov/geo/info/geo_paccess.html) to get data about accessions:
1) [find ids by accession using esearch](https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esearch.fcgi?db=gds&term=GSE155468)
2) [find relevant doc using esummary](https://eutils.ncbi.nlm.nih.gov/entrez/eutils/esummary.fcgi?db=gds&id=304704937)
3) [use FTP to download data])(https://ftp.n

[2022-02-28 15:55] jacobwindsor commented on #647
@amnonkhen Im not sure that this approach aproach will work because of changes in the Entrez API I believe. Your approach is the exact same one that `pysradb` is using and is failing with. If you look at your example, the SRP accessions are not listed in the esummary.

I'll have a look because maybe it's possible with a few more changes than I'd hoped for

[2022-02-28 16:39] Wkt8 commented on #668
This was more tricky than I thought it'd be, because there is more divergence from our schemas, and also Lattice uses many calculated fields. One thing to note is that I think Lattice is adding additional metadata that cellxgene doesn't actually require (optional), so there may be some things we can ignore.

HCA to Lattice schema mapping here: https://docs.google.com/spreadsheets/d/1TL4w0P8Vf4hfFD

[2022-02-28 16:53] jacobwindsor commented on #647
I have investigated a lot and believe something has happened with Entrez API to stop SRP accessions being in the `extrerelations`.

Here is an easy example for [GSE155468](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE155468):
- The SRP project should be SRP274475
- The [current GEO page](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE155468) for it shows no SRP accessions
- If you

[2022-03-01 09:42] gabsie commented on #683
So we can introduce a filter for the projects for publications, so wranglers can go and amend.

[2022-03-01 09:47] gabsie commented on #647
Amnon and @jacobwindsor will discuss this additionally.

[2022-03-01 09:49] gabsie commented on #650
This would be attended after the other tasks on exporting.

[2022-03-01 09:51] gabsie commented on #668
A meeting to be set up to discuss this further. @Wkt8

[2022-03-01 09:52] gabsie commented on #678
The Lattice flattener might need editing from us, let's chat after standup or today about next steps

[2022-03-01 09:57] gabsie commented on #680
This is ongoing. @aaclan-ebi has communicated with DCP components on using delta staging areas. Design document is [here](https://docs.google.com/document/d/1nTZDW9xQhgZfM6jQkBbK2O68CRvALPiJ8F-noiEvxTA/edit#)

[2022-03-01 10:06] aaclan-ebi opened #684 "Error on downloading spreadsheet for submission 40adb1bb-ef4e-4a74-89b4-087ca0900f4b"
**Steps:**
1. Go to submission page
2. Download spreadsheet for submission 40adb1bb-ef4e-4a74-89b4-087ca0900f4b

**Actual behaviour:**

Spreadsheet download is in progress is displayed forever

**Expected Behavior:**

Display an error and allow the user to retrigger generation of spreadsheet

**Notes:**
Need to set the lastSpreadsheetGenerated property of the submission to null to retry downloadin

[2022-03-01 13:42] aaclan-ebi commented on #680
slack thread conversation with DCP components https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1646068873354109

[2022-03-01 15:13] Wkt8 commented on #668
This is a suitable project: https://data.humancellatlas.org/explore/projects/2ef3655a-973d-4d69-9b41-21fa4041eed7/project-matrices

[2022-03-01 15:35] aaclan-ebi commented on #650
geo-to-hca has been upgraded to 1.0.6 , and I've updated broker in dev and (master)staging to use the new version, however, due to the issue reported in https://github.com/ebi-ait/dcp-ingest-central/issues/647#issuecomment-1054457873 , I am not able to verify if the issue in this ticket is fixed. Putting this to waiting for now.

[2022-03-01 18:03] ke4 opened #685 "Possibly wrong regexp for fastq.gz files in metadata validation"

[2022-03-02 10:02] Wkt8 commented on #668
Good place to search for examples is:
Tech: 10x
Species: Human
Files: .tar

[2022-03-02 11:01] jacobwindsor opened #686 "Allow filtering by projects that are missing publications"
As a wrangler, I want to be able to filter by projects in "all projects" that are missing publications

[2022-03-02 11:05] jacobwindsor opened #687 "Convert suitable DCP project matrix files into a format for submission into cellxgene visualisation tool"
As a wrangler, I want to be able to convert existing and suitable HCA projects into h5ad projects ready for submission to cellxgene.

**scope**
As an MVP, we are currently focusing on 10x projects with a single raw matrix (most probably as an output from 10x CellRanger pipeline).
The outcome at the end will be to create a Cellxgene required h5ad file. The tasks at hand will be to append the HCA me

[2022-03-02 11:08] jacobwindsor commented on #678
Closing this in favour of #687

[2022-03-02 11:08] #678 closed, assigned to jacobwindsor

[2022-03-02 11:23] aaclan-ebi commented on #680
@gabsie @Wkt8 @amnonkhen I'd like to scope out the support for the scenario that when a process will become a non-assay
e.g.
biomaterial -> process -> files
can’t be changed to
biomaterial -> process -> biomaterial
file -> process -> file

@ESapenaVentura thinks this is fine. @gabsie pls also confirm if this is alright with you.

[2022-03-02 16:57] Wkt8 commented on #668
https://data.humancellatlas.org/explore/projects/dc1a41f6-9e09-42a6-959e-3be23db6da56

[2022-03-03 09:38] Wkt8 commented on #631
@prabh-t to have a look at the feedback

[2022-03-03 09:41] Wkt8 commented on #463
No longer in waiting, will be picked up when Karoly is back on dev

[2022-03-03 09:45] Wkt8 commented on #650
@aaclan-ebi to create a ticket for the issue which is blocking this ticket (separate from 647)

[2022-03-03 09:46] Wkt8 commented on #687
Jacob is working on features 1 and 2

[2022-03-03 09:46] aaclan-ebi opened #688 "Issue in Entrez API affecting Geo scripts"
This ticket tracks how to resolve issue described by @jacobwindsor  here https://github.com/ebi-ait/dcp-ingest-central/issues/647#issuecomment-1054457873

@ESapenaVentura gave the following links about the Entrez API

https://www.ncbi.nlm.nih.gov/books/NBK25499/
https://www.ncbi.nlm.nih.gov/books/NBK25497/

which is basically different endpoints
e-search, e-summary, e-fetch

[2022-03-03 21:19] willrockout opened #704 "Geo to HCA spreadsheet created in ingest throwing errors"
I'm trying to use the UI to create spreadsheets for a number of geo submissions and I'm getting the same error for all of them. Here is a list of the GSEs that throws this error:

GSE149313, GSE189501, GSE185989, GSE185224, GSE181989, GSE197409, GSE196005

<img width="1329" alt="Screen Shot 2022-03-03 at 1 16 49 PM" src="https://user-images.githubusercontent.com/19597324/156654236-077fe876-cdc3-4d

[2022-03-04 08:48] aaclan-ebi opened #689 "Ingest UI: Add single new metadata"
**User story**
As a data submitter
I want the ability to add single metadata via the UI
so that I can add more info on my experiment data

**Acceptance Criteria**
Given I previously submitted data to DCP (donor - specimen - cell suspension - files)
When I add a new protocol and link it to an existing process
Then it will be submitted to DCP (i.e. links.json updated and new metadata file added to T

[2022-03-04 09:36] ESapenaVentura commented on #680
Deploying it to staging - Should be ready for testing soon

@aaclan-ebi to tag

[2022-03-04 09:38] ESapenaVentura commented on #669
Still waiting on PR review!

[2022-03-04 09:44] ESapenaVentura commented on #647
Options:
- Email NCBI about the ENTREZ API's bug
- Change the way we get the SRP accessions (Very convoluted, but works)

[2022-03-04 09:47] ESapenaVentura commented on #687
Based on the variation of the CGM format, not many reasons to try to automatically transform the CGI. However, giving as an input a CS and a count matrix regarding to that CS, that could be automated. (DCP project --> Wrangling --> matrix + cs --> cellxgene)

[2022-03-04 09:50] gabsie commented on #668
hey @Wkt8  - this ticket needs to change in Title and Description.. not sure what the work is here, but it still says Lattice flattener?
Is it about finding the suitable project from DCP now?
Thanks!

[2022-03-04 09:51] gabsie commented on #668
If about finding suitable projects, there is a ticket 666 for this.

[2022-03-04 11:42] amnonkhen opened #690 "Archiving to ENA - doc improvements"
See Ami's comments in [this pr](https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/633)

[2022-03-04 11:59] aaclan-ebi commented on #680
Hi @Wkt8 , for acceptance criteria 2 & 3, you would need the ability to add single metadata to a project.

We should be able to do it via API. I added the script in this branch to easily create metadata via Ingest API https://github.com/ebi-ait/hca-ebi-dev-team/tree/dcp-680-add-metadata-script/scripts/add_metadata

The ability to add metadata via UI is in ticket ebi-ait/dcp-ingest-central#689 .

[2022-03-04 12:04] amnonkhen opened #691 "update ingest enitities with ENA accessions"

[2022-03-04 14:13] Wkt8 commented on #680
Running the test here for acceptance criteria 1)
https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=664a3b08-d755-47cd-8c6f-9bee8f81ea55

Test:
1. Upload spreadsheet to create a project via submission
2. Sync data files to the S3 bucket via hca-util
3. Export
4. Make linking changes between inputs to the biomaterial:
Previously:
AP1 --> AP1_spcimen, AP2 --> AP2_specimen
Cha

[2022-03-04 15:57] Wkt8 commented on #680
@aaclan-ebi I have completed steps 1-5 but when I try and look for the links.json files for the relevant processes in the project i can't find them in `(gs://broad-dsp-monster-hca-dev-ebi-staging/staging/b55abecc-245f-472b-b9f9-3f9f34917125/links/)` I can see 10 links.json (5 sets of 2 files, corresponding to the initial export and update) but there are 5 more processes missing.

[2022-03-04 16:08] gabsie commented on #381
Closing this epic. I consider this feature done.

[2022-03-04 16:08] #381 closed, assigned to nobody

[2022-03-04 22:31] pnejad commented on #704
@aaclan-ebi @ESapenaVentura

[2022-03-06 22:14] aaclan-ebi opened #692 "Update Ingest dev docs"
Update ingest docs as part of my [transition plan](https://docs.google.com/document/d/17QmXh-ZUJIUxsX2HccoQhirz7S4oYW6zm5mpDowKOE4/edit)

**PART I**

**Technical Documentation p1**
- [x] 1. ingest architecture diagram
- [ ] 2. deployment diagram - create a ticket
- [x] 3. submission flow
- [x] 4. ingest component readme’s
- [x] 5. ingest-integration test setup

ingest component readme's (might not

[2022-03-07 09:35] ofanobilbao commented on #631
PR have been reviewed and merged. Ami did comments that will be addressed in a separate improvement ticket. This can be closed

[2022-03-07 09:37] ofanobilbao commented on #680
It meets acceptance criteria 1 but not 2 or 3. Wei is in the process of testing this

[2022-03-07 09:43] ofanobilbao commented on #668
We might end up having different workflows depending on start point file format.

[2022-03-07 09:44] ofanobilbao commented on #668
Wei plans to wrangle one project to CellxGene using the current tooling

[2022-03-07 09:46] ofanobilbao commented on #530
Prabhat will be looking into this today. But it is dependant on at least a ticket that is in Code Review.

[2022-03-07 10:59] prabh-t commented on #631
Checked. PRs affecting code (ingest-archiver, ingest-data-archiver) merged to dev and master, so in prod.

[2022-03-07 11:09] ESapenaVentura commented on #704
Transfering the issue to the dev repository

[2022-03-07 14:37] prabh-t commented on #669
Comments addressed. Waiting for (re-)re-approval..

[2022-03-08 09:39] idazucchi commented on #680
@ipediez or @idazucchi to test this today

[2022-03-08 09:41] idazucchi commented on #529
should be able to merge soon

[2022-03-08 09:46] Wkt8 commented on #680
Imaging test data here: https://docs.google.com/spreadsheets/d/1ZfsX5py6TOH7N-er_iT0kg2_CZqp5BWT/edit?usp=sharing&ouid=114069941208994528669&rtpof=true&sd=true

hca-util area here: a0124126-fdc0-4c27-b292-65e9d6175873

[2022-03-08 12:00] aaclan-ebi commented on #680
**Steps to test:**
1. Create a spreadsheet to contain your test data according to the acceptance criteria
you could base it on this small test spreadsheet, which contains donor -> cell suspension -> 2 files. https://github.com/HumanCellAtlas/metadata-schema/blob/master/infrastructure_testing_files/current/dcp_integration_test_metadata_1_SS2_bundle.xlsx
2. Upload test spreadsheet to via Ingest UI.

[2022-03-08 13:37] prabh-t commented on #529
Reviewed, comments addressed, merged to dev.

[2022-03-08 18:51] idazucchi commented on #680
Running the test here for acceptance criteria 2)
https://staging.contribute.data.humancellatlas.org/projects/detail?uuid=cbebc6f5-c36b-4f89-a2bb-ddb022e98b57

Test:
1. Upload spreadsheet to create a project via submission
2. Sync data files to the S3 bucket via hca-util
3. Export
4. Add process using [this script](https://github.com/ebi-ait/hca-ebi-dev-team/tree/dcp-680-add-metadata-script/scripts

[2022-03-09 09:38] ipediez commented on #680
Test for acceptance criteria 3)
https://staging.contribute.data.humancellatlas.org/projects/detail?uuid=4c43d4b7-ad94-435f-8de8-8cb6ad0aa23c

Test:

1. Upload spreadsheet to create a project via submission
2. Sync data files to the S3 bucket via hca-util
3. Export
4. Make linking changes between inputs to the biomaterial:

   Previously:

   specimen_ID_1--> cell_ID_1, dissociation_protocol_1

[2022-03-09 10:08] gabsie opened #693 "Steps to submit a suitable dataset to Cellxgene"
As a data wrangler, I would like to now all necessary steps to submit a project to CellxGene, so that I can start wrangling.

Acceptance criteria:
Given a project is suitable for CellxGene (ticket),
When I follow the steps below,
I can prepare all necessary files to submit to CellxGene.

[2022-03-09 10:45] gabsie commented on #647
NCBI have fixed the issue.

[2022-03-09 11:16] MightyAx commented on #689
A thought (as a reminder to to discuss later): Do we need to be able to open new blank submissions if an open submission doesn't currently exist? (perhaps because all current submissions have already been submitted)

[2022-03-09 11:17] gabsie commented on #530
Almost done, requires more written tests and testing.

[2022-03-09 11:30] MightyAx commented on #670
Just an idea: I believe if the cxgene link is added as an accession it will be displayed in project catalogue (but perhaps this requires a HCA metadata version change)

[2022-03-09 12:02] aaclan-ebi commented on #650
Verified expected behaviour. Tested with `GSE161255`.  Promoted this ticket to prod today.

[2022-03-09 12:03] aaclan-ebi commented on #688
@jacobwindsor sent an email to the Entrez API team but hasn't got any response yet. But, this seems to have been fixed now in their API. I am also able to download a spreadsheet using `GSE161255` accession. Closing. Moving to Done.

[2022-03-09 12:09] aaclan-ebi commented on #680
Many thanks, @idazucchi and @ipediez ! Promoting this to prod now.

[2022-03-09 12:10] aaclan-ebi commented on #680
Forgot to thanks @Wkt8 as well!

[2022-03-09 12:19] ami-day opened #694 "Dataset updated with 10X version raising error in ingest"
I updated a project which had been exported in ingest.
Specifically, I changed the library prep. method from Drop-seq to 10X 3' v3. I also modified the relevant fields in the tab - the barcode read,length,offset.
However, it is now raising an error when I save changes because the spatial barcode fields are missing. However, this dataset does not include 10X visium spatial transcriptomics. Can this

[2022-03-09 12:34] MightyAx commented on #687
For design work / Note taking
https://miro.com/app/board/uXjVOGuWq84=/?invite_link_id=233670770122

[2022-03-09 12:35] #694 closed, assigned to ami-day

[2022-03-09 12:40] aaclan-ebi commented on #680
Promoted to prod now.

[2022-03-09 12:57] aaclan-ebi opened #695 "Send linking updates and deletes to DCP"
## User story
As a data submitter
I want to submit linking updates to DCP
so that I can submit the correct model of my experiment

## Acceptance criteria
Some are already supported with the current implementation but adding them again here so we can test them again as we're changing the design/implementation. Criteria 1, 3, 4  are already supported and functional as implemented from dcp-680.

###

[2022-03-09 13:22] aaclan-ebi commented on #689
If the submission has already been submitted, we will "open" that submission and it should be submittable again.

[2022-03-09 13:33] jacobwindsor opened #696 "Raise warning from GEO->HCA if GEO project is not in SRA"

[2022-03-10 09:42] ipediez commented on #687
@MightyAx to work on this based on documentation, might get stuck if something goes wrong due to other colleagues at sick leave

[2022-03-10 10:27] aaclan-ebi commented on #695
Some new messages on this thread: https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1646834044480059?thread_ts=1646223040.031019&cid=C01360XN04S

It feels like we can't proceed with this yet. The problem with the decision we made from the meeting last [8th March](https://docs.google.com/document/d/1nTZDW9xQhgZfM6jQkBbK2O68CRvALPiJ8F-noiEvxTA/edit#heading=h.6ijg7tqg7h5k) is that **we will always

[2022-03-10 11:17] aaclan-ebi opened #697 "Avoid resetting the submission state when its in Complete"
Remove complete state and have a way to determine and handle when data files are removed

[2022-03-10 13:59] amnonkhen opened #698 "SOP for project updates"
As a wrangler
I want to know how to perform all types of updates and which ones are supported
so that I can update my dataset successfully.

**Acceptance Criteria / Definition of Done**
an SOP document

* Given a project in ingest
* When I need to update it (metadata, links, entity, files)
* Then I can follow detailed instructions in an SOP document that explain what is supported and how to achiev

[2022-03-10 16:10] MightyAx commented on #687
Added a initial implementation to the barcodes being integrated into the matrix file (still untested): https://github.com/ebi-ait/ingest-cellxgene-submitter/commit/2291fbe52688410f6f1bf5af3478a48fcf420059

[2022-03-10 18:14] aaclan-ebi opened #699 "Run ingest-to-terra integration test in prod"
Currently, the integration test for ingest-to-terra doesn't run in prod. It would be nice to run it to test the exporting flow. The test should be able to delete the test files in Terra.

[2022-03-11 09:21] gabsie opened #700 "Direct contributions into DCP"
As a single cell data researcher, who wishes to participate in HCA, I would like to submit my data into the DCP.

[2022-03-11 09:27] gabsie opened #701 "Step by step guide and requirements for data contributors"
As a data submitter, I would like to have a clear idea of process and data requirements to submit to the DCP.

[2022-03-11 09:28] gabsie opened #702 "Files and formats of data required for the different types of submissions into HCA"
As a potential HCA data submitter, I would like to know what types of data is submitted to the HCA DCP, and the file formats required for it, so that I can prepare.

Acceptance criteria

Given I visit the Contribute website
When I read the information on Files and Formats
I can see if my data fits for submission and prepare the files.

(instead of being sent multiple emails by wranglers)

Tasks:

[2022-03-11 09:30] gabsie commented on #702
As a data submitter, I would like to know what kind of files and formats I need to submit for my type of data.

[2022-03-11 09:41] Wkt8 commented on #695
Needs clarification with downstream components which will not happen until the post-demo meeting with the DCP. @aaclan-ebi will set up a meeting before then.

[2022-03-14 09:39] prabh-t commented on #463
Karel added and deployed new secrets and restarted the apps.

[2022-03-14 09:46] prabh-t commented on #647
Amnon to organise a catchup on this.

[2022-03-14 10:21] ami-day commented on #143
The pull request has now been merged.

[2022-03-14 10:21] #119 closed

[2022-03-14 14:38] Wkt8 commented on #687
Uns layer consists of three required fields:
    "schema_version": "2.0.0",
    "title": "Human Thymic Epithelial Cells - A cell atlas of human thymic development defines T cell repertoire formation",
    "X_normalization": "umap",

Uns layer is a dictionary.

Schema_version is always going to be '2.0.0' for the foreseeable future
Title is a free-text entry for the title of the collection
X_normal

[2022-03-14 15:53] ke4 opened #867 "Improve spreadsheets for testing of Archiving"
I used the testing spreadsheet for archiving to test archiving.

https://docs.google.com/spreadsheets/d/1L6FfWzYfJX8u_ge0w_u13obrAEZJy50d/edit?usp=sharing&ouid=103883794928474636291&rtpof=true&sd=true

I list the issues here that I found so far:

- [ ] It would be nice to duplicate the spreadsheet and have one without ANY accessions and and other one with accessions. That way we could test creatin

[2022-03-14 16:33] ke4 opened #703 "ENA creates a new BioSamples when direct archiving a biomaterial"
When we send a biomaterial with direct archiving into the ENA archive it creates a new BioSamples as we are not sending the already created BioSamples accession in the `sample XML` request.

**Acceptance criteria:**
The created ENA sample should not create a new sample in BioSamples, but linked to the already created BioSamples.

[2022-03-15 09:45] MightyAx commented on #703
Rumour from Tony "We don't have to send samples to ENA, we can just reference BioSamples".
**Confirmed by the Documentation!**

[2022-03-15 09:47] MightyAx commented on #668
Wei has a H5AD file to send!

[2022-03-15 09:48] MightyAx commented on #530
Unit tests are done but testing to the actual archives is in progress.

[2022-03-15 09:49] MightyAx commented on #580
Some issues found with the data set sent by @ESapenaVentura, this ticket is for listing these.

[2022-03-15 11:50] ke4 opened #705 "Remove ENA sample submission from direct archiving"
We just realised we don't need to generate and submit SAMPLE XML file to ENA. It is enough to reference the samples in the experiment submission.

We need to remove all the code that is dealing with sample submission to ENA.

[2022-03-15 13:45] aaclan-ebi commented on #689
script to add a metadata: https://github.com/ebi-ait/hca-ebi-dev-team/pull/474/files

[2022-03-15 13:51] MightyAx commented on #689
Tasks:

- [x] Broker: Get list of concrete_types per base type (building on: https://github.com/ebi-ait/ingest-broker/pull/38)

UI:

- [x] User clicks new biomaterial/protocol/process
- [x] UI asks which concrete type to use out of a list
- [x] UI displays "new metadata" form based on "edit metadata" form
- [x] post to core
- [x] link new meta to project in core

Consideration: Do we only add the

[2022-03-15 14:02] aaclan-ebi commented on #689
PR containing broker api endpoints to retrieve schema info: https://github.com/ebi-ait/ingest-broker/pull/38/files

[2022-03-15 14:34] jacobwindsor commented on #647
- GSE173682
- GSE181346
- GSE186368

Will still not work since they do not have corresponding SRA accessions.

However, I believe GSE189770 should work since there is [this SRA project](https://trace.ncbi.nlm.nih.gov/Traces/sra/?study=SRP348406). Moving this back into backlog

[2022-03-15 16:21] ke4 commented on #705
PR: https://github.com/ebi-ait/ingest-archiver/pull/76

[2022-03-15 18:36] ke4 commented on #705
I tested it in dev environment and it worked fine.

[2022-03-15 18:39] ke4 commented on #703
In this ticket: [Remove ENA sample submission from direct archiving](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/705) I removed the sample submission to ENA. Therefore, we don't need to fix this issue.
I am going to move this ticket to Done.

[2022-03-16 08:56] aaclan-ebi opened #706 "Ingest UI - Searching protocol to be linked doesn't work on first try"
**Steps to replicate**

1. Go to Ingest UI
2. Create a test submission from the [integration-test spreadsheet](https://github.com/HumanCellAtlas/metadata-schema/raw/master/infrastructure_testing_files/current/dcp_integration_test_metadata_1_SS2_bundle.xlsx)
2. In the submission's details page, go to the Processes tab, expand 1 process and try searching a protocol using the value of `protocol_core.

[2022-03-16 11:14] jacobwindsor opened #707 "Allow SRP accessions when creating project from GEO accession"
Relates to #647

Since some projects fail to import grom GEO because of issues with the Entrez API, we can bypass this and import directly from an SRA project accession (SRP or ERP).

It should also allow downloading of a spreadsheet from an SRP or ERP acccession.

[2022-03-16 14:38] prabh-t opened #708 "Direct archiving integration: biosamples, biostudies, ena study, experiments and runs & data files"
All the archiving steps need to be integrated together and work seamlessly. Any error in one step needs to stop the process and return the error to the user in the archive response, to be dealt with, before the remaining steps can be resumed.

Karel's part
- biosamples
- biostudies
- ena study
To be integrated with Prabhat's part
- data files archiving
- ena experiments
- ena runs

Error handling

[2022-03-16 14:49] ami-day opened #709 "Get spreadsheet in identical format to spreadsheet template"
Ingest client is used to generate a spreadsheet from a submission, for example following updates are made to the submission. However, this spreadsheet does not have the same format as the original uploaded spreadsheet. E.g. the user friendly column names are missing and uuid columns are added.

- As a wrangler, I want to be able to download the spreadsheet in identical format to the template sprea

[2022-03-16 14:50] ami-day commented on #709
Not sure which @ebi-ait/ait-dev to tag in this ticket - I will need help!

[2022-03-16 15:08] ke4 opened #710 "Create a test tracking spreadsheet for direct archiving"
We need to track our testing regarding to direct archiving.
We need to come up with an agreed form to report the testing results.

[2022-03-16 15:11] ke4 commented on #710
[Tracking sheet for testing](https://docs.google.com/spreadsheets/d/1_a-LNJT0aRhZth2oO4Giu5J0WuwzQdDJ3NDSm0jQi08/edit#gid=0)

[2022-03-16 15:43] Wkt8 commented on #687
https://data.humancellatlas.org/explore/projects/ef1d9888-fa86-47a4-bb72-0ab0f20f7004/project-matrices - This is a 10X project with suitable project matrix files, and also cell-type annotations and tsne/umap coordinates.

[2022-03-16 15:44] Wkt8 commented on #668
Will be discussing with brian and Jason about cell-type ontologies today, and then will submit to cellxgene.

Instructions to submit are as follows from Jason:
f you go to https://cellxgene.cziscience.com/?curator=true
You should see a Log In option in the upper right
Selecting that and you'll be prompted to log in via Google or GitHub.
After you do that, there should be an option to "Create Colle

[2022-03-16 15:45] Wkt8 commented on #693
Document here: Steps to be further detailed. https://docs.google.com/document/d/1UVGIllybmEI46x22NSDpMNRywT3c8hcGrcw6opiHdbg/edit#

[2022-03-16 15:52] Wkt8 commented on #687
@jacobwindsor please see this [excel document](https://docs.google.com/spreadsheets/d/1daDqOSr_mDdjDvhAXG5-wGTnLzHvKxhL/edit?usp=sharing&ouid=114069941208994528669&rtpof=true&sd=true) for a link between Cell_suspensions uuids and Cell_suspension names.

The project is split up with one tar file corresponding to one cell_suspension on the data portal page. So in one tar file, every single barcode s

[2022-03-16 17:08] ke4 opened #711 "ENA Study converter not getting totally reinitialise after reuse"
When using the 2nd time the Study converter is not getting initialised properly and it is reusing the values from its previous usage. That way it adds accession to a new Study entity that is not yet registered with ENA.

We need to reinitialise this converter properly before each usage.

[2022-03-16 18:57] ami-day commented on #709
Closing this ticket - i double checked and actually the spreadsheet that gets generated should be ok.

[2022-03-16 18:57] #709 closed, assigned to ami-day

[2022-03-17 09:47] Wkt8 commented on #668
h5ad file submitted to cellxgene in a collection set to private.
Have notified Jason of this and he will check and get back to us!
Link here: https://cellxgene.cziscience.com/collections/de13e3e2-23b6-40ed-a413-e9e12d7d3910/private

[2022-03-17 09:51] MightyAx commented on #222
Make sure someone can pair with Ami on this on Friday 18th March

[2022-03-18 09:41] amnonkhen commented on #689
PRs to be reviewed today.

[2022-03-18 09:41] MightyAx commented on #689
Ingest UI PR: https://github.com/ebi-ait/ingest-ui/pull/165

[2022-03-18 09:48] jacobwindsor commented on #707
PRs

https://github.com/ebi-ait/geo_to_hca/pull/35
https://github.com/ebi-ait/ingest-ui/pull/166
https://github.com/ebi-ait/ingest-broker/pull/39/files

[2022-03-18 10:26] aaclan-ebi opened #712 "Linking to previous entities doesn't work in spreadsheet import"
This happened to Ida's dataset ebi-ait/hca-ebi-wrangler-central#699

**Steps to replicate:**
1. Create 2 spreadsheets.

  spreadsheet 1 should contains:

  spreadsheet 2 contains:

2. Upload the first spreadsheet, upload files, validate the graph and submit it to HCA.
3. Upload the second spreadsheet, upload files and validate the graph.

**Actual Behavior:**
Graph validation will have errors beca

[2022-03-18 12:03] aaclan-ebi opened #713 "Investigate any changes we need to do wrt ELIXIR AAI to LS AAI Migration"
https://lifescience-ri.eu/ls-login/elixir-migration-news.html

[2022-03-18 12:59] amnonkhen opened #714 "Elixir -> Life SCience Login migration"
Elixir AAi is to be retired on 11.4.2022
https://lifescience-ri.eu/ls-login/elixir-migration-news.html

ingest would need to adapt its login flow.

- [x] impact assessment session
- [x] dev task breakdown
   - [ ] change elixir to LSL icons

[2022-03-18 17:00] ke4 commented on #708
PR for changing the format for the processed archive response: [#78](https://github.com/ebi-ait/ingest-archiver/pull/78)

[2022-03-18 17:10] ke4 commented on #708
Here is the latest response from the log:

[code]

[2022-03-18 18:37] aaclan-ebi commented on #713
closing in favor of #714

[2022-03-18 18:37] #713 closed, assigned to nobody

[2022-03-18 19:04] ke4 commented on #708
PR [#78](https://github.com/ebi-ait/ingest-archiver/pull/78) has been merged into staging and production env.

[2022-03-21 09:39] ESapenaVentura commented on #668
@Wkt8 may ping jason again

[2022-03-21 09:40] ESapenaVentura commented on #682
@amnonkhen to merge this today

[2022-03-21 09:42] ESapenaVentura commented on #707
PR needs one more review, @amnonkhen to review

[2022-03-21 09:44] ESapenaVentura commented on #693
@gabsie to review, the document is ready for someone to follow. A wrangler may also be needed to review, TBD.

[2022-03-21 09:46] ESapenaVentura commented on #222
Almost integrated but needs a dev - @jacobwindsor to meet with @ami-day and discuss about it

[2022-03-21 09:48] ESapenaVentura commented on #689
pending review

[2022-03-21 09:51] ESapenaVentura commented on #687
@jacobwindsor ran it on friday for one matrix file and have sent the file to @Wkt8 for checks as a test, once tested we can decide on further actions

[2022-03-21 09:52] ESapenaVentura commented on #708
@prabh-t caught up with @ke4 about this ticket. Finishing last bits of integration and carrying out on testing, planning to test with a test submission today

[2022-03-21 09:55] ESapenaVentura commented on #530
@prabh-t to test today

[2022-03-21 12:58] ami-day commented on #151
creation of pypi package pull request: https://github.com/ebi-ait/hca-to-scea-tools/pull/78

[2022-03-21 15:54] jacobwindsor commented on #707
@ESapenaVentura to test this on staging.

- For a given GEO accession, you should be able to import it with the SRA project accession too
- For a GEO accession that doesn't work because of the Entrez API issue (e.g. GSE189770) you should be able to import it with the relevent SRA project accession
- For a given project, you should be able to download the spreadsheet with the SRA project accession

[2022-03-21 17:33] ami-day commented on #151
https://github.com/ebi-ait/ingest-ui/tree/dcp-222_ui_screen_run_scea_conversion

[2022-03-21 17:34] jacobwindsor commented on #687
I ran this with two matrix files to create an H5AD with `10053` observations. It had a peak memory usage of 2.5GB. That's quite large already! I can think of a couple of optimizations that **might** decrease the average memory usage (using categorical data types, pickling objects, saving intermediary objects to the disk) but eventually all of the objects will have to be read to create the output H

[2022-03-22 09:23] prabh-t commented on #530
PR https://github.com/ebi-ait/ingest-archiver/pull/79

[2022-03-22 09:24] prabh-t commented on #708
PR https://github.com/ebi-ait/ingest-archiver/pull/80

[2022-03-22 09:36] gabsie commented on #707
@ESapenaVentura will test this.

[2022-03-22 09:38] gabsie commented on #687
Any wrangler can run this, maybe @Wkt8 first - to check the output. Memory usage issues might need this to be run on the cluster.

[2022-03-22 09:40] gabsie commented on #668
Project is here: https://cellxgene.cziscience.com/collections/de13e3e2-23b6-40ed-a413-e9e12d7d3910/private , Jason continues to take a look

[2022-03-22 09:45] gabsie commented on #689
@yusra-haider will catch up with @MightyAx

[2022-03-22 14:33] amnonkhen opened #715 "submission uuid in all logging messages of broker"
Add the submission uuid to all log messages in the broker to allow tracking a submission throughout its lifecycle across the different components of ingest.
See ebi-ait/dcp-ingest-central#390 ebi-ait/dcp-ingest-central#490

[2022-03-22 14:37] amnonkhen commented on #639
@aaclan-ebi can you add more info? Is this still happening? If not, please close it.

[2022-03-22 17:27] brittneydwick opened #723 "Unable to download spreadsheet from ingest UI using GEO accession"
Hi there,

I tried to download a spreadsheet for GSE176509, project UUID 5ae10405-795e-42e5-85de-3c3154f9c526 and got the following error:
![Screen Shot 2022-03-22 at 10 26 17 AM](https://user-images.githubusercontent.com/72572505/159539858-88b04dfc-fe8b-41db-8856-907eb135d338.png)

Any ideas what to do?

[2022-03-23 10:07] #668 closed, assigned to Wkt8

[2022-03-23 10:26] #667 closed, assigned to nobody

[2022-03-23 10:27] MightyAx opened #716 "Ingest UI Bug: Adding new metadata doesn't update table totals"
Adding new metadata doesn't update table totals until using the refresh button at the top of the page.
![Screenshot 2022-03-23 at 10.25.42.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/fbca5a52-2ce0-4144-90cd-0ae17598674b)

[2022-03-23 11:08] ESapenaVentura commented on #723
Hi @brittneydwick! thanks for bringing this up

This is a very weird error indeed. I will bring it to the attention of our devs to see how we can resolve this

[2022-03-23 11:18] gabsie opened #717 "A submission guide section with information for end contributors"
- [ ] As a potential data contributor, I would like to find an area of the Contribute website which will guide me in the process of submission to HCA.

**Acceptance Criteria / Definition of Done**

* Given I find or am directed to the HCA Ingest website
* When I visit the Submission Guide section
* Then I can find answers to my questions on data types and formats, and steps.

Tasks:

- [x] Design:

[2022-03-23 11:45] ESapenaVentura commented on #707
Hi Jacob! I have been doing a bit more testing:

## GSE189770/SRP348406
### GSE189770
- As expected, didn’t work, but the error message was a bit weird (Printed the object instead of the message)
### SRP348406
- Created project succesfully
- Could download the spreadsheet using the SRP option and it looked alright (for the amount of metadata that you can extract from SRP)

## GSE176509/SRP323456
#

[2022-03-23 11:51] amnonkhen commented on #161
file does not exist any more.
closing

[2022-03-23 12:12] aaclan-ebi commented on #219
This was fixed as part of the work on ebi-ait/dcp-ingest-central#673

[2022-03-23 12:12] #219 closed

[2022-03-23 12:19] aaclan-ebi commented on #37
I believe this is a duplicate of ebi-ait/dcp-ingest-central#689

[2022-03-23 12:19] #37 closed

[2022-03-23 12:23] aaclan-ebi commented on #325
Duplicate of #532

[2022-03-23 12:23] #325 closed

[2022-03-23 12:25] #368 closed, assigned to nobody

[2022-03-23 12:25] aaclan-ebi commented on #368
Duplicate of #532

[2022-03-23 13:47] MightyAx commented on #689
Going to work with @ESapenaVentura on User Testing.

[2022-03-23 16:17] ESapenaVentura commented on #689
The submission I created is [here](https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=3401688d-3406-4263-bf51-51c08ef9eb6d)

I have tested this for a bit, adding a couple new entities and re-linking. I have not tried with every single specific entity type (e.g. specimen, cell line, organoid etc) but I have tried creating new entity types for protocols, processes and biomaterial

[2022-03-23 16:56] MightyAx commented on #689
The protocol is still linked to the process though right? (Protocol is still in the HCA schema?)
Perhaps the protocol data is shown on the processes that use them after we export?

Do you mean it shouldn't be mandatory in the schema, or that it's mandantoryness doesn't matter to the form?

I picked up on this too, validation is reported but not respected, you can make an invalid row, but the valid

[2022-03-23 19:43] amnonkhen opened #718 "reduce time to get data in dcp"

[2022-03-23 19:45] amnonkhen opened #719 "[Goal] HCA data FAIRness"

[2022-03-23 21:21] #224 closed

[2022-03-23 21:21] #223 closed

[2022-03-23 21:21] #262 closed

[2022-03-23 21:22] #143 closed

[2022-03-24 02:33] gabsie commented on #666
This ticket is solved partially by the step by step guide.
Criteria for the suitable projects:

- Raw count matrix
- cell type annotations (cell type linked to barcode)
- x-y coordinates (tsne, umap, pca)

@Wkt8 can provide us with the list of projects that he has already identified.

[2022-03-24 03:02] gabsie opened #720 "File name cannot be changed from the UI"
From Irene:

File name cannot be changed from the UI. Example: file.tsv (File Name) with format tsv (File Format) is changed to file.tsv.gz with format tsv.gz. Changes are applied, but the UI shows the following error: The file with filename, "file.tsv", doesn't match the file format, "tsv.gz", in the metadata. The File Format has been changed, but not the File Name.

Not sure if this deserves ano

[2022-03-24 03:05] #656 closed, assigned to ke4, aaclan-ebi

[2022-03-24 03:05] #646 closed, assigned to aaclan-ebi

[2022-03-24 03:06] #618 closed

[2022-03-24 03:06] #625 closed, assigned to jacobwindsor

[2022-03-24 03:06] #644 closed, assigned to jacobwindsor

[2022-03-24 03:06] #635 closed, assigned to jacobwindsor

[2022-03-24 03:06] #537 closed, assigned to jacobwindsor

[2022-03-24 03:06] #628 closed, assigned to amnonkhen, ami-day, aaclan-ebi, yusra-haider

[2022-03-24 03:06] #683 closed, assigned to jacobwindsor

[2022-03-24 03:06] #631 closed, assigned to prabh-t, ami-day

[2022-03-24 03:06] #531 closed, assigned to ke4

[2022-03-24 03:06] #629 closed, assigned to aaclan-ebi

[2022-03-24 03:06] #645 closed, assigned to aaclan-ebi

[2022-03-24 03:06] #673 closed, assigned to aaclan-ebi

[2022-03-24 03:06] #574 closed, assigned to jacobwindsor

[2022-03-24 03:07] #654 closed, assigned to ke4

[2022-03-24 03:07] #511 closed, assigned to ke4

[2022-03-24 03:07] #669 closed, assigned to prabh-t

[2022-03-24 03:07] #632 closed, assigned to aaclan-ebi

[2022-03-24 03:11] gabsie commented on #693
This document is fine by me. However, it mostly needs to serve other wranglers so that they can do cellxgene wrangling as well.

[2022-03-24 08:40] gabsie opened #721 "Simpler metadata spreadsheet"
As a contributor, I want to fill out a simpler spreadsheet so that I can start depositing data directly with the DCP

**Acceptance Criteria / Definition of Done**

* Given I am required to annotate my dataset for HCA
* When I get a spreadsheet for HCA metadata
* Then I can fill it out within an hour and with minimal wrangler help

Tasks
Research biggest hurdles and time wasters in spreadsheet (wra

[2022-03-24 09:15] ESapenaVentura commented on #689
Perhaps the protocol data is shown on the processes that use them after we export?

Sorry if I wasn't too specific, what I mean is this specific protocol schema: https://github.com/HumanCellAtlas/metadata-schema/blob/master/json_schema/type/protocol/protocol.json

That one is not used in the system, I don't fully know why it's there (It's always been there, my best guess is that it's been used as

[2022-03-24 09:51] idazucchi commented on #695
@aaclan-ebi posted the PR for review on slack, no reviews yet

[2022-03-24 10:08] MightyAx commented on #689
I see, this schema has been deprecated:
https://schema.staging.data.humancellatlas.org/type/protocol/7.1.0/protocol

We can stop that being returned.
We already do this for the old process schemas that that don't have concreteType = process.

[2022-03-24 10:09] #716 closed, assigned to nobody

[2022-03-24 10:11] jacobwindsor commented on #707
PRs for fixes:

https://github.com/ebi-ait/geo_to_hca/pull/36
https://github.com/ebi-ait/ingest-broker/pull/40

[2022-03-24 10:43] aaclan-ebi commented on #689
Were there 2 save buttons? The form has no validation in place yet, you'll be able to save anything but once saved the validator should flag the JSON schema errors.

Yeah, the no. being displayed after '/' is the expected no. of protocols from the spreadsheet, since entities can be manually added now, they won't match anymore. I don't know how to better display it, let's ask Gabs later.

When an e

[2022-03-24 10:58] gabsie opened #722 "CellxGene pipeline optimisations based on existing DCP projects"

[2022-03-24 11:07] ESapenaVentura commented on #723
Moved to dcp-ingest-central and added the bug label, as well as moving it to the sprint backlog

[2022-03-24 11:09] ESapenaVentura commented on #704
Related to #723

[2022-03-24 11:11] gabsie commented on #679
to discuss additionally whether this can go into the sprint.

[2022-03-24 11:11] MightyAx commented on #689
Yep, a big blue one and a small grey one, appears on both new and edit, screenshots below.
![Screenshot 2022-03-24 at 11.08.34.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/076a574f-8cd3-46f9-bd27-83562944e77d)

![Screenshot 2022-03-24 at 11.08.58.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/e7a7f645-ba73-4d9d-82ce-e09b117e0827)

The total number actually

[2022-03-24 11:13] gabsie commented on #723
fixed yesterday and there's a PR.

[2022-03-24 11:17] gabsie commented on #627
To discuss the options at the design meeting. What happens with new submissions.

[2022-03-24 11:25] amnonkhen opened #724 "547"

[2022-03-24 17:47] ke4 opened #725 "Data file archiving failed in dev env without meaningful error message"
I followed these steps to be able to archive a dataset with metadata:

1. Upload a spreadsheet from here: https://docs.google.com/spreadsheets/d/1L6FfWzYfJX8u_ge0w_u13obrAEZJy50d/edit?usp=sharing&ouid=103883794928474636291&rtpof=true&sd=true
2. Upload data files (mock files) with hca-util from here: s3://hca-util-upload-area/8387594c-342d-43b0-b6f2-4d391af605aa/
3. After all files became valid do

[2022-03-24 19:40] brittneydwick commented on #723
Thank you, everyone!

[2022-03-24 19:51] jacobwindsor commented on #707
The error for `SRP323456` is because geo->HCA is asking for user input and this causes the broker to hang indefinitely until it eventually crashes. The error that you see after a while is the error that happens when broker is down. The same thing now happens for `GSE176509` after my fixes which is to be expected

I will make another ticket for this as it was a preexisting issue

[2022-03-24 19:57] jacobwindsor commented on #707
The error for `SRP344429` seems to happen because of a crash or a timeout. It looks like memory usage spikes and sometimes this causes the pod to fail. The error that you get is when ingest-broker is down. It doesn't always fail at exactly the same point and actually, it seems that sometimes the UI times out and a failure doesnt happen. This makes me think it's a memory issue.

The same error now

[2022-03-24 20:29] jacobwindsor commented on #723
Fixed by fixes in #707 - waiting for user testing. @brittneydwick please note we found more issues but they are specific to large projects so shouldn't affect everything

[2022-03-25 09:50] ipediez commented on #707
Two issues: one related to GEO expecting user input, another one related to memory usage. The first one should be easier to fix than the second one.

[2022-03-25 09:51] ipediez commented on #723
@jacobwindsor to add @yusra-haider to the discussion

[2022-03-25 09:56] ipediez commented on #725
@ke4 and @prabh-t to have a discussion today about this

[2022-03-25 12:25] jacobwindsor opened #726 "GEO->HCA don't ask for user input"
As a wrangler, I want to be able to run GEO-HCA in the UI with **all** possible projects.

Relates to issue found in testing of #707

Some accessions e.g. `GSE176509` trigger a path in GEO->HCA that asks for user input in the CLI. This causes the whole thing to hang until it eventually crashes. These should be replaced with some automated logic.

* Given a project such as GSE176509
* When I run GE

[2022-03-25 12:43] jacobwindsor commented on #726
@ipediez says "I’d say to use the oldest publication, as it is the first one in which at least some of the data in the accession was provided and used. But I guess that ideally we would include all of them, although this isn’t supported right now"

[2022-03-25 12:54] jacobwindsor commented on #704
This was fixed in #707 which is being tested

[2022-03-28 08:52] jacobwindsor commented on #689
@MightyAx to continue to work on this in separate tickets. Don't revert in master

[2022-03-28 08:56] jacobwindsor commented on #707
@gabsie  to test

[2022-03-28 08:56] jacobwindsor commented on #712
Devs to review

[2022-03-28 08:58] #666 closed, assigned to nobody

[2022-03-28 09:28] jacobwindsor commented on #714
Blocked by #689 deployment

[2022-03-28 12:55] ke4 opened #727 "File archiver returning null results after a successful triggering event"
Steps to reproduce:

1. Create a submission and submit it to EBI archives
2. Send a POST request to ingest-archiver to the data file submission endpoint with the submission UUID
`curl -X POST https://archiver.ingest.dev.archive.data.humancellatlas.org/archiveSubmissions/data -H 'Content-Type: application/json' -H "Api-Key:$ARCHIVER_API_KEY" -d '{"sub_uuid": "97e71b8b-1fa3-497c-a1e5-61993159d3b7"}'

[2022-03-28 13:07] prabh-t commented on #727
Looking at the log, the request did not seem to have been received/processed:
[code]
there was an exception for the last request, this may have caused the consumer process to stop but it should not. Not sure, need to debug.
The successful "Data archiving request triggered successful" is returned upon the data file archive request is put in the queue.

[2022-03-28 14:00] ke4 commented on #727
I restarted the data archiver as there is an unacked message and I had to get rid of it. Now I got the result:

[code]

[2022-03-28 14:06] gabsie commented on #707
So here is the result of the testing I did.
1. Tried a GSE accession GSE199337 - Unable to find the accession message
2. GSE116672 - took a long time, an error occurred
3. GSE116297 - long time, unable to, error occurred
4. GSE115978 - accession already used by another project, good message

So basically, I have not had any luck. The way I have found accessions is look for projects with single-cel

[2022-03-29 07:44] prabh-t commented on #727
@ke4 https://github.com/ebi-ait/ingest-data-archiver/pull/11
exception doesn't catch non-exception (e.g. type/value) error. now fixed and the listener should not break on this msg: {"sub_uuid": "test"}

[2022-03-29 13:09] #727 closed, assigned to ke4

[2022-03-29 13:29] ke4 commented on #727
@prabh-t We discussed that the `ValueError` is an exception and we discussed and added some more changes to the PR: https://github.com/ebi-ait/ingest-data-archiver/pull/11

[2022-03-29 15:13] ke4 opened #728 "Executing file archiving is not populating the `fileArchiveResult` field"
**Executing file archiving is not populating the `fileArchiveResult` field**

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a submission and submit it to EBI archives
2. Send a POST request to ingest-archiver to the data file submission endpoint with the submission UUID
curl -X POST https://archiver.ingest.dev.archive.data.humancellatlas.org/archiveSubmissions/data -H 'Content-Type:

[2022-03-29 15:21] ke4 commented on #728
After a while only 1 file has not got not `null` value in the `fileArchiveResult` field.

Log:
[code]

[2022-03-29 15:35] ke4 commented on #728
@prabh-t suggested to repeat the same POST request as before and that should patch the remaining file.
I did it and it worked. Every file has a correct not `null` value at their `fileArchiveResult` field.

[2022-03-29 16:23] aaclan-ebi commented on #712
Fix is in staging.

[2022-03-29 16:25] aaclan-ebi commented on #712
Not sure if we need wrangler testing, i've verified the fix myself. We have a dataset waiting for this fix in prod. cc @ami-day

I would need to deploy the broker to prod and that contains other changes from different tickets.

[2022-03-29 17:15] ke4 opened #729 "Archiving failed with experiment and run processing"
Archiving failed with experiment and run processing

To Reproduce
Steps to reproduce the behaviour:

1. Create a submission and submit it to EBI archives
2. Send a POST request to ingest-archiver to the data file submission endpoint with the submission UUID
curl -X POST https://archiver.ingest.dev.archive.data.humancellatlas.org/archiveSubmissions/data -H 'Content-Type: application/json' -H "Api-K

[2022-03-30 10:08] aaclan-ebi opened #730 "Do not allow Add, Edit, Delete metadata options if submission is not in editable state"
**The user should be prevented from doing any type of modifications (Add, Edit, Delete) if the submission is validating, exporting or archiving.**

### User story
As a data submitter...
I shouldn't be able to add, edit, or delete the submission if it's being validated, exported or archived...
So that the system does not get stuck and there will be no discrepancy between what's in ingest and what w

[2022-03-30 10:08] aaclan-ebi opened #731 "Metadata form dialogue box has 2 save buttons"
Add Hide Save button option to metadata form, use in the details dialog.

This feature is needed so that there'll be only one save button when the metadata form is displayed in a dialogue box in the UI

[2022-03-30 10:08] aaclan-ebi opened #732 "Ability to validate metadata in the UI forms"
**User story:** As a data submitter, I want to see the metadata validation errors before I even save the form to create or save the metadata so that I can correct and save them as valid.

**Acceptance criteria:**
Given a submission, when I add metadata via UI form and enter an invalid value, then the error should be displayed.

Technical task: Run javascript validation on the form before clicking

[2022-03-30 11:01] aaclan-ebi commented on #712
Promoted to prod.

[2022-03-30 13:57] amnonkhen opened #733 "upgrade to terraform 1.1"
See ebi-ait/ingest-kube-deployment#16
Alegria has done some basic work here.

[2022-03-30 13:58] amnonkhen opened #734 "upgrade to terraform 1.1"
See some related work by Alegria in ebi-ait/ingest-kube-deployment#16
Not all changes there are relevant to upgrade of terraform..

[2022-03-30 14:06] jacobwindsor opened #735 "Allow for geo-to-hca conversions of large projects"
As wrangler I want to run GEO->HCA in the UI with large projects.

Fixes issues found in comments of #707

**Acceptance Criteria / Definition of Done**

* Given a large project, such as SRP344429 and GSE187515
* When I run GEO->HCA through the UI
* Then it doesn't time out or crash

### Technical stuff
Please see [this Miro board](https://miro.com/app/board/uXjVOC4R5Hw=/) for a breakdown or possib

[2022-03-31 04:44] yusra-haider commented on #547
as per @ofanobilbao  and @amnonkhen discussion, we will be capturing and displaying lifecycle events, i.e. state changes for a submission in this ticket

Posting the tentative UI design here for feedback, @gabsie

![image.png](https://images.zenhubusercontent.com/5fa15836bb6093b67034928a/f4e80677-9b12-4b43-9a93-344e02fde0e5)

[2022-03-31 08:37] ofanobilbao commented on #687
@Wkt8 is testing this

[2022-03-31 08:39] ofanobilbao commented on #659
Once all ready @MightyAx will move to In Code Review

[2022-03-31 08:40] ofanobilbao commented on #695
Hannes and Nathan have suggested changes but other people in the DCP need to review

[2022-03-31 08:42] amnonkhen commented on #547
@yusra-haider please format it as a table

[2022-03-31 08:42] MightyAx commented on #659
UI change to add delete button, and minor fixups from #689
Ingest UI: https://github.com/ebi-ait/ingest-ui/pull/167

Core change to properly unlink entities when they are deleted (prevent crashes loading those entities) and sending delete requests to the state tracker:
Ingest Core: https://github.com/ebi-ait/ingest-core/pull/121

State tracker endpoint to delete internal representation of core cha

[2022-03-31 09:43] aaclan-ebi opened #736 "Avoid redundant metadata validation on linking changes"
**Background:**
We added a change  https://github.com/ebi-ait/ingest-core/pull/101 is causing a lot of validation messages in the queue and also causing linking during importing to be very slow. This change is to set back the metadata to draft for every linking change so that the submission will go back to Draft and let the user revalidate the graph.

**The issue with that change:**

If a process

[2022-03-31 13:50] ipediez opened #737 "HCA library used for several scripts is deprecated"
**Describe the bug**

When trying to use the populate_ingest script in hca-ebi-dev-team an environment needs to be created using the libraries specified in the requirements.txt file. When venv tries to install hca-ingest, it needs to install also the hca library, which is deprecated.

We should avoid using this library in our scripts if possible, as we cannot install the virtual environment and to

[2022-03-31 13:50] ipediez commented on #737
@gabsie this needs prioritization

[2022-04-01 10:49] aaclan-ebi commented on #737
Hi @ipediez , I released a new version of hca-ingest v1.0.0 https://pypi.org/project/hca-ingest/ please try updating this dependency on your scripts. Let me know if there are issues. Upgrading to the v1.0.0 should fix the issue of installing the indirect dependency hca which is causing that error message `This repository has been deprecated. For information about accessing Human Cell Atlas data pl

[2022-04-01 14:45] aaclan-ebi commented on #737
Hold on, there's an issue in hca-ingest v1.0.0 , investigating

[2022-04-01 15:17] aaclan-ebi commented on #737
Please use the version hca-ingest v1.0.2 , there was a packaging issue. https://github.com/ebi-ait/ingest-client/commit/1ca2f9ab749f1d52959f454d5d7ea90f80c76340

[2022-04-01 15:42] aaclan-ebi commented on #332
Optimise this code:
https://github.com/ebi-ait/ingest-core/blob/master/src/main/java/org/humancellatlas/ingest/submission/SubmissionEnvelopeService.java#L202-L304

[2022-04-04 08:37] Wkt8 commented on #712
Moved back into 'In Code Review' as there's still an issue with specimen - donor linking in bulk.

[2022-04-04 08:41] Wkt8 commented on #736
Testing is failing but uncertain if this is due to issues with State Tracker or with issues with the code. Alegria and Jacob to pair on this.

[2022-04-04 08:42] Wkt8 commented on #659
Code review for the three above is required from devs.

[2022-04-04 08:45] Wkt8 commented on #725
Prabhat can now archive one of the data files successfully. Further checks are required. Prabhat and Karoly to continue working on this.

[2022-04-04 08:46] Wkt8 commented on #695
Alegria to add some additional DCP component reviewers.

[2022-04-04 08:49] Wkt8 commented on #332
Alexie has made some improvements on this by way of creating the 'delete metadata entity' feature (#659)

[2022-04-04 09:06] MightyAx opened #738 "Ingest Core: Adding / Deleting Metadata should update Submission Summary"
Adding or deleting a metadata from a submission without using the spreadsheet upload will not update the submission summary document counts.

### To Reproduce

1. Use the API or UI to add metadata to a submission, the table counts will not be updated
2. Use the API or UI to add metadata from a submission, the table counts will not be updated

#### Add Using UI
UI -> Submission -> Biomaterial tab -

[2022-04-04 09:10] MightyAx commented on #730
Is this ticket for?
1. Ingest UI
2. Ingest Core
3. Both Ingest UI and Ingest Core

[2022-04-04 09:34] MightyAx commented on #332
So some work has already been done on this as part of the [delete metadata PR](https://github.com/ebi-ait/ingest-core/blob/007148cc2fa87f5abe9c40623fa14f4725f6f8e7/src/main/java/org/humancellatlas/ingest/submission/SubmissionEnvelopeService.java#L238) that is currently being reviewed

But there are some next steps that [Amnon identified here](https://github.com/ebi-ait/ingest-core/pull/119#discuss

[2022-04-04 12:58] gabsie opened #739 "filter HCA Publications on Project Catalogue"
As a visitor to the HCA catalogue,
I want to see which of the datasets are HCA branded publications,
so that I can identify and look them up as higher trust than others.

[2022-04-04 14:37] aaclan-ebi commented on #712
Deployed fix in staging, @idazucchi pls test, thanks Ida!

[2022-04-04 21:13] aaclan-ebi commented on #633
Happened to ebi-ait/hca-ebi-wrangler-central#723

[2022-04-04 21:17] aaclan-ebi commented on #736
This will actually fix https://github.com/ebi-ait/dcp-ingest-central/issues/633 because it will no longer set the metadata entity to Draft if its submission is not Graph Valid. The first submission will always be in Exported (or state after Submitted).

[2022-04-04 21:21] aaclan-ebi commented on #633
Should be fixed by ebi-ait/dcp-ingest-central#736

[2022-04-04 21:27] aaclan-ebi commented on #712
@idazucchi found another issue, but we couldn't verify if the scenario was ever supported.

It's not possible to link a row to an existing entity and new entity of the same concrete type

**Steps to replicate:**
1. Create 2 spreadsheets.

  spreadsheet 1 should contains:

  spreadsheet 2 contains:

2. Upload the first spreadsheet, upload files, validate graph and submit to HCA.
3. Upload the secon

[2022-04-04 21:32] aaclan-ebi opened #740 "Cannot link to existing and new entity of same domain type in a spreadsheet at the same time"
Scoped out from ebi-ait/dcp-ingest-central#712

**Steps to replicate:**
1. Create 2 spreadsheets.

  spreadsheet 1 should contains:

  spreadsheet 2 contains:

2. Upload the first spreadsheet, upload files, validate graph and submit to HCA.
3. Upload the second spreadsheet, upload files and validate the graph.

**Actual Behavior:**
The specimen is linked to donor 1 only

**Expected Behavior:**
The

[2022-04-05 10:03] jacobwindsor commented on #659
This is now in staging and ready for testing if @ami-day has time

[2022-04-05 10:03] jacobwindsor commented on #736
This is now in staging and ready for testing if @ami-day has time

[2022-04-05 10:09] aaclan-ebi commented on #633
@ami-day this fix is now in the staging env and should be ready for testing, you could follow the steps to reproduce above. Thanks!

[2022-04-05 10:56] gabsie commented on #717
First version of a design (still have to see about the right VF components), but can work as a prototype first. The sizing of the page is also not right yet

![Sprint 6 April - Project tab - Submission guide.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/9f91a914-4fcb-4fd7-bd98-ed3989291c5e)

![Sprint 6 April - Project tab - Submission guide 2.png](https://images.zenhubusercont

[2022-04-05 13:52] amnonkhen commented on #332
Some suggestions:
- run all repository "delete" operations in parallel
- run a single delete operation in the DB
- make sure there are indices set

[2022-04-05 16:02] jacobwindsor opened #741 "Fix memory usage not shown for containers"
Memory usage per container is not showing in `kubectl`. Need to investigate why and fix

[2022-04-05 16:03] jacobwindsor commented on #636
Netlify could potentially be used for this

[2022-04-05 19:21] amnonkhen opened #742 "monitoring ingest service"
as an admin of ingest
I would like to:
- [ ] measure performance (throughput, duration)
  - [ ] api performance
  - [ ] operation performance - e.g. export duration
- [ ] measure instantaneously and trends
- [ ] receive alerts on abnormal events (degradation of performance, increased load, etc.)
- [ ] track a single submission/project across the different services and lifecycle stages
    * see #7

[2022-04-06 08:21] MightyAx opened #743 "Allow for rapidly adding/editing/deleting multiple metadata entries"
Assuming #730 locks a submission from being edited in an uneditable state, a user will have to wait some time for the entire submission to validate the metadata whenever they make an edit (including additions or deletions).
Which leaves us with the following user story to satisfy:
____
As a **data submitter**...
I can perform **multiple** edits, additions and deletions to metadata in a submission.

[2022-04-06 08:47] MightyAx commented on #730
updated ticket details to include validating

[2022-04-06 09:02] MightyAx commented on #659
This is now ready for testing on Staging.
Since the deployment issue's meant Ami didn't get a chance to start any testing, does it makes sense for @Wkt8 to test this as the wrangler on Dev this sprint?

[2022-04-06 09:28] MightyAx commented on #659
@ESapenaVentura, as the backup wrangler on dev and the person who originally tested the additions in #689 can you check that the fix-ups that were released with this address the issues you raised.
-  Missing word in New type - concreteType has been **added** successfully
- Don't show in protocol add menu: type/protocol/x.x.x/protocol

Thanks

[2022-04-06 09:37] ke4 commented on #708
New response structure that we came up together with @prabh-t .

[code]

[2022-04-06 09:46] gabsie commented on #659
Write up a test plan with different scenarios and @Wkt8 can go over the scenarios with the dev @MightyAx

[2022-04-06 09:50] gabsie commented on #736
relates to [633](https://github.com/ebi-ait/dcp-ingest-central/issues/633)

[2022-04-06 09:52] gabsie commented on #633
@Wkt8 to test the above scenario.

[2022-04-06 10:06] gabsie commented on #692
To be done by @aaclan-ebi and meeting about these on Monday next week.

[2022-04-06 10:09] gabsie commented on #695
@aaclan-ebi will involve @MightyAx / @jacobwindsor  when doing these changes to have the knowledge

[2022-04-06 10:12] aaclan-ebi commented on #695
@amnonkhen @MightyAx @jacobwindsor PR for DCP spec changes https://github.com/HumanCellAtlas/dcp2/pull/60

[2022-04-06 12:41] jacobwindsor commented on #651
Writing notes: clusters are running with two nodes using `t3a.large` for each node which have 8GB of memory between them

[2022-04-06 13:24] MightyAx commented on #659
Miro board with testing scenario's and outcomes:
https://miro.com/app/board/uXjVO_fYG-o=

[2022-04-06 14:14] aaclan-ebi commented on #736
Tested in dev and it took only 46 minutes to import 70k links compared to ~5hrs before

submission manifest:
[code]

[2022-04-07 08:38] MightyAx commented on #708
Testing continues thur / fri.
Prabhat has been volunteered to do Focused Wrangler user testing while karoly is on holiday.

[2022-04-07 09:08] ESapenaVentura commented on #659
I am a bit confused here, sorry, am I supposed to test more things or just that the fixes were applied?

[2022-04-07 09:11] Wkt8 commented on #687
Hi @jacobwindsor - three things!
First: I ran the script with an input.csv to generate an output.h5ad, however I couldn't see how the barcodes were incorporated in the h5ad. I would expect them to be added as the index in the .obs layer or as a column in obs.

Second: Could you please enable the create-obs-from-multiple functionality in the ignest-cellxgene-submitter? This is because when working

[2022-04-07 12:47] MightyAx commented on #659
@ESapenaVentura I was given the impression that the Dev Team process mean you *should* test the two things I resolved that you raised. But I will be the first to admit I don't have a clear picture of the nuance of that process right now. I don't *need* you to test them since I think the problems you raised and my fixes for them are fairly self-explanatory.
- Missing word in New type - concreteType

[2022-04-07 13:19] jacobwindsor commented on #687
@Wkt8

First: I wasn't aware of that requirement. Barcodes are not in the original spreadsheet you sent with spec. Please tell me how you need them to be included

Second: okay but we need to discuss this. The original version wasn't very utile. You had to provide a CSV with mutliple duplicated rows. I think the new API is better: you just give the number of rows you want for a given cell suspensi

[2022-04-07 14:47] jacobwindsor commented on #687
@Wkt8 please test this with multiple UUIDs as well. I think at least 5-10 should suffice

[2022-04-07 15:23] #529 closed, assigned to prabh-t

[2022-04-07 15:24] #688 closed, assigned to jacobwindsor

[2022-04-07 15:24] #705 closed, assigned to ke4

[2022-04-07 20:07] ke4 opened #744 "Make archiving an async process so user can come back and check result"
*Problem*
**Archiving bigger submissions times out**
I tried to archive the medium sized submission from this location: https://docs.google.com/spreadsheets/d/1oqQMdGWN20bFOBiMhSG9-Cq_075UI4tQ/edit?usp=sharing&ouid=103883794928474636291&rtpof=true&sd=true. The archiving timed out after a while.
When I checked the submission in Ingest it look ok, the archive accessions were set on the entities.

**

[2022-04-07 20:10] ke4 commented on #744
I think we need a discussion how to resolve this issue.
- Either we add another endpoint that the user could poll to get the status/result of the archiving process.
- Use async messaging and add a listener that would process the response from the archiver

[2022-04-08 08:40] MightyAx commented on #659
@MightyAx will take on the User testing identified here: https://miro.com/app/board/uXjVO_fYG-o=

[2022-04-08 08:41] MightyAx commented on #741
https://github.com/ebi-ait/ingest-kube-deployment/pull/45

[2022-04-08 08:41] MightyAx commented on #651
https://github.com/ebi-ait/ingest-kube-deployment/pull/45

[2022-04-08 09:48] Wkt8 commented on #687
First: I need to think about how to include them - I was thinking to make the barcodes as the index, but in cases where the h5ad (at the end) will be composed of multiple cell_suspensions put together we may need to add a Cell_suspension ID as a prefix to avoid duplication. Leave this for now!

Second: Is because when we're working from an h5ad file, the obs layer of that file provides the CSV wit

[2022-04-08 10:27] amnonkhen commented on #141
This has been implemented in more recent tickets.

[2022-04-08 10:28] #141 closed

[2022-04-08 10:31] amnonkhen commented on #330
closing, has not resurfaced since creation

[2022-04-08 10:31] #330 closed

[2022-04-08 10:37] amnonkhen commented on #121
I think this is covered by the data releases and import form.

[2022-04-08 10:37] #121 closed

[2022-04-08 10:38] amnonkhen commented on #589
We have been doing "skipping through the board" a little monitoring of Comulative Flow diagrams, and a little discussion on stuck items.
Seems to be working adequately for now.

[2022-04-08 10:39] #589 closed, assigned to amnonkhen

[2022-04-08 10:49] amnonkhen commented on #237
This is implemented as Gabby requested.
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/c60228b6-6634-421c-b877-66d37946a6fc)

[2022-04-08 10:49] #237 closed

[2022-04-08 10:49] amnonkhen commented on #306
@MightyAx is this still relevant?

[2022-04-08 10:51] amnonkhen commented on #275
Implemented with "import DOI" feature.

[2022-04-08 10:51] #275 closed

[2022-04-08 10:52] amnonkhen commented on #283
implemented in DOI feature.

[2022-04-08 10:52] #283 closed

[2022-04-08 10:53] amnonkhen commented on #377
@yusra-haider is this still relevant?

[2022-04-08 10:57] amnonkhen commented on #408
@gabsie  is this still relevant?

[2022-04-08 10:57] ke4 opened #745 "BioSamples returning an error when we try to archive a sample without a name"
**BioSamples returning an error when we try to archive a sample without a name**

**To Reproduce**
Steps to reproduce the behaviour:
1. Download the spreadsheet from https://docs.google.com/spreadsheets/d/1oqQMdGWN20bFOBiMhSG9-Cq_075UI4tQ/edit?usp=sharing&ouid=103883794928474636291&rtpof=true&sd=true and make sure that all the biomaterials has name as it is required in BioSamples.
2. Make sure tha

[2022-04-08 11:10] MightyAx commented on #306
If I run those commands on the dev branch, adjusting for the requirements file changing name, I still get the same error.
So we have yet not fixed out ability to compile the ingest-client for use with pip.

[2022-04-08 11:53] jacobwindsor commented on #687
@Wkt8 second is done and in the repo

For the third point, I was thinking this doesn't make sense. I understand that a cell suspension can contain multiple cells but the way we have discussed this in the past, we don't support it. The input to the script is just a cell suspension UUID, there is no extra granularity there. If what you say is correct I think we may have to revise the approach we hav

[2022-04-08 14:31] ami-day opened #746 "Fastq validation tool"
**Goal**

Development of a stand-alone fastq validation tool.
A flexible tool that can be applied to different single-cell technology types to check for the expected cell barcode.
It should also run a general fastq quality check applicable to all single-cell fastq files.

First iteration will be focused on identifying whether the expected 10X single-cell version cell barcode is in the reads, and o

[2022-04-08 14:35] ami-day commented on #746
Found and tests the following tool: https://readthedocs.org/projects/umi-tools/
It works well for different 10X chemistry versions! Using expected cell barcode whitelists downloaded from the latest 10X CellRanger software.

The creators of the tool also provide an inDrop regex which can be used. I am yet to test this on inDrop fastq data.

I have emailed the creators to ask if they have a list of

[2022-04-11 07:11] aaclan-ebi opened #747 "Automate deletion of spreadsheet of a deleted submission"
The spreadsheets of submission aren't being deleted when a submission is deleted.

Steps to manually do this:
[code]

[2022-04-11 08:05] aaclan-ebi commented on #695
An issue was discovered in the scenario when there are multiple submissions in a project.
Exporting only the submission will export the entities for that submission and probably some entities from the previous submissions if linked to them. The new “update” staging area will not contain everything about the project. To fix this, we agreed on exporting the whole project when a submission is exporte

[2022-04-11 08:39] ami-day commented on #659
@MightyAx says he should make progress on this today.

[2022-04-11 08:41] MightyAx commented on #633
Not specifically @Wkt8 or @ami-day, wranglers to coordinate.

[2022-04-11 08:46] MightyAx commented on #695
@aaclan-ebi  Remind them in the DCP demo?

[2022-04-11 08:47] MightyAx commented on #547
@gabsie and @yusra-haider to talk about this today.

[2022-04-11 09:18] Wkt8 commented on #736
@aaclan-ebi does this still need a wrangler?

[2022-04-11 09:21] aaclan-ebi commented on #736
No, this one doesn't need a wrangler, since this is a non-functional change.  But it's linked to the [dcp-633](https://github.com/ebi-ait/dcp-ingest-central/issues/633) that one needs wrangler testing. They have the same fix so they're kind of tied together and I've put them on the same pipeline.

[2022-04-11 09:37] Wkt8 commented on #687
Actually, @ESapenaVentura pointed out that we can still use the script if we give the appropriate cell-type-ontology term as the input to the script, so wranglers would just do the manual matching between (free text cell type given by contributors) and (cell type ontology term) before running the script, and then match, which speeds things up a lot.

One cell suspension won't have multiple donor o

[2022-04-11 16:40] aaclan-ebi commented on #659
I think there's an issue with deleting a project
[code]
logs:
[code]

[2022-04-11 17:49] aaclan-ebi commented on #740
This is now in staging, @idazucchi would you be able to verify this in staging? Thanks!

[2022-04-12 08:37] aaclan-ebi commented on #633
@idazucchi could cover this in #740 testing.

[2022-04-12 08:41] aaclan-ebi commented on #659
@ESapenaVentura will assist @MightyAx with testing.

[2022-04-12 08:46] Wkt8 commented on #687
Jacob has made changes to make the script optimised for multiple combinations of uuids and cell types.

Additionally, Jacob made changes for issues with library preparation protocol.
- in the case that there is more than 1 library preparation protocol, we should try to ignore those processes. Leave that CS library prep blank.
- Otherwise, the script should work as usual and obtain the library prep

[2022-04-12 09:40] idazucchi commented on #633
I tested this with submission ticket280_test_case2 in staging - the first submission stayed exported after the addition of a second submission, the fix is working correctly

[2022-04-12 09:45] idazucchi commented on #740
I tested this with submission ticket280_test_case2 in staging
In one process I can link:
- existing and new biomaterials
- existing and new protocols

 the fix is working correctly!

[2022-04-12 12:45] jacobwindsor commented on #741
I'm going to wait until Thursday to deploy this to prod so that any complications will have time to highlight in staging or dev

[2022-04-12 12:45] jacobwindsor commented on #651
I'm going to wait until Thursday to deploy this to prod so that any complications will have time to highlight in staging or dev

[2022-04-12 13:37] jacobwindsor opened #748 "Set CPU usage limits and requests for all containers"
Since we have high CPU usage, especially in prod, setting resource limits and requests for this will help k8s figure out where to deploy new containers and even out the service.

Related to #651

[2022-04-12 13:38] jacobwindsor opened #749 "Set CPU resources for all containers"
Related to #651

Setting CPU resource limits and requests will even out the service since k8s will be able to figure out where to deploy containers better

[2022-04-12 13:39] #749 closed, assigned to nobody

[2022-04-12 14:43] jacobwindsor commented on #730
https://github.com/ebi-ait/ingest-core/pull/124

[2022-04-12 14:56] MightyAx opened #750 "When adding a new metadata to a submission it should also be added to the submission's project."
Bug found in the UI where the supplementary link between metadata and project is not being added correctly when posting new metadata.
**This previously worked** but reveals the solution should really be in core rather than the UI:

when Posting to sue/id/biomaterials the biomaterial is created and added to the submission envelope, it should also be added to the project if the submission envelope h

[2022-04-14 08:29] jacobwindsor commented on #730
https://github.com/ebi-ait/ingest-ui/pull/170

[2022-04-14 08:41] ESapenaVentura commented on #659
We still need some user testing - Not blocking at the moment

[2022-04-14 08:42] ESapenaVentura commented on #708
Work is on hold due to dev capacity/leave

[2022-04-14 08:44] ESapenaVentura commented on #750
PRs to be reviewed - @aaclan-ebi if you could take a look. it would be great

[2022-04-14 08:46] ESapenaVentura commented on #730
2 PRs:
- Core
- UI

Both need to be reviewed

[2022-04-14 08:48] ESapenaVentura commented on #332
@aaclan-ebi suggested this part of the code is very expensive https://github.com/ebi-ait/ingest-core/blob/master/src/main/java/org/humancellatlas/ingest/submission/SubmissionEnvelopeService.java#L202-L304 and could be optimised

Needs further investigation.

[2022-04-14 09:40] jacobwindsor commented on #682
@amnonkhen why is this still in waiting?

[2022-04-14 09:40] MightyAx opened #751 "Broker & Importer linking Project for new metadata is now handled by core"

[2022-04-14 09:44] jacobwindsor commented on #730
PRs merged. I will test this myself and consult @MightyAx too as wranglers are busy.

Testing plan:

- [x] Can create a submission via upload a submission
- [x] Can create a submisson via project
- [x] Cannot add/edit/delete metadata entities while submission is in validating/graph validating/exporting
- [x] cannot add/edit/delete a project while a submisssion in that project is in validating/grap

[2022-04-14 11:58] jacobwindsor opened #752 "Block users from editing or deleting metadata but not adding when in METADATA_VALIDATING"
At the moment after #730, core does not block requests to patch, post, or delete to metadata endpoints when a submission is in METADATA_VALIDATING. This is because the spreadsheet importing needs to update the submission while it is still in METADATA_VALIDATING.

To circumvent this, in #730 and [this commit](https://github.com/ebi-ait/ingest-ui/commit/0938ce1bee35443f9eb5f965b0e4e36964e3c4e6), the

[2022-04-14 12:34] jacobwindsor commented on #752
https://github.com/ebi-ait/ingest-core/pull/126
https://github.com/ebi-ait/ingest-ui/pull/171

[2022-04-14 13:32] MightyAx commented on #751
Not needed. Broker (via ingest client) does not have a project reference when creating metadata for a submission from a spreadsheet, the project is the metadata it is creating, so linking will have to be done afterwards.

[2022-04-14 13:32] #751 closed, assigned to nobody

[2022-04-15 10:59] aaclan-ebi commented on #692
@amnonkhen @MightyAx @jacobwindsor @ke4  @prabh-t @yusra-haider  I've marked the things I was able to document. Please let me know if you have any comments. Many thanks!!!!

[2022-04-19 08:26] MightyAx commented on #750
Merged to master with 752, deploy to ingest ui failed over the weekend but has been re-deployed to staging now.

[2022-04-19 08:38] gabsie commented on #750
Alexie will continue testing on this

[2022-04-19 08:39] gabsie commented on #730
tested on Friday - potentially should be tested by a wrangler as well, but shouldn't stop promoting.

[2022-04-19 08:40] gabsie commented on #752
Hopefully today will be in production as well

[2022-04-19 08:41] gabsie commented on #687
To be here until all wranglers have done their Cellxgene datasets successfully.

[2022-04-19 08:42] gabsie commented on #708
To be checked and merged today.

[2022-04-19 08:46] gabsie commented on #746
Ami has made some progress here.

[2022-04-19 10:01] gabsie opened #753 "Open/Managed access Data Policy for HCA DCP, available on contribute.data"
As a data submitter to HCA DCP,
I would like to find out what the HCA DCP data policy is with regards to:

- what types of data are suitable for submission to the DCP, especially with regards to open/managed access
- what is considered identifiable data
- how to avoid breaking GDPR laws unintentionally

Acceptance criteria:

- [x] stakeholders like T Burdett are happy with the wording
- [x] potent

[2022-04-19 11:07] gabsie commented on #10
This is resolved with our metadata linking updates.

[2022-04-19 11:07] #10 closed

[2022-04-20 08:57] jacobwindsor commented on #331
Closing this as doesnt happen since we moved to our own gitlab runners

[2022-04-20 08:57] #331 closed

[2022-04-20 08:57] jacobwindsor commented on #367
I think we don't need this anymore

[2022-04-20 08:57] #367 closed, assigned to nobody

[2022-04-20 08:58] jacobwindsor commented on #583
Closing this as have not seen it in a while

[2022-04-20 08:58] #583 closed, assigned to nobody

[2022-04-20 09:29] jacobwindsor opened #754 "Clean up submissions from integration tests when they fail"
Relates to https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-dev-team/484

Test submissions don't get cleaned up if the integration test fails - we should fix that

[2022-04-20 10:13] gabsie commented on #670
please refer to [409](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/409)

[2022-04-20 10:13] gabsie commented on #670
please refer to [409](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/409)

[2022-04-20 10:13] amnonkhen commented on #619
solved with nxn import task

[2022-04-20 10:13] #619 closed, assigned to yusra-haider

[2022-04-20 10:24] gabsie commented on #547
Needs a design discussion meeting to minimise misunderstanding and define MVP

[2022-04-20 10:27] MightyAx commented on #547
Current statuses in Ingest Back Office:
![Screenshot 2022-04-20 at 11.25.45.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/184bf9cc-a22b-4d93-950c-2206ef4eb3ba)
![Screenshot 2022-04-20 at 11.25.57.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/29736e52-5db1-4ba0-a2c2-d4425c60bd2a)

[2022-04-20 11:13] amnonkhen commented on #670
I created [a wireframe](https://miro.com/app/board/uXjVO79yOL0=/)

[2022-04-20 12:51] ke4 opened #755 "Add a new resource to ingest core to track archiving jobs"
We need a new resource in ingest-core to be able to track archiving process as it could be a long running process. It has to communicate with 3 different EBI archiving service, so it could take some time to send all metadata that belongs to a submission.

The new resource name: `archiveJob`

It contains the following fields:
- uuid
- submissionUuid
- datetimeStarted
- datetimeReturned
- overallSta

[2022-04-20 12:52] ke4 opened #756 "Add an endpoint to get an archiving job"
As an archiving process could be a long running job we need to able to check its status and the results from the various archives when the job has finished running.

Request:
[code]

Succesfull response:
[code]

Values of status could be: `Pending`, `Running`, `Failed`, `Completed`.

[2022-04-20 12:54] ke4 opened #757 "Get the result of an archiving job"
As an archiving process could be a long running job we need to able to query its result when it is completed. We can add a simple endpoint to get the result of a job by its UUID.

Request:
[code]

Succesfull response:
[code]

The value of the `status` field could be: `Pending`, `Running`, `Failed`, `Completed`.

[2022-04-20 13:04] MightyAx commented on #670
The recommendation here is to store links to Cellxgene / SCEA / UCSC in the project metadata schema

`project.supplementary_links`

**The suggested change is to highlight supported URLs in the project catalogue.**

@gabs / @ESapenaVentura Please can I have examples of the following urls, so that I can determine how we detect them:
1. Cellxgene
2. SCEA
3. UCSC

[2022-04-20 13:19] jacobwindsor opened #758 "Run ingest-state-tracking seeding in an init container"
**problem**
When ingest-state-tracking is deployed, the Redis DB is seeded from ingest-core and this process takes some time. This means deployments are slow and ingest-state-tracking is down for a few minutes between deployments

**solution**
Run the seeding in an [init container](https://kubernetes.io/docs/concepts/workloads/pods/init-containers/)

[2022-04-20 13:29] jacobwindsor opened #759 "Populate ingest-state-tracking redis cache from everything that is in ingest-core"
At the moment ingest-state-tracking only tracks what is persisted in the redis db when it starts up. This means that if a submission exists that isn't in the redis cache when ingest-state-tracking starts up, ingest-state-tracking won't be tracking it. This isn't very helpful for running locally since we don't always have ingest-state-tracking running and may cause issues in prod if ingest-state-tr

[2022-04-20 13:33] gabsie commented on #670
Hi, @MightyAx

So for UCSC browser links:
https://cells.ucsc.edu/?ds=fetal-thymus
https://cells.ucsc.edu/?ds=lifespan-nasal-atlas
CellxGene
https://cellxgene.cziscience.com/collections/0434a9d4-85fd-4554-b8e3-cf6c582bb2fa
https://cellxgene.cziscience.com/collections/6f6d381a-7701-4781-935c-db10d30de293

SCEA:
https://www.ebi.ac.uk/gxa/sc/experiments/E-CURD-98/results/tsne
https://www.ebi.ac.uk/gxa

[2022-04-20 13:37] prabh-t opened #760 "Update ingest archiver to save (POST) archiving result to new ingest entity"
Currently the user waits for the archive result / output in the console when the archiving request is triggered.
This should now
- return a "Archiving triggered... check status at ENDPOINT"
- the archiving process runs in the background and instead of printing to the console, save the output to the new ingest entity

[2022-04-20 13:52] ESapenaVentura commented on #670
Just adding to this, that for the regex, don't always expect the "tsne" part at the end. It won't always end like that!

[2022-04-20 14:24] MightyAx commented on #670
My current plan is to consider any supplementary link that contains:
`cellxgene.cziscience.com/collections` as a **cellxgene** link
`ebi.ac.uk/gxa/sc/experiments` as a **Single Cell Expression Atlas** link
`cells.ucsc.edu` as a **UCSC Cell Browser** link

We can do more regex manipulation to figure out:

-  the accession (SCEA)
- The uuid (cellxgene)
- the dataset collection name (UCSC)

But then

[2022-04-21 08:41] ami-day commented on #580
needs discussion

[2022-04-21 08:41] amnonkhen commented on #580
@prabh-t to setup a meeting to discuss mitigation of recurring BioSamples issue.

[2022-04-21 08:42] ami-day commented on #695
waiting for approval

[2022-04-21 10:55] prabh-t commented on #755
- added datetime fields
- removed redundant field
- discussed that there is no need to have an overall status as this can be determined by inspecting the result content and this will avoid possible inconsistency between the two fields.
- submission envelope needs to have reference to archiveJobs entities `submissionEnvelope/<uuid>/archiveJobs` and the other direction (archiveJob to have a referenc

[2022-04-21 13:27] jacobwindsor commented on #754
@amnonkhen I've put this into the product backlog as not sure why it was included in the sprint. We didn't discuss this in the kick off

[2022-04-21 13:43] gabsie commented on #753
We have chatted about using the existing content on GDPR from Wrangler SOP docs, and accommodating it to contributor audience...

Examples: https://www.ebi.ac.uk/fg/annotare/help/uhts_submissions.html

https://ega-archive.org/privacy-notice  

https://docs.google.com/document/d/1YrQtCnTIdpRnNCbj_pb5ZJJYoPLS3f7it2ry1Im7EHw/edit#heading=h.mz3q1vll2r1z (DCP approach to identifiable human data)

[2022-04-21 13:43] gabsie commented on #753
We have chatted about using the existing content on GDPR from Wrangler SOP docs, and accommodating it to contributor audience...

Examples: https://www.ebi.ac.uk/fg/annotare/help/uhts_submissions.html

https://ega-archive.org/privacy-notice  

https://docs.google.com/document/d/1YrQtCnTIdpRnNCbj_pb5ZJJYoPLS3f7it2ry1Im7EHw/edit#heading=h.mz3q1vll2r1z (DCP approach to identifiable human data)

[2022-04-21 14:30] ami-day opened #761 "Collect and test test data"
**Acceptance criteria**

- [x] Collect test data for the various 10X Genomics library preparation versions that the tool will run validation on.
- [x] Test that the open-source barcode checker tool works on each of the test cases, given the expected barcode pattern.

**GitHub repo with scripts and test datasets**
https://github.com/ebi-ait/fastq-validator

[2022-04-21 14:38] ami-day commented on #761
test data location:
/data/aday/fastq_validation

[2022-04-21 14:40] ami-day opened #762 "Integrate fastq validation tool in ingest"
Integrate the fastq validation tool in ingest, once it's ready.

- [ ] UI design (wrangler as user)
- [ ] Integration
- [ ] Testing in ingest

[2022-04-21 14:41] ami-day opened #763 "Testing the fastq validation pipeline"
- [ ] Test the python-based fastq validation pipeline on test data before integrating into ingest

[2022-04-21 16:30] jacobwindsor commented on #568
Graph validation failed for a submission with this error ` ERROR: Failed validation with error ('Connection broken: IncompleteRead(7824 bytes read, 368 more expected)', IncompleteRead(7824 bytes read, 368 more expected)).\n","stream":"stdout","time":"2022-04-21T08:33:05.493946565Z"}`

After that, the submission was stuck in graph validating.

[2022-04-22 08:35] ipediez commented on #580
working on asynchronous implementation of the archiving

[2022-04-22 08:37] ipediez commented on #670
@gabsie and @ESapenaVentura to take a look and give feedback

[2022-04-22 08:39] ipediez commented on #755
@ke4 please add as a dependency the corresponding tickets. Thanks!

[2022-04-22 08:45] ipediez commented on #568
Review for priority next sprint

[2022-04-22 10:12] MightyAx commented on #670
Current progress showing filtering and output for SCEA.
The code also works for cellxgene and UCSC but no prod data features those in supplementary links.

It seems like we Will need some regex after all, to display the accessions.

![Screenshot 2022-04-22 at 11.05.55.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/31d14a71-4b02-4984-91ae-a11153b89703)

**My big question then is

[2022-04-22 12:13] MightyAx commented on #670
Implemented accession regex
![Screenshot 2022-04-22 at 13.11.30.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/d861f554-978d-45a8-8be8-797965761c24)

The accession cell is getting very full for some records.

[2022-04-22 15:25] MightyAx commented on #670
added external link signifier and started using this formatting everywhere (just ENA so far)
![Screenshot 2022-04-22 at 16.23.25.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/20359c3a-9897-4565-8202-6817769e5b24)

[2022-04-25 08:40] prabh-t commented on #670
Alexie - Feature complete but some refactoring remaining.

[2022-04-25 08:43] prabh-t commented on #547
Not much progress on this on Friday, progress expected today.

[2022-04-25 10:52] MightyAx commented on #670
The list-of-links component has been complete, awaiting re-review
![Screenshot 2022-04-25 at 11.45.46.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/32f285cf-3249-4950-b4c0-6dda0323d70c)

[2022-04-25 13:25] MightyAx commented on #670
Deployment in the EBI Web Dev Environment [Failed](https://gitlab.ebi.ac.uk/ebiwd/html-sites/ebi.ac.uk.humancellatlas.project-catalogue/-/jobs/823770#L50), but I don't know how to follow this up!

[2022-04-25 13:46] MightyAx commented on #670
The test step that is failing (because yarn is not installed) was added by @jacobwindsor's recent cleanup, removing it for now.

[2022-04-25 14:01] MightyAx commented on #670
Deployment Successful, ready for user testing:
https://wwwdev.ebi.ac.uk/humancellatlas/project-catalogue/

[2022-04-25 14:22] MightyAx commented on #670
Known Issue: TSV generation shows [Object object] instead of accession.
Will fix tomorrow.

[2022-04-25 14:51] ESapenaVentura commented on #670
cellxgene / Single Cell Expression Atlas / UCSC Cell Browser
If you would like Logo's please provide them.

I think it's fine with the names for now. Adding the logos would require a lot more work (we would need to contact each of the institutions for their logos etc)

I think for now we just need to stick with the UUID, cellxgene have no open APIs where we could query a short identifier for the p

[2022-04-27 08:31] ipediez opened #764 "File descriptor not being filled when exporting"
**Describe the bug**
Jeff Korte (Broad Institute) reported some [Release 16](https://docs.google.com/spreadsheets/d/1xApi-qay1H9ef2JQAmPNXH63Xy-0cNYBN4wBaq-YC3U/edit#gid=398656126) validation errors, 7 out of 8 with the following description:

This is a field filled automatically by Ingest when exporting. All the errors come from EBI and UCSC datasets, the two teams using ingest.
| institute | ema

[2022-04-27 13:33] amnonkhen commented on #542
For completeness, the dev mailbox is: [hca-archiving-broker-dev](https://helpdesk.ebi.ac.uk/Search/Results.html?Query=Queue%20%3D%20%27hca-archiving-broker-dev%27%20AND%20Status%20%3D%20%27__Active__%27)

[2022-04-27 16:31] ke4 commented on #756
I am going to revise this ticket and update its description as we discussed with @prabh-t and @amnonkhen that only 1 endpoint would be enough for now to get the archival job resource.
I am going to close the #757 ticket as it is not needed for now.

[2022-04-27 16:40] ke4 commented on #757
I merged the content of this ticket to #756 and I can close this one.

[2022-04-27 16:40] #757 closed, assigned to nobody

[2022-04-28 08:37] ofanobilbao commented on #547
Yusra is working on it

[2022-04-28 14:09] amnonkhen commented on #764
Some findings:
1. exporter gets a null `dataFileUuid` from core
2. exporter does not validate the generated _file_descriptor_ json files according to the schema. According to the [schema](https://schema.humancellatlas.org/system/2.0.0/file_descriptor) the field file_id is a mandatory string
3. in the prod DB: ~380k files with dataFileUuid ~16k without

Open questions:
1. Is this validation by the

[2022-04-29 08:36] prabh-t commented on #755
@ke4 to deploy to prod.

[2022-04-29 08:37] prabh-t commented on #756
@ke4 to deploy to prod.

[2022-04-29 08:40] prabh-t commented on #695
@amnonkhen needs to check with the import team about the progress on this issue.

[2022-04-29 08:41] prabh-t commented on #764
@amnonkhen and @prabh-t did some investigations yesterday. During export, we do not validate the file (json) we generate. To discuss after standup.

[2022-04-29 08:47] prabh-t commented on #547
Yusra has draft PR ready for this. Requires some cleanup and ready for review.

[2022-04-29 12:55] idazucchi opened #765 "Metadata errors not displayed correctly"
**Describe the bug**
After uploading a submission (link) some entities are metadata invalid but the error messages are missing
![Screenshot 2022-04-29 at 13.44.06.png](https://images.zenhubusercontent.com/615acd999165ed463cb3f02e/027fb588-c716-403d-9437-b32f02605343)

Triggering validation by editing the description of the entities produces two outcomes:
1. The error messages appear
![Screenshot 2

[2022-04-29 14:25] gabsie commented on #670
@gabsie to check as well.

[2022-05-03 08:40] Wkt8 commented on #764
Amnon will be meeting with @MightyAx and @jacobwindsor to discuss.

[2022-05-03 08:42] Wkt8 commented on #764
Divide into two tasks:
- workaround to fix the 'file_id' string @ESapenaVentura and @amnonkhen
- investigation of why this was caused and how to stop it from happening

[2022-05-03 08:44] Wkt8 commented on #760
Code refactoring in progress.

[2022-05-03 08:57] jacobwindsor opened #766 "[Spike] Speed up population of graph validator"
Slowest step in graph validation is populating the graph. We can improve this by:

- keeping a constant copy of all active projects in ingest in neo4j
- parallelizing population of entities but this will put more pressure on ingest
- Add needed information in the message payload in the queue

[2022-05-03 13:09] jacobwindsor commented on #765
I have fixed this issue and it is now in prod. The submission does actually have validation errors but now they are showing as expected

[2022-05-04 09:33] gabsie opened #767 "Avoid duplications of projects in ingest by having multiple ways of creating a project"
As a data wrangler, I want to avoid creating multiple versions of a project by going directly through Submissions and uploading a spreadsheet, while a Project might already exist in Ingest backoffice.

### Temporary Acceptance criteria - disable "Upload New Submission" button:
Given a Project already exists in backoffice
When I want to upload a spreadsheet with metadata
I can only do that for an e

[2022-05-04 09:43] MightyAx commented on #670
Project Catalogue in wwwdev not being deployed to production.
Operations ticket to track with EBI Gitlab Team: https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/788

[2022-05-05 08:26] gabsie commented on #717
Hey @jacobwindsor - as a start, please consider these two pages as placeholders for 2 pages from the Submission guide:
https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_suitability_SOP.html
https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/GDPR_Guidelines.html

These two pages will fall under the category of Data requirements, from the first version of the suggested design abov

[2022-05-05 08:38] MightyAx commented on #760
PR for Happy Path done.
WIP in progress for unhappy path.

@MightyAx to look at code review

[2022-05-05 08:40] MightyAx commented on #764
@amnonkhen,  @jacobwindsor & @prabh-t to collaborate and look at this today

[2022-05-05 08:41] MightyAx commented on #547
@amnonkhen and @MightyAx to review draft PR's today.

[2022-05-05 14:47] MightyAx opened #808 ""403 Unauthorised" Uploading Spreadsheet to Existing Project"
![Screenshot 2022-05-05 at 15.35.36.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/75fa2ac7-a1db-493e-bbcc-c03f890a49bb)

[2022-05-05 14:51] MightyAx commented on #808
@MightyAx and @ofanobilbao to investigate tomorrow after stand-up

[2022-05-06 08:39] idazucchi commented on #764
culprit commit found, tests added.
The submission might need to be uploaded again - amnon is looking for a workaround

[2022-05-06 08:40] idazucchi commented on #580
testing with medium and large datasets today!

[2022-05-06 08:44] idazucchi commented on #717
finishing off page layout, the pages will render markdown documents

[2022-05-06 09:43] MightyAx commented on #808
# Reproduction steps

We have investigated and narrowed the reproduction steps to the following:
1. Create new project from DOI
1. Save a valid project by not ignoring metadata errors
1. Wait for the `project.validationState` to be "Valid" in the API
    - Without the previous two steps the error message could be genuine
1. Data Upload Tab -> Submit to Project
1. Choose a spreadsheet
1. **Use the

[2022-05-06 09:44] MightyAx commented on #808
While writing the above steps I was able to get a success using the small dataset test from the wrangler testing folder, this may be a problem with [Oihane's spreadsheet](https://app.zenhub.com/files/261790554/81ea420a-08a7-4e8f-a9b2-1f71322610e1/download).

**Investigation continues...**

[2022-05-06 12:47] amnonkhen commented on #764
@amnonkhen, @jacobwindsor & @prabh-t have found the problem, and coded the fix. Next steps are to update ingest DB with the missing `dataFileUuid`s and re-export. ETA Mon 9/5

[2022-05-06 14:06] MightyAx opened #768 "Metadata Validator Errors can be listed against the wrong Metadada"
Please see this project on staging:
https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=39ac4216-7e5f-400f-a461-4497fd6e9582&project=003dd66d-5d2c-46f8-ac7c-32a06d403501

![image.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/c0200e92-5aaa-4258-9956-e889d36e4adf)

[2022-05-09 08:37] yusra-haider commented on #764
integration tests are failing for something unrelated to the ticket change. @jacobwindsor is taking a look

Wrangler help needed for re-exporting. @ipediez and @ESapenaVentura to help which we will track under ops ticket: ebi-ait/hca-ebi-wrangler-central#783

[2022-05-09 08:41] yusra-haider commented on #717
code implementation done by @jacobwindsor. Waiting on content from @gabsie

[2022-05-09 08:46] gabsie commented on #663
Hey @ipediez, @ESapenaVentura
I wish to introduce these labels, which are supposed to be stored at project level, to remind the actions needed to be done for wrangling. (so they identify wrangler workflows)

Do these make sense to you?
We will also eventually include them as filters, but not as part of this ticket

Thanks!
Gabs

[2022-05-09 08:48] #730 closed, assigned to jacobwindsor

[2022-05-09 08:48] #740 closed, assigned to nobody

[2022-05-09 08:48] #752 closed, assigned to jacobwindsor

[2022-05-09 08:48] #708 closed, assigned to prabh-t, ke4

[2022-05-09 08:48] #741 closed, assigned to jacobwindsor

[2022-05-09 08:48] #745 closed, assigned to ke4

[2022-05-09 08:48] #651 closed, assigned to jacobwindsor

[2022-05-09 08:48] #659 closed, assigned to jacobwindsor, MightyAx

[2022-05-09 08:48] #736 closed, assigned to aaclan-ebi

[2022-05-09 08:48] #750 closed, assigned to nobody

[2022-05-09 08:48] #633 closed, assigned to ami-day, aaclan-ebi

[2022-05-09 08:49] #687 closed, assigned to jacobwindsor

[2022-05-09 08:49] #691 closed, assigned to prabh-t

[2022-05-09 08:49] #711 closed, assigned to ke4

[2022-05-09 08:49] #463 closed, assigned to ke4

[2022-05-09 08:49] #650 closed, assigned to aaclan-ebi, yusra-haider

[2022-05-09 08:49] #680 closed, assigned to jacobwindsor, aaclan-ebi

[2022-05-09 08:49] #692 closed, assigned to aaclan-ebi

[2022-05-09 08:49] #704 closed, assigned to jacobwindsor

[2022-05-09 08:49] #714 closed, assigned to jacobwindsor

[2022-05-09 08:49] #723 closed, assigned to jacobwindsor

[2022-05-09 08:49] #728 closed, assigned to prabh-t

[2022-05-09 08:49] #530 closed, assigned to prabh-t

[2022-05-09 08:49] #624 closed, assigned to amnonkhen, Wkt8

[2022-05-09 08:49] #689 closed, assigned to MightyAx, ESapenaVentura

[2022-05-09 08:49] #693 closed, assigned to Wkt8

[2022-05-09 08:49] #712 closed, assigned to aaclan-ebi

[2022-05-09 08:49] #725 closed, assigned to prabh-t, ke4

[2022-05-09 08:49] #647 closed, assigned to jacobwindsor

[2022-05-09 08:49] #696 closed, assigned to jacobwindsor

[2022-05-09 08:49] #703 closed, assigned to ke4

[2022-05-09 08:49] #707 closed, assigned to jacobwindsor

[2022-05-09 08:49] #710 closed, assigned to ke4

[2022-05-09 08:49] #729 closed, assigned to nobody

[2022-05-09 10:18] MightyAx commented on #670
Project Catalogue deployment to [Prod](https://www.ebi.ac.uk/humancellatlas/project-catalogue/) successful!

[2022-05-09 11:27] amnonkhen opened #769 "document RabbitMQ configuration"
Dev team needs to document the way it uses RabbitMQ, its configurations, queues, messages supported, etc.

Tasks:
- [ ] document messaging sequence - from the initiating component through exchange/queue all the waiting to the consumer
- [ ] queue setup - document manual rabbit configuration does directly on Rabbit Admin
- [ ] add docs to code repo (not Google drive)
- [ ] generate a [diagram](http

[2022-05-09 14:40] MightyAx commented on #764
- [x] PUT https://api.ingest.archive.data.humancellatlas.org/submissionEnvelopes/6256fcf90d00514fc6979a85/commitGraphValidEvent

[2022-05-09 16:07] prabh-t opened #770 "Analysis assays with non sequence files are being archived"
This is happening when...
trying to archive the medium dataset. Submission
https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=afbf4e97-d13c-4b8f-a93e-a2202f441716

We need to review the assay criteria check in the code.

Check archive job status
https://api.ingest.dev.archive.data.humancellatlas.org/archiveJobs/62792b16e1b8ee44f254a330

Check data file archive output
curl -X GE

[2022-05-09 20:46] yusra-haider commented on #547
deployed in dev and staging now, and ready for wrangler testing

[2022-05-10 08:37] MightyAx commented on #547
Core on production

[2022-05-10 08:46] amnonkhen commented on #547
@yusra-haider , here are some comments after trying out this feature:
1. looks very nice
2. tab numbering problem, 2 "5"s
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/58ba4f5c-03d1-40f2-8135-6648bc6343da)

3. history table look and feel is inconsistent with metadata and data tables

[2022-05-10 08:48] jacobwindsor commented on #717
https://github.com/ebi-ait/ingest-ui/pull/173

[2022-05-10 09:14] jacobwindsor commented on #768
@idazucchi I don't see these errors anymore? Was the issue solved?

[2022-05-10 09:14] jacobwindsor commented on #768
@idazucchi I don't see these errors anymore? Was the issue solved?

[2022-05-10 10:18] ke4 opened #771 "Set submission status to Archived when archiver script succeed"
When the metadata and data file submission has finished/completed and everything succeeded, then we have to set the submission status to `Archived` programmatically.

[2022-05-10 10:26] gabsie commented on #670
Hey Alexie, this works great when I tried the different links. Small edit you might have to do with regards to your formula for getting the cell browser links. I have seen in the sheet that their links can sometimes be:

https://gut-cell-atlas.cells.ucsc.edu
https://covid19-influenza-response.cells.ucsc.edu

so maybe you also have to consider links that end in ... cells.ucsc.edu, not only start wi

[2022-05-10 10:35] prabh-t commented on #770
PR https://github.com/ebi-ait/ingest-archiver/pull/88

[2022-05-10 12:43] yusra-haider commented on #547
@amnonkhen
for 2. fixed the tab numbering issue in: https://github.com/ebi-ait/ingest-ui/pull/174, and merged into dev. Waiting on gitlab pipelines

for 3. The table follows the same format as the contributors table, do we want it to follow a different format?
cc: @gabsie

[2022-05-10 13:54] MightyAx commented on #670
![image](https://user-images.githubusercontent.com/13031259/167645372-5f0cfa0a-cdd4-4cca-a6d3-086e41a4be81.png)
Change in review

[2022-05-10 15:52] MightyAx commented on #670
Ready for review on dev: https://wwwdev.ebi.ac.uk/humancellatlas/project-catalogue/
can release to prod when you approve.

[2022-05-10 22:57] yusra-haider commented on #663
Added the field for Wrangling Labels to project admin tab, and added filter for the field
PRs ready for review:
https://github.com/ebi-ait/ingest-ui/pull/175
https://github.com/ebi-ait/ingest-core/pull/134

Field in Admin tab:
![image.png](https://images.zenhubusercontent.com/5fa15836bb6093b67034928a/cb302eb2-d055-4662-a7c0-5b854b4ba624)

Wrangling Labels added as a column to project table:
![imag

[2022-05-11 09:08] jacobwindsor opened #772 "k8s operations"

[2022-05-11 09:09] jacobwindsor opened #773 "Upgrade to latest terraform"

[2022-05-11 09:46] jacobwindsor opened #774 "Upgrade kubernetes clusters to 1.23"
We need to upgrade our K8S from 1.20 -> 1.23 (see [EOL table](https://endoflife.date/amazon-eks))
https://docs.aws.amazon.com/eks/latest/userguide/update-cluster.html

# current status
* ~ingest-core pod does not start on staging~
  * solved by deploying it to antoher node
* staging cluster upgraded to 1.23
  * _in progress_. Still pending:
    * dev - finished to step 3, encountered problem ebi-a

[2022-05-11 09:48] jacobwindsor opened #775 "Spin up the "integration" environment"
**Tasks**
- [x] Get terraform script working
- [x] Deploy all infrastructure
- [x] Deploy all apps
- [x] Update docs

[2022-05-11 10:10] jacobwindsor opened #776 "verify and fix cluster creation scripts (terraform)"
- [ ] Run the cluster creation as documented in [ingest-kube-deployment](https://github.com/ebi-ait/ingest-kube-deployment)
- [ ] Fix it if it breaks
- [ ] Take note of pain points and see if we can reduce the number of steps - make it once click process

[2022-05-11 13:42] prabh-t opened #777 "Data files archiving of large dataset giving a HTTP 403 when trying to patch file document with fileArchiveResult"
This is happening for:
- the large archiving dataset

but not for:
- the medium size dataset

[code]

Need to investigate and resolve this to allow archiving of the large dataset (for testing).

[2022-05-12 08:41] amnonkhen commented on #764
We need to facilitate re-exporting the file descriptors.
Options:
1. delete the corrupt file descriptors and re-export
2. update the dcpVersion field of the corrupt file documents and re-export

Option 1 seems simplest.

[2022-05-12 10:06] Wkt8 opened #778 "Cellxgene: Add 'Age' granularity to 'development_stage_ontology_id'"
For the 'development_stage' term, there is a difference in the ontology terms used by Cellxgene and the HCA.

Cellxgene uses ontology terms which are specific to age 'e.g. 47-year-old human' whereas HCA uses ontology terms which are more general 'e.g. Human Adult stage'.

It would be useful for the [ingest-cellxgene-submitter](https://github.com/ebi-ait/ingest-cellxgene-submitter#create-obs-layer)

[2022-05-12 10:15] Wkt8 opened #779 "Cellxgene: Make the ingest-cellxgene-submitter a module that can be imported"
Make the ingest-cellxgene-submitter (https://github.com/ebi-ait/ingest-cellxgene-submitter#create-obs-layer) a module that can be imported.

It currently needs to be run externally in an external environment outside of a jupyter notebook. A lot of the wrangling-to-cellxgene pipeline occurs inside the jupyter notebook. It would be helpful to be able to run the file within Jupyter.

Acceptance crite

[2022-05-12 13:53] yusra-haider commented on #547
merged to master

[2022-05-13 08:38] ESapenaVentura commented on #764
Doing some research, re-exporting is the issue now. The development is done now.
See ops ticket ebi-ait/hca-ebi-wrangler-central#783

[2022-05-13 08:41] ESapenaVentura commented on #670
Second component to allow for a bit more links in staging yet - But ready to be released

@gabsie to take a look

[2022-05-13 08:48] ESapenaVentura commented on #580
Tested big dataset - 2 separate tests:
- Uploading data files to ENA: Submission has 800+ files. Timeout issue, not sure why. In the end, tried re-uploading and was successful.
- 2nd test in progress

[2022-05-13 08:49] ESapenaVentura commented on #717
@gabsie has a starter page - Working on this today

[2022-05-13 08:50] ESapenaVentura commented on #777
Issue seems to have fixed itself - Probably related to parallel deployments

[2022-05-13 08:51] ESapenaVentura commented on #663
@yusra-haider and @gabsie had a catchup - Small changes needed, but should be available for testing today

[2022-05-13 14:32] ESapenaVentura commented on #808
Link to [a spreadsheet with a similar issue](https://drive.google.com/drive/folders/1Zq2Ci5XLQVCsdEhqJ9SSSZJkPq0q3Zy3)
The [project that I was trying to update is here](https://contribute.data.humancellatlas.org/projects/detail?uuid=e9f36305-d857-44a3-93f0-df4e6007dc97)

[2022-05-16 08:34] gabsie commented on #777
No problem at the moment, we can check later

[2022-05-16 08:37] gabsie commented on #670
This has been checked and is OK!

[2022-05-16 08:40] gabsie commented on #580
They will continue testing here with @ipediez , but the big dataset has gone through.

[2022-05-16 08:42] gabsie commented on #663
check with Yusra if this is ready, today

[2022-05-16 09:56] idazucchi commented on #768
@jacobwindsor the issue with errors about the donors are resolved, the other is still standing.
I uploaded again the same spreadsheet in prod and the cell line raised again an error:
- the message errror is displayed correctly
- the error message is not related to the cell_line field, it's about official_hca_publication instead
- the error disappears if I trigger validation again by editing the de

[2022-05-16 11:00] ipediez opened #780 "[Archiving test] Some processes are not getting a insdc_experiment_accession"
**Describe the bug**
After archiving, the archived processes should have both an SRR accession and an INSDC experiment accession. Nevertheless, some of them do not have the INDSC experiment accession. All of the processes with the accession have 1 sequencing protocol and 1 library preparation protocol. In contrast, all the processes where the accession is not present have 1 sequencing protocol and

[2022-05-16 12:07] yusra-haider commented on #663
deployed to dev env

[2022-05-16 12:49] yusra-haider commented on #663
deployed to staging and ready for testing

[2022-05-16 14:55] ofanobilbao opened #781 "Automatically delete Integration Tests from Ingest Production Environment"
Currently we don't have a way to automatically delete the integration tests in Ingest. As a consequence, the amount of integration tests in Prod keeps increasing. We need to do something

**Acceptance Criteria**

- [ ] We have implemented a way of automatically deleting the integration tests from Ingest Prod environment
- [ ] We have checked ingest for integration tests for 3 consecutive sprints i

[2022-05-16 15:17] gabsie commented on #663
HI, @yusra-haider - I am good for this to be put on prod, whenever possible.
Actually, @yusra-haider - I think the new labels are breaking the table (making it wider), I think we should reconsider how the table behaves and those labels should fall onto a new line etc?
The labels should also have spaces after the commas

[2022-05-17 08:40] idazucchi commented on #580
Irene has tested the medium and small dataset.
@ke4 and @prabh-t will investigate an [issue](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/780) with run accessions

[2022-05-17 08:40] idazucchi commented on #663
yusra is deploying this!

[2022-05-17 08:42] idazucchi commented on #775
waiting for cd because we don't have permission to edit our cluster

[2022-05-17 10:05] MightyAx commented on #670
Deployed to [PROD](https://www.ebi.ac.uk/humancellatlas/project-catalogue/)

[2022-05-17 12:28] prabh-t commented on #780
This process seems to have 2 lib preparation protocols and we do not know how to translate/map an assay process with 2 such protocols into an ENA experiment. That is why the experiment XML for this assay process is being skipped but not the run XML, the latter doesn't require fields from the lib prep protocol(s).

[code]

@ke4 @ipediez @ESapenaVentura

[2022-05-18 11:13] #733 closed, assigned to nobody

[2022-05-18 11:14] #734 closed, assigned to nobody

[2022-05-19 08:39] ipediez commented on #780
A discussion needs to take place with @ipediez and @ESapenaVentura , @prabh-t to schedule the meeting

[2022-05-19 11:13] amnonkhen opened #782 "Re-enable horizontal autoscaling of nodes on cluster"

[2022-05-24 08:37] ofanobilbao commented on #782
Yesterday Ingress was updated. @jacobwindsor will test if it worked properly and do some stress testing. We should be able to see what happens when there is a lot of traffic. Depending on results we could take this to Dev, Staging and Prod. Others are also involved

[2022-05-24 08:37] ofanobilbao commented on #775
Linked to 782

[2022-05-24 10:38] prabh-t commented on #591
Waiting for @ke4 to confirm biosample/study resilience tested.

[2022-05-24 10:43] ke4 commented on #591
@prabh-t We can do it manually on BSD/BST, but the question is if we would like to automate it.

[2022-05-24 14:22] amnonkhen opened #783 "fix ingest architecture diagram"
Diagram is out of date and needs new features like graph validation