[2021-09-23 08:36] Wkt8 commented on #423
Jacob and Amnon to work together on this ticket

[2021-09-23 08:43] Wkt8 commented on #382
@amnonkhen to assist on some obstacles

[2021-09-23 08:44] Wkt8 commented on #448
There is a PR for sending data to BioStudies (not integration test), but needs a bit more work (due to merge conflicts) - amnon interested in reviewing

[2021-09-23 11:32] amnonkhen commented on #398
@ami-day would you please validate that this works as expected?

[2021-09-23 15:07] #271 closed

[2021-09-23 15:07] #295 closed

[2021-09-23 15:07] #272 closed

[2021-09-23 15:07] #294 closed

[2021-09-23 15:07] #232 closed

[2021-09-23 15:33] ami-day commented on #398
Yep it works as expected @amnonkhen

[2021-09-23 15:56] ESapenaVentura commented on #382
Have tried running it today and run into an error, posted on PR

[2021-09-24 08:35] amnonkhen commented on #447
@ke4 to merge to staging/prod

[2021-09-24 08:36] amnonkhen commented on #445
@aaclan-ebi to continue a few testing runs and publish results.

[2021-09-24 08:40] amnonkhen commented on #426
@jacobwindsor created a draft PR for the ui, core to follow today

[2021-09-24 08:42] amnonkhen commented on #382
unit testing - @yusra-haider and @amnonkhen to finish tidying up the code and implement the testing code.
@ESapenaVentura to test after the above

[2021-09-24 08:44] amnonkhen commented on #448
@ke4 finished cleanup and merge of previous PR. actual work will start today.

[2021-09-24 09:31] ke4 opened #463 "Add BioStudies related secrets to HCA's secret manager"
Add BioStudies username and password to HCA's Secret Manager on AWS.

[2021-09-27 08:34] ofanobilbao commented on #386
Tested already

[2021-09-27 08:36] ofanobilbao commented on #447
There is a problem with the BioStudies Dev environment. BioStudies team suggested using the Test environment instead. @ke4 will change some config and use the Test environment

[2021-09-27 08:37] ofanobilbao commented on #423
This ticket is nearly done. Jacob worked in a related bug and will work on another bug today.

The UI part is done. The visual framework does not support some of the requirements. We can check with Ken

[2021-09-27 08:38] ofanobilbao commented on #423
@jacobwindsor and @gabsie to have a chat on this

[2021-09-27 08:39] ofanobilbao commented on #445
@aaclan-ebi did more testing on Friday. She needs to look into the logs

[2021-09-27 08:41] ofanobilbao commented on #426
Jacob is working on this.

[2021-09-27 08:44] ofanobilbao commented on #463
We need to decide on email address or create a new one.

We need to make sure that the data ownership is assigned correctly to the contributors.

[2021-09-27 08:46] ofanobilbao commented on #463
@ke4 to schedule a brief meeting to discuss this

[2021-09-27 09:18] jacobwindsor commented on #423
Closing as being done as part of #426

[2021-09-27 09:18] #423 closed, assigned to jacobwindsor

[2021-09-27 10:29] amnonkhen opened #464 "Could not submit projects with supplementary files when project is created before submission"
discovered by @ESapenaVentura
[ref to slack](https://embl-ebi-ait.slack.com/archives/C014HMTV0FN/p1632738707002700)

**Steps to reproduce:**

1. Create a test project metadata via UI
2. Upload the spreadsheet [https://app.zenhub.com/files/299258791/b4b97e59-d186-4b36-9d97-a357f92ab0a1/download](https://app.zenhub.com/files/299258791/b4b97e59-d186-4b36-9d97-a357f92ab0a1/download)
3. Check the submi

[2021-09-27 10:42] amnonkhen opened #465 "show pleasant error messages on uncaught js errors"
As a user of the UI
I would like to have an indication that something went bad.
So that I have confidence in the submission service.

See, for example, #464. There is a JS error, but nothing is reported to the user.

Bonus :
- record errors for dev team to analyse (e.g in google analytics)
- generate a ticket, provide user with a ref. for ticket, so they can be updated when the issue is resolved.

[2021-09-27 11:11] aaclan-ebi commented on #464
**Dev notes:**
The submission manifest shows that there is a mismatch actual links/expected links count which may mean that linking hasn't finished.
[code]
Enrique removed the supplementary file and that seems to have fixed the issue.
The submission manifest was showing:
[code]

Still need to investigate the root cause.

[2021-09-27 15:30] ofanobilbao commented on #450
Sorry for delay on commenting here:

We probably need to be able to filter based on our prioritisation criteria right?

1. Contributor involved? We have the information on the DST as Yes or No. We could translate Yes into Direct Contribution / and No into Publication? Is that even possible?
2. Month and year of publication? Otherwise we will need to go and check the dates on the publications one b

[2021-09-27 15:46] ke4 commented on #448
BioStudies Test (they call it Beta) environment is not expose to outside the EBI VPN. That means we can't reach it from our ingest-archiver service that is running on AWS. We are going to investigate this issue further with the help of BioStudies team.

[2021-09-28 08:35] amnonkhen commented on #382
@yusra-haider - basic functionality works, more refactoring to come
@ESapenaVentura to test today

[2021-09-28 08:38] amnonkhen commented on #448
@ke4 to schedule a discussion about our testing strategy for this project

Also - discussions with BioSturdies team about test env access - in progress

[2021-09-28 08:40] amnonkhen commented on #463
@ke4 - started writing SOP. Link: ???

[2021-09-28 09:13] aaclan-ebi opened #466 "[UI] When filtering protocols by state, warnings are shown in the metadata table"
**Steps to replicate:**
1. Upload the integration test spreadsheet, go to its submission page
2. Go to the protocols tab
3. Filter protocols by the state

**Actual Behavior:**
Yellow warning icons appear to indicate that protocols aren't linked.

**Expected Behavior:**
There should be no warnings if protocols are linked to a process

**Screenshots:**
without filter
![Screenshot 2021-09-28 at 10.13

[2021-09-28 10:15] ke4 commented on #448
BioStudies REST API documentation: https://biostudies.gitbook.io/biostudies-api/

[2021-09-28 10:27] ke4 opened #467 "Direct submit to BioStudies on behalf of the submitter"
HCA is brokering the user's submission into the BioStudies archive.
There is a possibility in the BioStudies's submission endpoint to set the actual owner of the submission.
We need to add it to our submission's implementation.

Here is the documentation how to implement it:
https://biostudies.gitbook.io/biostudies-api/perform-submissions#submission

We need to use these query parameters:

- `onBe

[2021-09-28 10:33] aaclan-ebi commented on #464
It looks like this only happens when the project is created before uploading the spreadsheet. The project isn't being linked in the supplementary file because the importer doesn't do any linking for existing entities.

[2021-09-28 10:39] ke4 opened #468 "Create an email account for HCA's BioStudies user for each environment"
We need to create a user for the BioStudies REST API for their TEST and PRODUCTION environment.
These user need the following parameters:
- username
- email address

[2021-09-28 11:14] yusra-haider commented on #382
@gabsie @tburdett

should we be importing mouse only datasets from Valentine's db? The script does import human only and human + mouse datasets, but what about mouse only datasets?

cc: @ESapenaVentura

[2021-09-28 11:18] amnonkhen commented on #464
@aaclan-ebi Is this a bug?

[2021-09-28 12:32] aaclan-ebi commented on #464
@amnonkhen yes, it is! Before, projects are being created as part of the spreadsheet. I guess this is something not handled when we allowed the projects to be created first before the submission.

[2021-09-28 12:48] ESapenaVentura commented on #382
That is an interesting question, I've asked other wranglers to see what they think

[2021-09-28 15:25] tburdett commented on #382
Based on the discussion on slack and the eligibility criteria as given [here](https://www.ebi.ac.uk/humancellatlas/project-catalogue/about) (see "other published data"), the decision is that we should only import datasets that "Contain at least some samples derived from healthy human donors"

So: human + mouse is good, mouse only is out :)

[2021-09-28 16:45] gabsie opened #469 "A metadata spreadsheet example friendly for a data consumer"
As a data consumer I want to download a friendly version of the metadata for a project, containing the full amount of the metadata for a project. The assumption we have is that file looks like a metadata csv in one tab, which links the files with the full metadata of the biological entity (cell).

* Given [assumption]
* When [action]
* Then [outcome]

[2021-09-29 08:42] aaclan-ebi commented on #445
Based on the performance testing, the estimated overall submission time for all submissions should be ~2days with 10exporter instances running which still seems acceptable.

Performance testing data: https://docs.google.com/spreadsheets/d/1S6aWcdBr3U2cWBGDQzw8V-aoMNccXIuKT2nxLP_xVNc/edit#gid=789946621

I believe we can proceed with the reexporting, hold them in the staging area until we get a head

[2021-09-29 08:45] aaclan-ebi commented on #445
The only needed on the exporter, for now, would be the change to not export provenance fields for metadata which has an older schema version that is not supporting it ebi-ait/dcp-ingest-central#376

I'll work on that and get it ready by Friday before I run DCP1 datasets.

[2021-09-29 09:39] amnonkhen commented on #261
closing, duplicate of #262

[2021-09-29 09:39] #261 closed

[2021-09-29 09:40] amnonkhen opened #470 "testing for hca-to-scea"
Prior to adding features to hca-to-scea it needs to have proper unit tests.

A few months back @ami-day and @amnonkhen started creating a characteristic test for this tool.
This ticket is to finish this work.

[2021-09-29 15:29] ke4 commented on #468
from https://intranet.ebi.ac.uk/article/mailing-lists:
How do I request a new email alias?

If you require an email alias list contact ITSupport@ebi.ac.uk including the following information:

- Approval by a GTL or their trustees.

- What you would like to call your email alias (e.g. alias@ebi.ac.uk)

- The names of internal staff members who will receive emails to this alias

When to use an emai

[2021-09-30 08:40] amnonkhen commented on #382
@yusra-haider & @ESapenaVentura to setup up a test env for Enrique
@ESapenaVentura to document test proc for future automation

[2021-09-30 08:46] amnonkhen commented on #426
@jacobwindsor unit testing the server side impl.
@gabs to approve the UX

[2021-09-30 08:50] amnonkhen commented on #448
meeting with BST about exposing the test env scheduled for today.
Alternative - use a mock server

[2021-09-30 12:34] jacobwindsor commented on #426
Waiting for input from @gabsie

[2021-09-30 12:40] amnonkhen commented on #470
@ami-day please review the PR.
I have fixed the Characteristic Tests.
Currently, one of them fails.
Could you please run and analyse the diff?

[2021-09-30 15:25] ke4 commented on #463
PR for SOP: https://github.com/ebi-ait/hca-ebi-dev-team/pull/446

[2021-09-30 15:27] ke4 commented on #463
The actual secret creation is blocked by #468

[2021-09-30 15:33] jacobwindsor commented on #426
https://images.zenhubusercontent.com/299258791/585c8967-3359-45a9-b282-8e5b597e1934/filters.mp4

Video of the functionality for @gabsie @ESapenaVentura @Wkt8 for input if you have it :)

Note the logarithmic scale of cell count: the "step" of the scale increases as you drag. I hope this works well to select cell counts of small numbers up to large numbers with the "approximation" increasing as you

[2021-09-30 15:37] ESapenaVentura commented on #426
Looks awesome @jacobwindsor !! I can't wait to see this in production!

About the cell count, I think this is great, and if we find any issues in the future, we can always iterate on this. Having this as a starting point is already an improvement!

[2021-10-01 08:41] ke4 commented on #468
Still waiting for the response from IT

[2021-10-01 08:41] amnonkhen commented on #382
@yusra-haider to finish unit testing and move this to prod

[2021-10-01 12:02] jacobwindsor commented on #443
Relates to #426

We need to introduce and populate a date field in `publicationsInfo` in order to filter by publication date

[2021-10-01 12:49] jacobwindsor commented on #328
This has been fixed in https://github.com/ebi-ait/ingest-ui

[2021-10-01 12:49] jacobwindsor commented on #328
This has been fixed in https://github.com/ebi-ait/ingest-ui

[2021-10-01 12:49] #328 closed

[2021-10-01 17:02] ke4 opened #471 "Add sample links to BioStudies"
We need to link the samples in a submission to the project (BioStudy) they belongs to.
After the submission of the samples happened and we got their accession in the response
AND
the submission of the project also happened and we got the response with its accession
we need to update that record in the BioStudies database with the accessions of the samples.

[2021-10-04 08:43] ofanobilbao commented on #382
Enrique has tested it to some extent. Yusra to update

[2021-10-04 08:44] ofanobilbao commented on #445
Alegria triggered some submissions to be exported on Friday. Two groups have successfully exported over the weekend. She has wrote a PR for the third group, which is DCP1 datasets. Needs approval.

Some datasets on groups 1 and 2 have failed. But in general it has been successful.

Alegria to talk to Import team for the "good to go" for the import.

[2021-10-04 08:48] ofanobilbao commented on #448
Karoly tested it on the VPN and got an accession. He did not have any errors but there were some issues with the UI. He entered a 4h loop. Karoly has reached out to them with the issues.

[2021-10-04 08:50] ofanobilbao commented on #376
PR needs approval

[2021-10-04 08:55] jacobwindsor commented on #445
Please merge this once done https://github.com/ebi-ait/ingest-core/pull/82

[2021-10-04 13:22] aaclan-ebi commented on #445
**BATCH 1**

**74 projects were successfully re-exported.**

<details>
project e07897dc-c25e-453d-b04c-27ca33adb630 submission https://api.ingest.archive.data.humancellatlas.org/submissionEnvelopes/5e998380e952846aff4eb813 is exported
project a815c84b-8999-433f-958e-422c0720e00d submission https://api.ingest.archive.data.humancellatlas.org/submissionEnvelopes/5ee8d88f5e315a423810f7b3 is exported
p

[2021-10-04 15:06] Wkt8 opened #472 "hca_to_scea script "missing argument""
**Describe the bug**
Running the hca_to_scea script produces the following error:
`script.py: error: the following arguments are required: -study`
even though the -study argument is included.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the hca-to-scea-tools directory and activate the environment.
[code]

2. Run the command
`python3 script.py -s /home/wteh/SCEA/SCEAImmuneRenalCarci

[2021-10-04 17:47] aaclan-ebi opened #473 "[Integration test] File is stuck as invalid due to validator failure in posting successful notif from upload-service"
Screenshots:

![Screenshot 2021-10-04 at 18.43.06.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/871d99ac-7bb4-4698-ac2b-57f277682b0b):

![Screenshot 2021-10-04 at 18.43.26.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/dd8b8d7b-0774-4f5f-a0ad-b02ecd51c6be)

![Screenshot 2021-10-04 at 18.43.37.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e

[2021-10-04 18:00] jacobwindsor commented on #426
This is now on staging and I can move into prod if no more changes need to be made

[2021-10-04 18:09] aaclan-ebi commented on #376
This change needed for the exporter not to add schema major and minor version fields for metadata using older schema is deployed in prod.
https://gitlab.ebi.ac.uk/hca/ingest-exporter/-/pipelines/199822
![Screenshot 2021-10-04 at 18.59.50.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/6124801d-4967-4fdc-9a89-4e3fd4bcf28e)

[2021-10-04 18:11] aaclan-ebi commented on #376
When updating a DCP1 dataset, the workaround steps are:
1. Force set a submission from Complete to Valid by sending a PUT request to the `commitValid` link of the submission
2. Delete state tracker pod so K8 will create a new pod, this will trigger state tracker's initialisation which will sync its state from Ingest database will allow transition from Valid -> Submitted -> Exporting. If this is no

[2021-10-04 20:00] aaclan-ebi commented on #376
Trying to do a test run for Tabula Muri's dataset in dev first. There might be other exporter issues and changes needed.

[2021-10-04 20:07] aaclan-ebi commented on #445
Noting the 16 project metadata failed to be patched:

[code]

They need to be retried and investigate if errors are persistent.

[2021-10-05 08:12] Wkt8 commented on #472
[https://app.zenhub.com/files/299258791/5f4969ad-38d6-4ce9-ba63-a83509004ba0/download](https://app.zenhub.com/files/299258791/5f4969ad-38d6-4ce9-ba63-a83509004ba0/download)

Attaching spreadsheet for @ami-day to test!

[2021-10-05 08:38] amnonkhen commented on #382
PR review required.
@ESapenaVentura & @amnonkhen to discuss testing for flase positives, false negatives and duplicates.

[2021-10-05 08:39] amnonkhen commented on #426
@gabsie to approve

[2021-10-05 08:40] amnonkhen opened #474 "search/filter projects by publication date"

[2021-10-05 08:43] ESapenaVentura commented on #445
@aaclan-ebi investigated errors above, deployed changes to fix the issue with provenance fields in newer schema versions, in prod now but haven't re-exported yet

DCP-1 datasets may pose some issues, backwards compatibility broke.

[2021-10-05 08:44] amnonkhen commented on #445
@aaclan-ebi to split ticket into several ticket for each class of problems in the export.

[2021-10-05 08:45] gabsie opened #475 "Ability to find the projects imported through the literature search"
This is linked to the import from literature search ticket

As [role/persona] I want to [goal] so that [value]

** Acceptance Criteria / Definition of Done **

* Given [assumption]
* When [action]
* Then [outcome]

[2021-10-05 08:46] amnonkhen commented on #445
@aaclan-ebi & @amnonkhen to discuss next steps

[2021-10-05 08:52] amnonkhen commented on #464
@aaclan-ebi & @ESapenaVentura to create a ticket for the bug, and document the workaround in this ticket.

[2021-10-05 09:39] ami-day commented on #472
Hi @Wkt8 , this command works for me (generates the idf and sdrf file):

`python3 script.py -s /home/aday/5f4969ad-38d6-4ce9-ba63-a83509004ba0.xlsx -o weis_dataset -id 955dfc2c-a8c6-4d04-aa4d-907610545d11 -ac 46 -c wkt -tt 10Xv2_5 -et differential -f disease -pd 2021-01-27 -hd 2021-05-10 -study SRP166375 --facs`

Does this work for you?

[2021-10-05 09:43] Wkt8 commented on #472
Yep! Clearly something else fixed the error that we're unaware of!

[2021-10-05 10:01] ami-day commented on #472
We have worked out that it is copying and pasting the command-line arguments that causes an error on Wei's laptop. Not specific to this script. Sometimes dashes require writing manually at the cmd-line rather than copy paste.

[2021-10-05 10:01] #472 closed, assigned to ami-day

[2021-10-05 10:48] aaclan-ebi commented on #464
I've updated this ticket with new steps to replicate the bug and updated the title to be more specific.

Workarounds:
1. Remove supplementary files and update project metadata with links to files
2. Put the project worksheet in the metadata spreadsheet

[2021-10-05 12:34] gabsie commented on #426
As discussed with @jacobwindsor, let's get this to prod, and we can improve the visual framework elements afterwards.
We can also evaluate its impact, by having Oihane and the wranglers use it
Thanks!
Gabby

[2021-10-05 12:51] aaclan-ebi commented on #445
I've made a spreadsheet to track the status of all project metadata that needs to be migrated https://docs.google.com/spreadsheets/d/1CaoB7_3MFuzx9ucGPeC8W0Sz1bmZ9FPk56otFJFRnlA/edit#gid=545939721

[2021-10-05 14:42] gabsie opened #476 "Arrange the table view of projects better - Date of publication, sorting, important info to show first"
1. Apply visual framework

[2021-10-05 16:50] ke4 opened #477 "Define specific accession prefix for HCA related studies in BioStudies archive"
The default accession prefix in BioStudies archive when a user submit data is: `S-BSST`.
It would be helpful to have a specific prefix for studies that submitted by HCA. That would help grouping or searching for them.

Subtasks:

- [ ] We need to define the specific prefix for HCA
- [ ] Get info from the BioStudies devs how to apply the specific prefix
- [ ] Implement the specific prefix usage

[2021-10-05 17:35] amnonkhen commented on #468
I created [ghca-archiving-dev oogle group ](https://groups.google.com/a/ebi.ac.uk/g/hca-archiving-dev) but it is not yet accessible by email.
Waiting for [itsupport's help](http://helpdesk.ebi.ac.uk/Ticket/Display.html?id=536540)

[2021-10-06 01:34] amnonkhen commented on #233
no need - all resources in aws account are HCA

[2021-10-06 01:34] #233 closed

[2021-10-06 01:34] amnonkhen commented on #292
not needed now. They will continue to use aws access keys

[2021-10-06 01:34] #292 closed

[2021-10-06 01:34] amnonkhen commented on #234
this is not an issue now.

[2021-10-06 01:34] #234 closed

[2021-10-06 01:35] amnonkhen commented on #236
no pressing issues.
If Cloud team needs us to fix anything, they will contact us.

[2021-10-06 01:35] #236 closed

[2021-10-06 01:39] amnonkhen commented on #429
@ESapenaVentura Is this ticket still needed?

[2021-10-06 01:40] amnonkhen commented on #395
@aaclan-ebi What is the problem this is supposed to solve? What is the user value?

[2021-10-06 01:41] amnonkhen commented on #390
@jacobwindsor I remember we discussed the need for this. Can you please update  what this was related to?

[2021-10-06 01:42] amnonkhen commented on #368
@aaclan-ebi Has this happened recently? When was the last time? How often does this happen?

[2021-10-06 01:43] amnonkhen commented on #341
@Wkt8 would this be considered another archiving target (as BioSamples, BioStudies, ENA and SCEA)?

[2021-10-06 01:44] amnonkhen commented on #367
@jacobwindsor can you elaborate the need and user value here? (or close, if no longer relevant)

[2021-10-06 01:46] amnonkhen commented on #331
@jacobwindsor Has this happened recently? Is there a reason to keep this open?

[2021-10-06 01:47] amnonkhen commented on #332
@aaclan-ebi What is the impact on users of this problem? How often does it happen?

[2021-10-06 01:47] amnonkhen commented on #321
@aaclan-ebi Is this still relelvant?

[2021-10-06 01:49] amnonkhen commented on #319
This needs to be reviewed when the direct ENA archiving is implemented.

[2021-10-06 07:12] amnonkhen commented on #203
These are the integration tests.

[2021-10-06 07:12] #203 closed

[2021-10-06 07:13] amnonkhen commented on #215
@jacobwindsor Could gitlab help us in this endeavour?

[2021-10-06 07:14] amnonkhen commented on #201
The installation process runs as a job in gitlab, so the logs and status persist there.

[2021-10-06 07:14] #201 closed

[2021-10-06 07:36] ESapenaVentura commented on #429
@amnonkhen I forgot to add the "operations" label so this ticket flew completely under my radar

This is not needed anymore, the issues with that dataset were solved for this past release.

Thanks for the reminder!

[2021-10-06 07:36] #429 closed, assigned to nobody

[2021-10-06 08:00] gabsie opened #478 "Ability to change the priority of a project + other admin fields without triggering client side validation"
As а data wrangler and user of ingest backoffice,
I want to be able to easily change the priority of a project and other ADMIN fields, without being forced to fix validation errors.
So that the wranglers have a clear prioritised backlog

Note the distinction between client side and backend validation:

- Client side validation is when the validation is done in the frontend, blocking the form from

[2021-10-06 08:53] yusra-haider commented on #382
**Testing the script against dev env, in write mode**

**Console output**

[code]
I've added the following files to a gdrive folder due to issues with attaching files in zenhub:
1. the nxn_db.log file with detailed logs on the run
2. the added_uuids.txt file with the uuids of the projects created by the script in this run
3. the projects_to_be_added.json file with the list of new projects in inges

[2021-10-06 09:20] aaclan-ebi commented on #395
@amnonkhen this ticket was created to address your PR comment https://github.com/ebi-ait/ingest-broker/pull/16#discussion_r672940047

[2021-10-06 09:22] aaclan-ebi commented on #321
yup, it's still happening intermittently.

[2021-10-06 09:25] aaclan-ebi commented on #332
I'm uncertain how often. But the delete submission is an expensive operation atm. It can cause the Core pod to be restarted which may cause a few seconds of Ingest API downtime. :(

[2021-10-06 09:51] gabsie commented on #464
Needs investigation, user experience

[2021-10-06 10:17] jacobwindsor commented on #478
@gabsie @amnonkhen @aaclan-ebi @yusra-haider   Choose option:

- [ ] Remove all client side validation (this is my preferred solution since everything is validated in the backend anyway and it's the simplest solution)
- [ ] Add a button to "override" client side validation which is only availble to wranglers (also very easy and slightly harder than option 1)
- [ ] Save each tab of the form seperat

[2021-10-06 10:36] yusra-haider commented on #475
As per the sprint kickoff meeting

1. we can add wrangling. notes to the search index
2. we can add a new filter that filers via source

option 1 is the simplest, fastest

currently the script that populates ingest from valentine's db sets wranglingNotes as:

 `Auto imported from nxn db (date the script was run)`

do we want to change the content of wranglingNotes?

which solution do we want to go

[2021-10-06 10:56] Wkt8 commented on #341
Yes - we have some tools from the UCSC wranglers that will help with wrangling to cellxgene as another archiving target

[2021-10-06 11:46] yusra-haider commented on #382
**Testing the script against staging, in write mode**

**Console output**

[code]

Added. the following files to a gdrive folder:
1. the nxn_db.log file with detailed logs on the run
2. the added_uuids.txt file with the uuids of the projects created by the script in this run
3. the projects_to_be_added.json file with the list of new projects in ingest format
4. the new_nxn_data.tsv file with the s

[2021-10-06 11:51] yusra-haider commented on #382
**testing against prod env, in dry run mode**

**Console output**

[code]

Added. the following files to a gdrive folder:
1. the nxn_db.log file with detailed logs on the run
2. the projects_to_be_added.json file with the list of new projects in ingest format
3. the new_nxn_data.tsv file with the slice of nxn.se db with new, valid projects

https://drive.google.com/drive/folders/18sRmIM8ydAXhC-6oC

[2021-10-06 15:49] aaclan-ebi opened #479 "HTTP 400 Client Error when patching projects with supplementary files"
**Steps to replicate:**

1. Create JSON file containing the patch, projects.json
[code]
2. Patch the project.

[code]

**Actual behaviour:**
HTTP 400 Client error

[code]

**Expected Behavior:**
HTTP 200 successful update

[2021-10-06 16:09] ESapenaVentura commented on #382
I have looked at 5 projects and the metadata seems to be alright

Please hold before merging for clarifications on the `isInCatalogue` flag

[2021-10-06 16:11] yusra-haider commented on #382
Waiting for clarity on the `isInCatalogue` flag value before merging the PR, as per wrangler feedback

cc: @amnonkhen @gabsie @ofanobilbao

[2021-10-06 17:45] aaclan-ebi commented on #445
I've checked the new versions of files in the prod staging area. It looks like there are 58 projects which have other updates exported aside from the project metadata.

Noting the projects and the metadata type changes here:

[code]

We need to verify if these changes are intended and if we do want to proceed in sending them to DCP along with the project metadata update

[2021-10-07 13:32] gabsie opened #480 "Letter to present criteria and easy ways to tranfer data raw"
Write an email to Single Cell Discoveries to propose partnership

[2021-10-07 14:52] amnonkhen commented on #382
As agreed by @amnonkhen @gabsie @ofanobilbao and @ESapenaVentura - default `isInCatalogue` should be false.

[2021-10-07 15:23] gabsie commented on #475
Hello!
So, today we had a useful meeting, in which we discussed a few things.
However, as an action point, I had forgotten that we had a status **New!** (which is also not used at the moment).
The initial idea for New - was that it's for new datasets which are discovered, so this fits perfectly with our scenario. (Thanks Oihane for reminding me)
In this case, let's
1. Get all the new projects impo

[2021-10-08 08:37] gabsie commented on #382
yesterday we decided (in 475), that isInCatalogue should indeed be FALSE, and that the imported projects should be with status NEW

[2021-10-08 08:39] gabsie commented on #445
1. Some holding off until Amnon reviews a PR and Hannes do some checks for the data browser.
2. A ticket to unblock DCP1 datasets

We also have a meeting today to understand things.

[2021-10-08 08:58] gabsie commented on #462
Hey, what is necessary here to unblock? :) Asking for clarity..
Gabs

[2021-10-08 09:14] Wkt8 commented on #462
I think there is some dev work required to investigate errors why we currently cannot upload imaging tabs to prod

[2021-10-08 09:35] aaclan-ebi opened #481 "DCP1 metadata are missing dcpVersion's"
**Steps to replicate:**
1. Find a dcp1 project
2. Find the submission link to it
2. Force set the submission to valid by sending a PUT request to commitVaild link of that submission
3. Redeploy state tracker / delete its pod to initialise and sync its state from Ingest
4. In the submission's page in the UI, tick the checkbox in submit tab to export only metadata and click submit submit button.

**

[2021-10-08 11:10] jacobwindsor commented on #478
Option 2 done in https://github.com/ebi-ait/ingest-ui/pull/126

If option 3 is required, we can do this in another PR

[2021-10-08 15:02] yusra-haider commented on #475
addressed / added both changes in the PR for https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/382 and tested the changes on my local setup

Moving this ticket to Final Checks

cc: @gabsie @amnonkhen
@ESapenaVentura  would we need further wrangler testing?

[2021-10-08 15:16] yusra-haider commented on #382
results of testing the script against dev env, in write mode, after making the suggested changes to `isinCatalogue` and `wranglingState`:

**output on console**
[code]

added the log files etc here: https://drive.google.com/drive/folders/1v9-2BoBiawULKtpN4PLPGO2I8GW3Pn3f?usp=sharing

Direct link to an added project in ingest dev, after these changes: https://dev.contribute.data.humancellatlas.org/

[2021-10-08 15:17] yusra-haider commented on #382
merging this PR into master now, and this ticket into `In Production` now

cc: @amnonkhen @ESapenaVentura @gabsie

[2021-10-08 15:19] yusra-haider commented on #475
merged the PR for https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/382, moving this ticket into in production

[2021-10-11 08:38] amnonkhen commented on #478
@jacobwindsor & @aaclan-ebi discuss the PR suggestions and decide on a course of action.

[2021-10-11 08:38] Wkt8 commented on #478
Alegria and Jacob to discuss if Option 2 solves the problem directly.

[2021-10-11 08:39] amnonkhen commented on #468
@amnonkhen to poke itsupport for help again.

[2021-10-11 08:39] Wkt8 commented on #463
Still blocked by #468

[2021-10-11 08:40] Wkt8 commented on #448
Karoly to pick up when he is back on development. @amnonkhen and @gabsie to discuss delegating work

[2021-10-11 08:41] gabsie commented on #475
This needs testing from @ESapenaVentura , @gabsie
Gabs

[2021-10-11 08:42] Wkt8 commented on #479
@amnonkhen and @jacobwindsor to review as alegria has applied comments.

[2021-10-11 08:45] amnonkhen commented on #385
next time we work on ingest-client we will add the CI/CD

[2021-10-11 08:46] Wkt8 commented on #481
Alegria will work on it after #464. Necessary for #445 which is currently in waiting for downstream components work.

[2021-10-11 09:47] aaclan-ebi opened #482 "Project metadata form is stuck in loading"
**Steps to replicate:**
1. Click the create new project button and it'll redirect you to page https://dev.contribute.data.humancellatlas.org/projects/register/autofill
2. Click the link, no DOI yet

**Actual Behavior:**
The user is redirected to the New Project form page but is never loaded successfully.

**Expected Behavior:**
Empty project is loaded.

Browser: Chrome

Env: Happening in dev and p

[2021-10-11 14:02] amnonkhen opened #483 "project audit fields not populated"
The project audit fields are not always populated:

- private @CreatedDate Instant submissionDate;
- private @LastModifiedDate Instant updateDate;
- private @CreatedBy String user;
- private @LastModifiedBy String lastModifiedUser;

These fields should be populated when working with the UI as well as with the REST API.

[2021-10-12 08:35] amnonkhen commented on #478
another PR review required, following that - verify with Gabs

[2021-10-12 10:11] amnonkhen opened #484 "add Single Cell Portal as source in catalogue"
[Single Cell Portal](https://singlecell.broadinstitute.org/single_cell)

Mentioned by @tburdett on Slack on 12/10/2021.

[2021-10-12 10:35] yusra-haider commented on #382
ran the script against prod environment, in write mode

**output on console**

[code]

Added the following files to a [gdrive folder](https://drive.google.com/drive/folders/1fRb6lrgykk3fnvl_FeWvCd-4nrnJzQYv?usp=sharing):
1. the nxn_db.log file with detailed logs on the run
2. the projects_to_be_added.json file with the list of new projects in ingest format
3. the new_nxn_data.tsv file with the sli

[2021-10-12 10:55] amnonkhen commented on #484
@gabsie does this look OK?

![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/84ae6f20-6048-4852-8a3f-476854cb4f9d)

[2021-10-12 11:23] ESapenaVentura opened #485 "Cleanup of orphaned staging areas"
As wrangler, I want for the upload areas not associated with a submission to be deleted so that we don't end up storing data files that don't need to be in that submission.

** Acceptance Criteria / Definition of Done **

* Given a submission that was deleted by clicking on the `delete submission` button in the UI
* When it was no longer needed
* Then the upload area should be deleted without the

[2021-10-12 11:27] ESapenaVentura commented on #485
We had a discussion today about this, and 2 options stem from it:

## Option 1 (Preferred)
Develop a lambda function that will run periodically, that will check for orphaned areas and delete them

## Option 2
Extend the functionality of the `delete submission` button so that when deleting submissions, it will delete the upload area as well

[2021-10-13 00:30] gabsie commented on #484
Hi, @amnonkhen @tburdett

I don't think what you are suggesting above is yet true - as far as I know the wranglers are not consulting the Single Cell portal or looking for projects there.

Is that the task? For us to start importing and triaging from there as well? That's a nice idea. Then I suggest that we insert this in the list when it happens.

@tburdett it would be nice to know how important

[2021-10-13 11:45] tburdett commented on #484
@gabsie I completely agree that we should coordinate the update to the docs and the roll out of checks (i.e. update the docs when we really start importing and triaging from the single cell portal)

This came from a conversation with Tim; improving links between the different initiatives affiliated with the DCP is important, although we don't need to switch focus to deliver this, it can be done wh

[2021-10-13 14:56] jacobwindsor commented on #443
PR https://github.com/ebi-ait/ingest-kube-deployment/pull/32

I have done most of the tasks here now and the catalogue will remain up to date with the cron job that I've written. However, we could populate the journalTitle in `publicationsInfo` with ingest UI since we have the DOI lookup service there. This would circumvent the need to do this in the cron job. We could also add a UI element that w

[2021-10-13 17:35] aaclan-ebi commented on #479
Got 2 approvals, but GH is blocking merge because of @amnonkhen 's change request. I could use admin privilege to force merge but I guess it wouldn't harm to wait with Amnon to re-review!

[2021-10-13 17:37] aaclan-ebi commented on #464
Created PR for the fix to the importer in ingest-client repo: https://github.com/ebi-ait/ingest-client/pull/30
Waiting for reviews.

[2021-10-13 17:45] aaclan-ebi commented on #445
Hannes confirmed that there's no need to wait for Data Browser changes. https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1633970374034200?thread_ts=1633948217.032100&cid=C9XD6L0AD

Daniel confirmed as well there's a way to check the project estimated cell count via Azul in dev.

2 things to make sure as discussed with @gabsie(virtual call) and @amnonkhen (offline/f2f) last Friday:
1. We're not s

[2021-10-13 17:46] aaclan-ebi opened #486 "Project 15.0.0 migration - Re-export DCP1 projects"

[2021-10-13 17:50] aaclan-ebi commented on #445
I created a ticket to spin out the work for DCP1 datasets as advised by @amnonkhen . This ticket will now only cover the DCP2 projects.

[2021-10-14 08:37] Wkt8 commented on #443
Jacob - do you need to tag specific reviewers??

[2021-10-14 08:38] Wkt8 commented on #479
@amnonkhen to review

[2021-10-14 08:57] Wkt8 commented on #475
@gabsie to check

[2021-10-14 09:07] ESapenaVentura opened #487 "Can't update project only metadata through UI"
**Describe the bug**
When updating a project, if I want to update project metadata only, I need to update parts of any submission so I can send the project entity through there.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any project with an exported submission
1. Modify project metadata
1. Have fun figuring out how to submit only that without modifying any submission

**Expected

[2021-10-14 09:47] gabsie commented on #462
Hey @jacobwindsor - maybe this one?

[2021-10-14 10:41] gabsie commented on #462
@Wkt8  - Wei, can you please specify here (in @ami-day's absence) what is actually needed to accept the imaging metadata, because Jacob misses  information on what they need to check for?
Actually any info here is welcome, because it might be throwing errors for something unexpected..? Or we need validation for something and we don't have the validation rules for it

Gabs

[2021-10-14 12:49] Wkt8 commented on #462
I'm uncertain! I think the issue here is that uploading any sort of submission with imaging tabs causes errors for some reason we're not sure of.

I don't think it's a validation issue for any of the ontologies but I think the issue here is 'something is breaking and we don't know what' because the submission is stuck and we can't view it.

[2021-10-14 13:57] jacobwindsor commented on #443
@Wkt8 hca-devs are tagged on the PR but I've assigned them here now too

[2021-10-14 15:20] jacobwindsor commented on #462
It looks to me like someone has deleted the submission

[2021-10-14 15:56] Wkt8 opened #488 "Improve the geo_to_hca script"
As a wrangler I want to increase the rate at which I want to wrangle datasets with GEO accessions

The geo_to_hca script extracts information from a GEO accession and automatically populates a copy of the current hca_template located in https://github.com/ebi-ait/geo_to_hca/tree/master/docs.

This gives wranglers a head-start by automatically extracting a lot of the useful and laborious informatio

[2021-10-14 15:59] Wkt8 opened #489 "Create an ArrayExpress_to_hca script"
As a wrangler I want to reduce the amount of time taken to wrangle a dataset with ArrayExpress publications
As a wrangler I want a script to automatically populate a hca spreadsheet with information from ArrayExpress

The geo_to_hca script extracts information from a GEO accession and automatically populates a copy of the current hca_template located in https://github.com/ebi-ait/geo_to_hca/tree/m

[2021-10-14 16:07] Wkt8 commented on #462
There are two examples of spreadsheets with imaging tabs here - although they might not quite be complete for export! They also represent different techniques and hence different ways of using the imaging tabs. Feel free to reach out to Ami or myself if you have more questions!

https://docs.google.com/spreadsheets/d/1e-vEqEQpdlOtQX5iXOQphq2DE-ky_bEf/edit#gid=1189631159 (Ami)
https://docs.google.c

[2021-10-15 08:37] amnonkhen commented on #443
comments from Alegría will be addressed today by @jacobwindsor

[2021-10-15 08:38] amnonkhen commented on #479
@aaclan-ebi to merge PR to today

[2021-10-15 12:01] amnonkhen commented on #488
See [PR 26](https://github.com/ebi-ait/geo_to_hca/pull/26) from @ami-day

[2021-10-15 13:32] gabsie commented on #480
@ami-day I actually created a ticket about this!

[2021-10-15 13:38] jacobwindsor opened #490 "Improve error logging and tracing"
**Story**
As a developer, I want to be able to quickly find, identify, and trace any errors or downtime that happen in the dev, staging, and production environments.

We currently have grafana set up with prometheus and  loki for basic error logging and cluster monitoring statistics. Adding tracing to this as well as improving our error logging (perhaps with [micrometer](https://micrometer.io/)) w

[2021-10-15 14:44] gabsie commented on #437
So for this ticket, I want to close it and open a new one maybe - for deletion of ontology/required fields?
does that sound fair, @Wkt8 @aaclan-ebi ?
Gabs

[2021-10-15 16:34] aaclan-ebi commented on #445
Most of the unintended changes are changes in the links.json filenames:

e.g.
[code]

It seems that a lot of projects' links.json files were first exported with 3 digit precision in seconds.

It looks like the DCP2 specs explicitly specified that there should be 6 digit precision in the seconds part of the version.
 https://github.com/HumanCellAtlas/dcp2/blob/0c38450ce714b5b6f0937c7c06a199ce0130c9

[2021-10-15 17:01] aaclan-ebi commented on #445
Other unintended changes:

453d7ee2-319f-496c-9862-99d397870b63 - not eligible
783c9952-a4ae-4106-a6ce-56f20ce27f88 - rachel submitted this, project is already using 15.0.0 - this is false positive in the check i did
7adede6a-0ab7-45e6-9b67-ffe7466bec1f - failed in patching, should be retried and re-export
a815c84b-8999-433f-958e-422c0720e00d - this project is stalled
e07897dc-c25e-453d-b04c-27ca3

[2021-10-18 08:37] ofanobilbao commented on #443
Alegria will merge and deploy

[2021-10-18 08:37] ofanobilbao commented on #464
Alegria still working on the comments. She will work on this today

[2021-10-18 08:40] Wkt8 opened #491 "Unable to download spreadsheet from ingest endpoint"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://contribute.data.humancellatlas.org/projects/detail?uuid=6c040a93-8cf8-4fd5-98de-2297eb07e9f6
2. Move to the 'Data upload' tab
3. Click on the existing submission
4. Click on the spreadsheet endpoint to download the spreadsheet (next to the 'back to project' page)
5. The screen is stuck and the spreadsheet doe

[2021-10-18 08:43] Wkt8 commented on #491
Enrique mentioned it wasn't working for him last thursday either. It is also not working for some of the UCSC wranglers. Blocking https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/513

[2021-10-18 09:05] aaclan-ebi commented on #491
@Wkt8 please note that the linking columns (e.g. cell suspension id in the sequence file tab) will not be included in the downloaded spreadsheet. I believe you would need that to investigate the issue? ebi-ait/hca-ebi-wrangler-central#513

It might be better to get the original spreadsheet which should be available using this endpoint:
`https://ingest.archive.data.humancellatlas.org/submissions/<s

[2021-10-18 10:33] aaclan-ebi commented on #491
<img width="1436" alt="Screenshot 2021-10-18 at 11 27 53" src="https://user-images.githubusercontent.com/31281398/137714244-36cce9b0-f680-4eeb-8fc3-b0b264842250.png">

The UI already displays an error while the broker is still processing the request. It's not clear what the error is because the response HTTP status is 0. I am guessing the UI timed out in processing the request because the process

[2021-10-18 11:21] Wkt8 commented on #491
Okay, thank you for the information! It does not display that error page for me when I attempt to download - but the original spreadsheet endpoint is very useful, thanks.

The error seems to occur inconsistently - as I was just able to download spreadsheets from the ingest-endpoints of all of the different submissions. Is it still worth keeping the ticket open to fix the issue, even though it is i

[2021-10-18 11:54] aaclan-ebi commented on #491
Yup, this is still a big issue in the download spreadsheet feature and is definitely needed to be fixed.

It's just that this shouldn't block the ebi-ait/hca-ebi-wrangler-central#513 because you wouldn't be able to see the linking info from the downloaded spreadsheet which you would need to investigate that ticket.

The original spreadsheet could help and you could also navigate the API's as well

[2021-10-18 12:35] Wkt8 commented on #491
ebi-ait/hca-ebi-wrangler-central#513 is no longer an issue as it is mostly resolved now and doesn't really requiring investigation of the submissions. Thank you for the info!

[2021-10-18 13:13] amnonkhen commented on #453
Elixir error I got on 18/10 after clicking the login button.

URL on browser showed: https://login.elixir-czech.org/Shibboleth.sso/SAML2/POST

browser content showed:
[code]

![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/e7b21e7d-2cd3-42fa-b397-f78276d531ac)

[2021-10-18 14:38] ofanobilbao commented on #9
It was created a year ago, considered Just Right. But it did not progress and further details were not added. Closing the ticket.

[2021-10-18 14:38] aaclan-ebi commented on #443
Merged the PR and cherrypicked the commits from `pop+zsh` branch to `master`. Deployed in staging and prod:

[code]

[2021-10-18 14:47] ofanobilbao commented on #15
This was created a year ago. And it did not progress. I believe even the archiving process has changed since. So closing this ticket.

[2021-10-18 14:53] ofanobilbao commented on #16
Created a year ago and has not progressed. It also has no description. Therefore, closing it

[2021-10-18 14:53] ofanobilbao commented on #23
Opened a year ago. Further description was not added. Closing

[2021-10-18 14:57] ofanobilbao commented on #24
This issue was created a year ago without much context or any description. Closing

[2021-10-18 14:58] ofanobilbao commented on #25
I believe the archiving process has changed. So I think this ticket can probably be closed. I guess new tickets will emerge from the new process

[2021-10-18 15:00] ofanobilbao commented on #27
@gabsie this user story we created a year ago might be useful or redundant in the context of not accidentally exporting datasets that are meant to be private or can't be pushed to DCP for GDPR reasons. Close this ticket if you have this scenario covered in another ticket. Or if we want to include this in one of the user stories you are working on

[2021-10-18 15:01] ofanobilbao commented on #30
@gabsie I think we can close this one right? I believe it is too ample and we will cover this in the error reporting right?

[2021-10-18 15:06] ofanobilbao commented on #37
@aaclan-ebi can we say this was already done? It is in the product backlog but the other issue that was blocked by this was already completed.

[2021-10-18 15:10] ofanobilbao commented on #44
@aaclan-ebi if this was blocking an issue that was already completed, does that mean this ticket can also be closed?

[2021-10-18 15:13] ofanobilbao commented on #46
@aaclan-ebi if I understand correctly when we implemented the bulk updates spreadsheet download/recreation etc made this task no longer needed right? I'll close this issue. Please, re-open if I am missing something and this ticket is still required.

[2021-10-18 15:13] #46 closed, assigned to nobody

[2021-10-18 15:17] ofanobilbao commented on #76
@gabsie I see this as related to the Updates Quicker. Do we want to keep it or recreate the info we already have here? Things might have changed over the last year. Thoughts?

[2021-10-18 15:18] ofanobilbao commented on #80
Probably, as bulk updates and some UI updates were implemented since this ticket was created, we want a guide as to what types of updates are already possible before having extra use cases. Closing this ticket

[2021-10-18 15:18] #80 closed

[2021-10-18 15:23] ofanobilbao commented on #104
Ticket 102 was closed. There is no more detail in this ticket. So closing it

[2021-10-18 15:24] ofanobilbao commented on #115
@gabsie is this done? I can't remember from when I registered with Elixir

[2021-10-18 15:30] ofanobilbao commented on #184
@gabsie I believe that with the current model where it is more likely the wranglers will pick up projects from back office and start working on them, I believe resolving this bug is critical. Otherwise they will need to duplicate the project I believe.

[2021-10-18 15:38] ofanobilbao commented on #237
@gabsie I feel like this is also part of the error reporting. But it could be more on the Contributor persona. If the latter I would move to Icebox

[2021-10-18 15:39] amnonkhen commented on #491
Could we increase the timeout the browser uses for the request?

[2021-10-18 15:47] ofanobilbao commented on #250
@gabsie I believe this is more about the Contributor persona, so I will move this to the Icebox

[2021-10-18 15:50] ofanobilbao commented on #268
Linked to ticket #207

[2021-10-18 16:00] ofanobilbao commented on #346
My understanding is that this is already done, as we can export a csv from the catalogue with the filtered results. Closing.

[2021-10-18 16:00] #346 closed, assigned to nobody

[2021-10-18 16:01] aaclan-ebi commented on #37
Which ticket was blocked by this ticket?

I believe this is not done yet. From what I understand, this ticket is for supporting the ability to add metadata to a project/submission in the UI. Atm, adding metadata can only be done via spreadsheets or API.

[2021-10-18 16:08] aaclan-ebi commented on #46
@ofanobilbao you are right! :D i believe this is no longer needed.

[2021-10-18 16:11] ESapenaVentura commented on #445
@aaclan-ebi and I spoke about this on slack!

[2021-10-18 16:14] aaclan-ebi commented on #44
Yes, this can be closed. This is already implemented and deployed in prod as part of the broker service.

[2021-10-18 16:16] aaclan-ebi commented on #44
Ah sorry, I got confused. I thought this is the endpoint that returns the dereferenced schema. The functionality described in this ticket is not implemented yet. This is a technical task needed for the UI to support adding new metadata.

[2021-10-18 19:53] yusra-haider commented on #427
@gabsie regarding task 4, `Add release column to table in all projects page and make it sortable by release by clicking release in the table header (UI)`, as far as I can see, we haven't implemented sorted yet on any of the columns in the project list view. Would it be alright to have this as part of a separate ticket / is there any ticket regarding implementing sorting?

[2021-10-19 05:55] ofanobilbao commented on #30
Closing. If need be I will re-open

[2021-10-19 05:55] #30 closed

[2021-10-19 05:56] ofanobilbao commented on #31
I think we can probably come up with new user stories on the "Updates" area. Hence, closing this ticket from a year ago

[2021-10-19 05:56] #31 closed

[2021-10-19 05:57] ofanobilbao commented on #37
Thanks @aaclan-ebi!

[2021-10-19 05:58] ofanobilbao commented on #42
@gabsie I wonder if this story also would be useful in the context of error identifying earlier in the process. Thoughts?

[2021-10-19 08:38] ESapenaVentura commented on #464
Merged, deployed to dev and staging, waiting for the test to pass then push to production @aaclan-ebi

@aaclan-ebi to ask @ESapenaVentura to verify this issue is solved

[2021-10-19 08:40] ESapenaVentura commented on #445
Import team missed the import of a project - Waiting to see if they are happy to import.

[2021-10-19 08:43] ESapenaVentura commented on #427
@yusra-haider has created draft PRs - Working on it

@gabsie to take a look at the comment above

[2021-10-19 08:45] ESapenaVentura commented on #491
3 options considered - Need to decide on which one @amnonkhen @aaclan-ebi

[2021-10-19 08:46] ESapenaVentura commented on #491
TBC for next sprint

[2021-10-19 08:48] prabh-t opened #492 "Create a sequence diagram for Archiving to ENA"
A high-level sequence diagram for Archiving to ENA, including main interactions between the components:
- Archiver
- Ingest API
- Biosamples API
- Biostudies API
- ENA API

[2021-10-19 09:42] gabsie opened #493 "Ability to update project info and having this reflected on DCP without the need to change something in submission as well"
As a data wrangler, I would like to only modify project-level entities without also making a change in the submission, and reverting it, so that I can push a change.

[2021-10-19 15:05] prabh-t commented on #492
PR https://github.com/ebi-ait/ingest-archiver/pull/47

[2021-10-19 16:06] gabsie opened #494 "Ability to show metadata validation errors within the ingest interface"
As a data wrangler, I want to view reports from the metadata validation service within the ingest interface, so that I can more quickly see the errors and correct them there before possible mistakes have made it into the DCP and they get returned to us later. cc @Wkt8 for improvement and edits to the ticket.

**Acceptance criteria:**
When I go to submit a data spreadsheet in the ingest backoffice

[2021-10-19 16:09] #388 closed, assigned to nobody

[2021-10-20 08:33] aaclan-ebi opened #495 "Metadata is not being validated after update"
**Steps to replicate:**
1. Create an invalid project  e.g. project without a short name
2. View metadata validation errors on the project details page
3. Update the project to have a short name

**Expected Behavior:**
The project's validation state should be set to Draft
The project should then be revalidated (Validating -> Valid if valid or Invalid if it's still invalid)
The error about the short

[2021-10-20 08:48] gabsie opened #496 "Improve reliability of the script which transforms GEO datasets to the HCA (spreadsheet?) format"
As a wrangler I want to increase the rate at which I want to wrangle datasets with GEO accessions

The geo_to_hca script extracts information from a GEO accession and automatically populates a copy of the current hca_template located in https://github.com/ebi-ait/geo_to_hca/tree/master/docs.

This gives wranglers a head-start by automatically extracting a lot of the useful and laborious informatio

[2021-10-20 09:57] jacobwindsor commented on #363
This bug can be circumvented by clearing the `publicationsInfo` by patching it to an empty object (`{}`) and then performing the patch with the desired object. This is a workaround but it works

[2021-10-20 09:57] ke4 opened #497 "Add project links to BioSamples"
We need to link the samples in a submission to the project (BioStudy) they belongs to.
After the submission of the samples happened and we got their accession in the response
AND
the submission of the project also happened and we got the response with its accession
we need to update that record in the BioSamples archive with the accessions of the Bio study.

[2021-10-20 10:31] prabh-t commented on #494
@gabsie @jacobwindsor please can you include me in any discussion on this ticket as I may have some ideas.

[2021-10-20 13:00] gabsie commented on #42
yes this could be linked to the ingest graph validator ticket, when displaying errors.

[2021-10-20 13:09] Wkt8 commented on #464
Have tested as above:

1. Created project in the UI
2. uploaded spreadsheet as a submission
3. Checked the submission manifest

`"actualLinks" : 1526,
  "expectedLinks" : 1526`

Shows the expected number of links.

[2021-10-20 13:39] jacobwindsor commented on #462
I have created two submissions for these files in staging:

- https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=de50f53f-eeb3-47e8-a3ab-ba504281948d
  - This one looks fine
- https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=4eb6b847-81b2-4a45-95a3-d940d54217f9
  - This one is not functioning but I think is due to an error in the spreadsheet
  - Wh

[2021-10-20 15:57] ESapenaVentura opened #498 "Automatically update status of project to "Published in DCP""
As wrangler submitting data to the DCP I want the status to update automatically so that the proper information is displayed in the project catalogue

** Acceptance Criteria / Definition of Done **

* Given a project submitted to the DCP
* When the project is available in the data portal
* Then automatically update the status to "Published in DCP"

[2021-10-21 08:38] ofanobilbao commented on #464
@aaclan-ebi will merge into Prod

[2021-10-21 08:42] ofanobilbao commented on #462
@ami-day @Wkt8 @ESapenaVentura to have a separate conversation on this

[2021-10-21 08:43] ofanobilbao commented on #468
@amnonkhen had a conversation yesterday with ITsupport. Probably today he will make the request

[2021-10-21 08:44] ofanobilbao commented on #484
This is on hold for now

[2021-10-21 08:50] ofanobilbao commented on #494
@jacobwindsor has prepared a document outlining the tasks that probably this should split into. Devs to have a look and comment/give feedback

[2021-10-21 08:50] ofanobilbao commented on #471
@ke4 planning on working on this today

[2021-10-21 08:54] amnonkhen opened #499 "data sources of hca project catalogue"
The sources list in the catalogue is vague in the sense that it does not specify the number of projects taken from each source, the last extraction date, etc.

As a data consumer
I would like to know the sources of the data coming to ingest and the freshness of it
so that I can safely feel the archive contains uptodate information.

Possible tasks
- [ ] specify import source of each project
- [ ]

[2021-10-21 14:09] ke4 opened #500 "Fix organisation in BioStudies payload"
Currently we are not populating the organisations part the payload in a way that compatible for the BioStudies UI to process.
See current example: https://wwwdev.ebi.ac.uk/biostudies/studies/S-BSST843
We only have numbers as sup-scripts as the organisations.

Here is an example how it should look like: https://wwwdev.ebi.ac.uk/biostudies/studies/S-EPMC1489022?query=S-EPMC1489022

How to fix it:
Co

[2021-10-21 14:15] ofanobilbao opened #501 "Ingest UI stuck in Loading state when trying to Edit a Project from the Project Information page in Safari"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'All Projects'
2. Select one project and Click on 'View Project'
3. In the Project Information tab, scroll down to 'Edit'
4. Click 'Edit'

**Expected behaviour**

**Screenshots / Logs**

**Environment**
- [ ] prod

**Browser**
- [ ] Safari

[2021-10-21 14:29] ofanobilbao commented on #424
@jacobwindsor when I am editing a Project in the UI and I want to reflect is not a HCA publication, I keep the HCA box unticked (I have also tried ticking and unticking). When I click save, I get JSON error saying that "Should have required property 'official_hca_publication' at .publications[0]. Should I file that as a Bug?

[2021-10-21 14:39] ke4 commented on #500
PR created for review: https://github.com/ebi-ait/ingest-archiver/pull/48

[2021-10-21 15:17] #382 closed, assigned to ESapenaVentura, yusra-haider

[2021-10-21 15:17] #398 closed, assigned to amnonkhen

[2021-10-21 15:17] #426 closed, assigned to amnonkhen, jacobwindsor, gabsie

[2021-10-21 15:17] #450 closed, assigned to gabsie, Wkt8

[2021-10-21 15:17] #386 closed, assigned to amnonkhen, jacobwindsor

[2021-10-21 17:16] aaclan-ebi commented on #464
This is deployed in prod now.
![Screenshot 2021-10-21 at 18.10.46.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/b3a9475c-79f8-4276-a633-2b67664ca496)
https://gitlab.ebi.ac.uk/hca/ingest-broker/-/pipelines/204639

[2021-10-22 08:34] ESapenaVentura commented on #500
@amnonkhen

[2021-10-22 08:36] ESapenaVentura commented on #495
@aaclan-ebi to update ticket with progress!

[2021-10-22 08:40] ESapenaVentura commented on #427
Ticket related to sorting #476

[2021-10-22 08:41] ESapenaVentura commented on #494
@jacobwindsor to post diagrams about discussion in slack

May be split in user stories that are deliverable in a sprint

[2021-10-22 08:42] ESapenaVentura commented on #468
@amnonkhen delegated to @tburdett about user creation

[2021-10-22 08:43] ESapenaVentura commented on #471
Needed to work on #500 first.

@ke4 to work on this today. Needs another ticket to be created by @ke4

[2021-10-22 09:18] #389 closed, assigned to nobody

[2021-10-22 10:03] ke4 opened #502 "Creating a Roadmap for direct archiving"
A document that describe the roadmap to implement the direct archiving to EBI archives would help to see how much work this specific job is involved.

[see doc](https://docs.google.com/document/d/1rPCsRuC-mDRLffQd_LyoAFftil6wYu8Hif4yBQMvJ0g/edit#)

We can break this job down to a number of phases.
- Phase 1 - replicate what we have now by using DSP

- Phase 2 - Improve brokering to BioStudies by t

[2021-10-22 10:26] ke4 commented on #502
The roadmap document can be found here: https://docs.google.com/document/d/1rPCsRuC-mDRLffQd_LyoAFftil6wYu8Hif4yBQMvJ0g/edit#
You can go edit/comment it there.

[2021-10-25 08:38] aaclan-ebi commented on #495
check if PR has reviews, merge when ready

[2021-10-25 08:38] aaclan-ebi commented on #462
There were issues in the imaging schemas.

[2021-10-25 08:44] aaclan-ebi commented on #502
The roadmap doc is waiting for feedback from wranglers. @gabsie will review it, @ke4 could set up a meeting if needed.

[2021-10-25 08:46] aaclan-ebi commented on #427
Adding tests to core and ui PR.

[2021-10-25 08:48] aaclan-ebi commented on #494
We had design discussions with devs last week. <insert doc>

The next step would be to change the graph validator so that we add a field to ingest which will block and track graph validation errors.

[2021-10-25 08:49] aaclan-ebi commented on #471
@ke4 started to work on this. Will continue work after roadmap doc review.

[2021-10-25 10:17] ESapenaVentura commented on #502
LGTM

[2021-10-25 10:36] aaclan-ebi commented on #495
Deployed this in staging. @Wkt8 would you be able to verify the fix in staging? Thanks!

[2021-10-25 10:56] Wkt8 commented on #495
Tested and verified that the fix works in staging!

[2021-10-25 11:38] aaclan-ebi commented on #445
Awaiting Data Import team's successful import of the [58 projects](https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1634319892222500?thread_ts=1631635383.071300&cid=C01360XN04S
) https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1634834548001300?thread_ts=1631635383.071300&cid=C01360XN04S

[2021-10-25 12:10] jacobwindsor opened #503 "Block submission until graph validator is ran"
**user story**
As a wrangler, I would like to ensure that the graph validator is ran before submitting a submission. This would involve blocking the submission until the validation is passed.

*Note*: This does *not* involve adding error messages from graph validator in the UI.

**tasks**
- [x] Add a graphValidationState property to the submission -> default PENDING (core)
- [x] Add endpoints to c

[2021-10-25 12:12] jacobwindsor opened #504 "Graph validation errors in ingest"
**User story**

As a data wrangler, I want to view reports from the metadata validation service within the ingest interface, so that I can more quickly see the errors and correct them there before possible mistakes have made it into the DCP and they get returned to us later.

**Acceptance criteria:**

- When I go to submit a data spreadsheet in the ingest backoffice
- I want to have the opportunit

[2021-10-25 12:15] jacobwindsor opened #505 "See graph validation results in UI"
**user story**
As a wrangler, I would like to see the results of graph validation in ingest UI.

Having all of the messaging at the top of the submission is fine for now - #508 will improve messaging

*Note*: This does **not** involve running the graph validator automatically

**Tasks**
- [x] Add graphValidationMessage property to submission (core)
- [x] Populate graphValidationMessage upon runnin

[2021-10-25 12:19] jacobwindsor opened #506 "Run the graph validator automatically"
**User Story**
As a wrangler, I would like the graph validator to run automatically before submission so that I don't have to run it myself

**Different approaches**
Two different methods of acheiving this are described below:

- [With explict user trigger](https://sequencediagram.org/index.html#initialData=C4S2BsFMAIHECcCGAHAFtAao8IAmjgB7eaEAO2gEkyBzSAZ2GgAoB3MdSAD2RwGMw0AK71IJYPBA068egEoAUEuSJ4o

[2021-10-25 12:31] jacobwindsor commented on #494
See #504 for new epic

[2021-10-25 12:53] jacobwindsor opened #507 "Show graph validation errors within the metadata rows"
**User Story**
As a wrangler, I want to see the validation results from the graph validator next to the metadata items that are causing the validation errors

[2021-10-25 12:54] jacobwindsor opened #508 "Graph validator error messages for the exact problem entities"
**User Story**
As a wrangler, I want to see a description of what the problem in the graph is in ingest UI so that I can track down and fix it

**Tasks**
- [x] Output full output of graph validator into `graphValidationErrorMessages`
- [x] Show in UI

[2021-10-25 12:56] #494 closed, assigned to jacobwindsor, gabsie

[2021-10-25 13:41] aaclan-ebi commented on #495
Thanks @Wkt8 !

This is deployed to prod. Integration tests are passing https://gitlab.ebi.ac.uk/hca/ingest-core/-/pipelines/206566
![Screenshot 2021-10-25 at 14.40.18.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/a32e8f3f-b155-4bcd-8bff-96d15f06b32b)

[2021-10-25 15:04] jacobwindsor commented on #503
https://github.com/ebi-ait/ingest-core/pull/86

[2021-10-25 17:19] aaclan-ebi commented on #445
Reexported 2 submissions today:

1. 7adede6a-0ab7-45e6-9b67-ffe7466bec1f
https://contribute.data.humancellatlas.org/projects/detail?uuid=7adede6a-0ab7-45e6-9b67-ffe7466bec1f
https://contribute.data.humancellatlas.org/submissions/detail?uuid=e20e2ab7-3e89-4f9f-8ce2-91b2e1866a78&project=7adede6a-0ab7-45e6-9b67-ffe7466bec1f

2. ccef38d7-aa92-4010-9621-c4c7b1182647
https://contribute.data.humancellatl

[2021-10-26 08:02] ESapenaVentura opened #509 "Ingest UI hangs when unexpected DOI"
**Describe the bug**
When registering a project, ingest hangs out without giving any error if the format of the DOI is not the proper one (e.g. URL version)

**Expected behaviour**
- Ingest should throw an error message if the format is not the expected one
- Ingest should not just hang
- (Optional, more feature than bug) helping text would be useful in this scenario to figure out the format

[2021-10-26 08:37] gabsie commented on #502
@gabsie still to read this

[2021-10-26 08:39] gabsie commented on #445
@aaclan-ebi is going to check if these projects are in the release

[2021-10-26 08:39] gabsie commented on #427
This should be in prod and checked

[2021-10-26 08:43] gabsie commented on #503
@jacobwindsor to alert wranglers and gabby when he's ready with this task, so that we can properly alert the UCSC wranglers. @gabsie to create the messaging to alert the wranglers they have to run the graph validator/

[2021-10-26 10:34] ke4 commented on #502
@prabh-t I created this roadmap document for archiving. When you come back from your vacation we could go over and discuss it. After that we can finalise it.

[2021-10-26 11:07] ESapenaVentura opened #510 "Project-contributors should show ORCID field"
As data contributor I want to see all the contributor attributes so that I can fill in as much information as the schema provides the ability to. Most of them are information that is very thorough and not really needed, but there is one field, `orcid_id` that a contributor should have the ability to fill in

** Acceptance Criteria / Definition of Done **

* Given a new project
* When registering
*

[2021-10-26 13:49] jacobwindsor commented on #503
https://github.com/ebi-ait/ingest-ui/pull/130

[2021-10-26 13:52] jacobwindsor commented on #503
https://github.com/ebi-ait/ingest-graph-validator/pull/41

[2021-10-26 15:55] jacobwindsor commented on #505
PRs for all

- https://github.com/ebi-ait/ingest-core/pull/87
- https://github.com/ebi-ait/ingest-graph-validator/pull/42
- https://github.com/ebi-ait/ingest-ui/pull/131

[2021-10-26 16:32] ke4 commented on #471
PR: https://github.com/ebi-ait/ingest-archiver/pull/49

[2021-10-27 11:20] aaclan-ebi commented on #495
It seems that this bug has affected some metadata updated in production. Upon checking, only the project a9301beb-e9fa-42fe-b75c-84e8a460c733 had issues and had been corrected.

[code]

[2021-10-27 11:34] ke4 opened #511 "Add ENA study, experiment and run links to BioStudies"
We need to link ENA study, experiment and runs in a submission to the project (BioStudy) they belongs to.
After the submission to ENA happened and we got their accession in the response
AND
the submission of the project also happened and we got the response with its accession
we need to update that record in the BioStudies database with the accessions of the ENA study, experiment and runs.

[2021-10-27 11:47] Wkt8 opened #512 "geo_to_hca UnboundLocalError: local variable 'fastq_map' referenced before assignment"
**Describe the bug**
The geo_to_hca script encounters an error and does not work when running for this [project](https://www.ncbi.nlm.nih.gov/geo/query/acc.cgi?acc=GSE137720)

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://github.com/ebi-ait/geo_to_hca
2. Clone the repository
3. Install requirements
4. Use the geo_to_hca script "python apps/geo_to_hca.py --accession GSE1377720

[2021-10-27 12:00] jacobwindsor commented on #506
https://github.com/ebi-ait/ingest-core/pull/88

[2021-10-27 15:08] aaclan-ebi commented on #481
Awaiting reply from Andrew Herbst to give me read access to DCP1 Terra bucket and get the versions and populate the dcpVersion's for the DCP1 metadata in Ingest. The exporter is failing because dcpVersion's are missing.

[2021-10-27 15:09] aaclan-ebi commented on #445
Confirmed that the 111 projects will be included in Release 11.

[2021-10-27 15:55] aaclan-ebi commented on #482
The fix is deployed in staging. Hi @Wkt8 could you verify the fix in staging?

[2021-10-27 15:57] aaclan-ebi commented on #501
This has the same fix as ebi-ait/dcp-ingest-central#482 and that fix is deployed in staging. Hi @Wkt8, could you verify the edit view as well? Thanks!

[2021-10-28 07:21] jacobwindsor commented on #506
https://github.com/ebi-ait/ingest-graph-validator/pull/43

[2021-10-28 08:41] ipediez commented on #427
PR not merged yet, waiting for @yusra-haider to update

[2021-10-28 08:44] ipediez commented on #503
Done, in staging. @gabsie and @jacobwindsor to meet about submissions in staging

[2021-10-28 08:47] ipediez commented on #501
@Wkt8 to take a look

[2021-10-28 08:47] ipediez commented on #506
Working in dev, needs designs

[2021-10-28 08:48] ipediez commented on #462
@aaclan-ebi to work today on this

[2021-10-28 08:52] ipediez commented on #445
Two different entities pointing to the same file. @aaclan-ebi tried to push the metadata, @ESapenaVentura to take a look at this issue: investigate the reason, decide which entities to delete

[2021-10-28 09:03] aaclan-ebi commented on #512
adding thread on slack https://embl-ebi-ait.slack.com/archives/C016R78CDV1/p1635335337054900

[2021-10-28 09:41] jacobwindsor commented on #506
PRS:
- https://github.com/ebi-ait/ingest-kube-deployment/pull/35
- https://github.com/ebi-ait/ingest-graph-validator/pull/43
- https://github.com/ebi-ait/ingest-core/pull/88
- https://github.com/ebi-ait/ingest-ui/pull/134

[2021-10-28 11:36] yusra-haider commented on #427
PRs merged to master

[2021-10-28 14:37] ESapenaVentura opened #513 "HCA-to-scea tools not working for GSE135893_HCAD15"
**Describe the bug**
When running the hca-to-scea tool, I run into the following error:

[code]

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the EC2
2. Activate the hca-to-scea environment
3. cd to `/data/tools/hca-to-scea-tools/hca2scea-backend`
4. run `python3 hca2scea.py -s /home/eventura/GSE135893_HCAD15.xlsx -id c1a9a93d-d9de-4e65-9619-a9cec1052eaa -study SRP218543 -ac 15 -c E

[2021-10-28 15:21] Wkt8 commented on #482
Tested this in staging by:
- attempting to create a new project on the staging environment 10 times in a row, each time resulted in no error (expected positive result)
- attempted to create a new project on the prod environment, immediately resulted in an error (expected negative result)

Seems like it works!

[2021-10-28 15:22] Wkt8 commented on #501
Tested in staging:
- tested by opening up 8 different projects in safari and trying to 'Edit Project' with no errors (expected positive result)
- tested in prod by attempting to 'Edit project', on the second project, encountered the error (expected negative result)

[2021-10-28 15:30] aaclan-ebi commented on #512
The exception is coming from logic in getting the data from SRA. I have also found an issue in getting the info from ENA. Fixing that as based on the logic in the script, the info from ENA is prioritised over info from SRA. However, there is still work needed to be done to fix the logic in getting info from SRA. I need more info on how XML response is parsed and the API isn't well documented. The

[2021-10-29 08:38] jacobwindsor commented on #506
UI is to go in ready for review, deployment needs testing and then will be ready for review. This is to move into staging for wrangler testing by @Wkt8

[2021-10-29 08:41] jacobwindsor commented on #482
Waiting for #506 to go to prod to promote ths

[2021-10-29 08:42] jacobwindsor commented on #501
Waiting for #506 to go to prod to promote this

[2021-10-29 08:50] yusra-haider commented on #427
this is available on dev for wrangler testing now.

[2021-10-29 09:26] aaclan-ebi opened #514 "Adjustments to Terra Data Importer changes"
I do not fully understand the changes yet there is now a requirement in providing the staging_area.json in the staging area which the exporter is not creating yet. This  is a priority since they're targetting to use the changes for DCP release 12.

Linking the thread for now:
https://humancellatlas.slack.com/archives/C01360XN04S/p1634309602219600

DCP2 spec: https://github.com/HumanCellAtlas/dcp2/

[2021-10-29 10:17] yusra-haider commented on #427
@Wkt8 to do wrangler testing for this ticket

[2021-10-29 11:07] Wkt8 commented on #427
Testing in dev environment:
- [x] Add release to project in core
	- [x] Checked on the 'All Projects' page that 'Release' is one of the viewable columns
	- [x] Checked on the 'My Projects' page that 'Release is one of the viewable columns'
- [x] Add release edit field to admin area (UI)
	- [x] Checked that editing an existing project showed the 'Release number' field in the admin area
	- [x] Edite

[2021-10-29 11:08] Wkt8 commented on #506
@jacobwindsor should I be doing any testing while it is in development, or should I wait until it is moved into staging?

[2021-10-29 11:16] yusra-haider commented on #427
The work against this ticket does not include sorting on columns. There is a separate ticket for that #476

[2021-10-29 13:20] aaclan-ebi commented on #462
![Screenshot 2021-10-29 at 14.13.33.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/f2659e5c-bbb9-433e-a1a1-0abe17a4f4bd)

There is a problem associating the rows of the _module worksheets_ (e.g. Imaging protocol - Probe) to the _concrete entity_ (Imaging protocol). If I remember correctly, the id column (imaging_protocol.protocol_core.protocol_id) of the concrete entity workshe

[2021-10-30 15:51] jacobwindsor commented on #506
This is now in staging and ready to go to prod pending wrangler testing

@Wkt8

[2021-10-30 15:52] jacobwindsor opened #515 "Make integration tests test graph validation"
**story**
As a dev, I want the graph validator to be automatically tested through our existing integration tests so that I can ensure new changes don't break it.

[2021-11-01 09:42] amnonkhen commented on #506
@ESapenaVentura to test as the "backup wrangler on dev"

[2021-11-01 09:44] amnonkhen commented on #427
pending tests of #506

[2021-11-01 09:45] amnonkhen commented on #471
to be deployed on prod today by @ke4

[2021-11-01 09:45] amnonkhen commented on #482
no change

[2021-11-01 09:47] amnonkhen commented on #462
@aaclan-ebi still working on the fix

[2021-11-01 09:49] amnonkhen commented on #481
@aaclan-ebi is creating a script to update dcp1 versions of metadata on DB

[2021-11-01 11:25] ESapenaVentura commented on #506
I have tested the feature in staging with a valid and an invalid submission and I have a couple notes:

- Had to click "Validate" twice. It seems there is a bug when running it for the first time? happened twice.
- When submission is valid, it's not too apparent, especially since you need to wait. I would expect some kind of "green flashing" text or pop-up or something
- I think you should be able

[2021-11-01 11:59] ESapenaVentura opened #516 "Erasing the value of a field should erase the field in the UI"
**Describe the bug**
Currently, erasing the value of a field leaves the field with an empty string/null value. It should delete the field because having empty fields may cause:
- Validation errors
- Propagation of incorrect metadata

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the UI
2. Create a submission
3. Delete the values of an existing field (e.g. `library_preparation_protoco

[2021-11-01 12:10] ESapenaVentura commented on #506
A correction to the third point above:
- The submission can be re-triggered if the submission is set back to draft. Unfortunately, this does not happen with linking changes, which the graph-validator tests. I am unsure how to proceed here

Other than that an the other comments above, LGTM! I love having the ability to validate the submission. It would be great to be able to validate before uploadi

[2021-11-01 13:18] ESapenaVentura opened #517 "Force re-validation of metadata after linking changes"
**Describe the bug**
When modifying the linking of a submission via the UI (Or spreadsheet when supported), I want the submission to be re-validated so that I can run the graph validator again

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to the UI
2. Create a valid submission
3. Run the graph validator on the "Validate" tab
4. Update the linking (e.g. Take out all the collection proto

[2021-11-01 14:16] ke4 opened #518 "Add ENA study, experiment and run links to BioSamples"
We need to link ENA study, experiment and runs in a submission to the samples in BioSamples archive they belongs to.

After the submission to ENA happened and we got their accession in the response
AND
the submission of the samples also happened and we got the response with its accession
we need to update that samples in the BioSamples database with the accessions of the ENA study, experiment and

[2021-11-01 14:42] gabsie opened #519 "Feedback on graph validator in ingest"
Prepare a research plan to evaluate the impact of the graph validator, and how it works for wranglers.
Aim to trace the next 5 data projects ingested, and test with at least one project with over 800 entities.
2 of US wranglers
2 of ours
present insights for improvements

[2021-11-01 15:06] gabsie commented on #488
Closing because duplicated in 496

[2021-11-01 15:06] #488 closed, assigned to nobody

[2021-11-01 15:56] gabsie opened #520 "Ability to find submissions by status"
As a data wrangler I want to quickly find submissions by status so that I can check if something is stuck.

** Acceptance Criteria / Definition of Done **

* Given I go to Submissions dashboard
* When filtering by status, (e.g. Exported, or Draft)
* Then I see the submission I have in mind, in a state which requires an action on my part...

[2021-11-02 09:38] ESapenaVentura commented on #501
In prod now!

[2021-11-02 09:40] ESapenaVentura commented on #497
Created PR https://app.zenhub.com/workspace/o/ebi-ait/ingest-archiver/issues/50 @amnonkhen reviewed, @ke4 to review again

[2021-11-02 09:42] ESapenaVentura commented on #481
@aaclan-ebi worked on a script to update DcpVersions - Waiting on review of PR. Once approved will run against prod

[2021-11-02 09:43] ESapenaVentura commented on #502
@ke4 met with @prabh-t yesterday, to meet today again to finish document.

[2021-11-02 09:45] ESapenaVentura commented on #486
Related to #481

[2021-11-02 09:47] ESapenaVentura commented on #513
@ami-day to look on this when back

[2021-11-02 09:48] ESapenaVentura commented on #462
Conflict in implementation - 2 options, need to figure out what's next @aaclan-ebi

[2021-11-02 14:27] ke4 commented on #502
@MightyAx This is the ticket for the roadmap document. It is still in Draft as we still have to create tickets for the tasks and discuss them with Prabhat.

[2021-11-02 15:44] prabh-t opened #521 "Upload data files to ENA directly"
We need to skip uploading data files to DSP and instead upload directly to ENA staging area in the sra-cluster cluster.

DSP upload area sra-login
/fire/staging/subs/upload/dev|test|prod

DSP ultimately copies the data files over to the DSP Submission Webin user home directory where ENA expects the files.
/fire/staging/era/upload/Webin-46220

Given the submission uuid we are archiving, we can dire

[2021-11-02 15:48] prabh-t opened #522 "Brokering to ENA archive"
Main ticket grouping the sub-tasks for brokering to ENA archive.

[2021-11-02 15:50] prabh-t opened #523 "Convert HCA project/study to ENA study XML"
Before we submit our project metadata to ENA archive we have to convert our data model to an ENA compatible XML format. ENA's REST API only accept XML as the POST request's content type.

Here is the documentation how to register a study programmatically with ENA: https://ena-docs.readthedocs.io/en/latest/submit/study/programmatic.html
Here is the XSD to use for creating ENA compatible study XML:

[2021-11-02 15:54] ke4 opened #524 "Submit ENA study XML to ENA archive"
After we converted the HCA project to an ENA study XML we need to send it to ENA to be able to store it in that archive.
To be able to send an ENA study XML or any other ENA object(s), we also need an accompanying submission XML in a separate file. We need to name this file to `submission.xml`.

Here is the documentation from ENA how to do it: https://ena-docs.readthedocs.io/en/latest/submit/study

[2021-11-02 16:29] Wkt8 opened #525 "Fix metadata-schema PR Review (due to unpaid Travis CI subscription)"
**Describe the bug**
Travis CI failing on PRs

Happening in this PR: https://github.com/HumanCellAtlas/metadata-schema/pull/1427

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://github.com/HumanCellAtlas/metadata-schema/pull/1427
2. Scroll down to the bottom of the PR
3. See error pullapprove — Travis CI tests must pass before review starts

If you login to travis with your Git

[2021-11-03 10:01] ESapenaVentura commented on #525
@jacobwindsor to take a look into this

[2021-11-03 10:43] gabsie commented on #462
This needs @aaclan-ebi 's suggestions proposed here, and a response fro the wranglers how to proceed.

[2021-11-03 10:46] gabsie commented on #502
This roadmap has been broken down into tasks already.

[2021-11-03 11:15] gabsie commented on #514
@aaclan-ebi to expand on the needs and description of this task, considering the implications for wranglers. A discussion to take place.

[2021-11-03 11:29] gabsie commented on #417
Have a separate design discussion to identify the tasks under this user value ticket.

[2021-11-03 11:33] aaclan-ebi commented on #417
1. The ordering of columns should be the same as the original spreadsheet
2. The ordering of worksheets should be the same as the original spreadsheet
3. userfriendly name of metadata property
4. description of property should be in the spreadsheet

@gabsie @ESapenaVentura anything else?

[2021-11-03 11:56] gabsie commented on #508
make a meeting to discuss details.. @ESapenaVentura @amnonkhen @yusra-haider

[2021-11-03 13:46] ke4 opened #526 "Direct archiving integration test is failing"
Here is the stack trace that related to this bug:

[code]

[2021-11-03 14:29] ke4 opened #527 "Convert HCA biomaterials to ENA sample XML"
Before we submit our biomaterial metadata to ENA archive we have to convert our data model to an ENA compatible XML format. ENA's REST API only accept XML as the POST request's content type.

Here is a general documentation on ENA samples: https://ena-docs.readthedocs.io/en/latest/submit/samples.html
Here is the documentation how to register a sample programmatically with ENA: https://ena-docs.rea

[2021-11-03 14:37] ke4 opened #528 "Submit ENA sample(s) XML"
After we converted the HCA biomaterial to an ENA sample XML we need to send it to ENA to be able to store it in that archive.
To be able to send an ENA sample XML or any other ENA object(s), we also need an accompanying submission XML in a separate file. We need to name this file to `submission.xml`.

Here is the documentation from ENA how to do it: https://ena-docs.readthedocs.io/en/latest/submit

[2021-11-03 14:43] ke4 opened #529 "Convert HCA experiment data to ENA experiment and run XML"
Before we submit our experiment metadata to ENA archive we have to convert our data model to an ENA compatible experiment and run XML format. ENA's REST API only accept XML as the POST request's content type.

Here is a general documentation on ENA Raw read submission: https://ena-docs.readthedocs.io/en/latest/submit/reads.html
Here is the documentation how to register an experiment and run progra

[2021-11-03 14:52] ke4 opened #530 "Submit ENA run and experiment XMLs"
After we converted the HCA experiment to an ENA experiment and run XML we need to send it to ENA to be able to store it in that archive.
To be able to send the ENA experiment and run XML or any other ENA object(s), we also need an accompanying submission XML in a separate file. We need to name this file to `submission.xml`.

Here is the documentation from ENA how to do it:
https://ena-docs.readthe

[2021-11-03 15:41] ke4 opened #531 "Update Ingest with the archive accessions (BioSamples, BioStudies)"
ENA has separate ticket

[2021-11-03 17:11] aaclan-ebi opened #532 "Exporter Broken pipe error"
Error in the exporter:

[code]

The exporter stops consuming messages after it encounters the error causing messages to queue up.

[2021-11-04 09:31] prabh-t commented on #491
I tested this yesterday and again this morning but could not reproduce - I was able to download the spreadsheet for all the listed submissions above. @ESapenaVentura could you please comment on the 3 options considered?

[2021-11-04 09:37] prabh-t commented on #502
@ke4 created all tickets and added an estimate. To have a meeting to discuss plan ahead.

[2021-11-04 09:40] prabh-t commented on #481
@aaclan-ebi creating the helm chart for the job to run on prod cluster. To test first.

[2021-11-04 09:41] prabh-t commented on #526
@ke4 is prioritising fixing this bug.

[2021-11-04 09:42] prabh-t commented on #468
@amnonkhen - no update yet.

[2021-11-04 09:58] amnonkhen opened #533 "add "published in dcp" job to service diagram"
update the [service diagram](https://ebi-ait.github.io/hca-ebi-dev-team/admin_setup/Onboarding.html) with the ["published in dcp"](https://github.com/ebi-ait/ingest-kube-deployment/tree/master/jobs/update-project-catalogue) job

[2021-11-04 11:31] ke4 commented on #526
This PR in the archiver fixed this issue: https://github.com/ebi-ait/ingest-archiver/pull/51

[2021-11-04 13:51] prabh-t commented on #524
instead of specifying the actions in a submission xml and using the `-F "SUBMISSION=@submission.xml"` option, you can use `-F "ACTION=ADD"` directly when adding content. save you constructing an additional xml. for e.g.

`curl -u username:password -F "ACTION=ADD" -F "PROJECT=@project.xml" "https://wwwdev.ebi.ac.uk/ena/submit/drop-box/submit/"`

If you need to specific a hold date, then I think you

[2021-11-04 15:48] prabh-t commented on #521
@amnonkhen to request creation of a service hca-ingest email account used specifically for EBI archiving.

[2021-11-05 01:31] amnonkhen commented on #521
See [IT ticket](http://helpdesk.ebi.ac.uk/Ticket/Display.html?id=543998)

[2021-11-05 01:32] amnonkhen commented on #468
See [IT ticket](http://helpdesk.ebi.ac.uk/Ticket/Display.html?id=543998)

[2021-11-05 09:39] amnonkhen commented on #481
PR to be reviewed by devs today, then @aaclan-ebi to run in prod

[2021-11-05 09:41] amnonkhen opened #534 "graph validation errors for dcp1 dataset"
@aaclan-ebi  please add some details

[2021-11-05 09:58] aaclan-ebi commented on #462
Meeting minutes from yesterday: https://docs.google.com/document/d/1Z4vqVfbyoPKpebbg2-LRmxcZd1yAA3cPWZJapZ8xQzs/edit

Decided to remove the validation check which is blocking the importing of modules. We'll do more investigation on the motivation/need for that validation added before.

[2021-11-05 14:54] jacobwindsor opened #535 "Scale the graph validator"
**Problem**

Since only one instance of the graph validator is running, graph validation requests can get stuck in "Pending" for a long time if one run is taking a long time. This is poor UX and the user can actually request multiple graph validation runs leading to a backlog for the same submission. The latter is not so much an issue as the messages will be discarded when the graph validator sees

[2021-11-05 18:10] aaclan-ebi commented on #445
Confirmed 109 out of 111 project cell counts look good in the DCP release 11
https://embl-ebi-ait.slack.com/archives/C014HMTV0FN/p1636135537064500?thread_ts=1636134761.064400&cid=C014HMTV0FN

Note 1 project was excluded as it has duplicate submission in Ingest https://embl-ebi-ait.slack.com/archives/C9XD6L0AD/p1635423333013700?thread_ts=1635211460.009200&cid=C9XD6L0AD
(insert ticket in ops board

[2021-11-07 21:26] ke4 opened #536 "Integration test for direct archiving is failing"
Integration test is failing as archiving response with an internal server error.

[code]

After checking the cause of this error it turned out that the username/password is not defined in kube deployment configuration.

[2021-11-08 09:36] ofanobilbao commented on #468
Amnon sent some details to IT support on Friday. Hopefully will be resolved today

[2021-11-08 09:37] ofanobilbao commented on #536
@ke4 working on this. Biostudies test environment is exposed now so it is available for us to use. Karoly to work on this bug today

[2021-11-08 09:38] ofanobilbao commented on #481
There are comments on the PR that Alegria will address today

[2021-11-08 09:39] ofanobilbao commented on #462
@aaclan-ebi will finalise the changes and create the PR

[2021-11-08 09:40] ofanobilbao commented on #517
Still in progress. Yusra is looking into options. @yusra-haider and @amnonkhen to meet to discuss after stand up

[2021-11-08 12:10] aaclan-ebi commented on #534
From meeting with @ESapenaVentura , we decided to bypass graph validation for now and create separate ops ticket to run validation on existing submissions. I created an epic ticket in the ops-board for that: https://github.com/ebi-ait/hca-ebi-dev-team/issues/455

Meeting notes: https://docs.google.com/document/d/1Kd-hNFqwTDOT0-ZHlbBMC0g2wXcJx1jx3JGf5e0vIWM/edit

[2021-11-08 12:10] #534 closed, assigned to aaclan-ebi

[2021-11-08 12:11] aaclan-ebi commented on #486
From meeting with @ESapenaVentura, we decided to bypass graph validation for now and create separate ops tickets to run validation on existing submissions. I created an epic ticket in the ops-board for that: https://github.com/ebi-ait/hca-ebi-dev-team/issues/455

Meeting notes: https://docs.google.com/document/d/1Kd-hNFqwTDOT0-ZHlbBMC0g2wXcJx1jx3JGf5e0vIWM/edit

[2021-11-08 21:32] ke4 commented on #536
Fixes:
- https://github.com/ebi-ait/ingest-kube-deployment/pull/37
- https://github.com/ebi-ait/ingest-kube-deployment/pull/38

[2021-11-09 00:18] gabsie commented on #417
hi, as per our meeting today I have edited this ticket, in the description above.
an important update - we're not considering the wrangler use case (I want to update a project with this spreadsheet), but just the data consumer case.

[2021-11-09 09:39] idazucchi commented on #468
Still waiting for IT support

[2021-11-09 09:40] idazucchi commented on #448
@ke4 started to work on integration tests

[2021-11-09 09:44] idazucchi commented on #486
@aaclan-ebi has exported 10 dataset. The other datasets might take more time because there is a queue building up for the export

[2021-11-09 09:46] idazucchi commented on #417
@aaclan-ebi and @gabsie to have a meeting about this today

[2021-11-09 10:09] gabsie commented on #491
@prabh-t Prabhat, are you working on this? Just checking whether it's you or Alegria..  :)

[2021-11-09 11:02] idazucchi opened #537 "Ingest - my projects tab is unavailable"
**Describe the bug**
The tab My projects doesn't load correctly and brings up an unavailable service error message

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://contribute.data.humancellatlas.org/home
2. Log in as a wrangler
3. Click MY PROJECTS tab
4. Wait - sometimes it gets stuck in loading
5. See error

**Expected behaviour**
The page should display the projects assigned

[2021-11-09 13:46] prabh-t commented on #491
Hi Gabs! yeps, have been trying some tricks and discussing solutions with the crew.

[2021-11-10 11:05] gabsie opened #538 "Avoid duplication of wrangling effort among UCSC and EBI and Lattice"
Based on evidence of duplicate projects between wrangling teams, we want to make sure that all 3 teams have a place to check if a dataset they intend to work on is being taken/worked on by somebody else.

[2021-11-10 12:11] MightyAx commented on #417
Notes from meeting with @aaclan-ebi and @ESapenaVentura:
#### Download Links

We can implement this requirement, and remove the extraneous process tab with the following implementation:

1. For data that links to one or more process
2. Check for links to:
    - protocols
    - inputBiomaterials
    - inputFiles
3. For each link use the **describedBy** field to determine the *type* of content being

[2021-11-10 12:39] aaclan-ebi commented on #462
Hi @ami-day , @Wkt8 , the fix is already in staging.

@ami-day please note there are a lot of other issues (e.g. some files linked to missing cell suspension) in the `GSE171668_SingleCellAndSpatialAtlasCovid` spreadsheet that needs to be fixed but given a  [simplified version spreadsheet](https://app.zenhub.com/files/299258791/20a72573-c677-4b91-8e79-5bef6a48d8a4/download) (I removed some workshee

[2021-11-10 12:43] aaclan-ebi commented on #462
I also added an error message when the concrete entity id is not specified in the module worksheet:

![Screenshot 2021-11-10 at 12.41.08.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/23bd4cb8-ea84-4dff-8688-91d73cd863b7)

If the highlighted column is missing, there will be an error message:

![Screenshot 2021-11-10 at 12.13.16.png](https://images.zenhubusercontent.com/5b042c75

[2021-11-10 13:08] yusra-haider commented on #517
draft PR raised here: https://github.com/ebi-ait/ingest-core/pull/93

The current code changes are in dev environment and can be experimented around with the UI.

Here's the testing I've done so far on dev:
used the submission: [CervicalCancerLandscape](https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=3864f954-4707-42d7-8782-735a8b6c83a4)

All of these tests were performed wi

[2021-11-10 13:18] aaclan-ebi commented on #486
19/28 projects were already exported:
[code]

currently exporting
[code]

to trigger - had issues on the first attempt - need to reset to valid, redeploy state tracker and submit again
[code]

need to be closely looked at:
[code]

[2021-11-10 15:19] aaclan-ebi commented on #514
Tasks:
- [x] 1. Update exporter to always ensure staging_area.json is created for new projects
- [ ] 2. Populate staging_area.json of new or updated projects for next release 12 - we don't need it for all unless we need to reimport them without being exported first

[2021-11-10 15:58] prabh-t commented on #521
@amnonkhen No permission to view ticket.
Once we have the new email account, can you please also create a new Webin user account for HCA submissions to ENA? https://www.ebi.ac.uk/ena/submit/webin/accountInfo

Rasko -> once you have created a new account I can make it a ‘broker’ by filling in broker_name in ERAPRO submission_account table.

[2021-11-11 09:38] ipediez commented on #462
@ESapenaVentura started testing this

[2021-11-11 09:39] aaclan-ebi commented on #321
I'll start working on this today.

[2021-11-11 09:39] aaclan-ebi commented on #514
To merge and deploy to staging and prod today

[2021-11-11 09:40] ipediez commented on #517
@amnonkhen to take a look at this

[2021-11-11 09:46] ipediez commented on #491
Generating spreadsheets is taking too long, we need to take a look at this issue. @prabh-t to organise a discussion

[2021-11-11 09:47] ipediez commented on #521
@prabh-t to talk with @amnonkhen and @ke4

[2021-11-11 09:49] ipediez commented on #535
@ipediez to test today on staging with @gabsie

[2021-11-11 11:36] MightyAx commented on #417
From conversation with @gabsie

[2021-11-11 12:34] prabh-t commented on #521
Basically 2 ways to upload files:
- FTP(S)
- Aspera
Webin-CLI uses either FTP(S) or Aspera.

Sequence assembly data -> can only be submitted using Webin-CLI (some data files can also be submitted using Webin-Portal that uses Webin-REST, some other files can only be submitted using Webin-REST)

**Reads  -> can be submitted either using Webin-CLI or Webin-REST. (Genomes can only be submitted using W

[2021-11-12 09:14] aaclan-ebi commented on #486
Four more left to re-export:

[code]

[2021-11-12 09:15] aaclan-ebi commented on #321
I have a promising fix, I'll create a PR today

[2021-11-12 09:38] aaclan-ebi commented on #514
The changes are deployed to prod. The staging_area.json can be simply copied in the projects' staging areas for release 12. I'll check the wrangling board and add them in dcp1 projects as well.

[2021-11-12 09:41] amnonkhen commented on #468
mailbox details: hca-archiving-broker-dev@ebi.ac.uk
all messages: https://helpdesk.ebi.ac.uk/Search/Results.html?Query=Queue%20%3D%20%27hca-archiving-broker-dev%27%20AND%20Status%20%3D%20%27__Active__%27

[2021-11-12 09:42] ofanobilbao commented on #462
@ESapenaVentura will test today as Elixir was not working yesterday

[2021-11-12 09:43] ofanobilbao commented on #523
Conversion almost ready. @ke4 asked for advice on slack. He needs input from @tburdett and @ESapenaVentura before continuing. Or he can progress and change later

[2021-11-12 09:48] ofanobilbao commented on #521
@prabh-t will work on finishing a document this morning

[2021-11-12 09:49] ofanobilbao commented on #517
@amnonkhen gave her a few ideas to progress. But she is still not unstuck. @amnonkhen and @yusra-haider to continue with this today

[2021-11-12 09:50] ofanobilbao commented on #508
@yusra-haider to target this if she finishes the In Development ticket

[2021-11-12 09:50] ke4 commented on #523
We need to decide what value to use for `center_name` and `alias` attribute for the `STUDY` XML element.
Slack conversation about `center_name`: https://embl-ebi-ait.slack.com/archives/C016R78CDV1/p1636640524114100
Slack conversation about `alias`: https://embl-ebi-ait.slack.com/archives/C016R78CDV1/p1636649052120600

[2021-11-12 09:51] ofanobilbao commented on #417
This will not be taken in this sprint. It will probably be high priority next sprint

[2021-11-12 11:43] jacobwindsor opened #539 "Set up monitoring to time graph validation events"
**story**
As a dev, I want to know how long graph validation events take so that I can decide if we need to scale the graph validator

[2021-11-12 12:00] jacobwindsor commented on #535
Solution 2 has been done and is now in prod. We might not need to do solution 1 depending on usage - we will do #539 first to check requirements

[2021-11-12 12:23] ke4 opened #540 "Define ENA entity's center_name attribute"
Currently the `center_name` attribute defined as `HCA` in the studies that is submitted via DSP.
That is not a good value as HCA is not a laboratory.

- [ ] Have a discussion with ENA's UI team what is the mapping between the `center_name` attribute in the submitted XML and the `Center Name` field on the ENA UI. Here is an example that those values are not the same: browser - https://www.ebi.ac.uk

[2021-11-12 14:07] gabsie commented on #537
hey @amnonkhen - can we get somebody to take a look at this?

[2021-11-12 14:15] yusra-haider commented on #517
could not reproduce the bug @aaclan-ebi pointed out.
https://dev.contribute.data.humancellatlas.org/submissions/detail?uuid=0fbad012-5a18-4b50-84d5-7e0284b8cb2f

I was able to successfully upload the same spreadsheet, successfully

[2021-11-12 14:18] yusra-haider commented on #517
PR raised, waiting for approvals in order to merge it

[2021-11-12 14:50] aaclan-ebi commented on #321
The fix is now in prod.

Please note there is another different intermittent issue which makes submissions stuck in invalid. It's track in different ticket: https://github.com/ebi-ait/dcp-ingest-central/issues/473

[2021-11-12 14:56] aaclan-ebi commented on #473
An idea for fix: The "Unable to open <file>" specific error can be caught in the validator and handled by not setting the file metadata validation state to Invalid yet. Keep the state to Validating so that when the successful retry happens in the upload service, it'll be able to set the state from Validating to Valid.

[2021-11-12 15:13] yusra-haider commented on #517
PR merged, ticket is ready for wrangler testing

[2021-11-12 16:28] ke4 commented on #517
@yusra-haider I think you broke the integration test with this change. Could you please review it? Tx

[2021-11-15 09:01] ESapenaVentura commented on #517
@yusra-haider should I test this before you address the comment above?

[2021-11-15 09:20] prabh-t commented on #491
PR for fix as discussed w/ @amnonkhen https://github.com/ebi-ait/ingest-ui/pull/138

[2021-11-15 09:30] prabh-t commented on #491
- Please wait...

![image.png](https://images.zenhubusercontent.com/5cff7550f579cd2bc2eb74b8/45902455-dd97-424f-bdce-de805845fba6)

- Download spreadsheet request times out

![image.png](https://images.zenhubusercontent.com/5cff7550f579cd2bc2eb74b8/30226264-4ca9-4692-9620-9fd534a9499c)

- Download button reactivates after a backoff period (20 mins) to prevent successive requests/overloading the cl

[2021-11-15 09:37] aaclan-ebi commented on #486
1 more to export:

2043c65a-1cf8-4828-a656-9e247d4e64f1 - has ontology validation errors https://embl-ebi-ait.slack.com/archives/C014HMTV0FN/p1636631387135000

I will do some QA (compare the metadata with the metadata in the DCP1 bucket) on the 27 projects exported today.

[2021-11-15 09:41] ESapenaVentura commented on #517
@aaclan-ebi to continue investigation.

Integration test is still broken, submissions get deleted and archiving starts. @ke4 to help with investigation

@aaclan-ebi to check and come back to enrique later about testing

[2021-11-15 09:42] ESapenaVentura commented on #523
Merged in dev, staging.

Need to be deployed in production.

Staging integration test failed (May be related to #517), fixing that issue before moving on

[2021-11-15 09:43] ESapenaVentura commented on #448
similar outcome to #523, integration test in staging failing

[2021-11-15 09:45] ESapenaVentura commented on #486
@aaclan-ebi to do some more investigation and continue with the re-export

[2021-11-15 09:48] ESapenaVentura commented on #321
More investigation needed, moving to in development again

This issue is not always happening so need more log information

[2021-11-15 09:50] ESapenaVentura commented on #519
@gabsie got feedback session from 2 wranglers

Targetting the UCSC wranglers next for feedback

[2021-11-15 09:53] ESapenaVentura commented on #513
@amnonkhen to take a look

[2021-11-15 11:28] ESapenaVentura commented on #462
I have been trying to test this but I get a linking error https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=add6b701-5e1e-45d7-9816-e09e9b357381&project=f5694942-f2b4-45b3-b277-e3b2b184c6d2

No entity seems to be linked, I have looked at the spreadsheet and it should be linked, which is pretty weird

I have used the simplified spreadsheet from above

[2021-11-15 13:46] ESapenaVentura commented on #517
Uploaded a project to test, files got stuck in validating https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=37f4c191-fbf3-4d58-915a-59d79d07185d&project=cc4e44c1-af18-4a25-abec-b2504cbd606d

[2021-11-15 15:54] #427 closed, assigned to yusra-haider, Wkt8

[2021-11-15 16:21] aaclan-ebi commented on #473
The root cause of this could be because the file is being requested to be validated twice, maybe we should also prevent that from happening.

[2021-11-15 17:12] ke4 opened #541 "Project spec is unreadable during direct archiving"
The JSON Mapper specifications in BioStudies converter have side effects.
After its 1st usage they are getting modified.
Currently they are GLOBAL variables.
We should (re)create then when we create an instance of the BioStudies converter, therefore we can move them to the `__init__`` method of the BioStudies converter.

[2021-11-16 09:32] amnonkhen opened #542 "service account for direct archiving (prod)"
requested from it support: [ticket](http://helpdesk.ebi.ac.uk/Ticket/Display.html?id=546424)

[2021-11-16 09:39] aaclan-ebi commented on #523
Deployed to prod yesterday.

[2021-11-16 09:41] aaclan-ebi commented on #462
@ESapenaVentura tested the imaging spreadsheet in staging and encountered a lot of linking errors. He'lll try to retest again today.

[2021-11-16 09:43] aaclan-ebi commented on #517
@ESapenaVentura tested in staging but files were stuck in Validating in staging.

[2021-11-16 09:45] aaclan-ebi commented on #491
@prabh-t will add Angular unit tests on the changes.

[2021-11-16 09:45] aaclan-ebi commented on #521
@prabh-t will continue today.

[2021-11-16 09:46] aaclan-ebi commented on #321
I'l continue the work today. Need to add logging to get more info.

[2021-11-16 09:47] aaclan-ebi commented on #486
I will do the QA (compare the metadata with the metadata in the DCP1 bucket) on the 27 projects exported today.

[2021-11-16 09:48] aaclan-ebi commented on #524
@ke4 started the work this morning, may not be ready for demo today.

[2021-11-16 10:47] aaclan-ebi commented on #517
@ESapenaVentura the changes for this user story isn't in staging yet. That test submission you did in staging was affected by the core outage yesterday morning, the files validation result didn't make it to core because core was down. Please retry.

Also, to set record straight, that the changes for this story didn't break the integration tests in dev.

There is a current issue in dev that we noti

[2021-11-16 10:52] aaclan-ebi commented on #462
Yeah, there was an outage in core yesterday and that could have affected the linking/importing. Please retry when you get a chance, Thanks @ESapenaVentura !

[2021-11-16 11:03] aaclan-ebi commented on #321
It seems that a draft event from the cloudURL update is lost and wouldn't trigger file validation. I need to add more logging to check if core sends that draft event to the validator and if the validator handled that event.

[2021-11-16 14:37] MightyAx commented on #417
From conversation with @amnonkhen, regarding the **Downloading Links** functionality detailed above.

FAO @aaclan-ebi:

[2021-11-17 08:28] gabsie opened #543 "metadata spreadsheet for Data Consumers"
Original description:

**As a** data consumer,
**I want** to be able to access and download the metadata spreadsheet for a project with as complete metadata as possible,
**so that** I can use the data and metadata for my research. (p.s. we're not focusing on the user story for updates for now.)

**Main requirements:**
- I wish to see the full metadata the original submitter has provided
- I wish t

[2021-11-17 08:32] gabsie opened #544 "Format of downloadable metadata spreadsheet to follow the format of the uploaded spreadsheet"
Make the format of this spreadsheet contain row 1-5 from the original metadata template, which has got the user-friendly name, the description, examples, system name and separator line

[2021-11-17 10:22] #445 closed, assigned to amnonkhen, aaclan-ebi

[2021-11-17 10:22] #526 closed, assigned to ke4

[2021-11-17 10:22] #468 closed, assigned to amnonkhen, ke4

[2021-11-17 10:22] #481 closed, assigned to aaclan-ebi

[2021-11-17 10:22] #501 closed, assigned to nobody

[2021-11-17 10:23] #505 closed, assigned to jacobwindsor

[2021-11-17 10:23] #506 closed, assigned to jacobwindsor

[2021-11-17 10:23] #503 closed, assigned to jacobwindsor

[2021-11-17 10:24] #479 closed, assigned to aaclan-ebi

[2021-11-17 10:24] #443 closed, assigned to jacobwindsor, aaclan-ebi, yusra-haider

[2021-11-17 10:24] #475 closed, assigned to gabsie, yusra-haider

[2021-11-17 10:24] #449 closed, assigned to gabsie, Wkt8

[2021-11-17 10:24] #447 closed, assigned to ke4

[2021-11-17 10:24] #376 closed, assigned to aaclan-ebi

[2021-11-17 10:24] #424 closed, assigned to jacobwindsor

[2021-11-17 10:24] #438 closed, assigned to ke4

[2021-11-17 10:24] #425 closed, assigned to aaclan-ebi

[2021-11-17 10:24] #446 closed, assigned to aaclan-ebi

[2021-11-17 10:25] #13 closed

[2021-11-17 10:25] #418 closed, assigned to jacobwindsor

[2021-11-17 10:25] #409 closed, assigned to jacobwindsor

[2021-11-17 10:25] #366 closed, assigned to amnonkhen

[2021-11-17 10:25] #335 closed

[2021-11-17 10:25] #430 closed, assigned to jacobwindsor, ami-day

[2021-11-17 10:25] #19 closed

[2021-11-17 10:25] #349 closed, assigned to aaclan-ebi

[2021-11-17 10:26] #478 closed, assigned to jacobwindsor, gabsie

[2021-11-17 10:26] #500 closed, assigned to amnonkhen, ke4

[2021-11-17 10:26] #535 closed, assigned to jacobwindsor

[2021-11-17 10:52] gabsie commented on #521
@prabh-t will be in touch with @MightyAx on this to gain some knowledge

[2021-11-17 10:57] MightyAx commented on #521
Example python script that was run on a linux server that mounted both s3 and ENA-FTP to synchronise a folder named with a “secure_key” from s3 to ENA:
https://github.com/ebi-ait/s3-to-webin-utils/blob/7330d34b1dd3f460067e7fd4207fcee53743aa36/cli.py#L110

[2021-11-17 11:07] amnonkhen commented on #542
[Queue hca-archiving-broker-prod](https://helpdesk.ebi.ac.uk/Search/Results.html?Query=Queue%20%3D%20%27hca-archiving-broker-prod%27%20AND%20Status%20%3D%20%27__Active__%27) is ready. Its email is hca-archiving-broker-prod@ebi.ac.uk

[2021-11-17 12:43] amnonkhen commented on #513
I am able to recreate the problem on my env.
Now - investigate!

[2021-11-18 08:29] aaclan-ebi commented on #486
I have no updates for this ticket yet. I was mostly in meetings yesterday and last Tuesday. I will target to finish this by end of the week.

[2021-11-18 08:31] aaclan-ebi commented on #417
@MightyAx and I will pair today to start working on this.

[2021-11-18 08:37] aaclan-ebi commented on #462
@Wkt8 and I chatted about the testing of this yesterday. A possible issue or missing feature we see is the linking of a probe module row to multiple imaging protocols (still need to be verified). I am uncertain if this was already supported before or an enhancement. A workaround could be just to duplicate the probe row and link it to the second imaging protocol that should use it.

[2021-11-18 09:36] ESapenaVentura commented on #448
@ke4 to deploy into production

[2021-11-18 09:37] ESapenaVentura commented on #524
@ke4 to continue working on this when capacity allows (Dev on ops)

[2021-11-18 11:18] aaclan-ebi opened #545 "Fix integration tests failures due to runner - no space left on disk"
Gitlab pipelines for integration tests are failing because there's no space left on runner disk

Logs shows:
[code]

Usual workaround is to do a cleanup:

some guidelines here: https://ebi-ait.github.io/hca-ebi-dev-team/operations_tasks/Cleanup-GitLab-runner.html

Adding the details of the workaround done today:
[code]

Filing this ticket for the long term solution.

[2021-11-18 16:11] Wkt8 commented on #462
I have tested the following:
- linking imaging_protocol.probe to imaging_protocol (this works)
- linking imaging_protocol.channel to imaging_protocol (this works)

Linking a probe or channel to multiple imaging protocols via introducing separators "||" does not work. However, as stated above, duplicating the row and linking it to a second imaging protocol does work.
This is fine as I do not predic

[2021-11-18 18:31] aaclan-ebi commented on #462
Thanks @Wkt8 !

Promoting this to prod now.

[2021-11-19 09:38] ke4 commented on #508
The tests are almost ready to go. @ESapenaVentura checked them.

[2021-11-19 09:42] ke4 commented on #142
@Wkt8, @gabsie  and @yusra-haider had a design discussion. @gabsie are going to create a mock up.

[2021-11-19 10:12] aaclan-ebi commented on #417
@MightyAx and I brainstormed on the possible options how to implement this: https://miro.com/app/board/o9J_li2IEts=/

The current plan is:
1. Implement Ingest Core project endpoint to return a list of all objects and the relationships
2. Implement Spreadsheet generation

[2021-11-22 09:40] gabsie commented on #508
Needs review - @ke4 ?

[2021-11-22 09:42] gabsie commented on #417
@MightyAx @aaclan-ebi hopefully to work today on this.

[2021-11-22 09:44] gabsie commented on #519
@gabsie thinks for now we can close this one - and we are addressing the errors issue. we can open a new ticket afterwards for later feedback.

[2021-11-22 09:45] gabsie commented on #521
Maybe towards mid-week we can have progress review.

[2021-11-22 09:48] gabsie commented on #486
@aaclan-ebi will work on this today.

[2021-11-22 09:49] gabsie commented on #507
@jacobwindsor took this from product backlog and works on this as related to the opther graph validator task.

[2021-11-22 10:51] jacobwindsor opened #546 "Consolidate graphValidationState and validationState in submission and metadata entities"
**User Story**
As a wrangler/contributor,I want entity and submission validation states to reflect the graph validation state.

At the moment, the state of an entity (biomaterial/process/file/protocol) will only show "Valid"/"Invalid"/"Draft" etc when the *metadata* is of that state. It does not consider graph validation. It should show Invalid" when graph is invalid too. The same goes for the sub

[2021-11-22 10:54] jacobwindsor commented on #546
Can also improve error reporting when this is done to show graph validation success messages alongside the valid entitites. Something like "This entity is not causing an invalid graph".

[2021-11-22 10:58] ami-day commented on #546
Hi @jacobwindsor , I'm just wondering if this task is based on the graph validator as it is on EC2, or whether it has been or is in the process of being integrated into ingest?

[2021-11-22 11:41] jacobwindsor commented on #546
@ami-day no, this has nothing to do with the graph validator on EC2. Besides, I don't think you need to use that anymore

[2021-11-22 17:31] jacobwindsor commented on #508
This can now be tested in staging.

@ami-day to test

Need to:
- run graph validation through the UI on a few different submissions with different types of graph validation errors
- ensure you can see a description of the error and the uuid of the entity that causes the error in the UI
- run graph validation through UI on a submission that has no graph validation errors and ensure it goes through

[2021-11-23 02:14] gabsie opened #547 "Track projects/submission status changes in ingest backoffice"
As a data wrangler,
I want to see when a Project changed statuses,
so we can later report on these in terms of what happened and time it took.

See [wireframes](https://miro.com/app/board/uXjVOWr0iR0=/)

related to #604 that records the stakeholder's point of view

Acceptance criteria:
---------------------
Given a data wrangler/stakeholder visits the project
When they open up the History tab
They

[2021-11-23 02:14] gabsie opened #548 "Ability to see the history for a dataset - when a submission has been updated and with what"
@ofanobilbao  can fill the info about stakeholder needs, but we need to be able to view a history of updates per project.

- As a wrangler/stakeholder I want to be able to look at a dataset/project I did not work on and see what Updates were done and exported to DCP, what releases it has been part of (if more than one due to updates), when it changed status etc
- As a wrangler/stakeholder I want t

[2021-11-23 02:15] gabsie opened #549 "Ability to overwrite existing project info with the project tabs from a spreadsheet"
As a data wrangler, I wish to be able to find a project I'm assigned to, and upload a spreadsheet for it which contains the full info for the Project tabs, Contributors and Funders.
(At the moment, if a Project exists, these tabs would be ignored)

- [x] add acceptance criteria - @aaclan-ebi
- [ ] update user docs

**Acceptance Criteria:**

- [x] 1. **Given** a project and a spreadsheet with proje

[2021-11-23 09:33] MightyAx commented on #417
We've successfully prototyped a submission "census", which is just the id's and relationship mappings of all objects: https://github.com/ebi-ait/ingest-core/pull/97

[2021-11-23 10:50] gabsie opened #550 "Elixir login issue"
When trying to login, the attached happens:
![Screenshot 2021-11-23 at 10.46.19.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/be8435c7-aabe-4a81-abde-e1d6b198b508)

[2021-11-23 10:53] gabsie commented on #513
hey @ami-day - as this is now in your hands, please update with progress here maybe, as well as please check with @ESapenaVentura how to unblock him. Thank you!

[2021-11-23 10:55] gabsie commented on #517
hey @yusra-haider and @jacobwindsor - is this now ready to be in prod? I kind of lost the story here..

[2021-11-23 10:55] gabsie commented on #486
Hey @aaclan-ebi - please feel free to update here on what is happening :)

[2021-11-23 12:12] aaclan-ebi commented on #417
WIP changes in the importer : https://github.com/ebi-ait/ingest-client/pull/32

[2021-11-23 15:37] ami-day commented on #513
I'll have a look at this tomorrow, as we have the DCP meeting now.

[2021-11-23 15:50] jacobwindsor commented on #507
PRs:

- https://github.com/ebi-ait/ingest-core/pull/98
- https://github.com/ebi-ait/ingest-ui/pull/140
- https://github.com/ebi-ait/ingest-graph-validator/pull/47

[2021-11-23 16:18] jacobwindsor opened #551 "Remove graph validator PyPi package"
The graph validator doesn't need to be in PyPi and we can remove setup.py, Makefile and other related files

[2021-11-24 12:27] jacobwindsor commented on #507
This is in dev (about to be in staging) now and can be tested.

To test:

- Run graph validation through the UI on a few different submissions that have different graph validation issues
- Ensure you can see the summary of the number of graph validation errors at the top of the submission
- Ensure you can see a descriptive messsage on the entity that is causing the issue

[2021-11-24 15:53] aaclan-ebi commented on #417
Please note ebi-ait/dcp-ingest-central#491 may block testing of this feature.

[2021-11-24 15:55] aaclan-ebi commented on #491
I strongly suggest that we go for the async way to solve this issue. Generating the spreadsheet can take a few mins especially for bigger datasets.

[2021-11-25 09:38] jacobwindsor commented on #507
@ami-day is testing this.  #517 is causing issues with this ticket and #515

[2021-11-25 09:41] jacobwindsor commented on #508
@ami-day testing #507 instead of this

[2021-11-25 09:41] jacobwindsor commented on #417
In PR review.

Might need to improve retrieving of linking information from core in order to download large spreadsheets faster.

[2021-11-25 09:44] jacobwindsor commented on #517
Yes, this is in prod.

We may have to revert this due to issues it causes with linking as mentioned by @aaclan-ebi above

[2021-11-25 09:48] jacobwindsor commented on #521
@prabh-t has a demo of a mock solution. To show devs today

[2021-11-25 09:49] aaclan-ebi opened #552 "Write integration test for Download Spreadsheet with metadata link info"
This should test that linking columns are also in the spreadsheet.

[2021-11-25 09:49] jacobwindsor commented on #515
Blocked by issue caused by #517

[2021-11-25 09:52] #550 closed, assigned to nobody

[2021-11-25 09:52] jacobwindsor commented on #550
No one seems to be experiencing this right now

[2021-11-25 15:53] jacobwindsor commented on #517
This has been reverted. Please see [slack thread](https://embl-ebi-ait.slack.com/archives/C016R78CDV1/p1637840940185000) for more explanation.

We will investigate this and try to fix it

[2021-11-25 15:53] jacobwindsor commented on #507
@ami-day now testing this in staging as #517 has been reverted

[2021-11-25 16:13] aaclan-ebi commented on #486
I tried comparing our staging area files for dcp1 projects to the files in the UCSC staging area to make sure our data is consistent with what's in Terra. However, the following issues are making it a very complicated task:
1. The UUID in the links.json files in the dcp1 projects are using the bundle UUIDs and not the assay process UUIDs
2. Files are not arranged by project UUID directory
3. There

[2021-11-25 18:38] aaclan-ebi commented on #417
Hi @ami-day , the changes should already be in staging. Please verify.

It would be nice to upload a real spreadsheet from a dataset in prod to staging, do some updates in linking via ingest UI (by expanding a process row and making some changes) and download the spreadsheet to see if the spreadsheet shows the correct linking.

[2021-11-26 09:39] yusra-haider commented on #417
@gabsie talked to @aaclan-ebi yesterday. Task finished with a caveat. @aaclan-ebi has decided only send the project metadata to the import team, she needs to do further checks / Q/A on remaining metadata. She will create another ticket to address this.

[2021-11-26 09:41] yusra-haider commented on #486
@gabsie talked to @aaclan-ebi yesterday. Task finished with a caveat. @aaclan-ebi has decided only send the project metadata to the import team, she needs to do further checks / Q/A on remaining metadata. She will create another ticket to address this.

[2021-11-26 09:41] yusra-haider commented on #417
ticket on wrangling test. to be tested by @ami-day

[2021-11-26 09:44] yusra-haider commented on #513
@ami-day worked on it and fixed it. fixed to be reviewed / tested by @ESapenaVentura

changes to be reviewed by dev team as well.

[2021-11-26 09:59] jacobwindsor commented on #521
@prabh-t is running some tests on the cluster to get some numbers and see how the implementation is working

[2021-11-26 12:23] ami-day commented on #417
Hi @aaclan-ebi , I was able to download a real spreadsheet from ingest prod. and it looks how it was initially, however, I am getting an error trying to re-upload it to staging: https://api.ingest.staging.archive.data.humancellatlas.org/submissionEnvelopes/61a0d0f54fe10b74b9ae5a27/submissionErrors

Maybe we could discuss on Monday when you're back.

[2021-11-29 09:37] amnonkhen commented on #508
@ami-day tested and approves

[2021-11-29 09:38] amnonkhen commented on #417
@aaclan-ebi to look into this today.

[2021-11-29 09:40] amnonkhen commented on #486
@aaclan-ebi sent the staging area to Andrew Herbst and Jeff Korte. Waiting for their response.

[2021-11-29 09:45] amnonkhen commented on #142
@gabsie & @yusra-haider discussed on Friday and broke this to steps.
@gabsie and @amnonkhen to create tickets.

[2021-11-29 09:48] amnonkhen commented on #513
@ami-day fixes on Friday, will create a PR for review.

[2021-11-29 09:50] amnonkhen commented on #517
@yusra-haider and @jacobwindsor Friday debug session did not yield to root cause for the problem.

[2021-11-29 09:53] amnonkhen commented on #517
@jacobwindsor & @amnonkhen to continue investigating.

[2021-11-29 13:36] jacobwindsor commented on #491
To replicate the issue:

1. Checkout `ingest-core` from before the revert
2. Run `ingest-core`, `ingest-UI`, and `ingest-broker`
3. Upload the SS2 integration test submission
4. You will see the error
5. To replicate the specific problem. You can:
  1. Locate the process that is not linked to the project (probably the last one)
  2. `curl -X PUT --data 'http://localhost:8080/projects/<project_id>'

[2021-11-29 14:22] gabsie opened #553 "Create an example of a flattened version of the project's metadata - starting with the file to the cell suspension and its donor"

[2021-11-29 15:23] ESapenaVentura commented on #513
I still get the same error

[2021-11-29 15:30] gabsie commented on #142
We have updated this ticket with a more minimal outcome, which aims to address the wrangler's biggest benefit.

[2021-11-29 15:33] gabsie opened #554 "UI mockups from Gabs about the GEO to HCA pre-filled template download"

[2021-11-29 17:30] jacobwindsor commented on #517
To replicate the issue:

1. Checkout `ingest-core` from before the revert
2. Run `ingest-core`, `ingest-UI`, and `ingest-broker`
3. Upload the SS2 integration test submission
4. You will see the error
5. To replicate the specific problem. You can:
  1. Locate the process that is not linked to the project (probably the last one)
  2. `curl -X PUT --data 'http://localhost:8080/projects/<project_id>'

[2021-11-30 09:38] idazucchi commented on #417
PR with the fixes is ready

[2021-11-30 09:41] idazucchi commented on #513
@ami-day to check that the right branch is installed in the EC2

[2021-11-30 09:42] idazucchi commented on #486
the data will be imported at the same time as release 12

[2021-11-30 09:45] idazucchi commented on #491
missing unit tests for the UI

[2021-11-30 09:47] idazucchi commented on #517
more investigation is required

[2021-11-30 09:47] aaclan-ebi opened #555 "Reduce wait time for downloading the generated metadata spreadsheet"
As a wrangler I want to download a project's metadata spreadsheet so that I can work on it offline.

# Acceptance Criteria / Definition of Done

***Project with no recent changes***
* Given a project in ingest with no recent changes
* When I click the download button
* Then the spreadsheet is immediately available for download

***Project with recent changes***
* Given a project in ingest with rec

[2021-11-30 09:50] idazucchi commented on #521
@prabh-t fixed a bug - files were being streamed twice
initial implementation is done, still have to define where it is going to be deployed and tested

[2021-11-30 11:52] ami-day commented on #513
Pull request: https://github.com/ebi-ait/hca-to-scea-tools/pull/57

[2021-12-01 09:17] ke4 opened #556 "Don't send empty values in the archiving payload"
When we are creating the payload for the various archives some of the properties could be empty. Currently we send them as an empty string value. BioStudies changed their implementation and it is causing an error response from their side. Even if Biostudies handle it correctly we should not send empty values in the payload.

Acceptance criteria:
In the JSON payload every key has a meaningful non-e

[2021-12-01 09:30] ke4 opened #557 "We need better error reporting/processing for BioStudies archiving"
We need to process the error response as well as the success response. Currently we don't do anything with the response that is not a success. That is bad. At least we need to log the error message that came from the archive.

Acceptance criteria:
If we get an error response from the archive we need to report it:
- in our log messages
- report it to the user

[2021-12-01 10:14] gabsie opened #558 "Ability to differentiate the graph validation state from the validation of the single entities"
As a wrangler and data submitter, I want to see clearly the validation status for my submission and not be confused with two different states of 'Valid' (especially when the graph is actually invalid)

[2021-12-01 10:18] yusra-haider opened #559 "Make geo_to_hca interactable with Ingest UI"

[2021-12-01 10:18] yusra-haider opened #560 "get project metadata (Project tab on UI) using geo accession"

[2021-12-01 10:20] yusra-haider opened #561 "Download spreadsheet using geo accession"

[2021-12-01 10:21] Wkt8 commented on #341
HHave had some useful and fruitful meetings - minutes found here.

Targets for January are:
- Ambrose Happy to give us some cellxgene copy to get faster replies to emailing contributors
- I made it clear to Ambrose the pain points (getting raw matrices, ENSEMBL gene IDs, and particularly that we were removing certain genes not in ENSEMBL from matrices)
-Don't care about DCP-generated matrices
   -

[2021-12-01 10:23] gabsie commented on #491
Let's discuss actually if there isn't another task here

[2021-12-01 10:25] yusra-haider commented on #142
[sequence diagram](https://sequencediagram.org/index.html#initialData=C4S2BsFMAIHEFEDy1gHtoAkDCBBaIA7aASQIHNIBnYAKBoAcBDAJ1AGMQmDgznUBXetADEOAF79mMGozZpmIgCIsA1gFlGFbo2gAiAKqVIzXdEaVo-I8wYt2nRtxFrIAExD8AtgDUQqKMAASm56pBTU0PrEpuaRxDSQBK50tqwgHFw8fIIiAGLgqMyM4ADqABZg0kxpGY7Azm4ePn4BUq6h5FT1CMhomLgxFhSoAPpoI2VsjAlJdNX2mbwCQsJqhMBYUoyeqQt1IojMbBXtumFd0FiFkIPQbNcz7XN26Q7cSznCxABuhQCeu1emREpHcjmCp3OEQAQ

[2021-12-01 10:27] gabsie opened #562 "Get feedback from data consumers on the utility of the data consumer spreadsheet"

[2021-12-01 11:04] jacobwindsor commented on #537
I can't reproduce this

[2021-12-01 11:07] gabsie commented on #549
Design discussion to come up with specific ways of implementation.

[2021-12-01 11:14] gabsie commented on #142
design discussion together with @amnonkhen @yusra-haider @gabsie

[2021-12-01 11:16] gabsie commented on #537
@idazucchi - can you tell us if this continues?

[2021-12-01 15:28] amnonkhen commented on #142
See a [summary](https://miro.com/app/board/uXjVOeQdM0A=/) of @yusra-haider and @amnonkhen 's discussion.
@gabsie you could add the UX suggestions at the same board.

[2021-12-02 09:19] #519 closed, assigned to gabsie

[2021-12-02 09:35] ofanobilbao commented on #417
@ami-day to review this today

[2021-12-02 09:35] ofanobilbao commented on #513
@ESapenaVentura did not have the chance to test if the fixes fix his issues

[2021-12-02 09:37] ofanobilbao commented on #491
@aaclan-ebi and @prabh-t worked on this yesterday. Prabhat will try to continue to work on this

[2021-12-02 09:37] ofanobilbao commented on #546
@jacobwindsor to work on this

[2021-12-02 09:38] ofanobilbao commented on #552
@aaclan-ebi planning on working on this today

[2021-12-02 09:39] ofanobilbao commented on #556
@ke4 thinks it is a bigger issue than initially anticipated. We can't even archive through DSP. Karoly having a discussion with the BioStudies people, so that they fix it. DSP code is in freeze, so Karoly can't touch it. To take the discussion Offline with BioStudies team

[2021-12-02 09:41] ofanobilbao commented on #142
@yusra-haider should be clear to start working on this, after the discussions yesterday. She is supposed to integrate the script in ingest

[2021-12-02 09:42] ofanobilbao commented on #517
@aaclan-ebi will have a meeting with @amnonkhen on this today

[2021-12-02 10:01] Wkt8 opened #564 "Issue with downloading files from hca-util-upload area"
**Description of the task:**

Attempting to move files from the hca-util-upload-area 4777804d-1b93-4bbf-955f-1c5083e2c504 to a specific ftp location: lftp ftp-private-2.ebi.ac.uk/kwkrk75w-3u4pe7e6pe9mc/ 

I am attempting to do this via moving specific files from the hca-util upload area to the data/wteh/ folder in the EC2, and then moving from the data/wteh/ folder to the ftp location.

The issue

[2021-12-02 10:18] gabsie opened #563 "How to deal with Lattice team projects and the Project Catalogue"
Description:
The Lattice team now have access to Ingest and I have explained how they can register projects, and enter their names as wranglers, and change statuses. So they seem to now have updated various projects, even went and put their names on already done projects in the past.

This now creates a problem with the way 'Published in DCP' finds the match on the data portal with the UUID we kee

[2021-12-02 10:23] #515 closed, assigned to jacobwindsor

[2021-12-02 10:24] #458 closed, assigned to jacobwindsor, ami-day

[2021-12-02 11:26] aaclan-ebi commented on #564
Converting this ops ticket to a bug:

Steps to replicate:
1. Set up hca-util
2. Try to download all the files (See hca-util download command in Wei's comment above)

Actual behaviour:
CLI shows that the download failed for the files.

Expected behaviour:
Download all files successfully

[2021-12-02 11:33] aaclan-ebi opened #565 "Cannot view the validation errors of the project"
**Steps to replicate:**
1. Create a project via UI
2. Fill out just the title
3. Force save the project by ticking the `Ignore validation errors` checkbox

**Actual Behavior**
The Project is saved. No metadata validation errors are displayed. The metadata validation errors are displayed when you refresh the page. And when you go view the Data Upload tab, the errors disappear.

**Expected Behavior*

[2021-12-02 12:29] aaclan-ebi opened #566 "File input is missing in the Spreadsheet tab in Submission details page"
**Steps to Replicate**
1. Upload the integration test spreadsheet from _All Submissions_ page
2. Go to the page of the submission created.
3. Click _Spreadsheet_ tab

**Actual Behavior**
There is no way to upload a spreadsheet. The file input is missing.

**Expected Behavior**
There should be a file input to allow user to upload an updated spreadsheet

[2021-12-02 14:32] ke4 commented on #556
Regarding DSP I had a discussion with Ugis and he promised that his team is going to fix this issue as it is a broken contract between the 2 services.

[2021-12-02 14:33] ke4 commented on #556
I am going to assign @yusra-haider and @jacobwindsor as my PR reviewers. It was a random selection. Don't worry, I am not ready with my PR, yet. :-)

[2021-12-03 09:14] yusra-haider commented on #561
created as an issue for [epic](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/142). Closing this now after a change in the proposed solution, post design discussions

[2021-12-03 09:14] #561 closed, assigned to yusra-haider

[2021-12-03 09:14] yusra-haider commented on #560
created as an issue for [epic](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/142). Closing this now after a change in the proposed solution, post design discussions

[2021-12-03 09:14] #560 closed, assigned to yusra-haider

[2021-12-03 09:14] yusra-haider commented on #559
created as an issue for [epic](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/142). Closing this now after a change in the proposed solution, post design discussions

[2021-12-03 09:14] #559 closed, assigned to yusra-haider

[2021-12-03 09:35] ami-day commented on #417
I will test this today

[2021-12-03 09:37] ami-day commented on #517
@jacobwindsor and @aaclan-ebi are going to discuss this today

[2021-12-03 09:42] ami-day commented on #142
@yusra-haider is currently working on this

[2021-12-03 13:05] idazucchi commented on #537
Yes, the issue is still present

[2021-12-03 14:14] aaclan-ebi commented on #545
could also do the following to cleanup:
[code]

[2021-12-03 14:26] aaclan-ebi commented on #552
Assigning @ke4 @jacobwindsor  as primary code reviewers

PR: https://github.com/ebi-ait/ingest-integration-tests/pull/19

[2021-12-03 14:27] aaclan-ebi commented on #517
Assigning @amnonkhen @yusra-haider as primary code reviewers
PR: https://github.com/ebi-ait/ingest-core/pull/101

[2021-12-03 14:28] aaclan-ebi commented on #321
Pre-assigning @prabh-t and @ke4 as primary code reviewers here, no pr yet :)

[2021-12-06 09:41] Wkt8 commented on #556
@ke4 to do some investigation on integration tests as they are failing (possibly due to graph validation)

[2021-12-06 09:44] Wkt8 commented on #557
Karoly to continue working on this after integration test investigation.

[2021-12-06 11:47] Wkt8 commented on #341
Need to add a task to look at the flattener: https://github.com/Lattice-Data/lattice-tools/blob/main/scripts/flattener.py

[2021-12-06 12:14] ami-day commented on #417
Hi @aaclan-ebi , sorry for the delay in testing. But it works :) here is the submission: https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=01c167fa-0cb3-44bc-a392-1e7fa8d156ca All of the specimens were enriched by FACS and size selection. As a test I deleted the size selection enrichment protocol for specimen with ID SKN8090540 and output cell suspension ERX5053663. I then

[2021-12-06 13:25] gabsie commented on #417
Thanks, @ami-day. Alegria, @aaclan-ebi - can we now put this on prod, and be able to demo this tomorrow at DCP demo? Thank you!

[2021-12-06 13:29] gabsie commented on #517
can we also get this to prod if reviewed? :) @amnonkhen

[2021-12-06 13:30] gabsie commented on #513
hey @ESapenaVentura :) did this work?

[2021-12-06 13:30] gabsie commented on #491
hey @prabh-t  - could you update on this, if there was any progress on the user notification bit?
Gabs

[2021-12-06 14:03] prabh-t commented on #491
Hi Gabs, Alegria and I spent Wednesday afternoon adding tests to this change. I'll deploy to dev and staging later today.

[2021-12-06 17:41] amnonkhen opened #567 "update aws connection docs fro devs"
update recent changes in connection procedure (using EBI SSO, etc.)
pr ebi-ait/hca-ebi-dev-team#461

[2021-12-06 17:51] amnonkhen commented on #567
pending doc PR review

[2021-12-06 20:17] aaclan-ebi commented on #514
Manually copied the staging_area.json file in the following staging areas for release 12 which were created before this change was released.

[code]

[2021-12-07 09:50] ami-day commented on #517
@aaclan-ebi needs to investigate this further

[2021-12-07 09:51] ami-day commented on #417
@aaclan-ebi is monitoring deployment to production

[2021-12-07 11:22] aaclan-ebi commented on #417
Deployed to prod today. ![Screenshot 2021-12-07 at 11.21.28.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/94552b1b-d123-4010-9c97-0b62dbe2af7f)

https://gitlab.ebi.ac.uk/hca/ingest-broker/-/pipelines/218497

[2021-12-07 11:27] aaclan-ebi commented on #417
https://gitlab.ebi.ac.uk/hca/ingest-core/-/pipelines/217146
![Screenshot 2021-12-07 at 11.26.46.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/c8830df0-8417-45f9-8954-fd625b0cad6f)

[2021-12-07 11:29] aaclan-ebi commented on #566
Deployed to prod.
https://gitlab.ebi.ac.uk/hca/ingest-ui/-/pipelines/219548
![Screenshot 2021-12-07 at 11.29.18.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/788a98a5-369d-4f22-8cb9-59d75b8dc788)

[2021-12-07 13:28] jacobwindsor commented on #546
Assigning @aaclan-ebi and @amnonkhen as primary code reviewers

https://github.com/ebi-ait/ingest-state-tracking/pull/9
https://github.com/ebi-ait/ingest-core/pull/102
https://github.com/ebi-ait/ingest-ui/pull/143
https://github.com/ebi-ait/ingest-graph-validator/pull/60
https://github.com/ebi-ait/ingest-integration-tests/pull/20

[2021-12-07 16:07] jacobwindsor opened #568 "Add an endpoint to report failed graph validations"
As a wrangler, if the graph validation fails for an unknown reason, I would like to see this reported in the UI and be able to trigger graph validation again.

This should be done in the except block [here](https://github.com/ebi-ait/ingest-graph-validator/pull/60/files/7ea8c27ea068ba6d31401d44dcc58b5f7f96dbb6#diff-fd21202e361c1c2465f37361b42ab6e6dc365ba32043beaf43e7ff137dbb6074R92)

[2021-12-07 16:31] jacobwindsor commented on #546
Testing this will involve the following:

## For a metadata valid & graph valid submission
1. Upload the submission
2. Ensure the state shows "Metadata Valid"
3. Ensure you can navigate to the "Validate" tab
4. Trigger validation and watch the transition go between "Graph Validation Requested", "Graph Validating", "Graph Valid"
6. Ensure you can submit

## Metadata invalid
1. Upload the submission

[2021-12-07 19:41] ke4 commented on #557
I created a PR that fixes the parsing of the HTTP error response that comes from BioStudies service.
https://github.com/ebi-ait/biostudies-client/pull/4
After approval I have to incorporate the new version of BioStudies client library to ingest-archiver and do some tiny modification there.

[2021-12-08 20:11] aaclan-ebi commented on #517
Hi @amnonkhen @yusra-haider This is ready for review again: https://github.com/ebi-ait/ingest-core/pull/101/files. Please check. Thanks!

[2021-12-09 10:09] jacobwindsor commented on #546
### Deployment order

- ingest-graph-validator
  - [x] dev
  - [x] staging
  - [x] prod
- ingest-core (wait for migration)
  - [x] dev
  - [x] staging
  - [x] prod
- ingest-state-tracking (check logs for failures after deploying)
  - [x] dev
  - [x] staging
  - [x] prod
- ingest-ui
  - [x] dev
  - [x] staging
  - [x] prod
- integration tests
  - [x] dev
  - [x] staging
  - [x] prod

[2021-12-13 08:31] ofanobilbao commented on #312
@gabsie I believe this is highly related to ticket #[421] in the Operations Board. We could potentially maybe move it to that board and link it to that other ticket that is a bit broader? I could see 421 being an epic.

[2021-12-13 09:38] aaclan-ebi commented on #546
Waiting for review.

[2021-12-13 09:39] aaclan-ebi commented on #517
Waiting for reviews.

[2021-12-13 09:40] aaclan-ebi commented on #546
Waiting for review. @MightyAx will take a look today.

[2021-12-13 09:41] aaclan-ebi commented on #517
@yusra-haider @amnonkhen to review today.

[2021-12-13 09:42] aaclan-ebi commented on #142
@yusra-haider to pick up the task again and continue this today.

[2021-12-13 09:43] aaclan-ebi commented on #557
@ke4 to use the biostudies-client changes in the archiver.

[2021-12-13 09:49] MightyAx commented on #546
Done with review.
@jacobwindsor merge it!

[2021-12-13 10:00] aaclan-ebi opened #569 "Investigate log4j security bug impact on Ingest"
Check if ingest-core is affected.

[2021-12-13 10:43] gabsie opened #570 "When creating a project in ingest and not enough info, don't make the 'In Catalogue' checked by default"
The problem: curators often in ingest backoffice populate just their names, a title and maybe not much more
(which results in project catalogue showing very incomplete projects)

So can we make the checkbox for Catalogue be unchecked by default, for newly created projects.

If this can be made smarter, can we make it unchecked for projects missing: Title, Authors, organ, technology?

We can discus

[2021-12-13 12:00] MightyAx opened #571 "Pre-build docker image dependencies for integration tests"
Benefits:

- Cleaner logging
- Easier investigation of issues
- *Slightly* quicker integration tests

Get development work to staging quicker.

[2021-12-13 12:05] MightyAx opened #572 "Capture and report metrics of integration test runs"
Metrics:
- [ ] Average duration to success
- [ ] Average duration to failure
- [ ] Percentage success
- [ ] Total Number of minutes working, split by success and failure

Questions:
- Where will these metrics be captured?
- When will they be reviewed?
- Who will review them?
- What questions are they using the metrics to answer?

[2021-12-13 12:17] MightyAx opened #573 "Evaluate environment creation scripts and documentation"
What we want to know:
- Are our [current terraform scripts](https://github.com/ebi-ait/ingest-kube-deployment/pull/16) up-to-date?
    - If production disappeared, would we be able to create it again?
- How quickly can an entire environment be created?
    - Quickly enough that one could be created per user-story?
- Is it **prohibitively expensive** to:
    - To create an environment, run all the

[2021-12-14 09:38] ESapenaVentura commented on #567
Documentation has been reviewed!

[2021-12-14 09:39] ESapenaVentura commented on #546
@jacobwindsor to test after stand-up and fix today. @ESapenaVentura to test afterwards

[2021-12-14 09:40] ipediez opened #574 ""Add/Remove a contributor" buttons showing outside the "Edit" Ingest view"
The UI allows adding a contributor in Ingest without first clicking on “Edit project”. This adds a new empty entry that cannot be filled if you are not editing the project. We should we remove this button outside the “Edit” view

Slack: https://embl-ebi-ait.slack.com/archives/C016R78CDV1/p1639413136273200

[2021-12-14 09:40] ESapenaVentura commented on #517
Overlaps with #546

[2021-12-14 09:41] ESapenaVentura commented on #142
@yusra-haider working on this

[2021-12-14 09:42] ESapenaVentura commented on #557
@ke4 trying to write a test but finding issues with module imports. @amnonkhen will help with this

[2021-12-14 10:35] gabsie commented on #312
@Oihane - I feek the other ticket is for wider developer type of rights. We can definitely address little by little, and this is just for the ingest backoffice.

For now, I would say let's get rid of anyone  with Wrangler access who has left is definitely not a data wrangler - so as I said:

Justin Clark
Rolando Fernandez
Mark Goite
Claire Rye.

The other ops ticket can be wider on things like git

[2021-12-14 11:10] ESapenaVentura opened #575 "Project catalogue using contributor information to fill out author list"
**Describe the bug**
The current implementation of the catalogue uses the contributor information, instead of the author list, to show the publications' authors.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to project catalogue webpage
2. Look down until you find "Parisa N" as a contributor

**Expected behaviour**
The list should contain the contributor information from the list of au

[2021-12-14 14:27] jacobwindsor commented on #575
PR https://github.com/ebi-ait/projects-index/pull/79

[2021-12-14 17:11] ke4 commented on #557
PR: https://github.com/ebi-ait/ingest-archiver/pull/60

[2021-12-15 09:42] amnonkhen commented on #142
draft screen mockup by @gabsie
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/62571569-d181-45a1-8b2a-681a3189da40)

[2021-12-15 09:47] gabsie commented on #549
Investigate chances of duplication when a new submission gets created and has the same DOI as an already existing project.

[2021-12-15 11:16] amnonkhen opened #576 ""flattened spreadsheet""
UCSC Wranglers have asked for a csv that contains "all the data".
No concrete use cases were mentioned.

I (@amnonkhen) understand this requirement as follows:

As a _data consumer_
I would like to query, filter and aggregate project data according to any attribute

Tasks
- [x] 1st draft - sequence file -> donor
- [x] gather query examples from EBI Wranglers
- [ ] gather requirements from Sanger d

[2021-12-15 11:29] ipediez commented on #576
As we have discussed, this is a great starting point and we can keep working from here. There are some things to take into account for the next drafts:

- The current implementation works for a single experimental design, but there's a big variety of them. There are a lot of tabs from the spreadsheet that are optional (including the sequence file tab, in the case of managed access datasets where o

[2021-12-15 12:25] amnonkhen opened #577 "easy collection of user feedback"
As a user of ingest-ui
Whenever I encounter a problem or have an idea about the ingest service
I would like to be able to submit feedback, suggestion and problems to the development team.

E.g. - https://github.com/tnicola/ngx-feedback

[2021-12-15 12:36] aaclan-ebi commented on #312
Deleted them from dev, staging and prod db's:
[code]

[2021-12-15 14:37] jacobwindsor opened #578 "Allow filtering by metadata entities that have caused graph validation errors"
**Story**
As a wrangler, I want to be able to see a summary of metadata entities that have caused graph validation errors and filter by them.

**Background**
After #546, submission states for graph validation have been added. Before #546, the graph validator was setting the validation state of metadata documents to `INVALID`, which, in turn, sets the submission state to `INVALID`. This meant the u

[2021-12-15 17:42] ke4 commented on #524
@prabh-t I just saw your comment now. We are exactly doing that you are suggesting. The original description was just a suggestion as I read ENA's programmatic submission documentation.

[2021-12-16 09:35] ke4 commented on #524
I have to populate the ENA related secrets

[2021-12-16 09:39] ke4 commented on #546
There is a PR for the UI, core, state tracker.
There is a related ticket has been created (#578).

[2021-12-16 09:41] ke4 commented on #491
@prabh-t continue working on this.

[2021-12-16 09:42] ke4 commented on #513
@ESapenaVentura tested it and it worked.
He is going to test it with another dataset today.

[2021-12-16 09:48] ke4 commented on #513
@amnonkhen needs to find the files and communicate with wranglers.

[2021-12-16 09:50] ke4 commented on #575
@MightyAx is going to work on this today.

[2021-12-16 09:51] ke4 commented on #521
Still in progress. Need to finish the deployment and the implementation.

[2021-12-16 09:54] ke4 commented on #517
This is going to be tested together with #546.

[2021-12-16 09:58] ke4 commented on #569
@amnonkhen has investigated this issue and it looks like we are not effected by this security bug.
@amnonkhen is going to do more investigation today.

[2021-12-16 11:56] jacobwindsor commented on #578
PRS:

- https://github.com/ebi-ait/ingest-ui/pull/145
- https://github.com/ebi-ait/ingest-core/pull/103

[2021-12-16 12:58] jacobwindsor commented on #546
@ESapenaVentura to review alongside #578 and #517 in staging

[2021-12-16 14:04] jacobwindsor commented on #537
@idazucchi can you give me a demo of this sometime?

[2021-12-16 14:05] jacobwindsor commented on #558
@gabsie I think this can be moved to done with #546 right?

[2021-12-16 14:32] amnonkhen opened #579 "deployment diagram for ingest"
[Create a diagram](https://miro.com/app/board/uXjVOaGPJXk=/) for devs to record the deployment of ingest.

- Which service lies where,
- what controls creation & deployment of the different components
   - (ur code
   - 3rd party tools, e.g. db, queue
   - ci/cd
   - external gateways (DNS)
- infrastructure used:
   - aws
   - k8s
   - git
   - bash scripts in ingest-kube-deployment repo

This wou

[2021-12-16 14:52] idazucchi commented on #537
@jacobwindsor sure, some time next week?

[2021-12-16 15:33] #482 closed, assigned to nobody

[2021-12-16 16:45] amnonkhen commented on #553
duplicate of #576

[2021-12-16 16:45] #553 closed, assigned to gabsie

[2021-12-17 09:44] ami-day commented on #546
Still testing this

[2021-12-17 09:44] ami-day commented on #578
Testing this

[2021-12-17 09:44] ami-day commented on #571
testing this

[2021-12-17 09:46] MightyAx commented on #575
@gabsie please test this on [Dev](https://wwwdev.ebi.ac.uk/humancellatlas/project-catalogue/).

[2021-12-17 15:23] ke4 opened #580 "Testing the direct archiver for Phase 1"
Choose a few projects from the archives that have been submitted with DSP.
Archive the projects using the direct archiver to the test environment of the archives.
Compare the projects from each archive. The results should be identical (with the exception of different accession codes, dates, etc.) and no errors should be present.

[Acceptance Test Scenarios](https://docs.google.com/document/d/1fqe7

[2021-12-17 16:18] ESapenaVentura commented on #546
Going with the tests (The submission was generated with the data here https://github.com/HumanCellAtlas/schema-test-data, submission here https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=558f1636-0ae9-4747-9238-6276f14aa563&project=218a4231-28a0-46f4-b174-8b9901986e98):

## Metadata valid, graph invalid
- Works as intended!! States transitioned from valid metadata, to gra

[2021-12-17 16:19] ESapenaVentura commented on #578
Tested (see comment on #546), works fine!

I noticed that seems slower than usual to show non-filtered entities, is that normal though?

[2021-12-17 16:23] ke4 opened #581 "Creating a temporary script that could trigger direct archiving"
Creating a temporary script that could trigger direct archiving.
Its parameter would be a submission UUID.
It would be useful for testing the feature.

[2021-12-17 16:27] ESapenaVentura commented on #517
Tested (See comment in #546). Works fine!

[2021-12-17 16:34] prabh-t commented on #579
- Main Terraform script defines the core AWS resources that need provisioned for an Ingest environment (ingest-kube-deployment/infra/eks.tf)
- The Helm charts also defines some K8s resources (which map to some corresponding AWS resources) during backend services deployment
- In current setup,
  - all configs are the same for the three envs except obviously the CIDR block (ingest-kube-deployment/co

[2021-12-17 16:45] jacobwindsor opened #582 "Protocols page takes a long time to load"

[2021-12-17 16:47] jacobwindsor opened #583 "Service unavailable when still logged in"
Happens intermittently and for no obvious reason. First reported by @ESapenaVentura when testing #546

[2021-12-17 16:55] ke4 opened #584 "Connect archiving with Ingest UI"
Make archiving user-friendly to be able to launch it from Ingest-UI instead of manually executing a script to do it.

[2021-12-17 17:02] ke4 opened #585 "Add the ability to send supplementary files to BioStudies archive"

[2021-12-17 17:04] ke4 opened #586 "Add the ability to be able to distinguish projects (bio studies) by the actual submitter"

[2021-12-17 17:05] ke4 opened #587 "Investigate the options how could we add the older HCA submissions to the new HCA collection"

[2021-12-17 17:06] ke4 opened #588 "Add additional project metadata to the BioStudies archive that we currently not submitting or BioStudies currently not supporting"

[2021-12-20 09:38] prabh-t commented on #491
@ESapenaVentura to test today

[2021-12-20 09:41] prabh-t commented on #502
Part 1 of this is done. May need to split part 2 into a new ticket and close this one.

[2021-12-20 09:42] prabh-t commented on #549
@aaclan-ebi to work on this again tomorrrow.

[2021-12-20 09:44] MightyAx commented on #579
https://miro.com/app/board/uXjVOaGPJXk=/?moveToWidget=3458764515322328132&cot=14

[2021-12-20 09:44] prabh-t commented on #579
Prabhat has updated the diagram. Need devs input and arrange another meeting.

[2021-12-20 09:47] prabh-t commented on #570
@gabsie to talk @MightyAx through this ticket.

[2021-12-20 10:26] MightyAx commented on #570
Probably what we want to be filled is:
- Title
- Authors

But I can also understand why we would want:
- Organs
- Technologies
- Cell Count

[2021-12-20 10:57] MightyAx commented on #570
The above fields are already mandatory, but the "ignore validation" tick box allows them to be blank.
The current suggestion is filter out projects in the project-index if they have metadata-errors, which would mean the logic would be:

Projects are included in the catalogue if:
- the "include in catalogue" box is ticked
- **AND**
- there are no metadata errors

@ESapenaVentura, would that work?

[2021-12-20 11:41] MightyAx commented on #570
Actually that won't work because half the catalogue entries have metadata errors :/
Now the plan is to clear the "include in catalogue" tickbox if the user ticks the "ignore validation errors" when creating new projects.

[2021-12-20 11:45] ESapenaVentura commented on #570
@MightyAx I just had a chat with gabs, and I think it's mostly fine, but about point 2 `There are no metadata errors`, I would say that the projects that appear in the catalogue may have metadata errors, we just want to untick when there are metadata errors in the following fields:

- Title (`content.project_core.project_title`)
- Publication info (`content.publications.[]`, just check that there'

[2021-12-20 12:39] ESapenaVentura commented on #491
Hi @prabh-t I have tested with 2 submissions:

- Small one (SS2 integration test): Works as intended, I get the spreadsheet
- Intermediate one ([MouseArchitecture](https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=8d2a0ea9-3286-4c69-b6e7-16d861a5e23a)
   - Got a service unavailable error. Can't download the spreadsheet

- Large one ([Tabula muris](https://staging.contribut

[2021-12-20 13:12] MightyAx commented on #570
We all chatted about the problems with the above implementations and have instead gone with the following:
This popup and functionality will only be triggered with new, invalid, projects that skip validation.
![Screenshot 2021-12-20 at 12.45.13.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/7fa4c85d-0c95-4914-b4f8-f0434eb19172)

[2021-12-20 13:26] jacobwindsor commented on #537
This appears to only be occurring for @idazucchi

The issue is only present in the API response from `https://api.ingest.archive.data.humancellatlas.org/user/projects?page=0&size=20&sort=updateDate,desc` which gives a `200 parseerror` status code.

It appears that something is going wrong with retrieving projects that Ida is the user or primaryWrangler of. The project `2ad191cd-bd7a-409b-9bd1-e72b

[2021-12-20 14:25] prabh-t commented on #491
@ESapenaVentura
I was able to download the intermediate one. It took about 2 and a half minutes.
I was not able to download the large one. this is not unexpected. This will probably take longer than the 10 mins we have currently set the new time out interval to be. However, it did time out only after 6 mins, not sure why.
The scope of the fix was to increase the time out interval to allow spreadsh

[2021-12-20 14:28] prabh-t commented on #491
It's not ok though that you are not able to download the intermediate one. How long does it take to show the error?

[2021-12-20 14:37] ESapenaVentura commented on #491
@prabh-t I wasn't here when this ticket was discussed so I didn't know the scope of the ticket, sorry about that

So, the expected behaviour is that the screen is greyed out? (That's what is happening to me, I can see that below the overlay there is a greyed out button as well but I can't click anywhere on the screen anyways)

If that is what was expected... Are you expecting the button to be grey

[2021-12-20 14:52] prabh-t commented on #491
Yes, this user should not be able to send another download request until the current one has finished, or 20mins, whichever is sooner. If you navigate away from the "please wait", and attempt to press download again, you should not be able to. This prevents the problem as I described above as the existing spreadsheet generation may still be running in the backend.

That should not be the case. If

[2021-12-20 22:20] amnonkhen commented on #569
Investigation scope:
1. research online in [Spring's blog](https://spring.io/blog/2021/12/10/log4j2-vulnerability-and-spring-boot)
According to the blog post, we are not affected as we are using spring boot default logging configuration, that does not use log4j-core, the jar that contains the vulnerable class.

2. search explicitly for log4j-core dependencies in our code

I used the command:
[code

[2021-12-21 08:47] gabsie commented on #575
hey @jacobwindsor - I entered projects in backoffice both on dev and staging, just to make sure, but I cannot see those projects on https://wwwdev.ebi.ac.uk/humancellatlas/project-catalogue/. Is that where I should expect to see this working?

[2021-12-21 09:37] jacobwindsor commented on #570
This is in PR review

[2021-12-21 19:30] jacobwindsor commented on #575
I have fixed the above issue and you can see the test projects @gabsie created here https://wwwdev.ebi.ac.uk/humancellatlas/project-catalogue/

[2021-12-22 09:53] jacobwindsor commented on #260
I've started this draft PR for deploying to k8s https://github.com/ebi-ait/ingest-kube-deployment/pull/40

[2021-12-22 10:01] jacobwindsor commented on #571
This is deployed to the `dev` branch of `ingest-integration-tests` and needs testing

However, the build is failing due an issue with EBIs GitLab runners https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/jobs/672361

[2021-12-22 10:03] jacobwindsor commented on #537
This is caused by a circular dependency error: `file` -> `project` -> `supplementary files` -> `file` -> `project` -> ...

I'm not sure why this error is happening. Both `File` and `Project` are using lazy DBRefs so it should be fine. This only happens when you access the project through Ida's my project page and not when you access the project directly. So there must be something specific to Ida'

[2021-12-22 10:06] amnonkhen opened #589 "improve standups"
Team is complaining standups are:
- too long
- difficult to concentrate
- difficult to context switch
- people talk too much
- zenhub does not provide relevant info

Reading:
* https://www.martinfowler.com/articles/itsNotJustStandingUp.html
* https://geekbot.com/blog/daily-standup-meeting/
* https://geekbot.com/blog/daily-standup-questions/#h.ikcs5jvn1ovp

Next steps:

- [ ] brainstorm with whoeve

[2021-12-22 16:51] amnonkhen commented on #537
As I understand, the error appears:
- on Ida's "my projects" page
- for a project she has not created
- for a project where she is the primary wrangler.

I suggest checking the following scenarios:

1. Change Ida's project's primary wrangler to Jacob
2. load same spreadsheet as a new project with Ida as creator and primary wrangler
3. load same spreadsheet as a new project with Jacob as as creator

[2021-12-23 09:35] ipediez commented on #569
This is done, we are not in risk

[2021-12-23 09:38] ipediez commented on #549
Changes ready for review (core and UI), finalizing other changes. @aaclan-ebi to ask someone as a reviewer

[2021-12-23 09:40] ipediez commented on #537
@jacobwindsor to look into this, the problem only arises when the current user is also the primary wrangler

[2021-12-23 09:42] ipediez commented on #260
The developers to have a discussion about this, @amnonkhen will set a session

[2021-12-23 09:44] ipediez commented on #576
@amnonkhen to ask for feedback about the draft, and to create a second draft with other spreadsheets as an example.

[2021-12-23 09:45] ipediez commented on #570
There's a problem running the test in GitLab. Still to review

[2021-12-23 13:04] aaclan-ebi opened #590 "Investigate memory usage spike importing 50k cell suspension dataset"
Reported by @ipediez on slack:
https://embl-ebi-ait.slack.com/archives/CSDN3M2P5/p1640179375418300

**Steps to replicate:**
1. Create a valid project
2. Create a new submission  by uploading the  spreadsheet. This has 2.8 MB size.
[https://app.zenhub.com/files/299258791/23ff30c1-c77b-4da9-b1b0-621af4a23b05/download](https://app.zenhub.com/files/299258791/23ff30c1-c77b-4da9-b1b0-621af4a23b05/downlo

[2021-12-23 13:27] aaclan-ebi commented on #590
The Tabula Muris dataset which was imported before 2019-07-09 has much more metadata than this dataset: https://api.ingest.archive.data.humancellatlas.org/submissionEnvelopes/5d24eda088fa640008b02b26/submissionManifest

[code]

This spreadsheet has the following counts:

[code]

[2021-12-23 13:37] aaclan-ebi commented on #590
<img width="1423" alt="Screenshot 2021-12-23 at 13 36 03" src="https://user-images.githubusercontent.com/31281398/147248015-703dfaa7-0808-4a97-b733-d9f4388721e5.png">

It seems that memory usage increases as more entities are created. I know we’re storing the whole Ingest API response for every entity created in an entity map object in the importer. We might be able to optimise memory usage by not

[2021-12-23 16:15] jacobwindsor commented on #260
I have removed the tags for integration tests so that they can be run on any available runner

[2021-12-23 16:51] jacobwindsor commented on #571
Builds are working now but tests are failing now due to bad AWS CLI configuration. I need the correct AWS access keys to move forward

[2021-12-23 17:04] jacobwindsor commented on #571
Reverted dcp-571 for now until managed to create a service account in AWS that can be used to run integration tests

[2021-12-24 09:39] amnonkhen commented on #260
@amnonkhen to review PR today. New runner already live and running.

[2021-12-24 09:41] amnonkhen commented on #571
@jacobwindsor & @amnonkhen to create service account today

[2021-12-28 11:04] jacobwindsor commented on #571
We didn't end up creating a service account. @amnonkhen and I gave the service account used by dev cluster the correct permissions. Details are in [this comment](https://github.com/ebi-ait/ingest-kube-deployment/pull/40/files#diff-9ed511e4c6d4bdf9ba5183db443bf0ef23d80e7dd1750a362673bcdc36b97892R37).

Integration tests now run on the previous runner created just for integration tests as well as the

[2021-12-28 11:11] jacobwindsor commented on #260
CI jobs should be a LOOOOT faster now:) The new runner had Docker In Docker and the correct permissions to get AWS secrets to run integration tests. So it can run all of the jobs we do in all projects and is available to do so. If you see `running on ingest-eks-dev runner` in the job logs, it's using this :)

This is running in `ingest-eks-dev` cluster but the [PR](https://github.com/ebi-ait/inges

[2021-12-28 11:12] jacobwindsor commented on #537
The above steps listed by @amnonkhen still need looking into. Apologies, I did not end up having enough time last week

[2021-12-30 15:19] ke4 opened #591 "Add resilience when any part of archiving is failing"
We need to be able to retry archiving when any part of these archiving steps are failing:

- [x] Data files archiving
- [ ] archiving to BioSamples,
- [ ] archiving to BioStudies,
- [ ] archiving to ENA.
  - [ ] Study
  - [x] Experiment
  - [x] Run

We need to store some kind of (partial success) state of the archiving. ~~We are storing the accessions from the response on the mapped entities~~, so

[2021-12-30 15:28] ke4 opened #592 "Add tests to be able to test a failure & retried submission scenario for direct archiving"
We need to add a test to be able to test a failure and retry scenario.

We need to add these scenarios:

1.
**Prerequisites**: We have a submission where the biomaterials have Accessions from BioSamples
We need to able to retry archiving and check that we skip archiving for biomaterials.

2.
**Prerequisites**: We have a submission where all of the entities have accessions from the archives
When we

[2022-01-04 09:48] MightyAx commented on #491
We might already be as done as we can on this, unknown without more discussion between @gabsie & @amnonkhen

[2022-01-04 09:51] MightyAx commented on #260
https://github.com/ebi-ait/ingest-kube-deployment/pull/40 needs review, probably from @MightyAx and @aaclan-ebi

[2022-01-04 09:52] MightyAx commented on #570
@amnonkhen to approve https://github.com/ebi-ait/ingest-ui/pull/146

[2022-01-04 09:54] MightyAx commented on #575
@gabs to test on dev

[2022-01-04 09:55] MightyAx commented on #513
@amnonkhen to continue this.

[2022-01-04 09:58] MightyAx commented on #549
2 of (@MightyAx @amnonkhen @ke4) to review PRs

[2022-01-04 10:01] MightyAx commented on #590
@jacobwindsor and @amnonkhen performed an extensive debug session. While it appears that there is a memory leak, we believe the **failure** is a side effect of a denial of service attack.

More investigation required.

[2022-01-04 10:02] amnonkhen opened #593 "add datasets for testing hca-to-scea"

[2022-01-04 10:07] MightyAx commented on #579
@ke4 @aaclan-ebi @MightyAx to review

[2022-01-04 11:10] aaclan-ebi commented on #549
@gabsie here's the screenshot of the changes in the UI. Let me know if you have some comments/suggestions. Thanks!

![Screenshot 2022-01-04 at 11.07.51.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/1a4da730-fffe-4d65-ab2e-27c7bc3fdb0b)

[2022-01-04 11:26] amnonkhen opened #594 "Reduce the wait time for metadata spreadsheet downloads in backoffice by creating it in background"
As a wrangler I want to download a project's metadata spreadsheet so that I can work on it offline.

**Acceptance Criteria / Definition of Done**

***Project with no recent changes***
* Given a project in ingest with no recent changes
* When I click the download button
* Then the spreadsheet is immediately available for download

***Project with recent changes***
* Given a project in ingest with r

[2022-01-04 13:57] gabsie commented on #548
Will do some of these as new tickets/requirements.

[2022-01-04 13:58] gabsie opened #595 "Enter change/edit comments for a dataset"

[2022-01-04 13:59] gabsie opened #596 "See history of changes of Status for a dataset"

[2022-01-04 14:02] gabsie commented on #595
As a data wrangler, I wish to enter minimal comments when I make changes to a dataset, so that anyone from my colleagues and I can check what the updates to a dataset have been since it was originally created.

Acceptance criteria:
Given I have made edits to a dataset, when I go in the backoffice and check the version history of the dataset, I can see my comments on what has changed with the curre

[2022-01-04 15:35] gabsie commented on #549
Perfect - get it up:)
Gabs

[2022-01-04 15:36] aaclan-ebi commented on #260
Hi @jacobwindsor (I know you're on holiday so please feel free to reply when you're back)

I got some questions regarding this change:

1. ~Do we want to add the GitLab runner deployment in staging and prod too?~ It looks like it's up to us, and you recommended against not deploying this to prod.
2. Will the current GitLab runner deployment in the dev environment run tests from prod, staging, dev

[2022-01-04 17:33] amnonkhen opened #597 "downloadable spreadsheet"
As a Wrangler or Data Consumer
I need to be able to download a project's metadata
So that I can analyze or maintain it in a convenient interoperable format.

[2022-01-04 17:43] gabsie opened #598 "Pagination when you are on Submission - Biomaterials is not working"
![Screenshot 2022-01-04 at 17.42.49.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/f81a4a28-b198-4493-89af-cbe5c8ac5cb0)

Please investigate @aaclan-ebi  :P

[2022-01-04 18:10] amnonkhen commented on #594
closing as this is a duplicate of #555

[2022-01-04 18:10] #594 closed, assigned to nobody

[2022-01-04 21:15] aaclan-ebi commented on #549
The changes are now deployed to _dev_ and _staging_.

@gabsie found a bug when uploading a spreadsheet with no project worksheet

**Steps to replicate:**
1. Create a project
2. Go to project's details page
3. Select _Data Upload_ tab
4. Click _Submit to Project_ button
5. Upload a spreadsheet without any project worksheets

**Actual Behavior:**

A submission in Pending state is created.  A vague e

[2022-01-06 09:32] gabsie commented on #575
Hey - so I tested this, however because of the functionality which was introduced to not make projects active  in catalogue by default, I cannot see this
I need to discuss with @MightyAx  :)

[2022-01-06 09:37] MightyAx commented on #570
Merged to Dev

[2022-01-06 09:40] gabsie commented on #549
Needs reviews by other devs: @MightyAx @ke4

[2022-01-06 09:43] gabsie commented on #491
This ticket seems done, but @prabh-t needs to double-check the deployment.
The result of the discussion is a new ticket #555.
Needs a brief discussion @prabh-t @aaclan-ebi @gabsie

[2022-01-06 09:45] gabsie commented on #570
@gabsie can take a look at staging, as well as @ofanobilbao

[2022-01-06 09:45] MightyAx commented on #570
@MightyAx to promote to staging after #575 is tested

[2022-01-06 09:51] gabsie commented on #590
Still investigating, but this probably needs wrangler attention when they come back Monday, to understand if the experiment is supposed to be structured this way?
@ESapenaVentura @ipediez @aaclan-ebi

[2022-01-06 09:52] MightyAx commented on #575
@gabs to test [project catalogue on dev](https://wwwdev.ebi.ac.uk/humancellatlas/project-catalogue/) by entering data with [ingest ui on staging](https://staging.contribute.data.humancellatlas.org)

[2022-01-06 09:54] gabsie commented on #521
@prabh-t needs to run tests for this today.

[2022-01-06 10:16] gabsie commented on #555
@aaclan-ebi @prabh-t will discuss breaking this down into tech tasks, and taking the minimal one. will run it by @amnonkhen as well.

[2022-01-06 10:26] gabsie opened #599 "history of changes for dataset"

[2022-01-06 10:37] aaclan-ebi opened #600 "Ability to download when the spreadsheet is generated"
At the moment, when the spreadsheet generation takes a very long time, it encounters a timeout error and the user has no way of getting the spreadsheet. This ticket should provide the ability for the user to download the last generated spreadsheet once it's finished.

This is a pre-requisite of ebi-ait/dcp-ingest-central#555 which will do auto triggering spreadsheet generation so the user won't ev

[2022-01-06 11:38] aaclan-ebi commented on #549
@gabsie here's the error message being displayed when the user has specified to update the project but hasn't included any project worksheets in the spreadsheet.

![Screenshot 2022-01-06 at 11.37.56.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/d75d3a90-95ec-4960-aa41-6b43d47719f2)

The submission with that error should also be linked to the project:

![Screenshot 2022-01-06 a

[2022-01-06 11:40] aaclan-ebi commented on #549
The latest changes are now deployed in staging and ready for testing :)

[2022-01-06 13:33] aaclan-ebi commented on #590
Even if we optimise the memory usage of importing, the importing may take a long time and the token may expire in the middle. The fix to be able to handle such large spreadsheets isn't trivial but doable and may need more time.

A workaround that should work in theory is to split the large spreadsheet into multiple spreadsheets/submissions.

[2022-01-06 15:26] amnonkhen opened #601 "investigate ingest-broker web server hacking attempts"
Someone is trying to brute force find files with sensitive data using HTTP GET from ingest-broker.

for example:

[code]

Analysis of the logs from 24/12 showed that no data had been compromised.

This is a burden on the server and maybe causing temporary service outages like the one described in #590.

See [IT ticket](https://helpdesk.ebi.ac.uk/Ticket/Display.html?id=554302)

We are waiting for I

[2022-01-06 15:29] aaclan-ebi commented on #600
@amnonkhen @gabsie here are the mock-ups https://miro.com/app/board/uXjVOX88PlI=/

I'll put the sequence diagram for the implementation design soon.

[2022-01-06 15:52] aaclan-ebi commented on #600
[code]
![image](http://www.plantuml.com/plantuml/png/RP5DRi9038NtESKx0AXLrHMgAbegjUoGIWvW4fECc9zqx91o-p884bBOZ4Qo_Js_vxaeHMsTpQZG494BnomzcBuYNyuG-QTbKO46y6yJeaBQZJCY9dWOhm7IHAPIQcP56Jfl0vLPlao4znXs76VuPb_AXPLG5NkEf7mzdANkGVbhlLxXwV4PRqN1ZVA5cKiYVfez2mYEHQXYQ4qwsiG8DcnyrKkLL_n5Y3n3bHOcfPj24JdjHYCWUpLwG5UReaPdh8L6AdP7PSRMMFRa-A4XhITGurYKN3Ev2kluLz9M1hK-dZuDhSU99A-3vqNDnKv0laH7HWMjLsF_kwOz6KiRotU4H4F

[2022-01-06 18:45] ke4 commented on #581
Added 2 PRs to fix some issues with the archiver:
- https://github.com/ebi-ait/submission-broker/pull/3 - Reviewed and merged
- https://github.com/ebi-ait/ingest-archiver/pull/64 - Under review

When they merged than I can test my script in DEV environment.
If everything is fine with the testing then I can create a PR for the script.

[2022-01-07 09:35] gabsie commented on #575
So I am not sure this is OK still, because even though I added a publication, it now shows publication missing.. Is it that it only picks it up if it's done through the DOI lookup?

[2022-01-07 09:39] ofanobilbao commented on #549
@gabsie and @ofanobilbao to test this

[2022-01-07 09:40] ofanobilbao commented on #491
It was agreed that this can be closed after Prabhat did some changes.

[2022-01-07 09:42] ofanobilbao commented on #491
@prabh-t to merge back to dev and deploy to prod the remaining

[2022-01-07 09:44] ofanobilbao commented on #575
@gabsie and @ofanobilbao to catch-up on the testing and wait for Jacob or Alexie to be back

[2022-01-07 09:46] ofanobilbao commented on #600
@prabh-t @gabsie @amnonkhen to review

[2022-01-07 09:47] ofanobilbao commented on #601
No data compromised. @amnonkhen involved IT support. It might be related to Irene's insufficient memory issue.

[2022-01-07 09:51] ofanobilbao commented on #581
@ke4 needs another reviewer for 64

[2022-01-07 09:52] ofanobilbao commented on #579
@prabh-t will schedule a meeting to discuss this

[2022-01-07 09:56] ofanobilbao commented on #521
Integration and staging were tested yesterday. Prabhat moved some of the code that was previously on the Ingest Archiver to this repository. Needs some more work before creating a PR.

[2022-01-07 09:58] ofanobilbao commented on #576
@amnonkhen to attach examples or link to them

[2022-01-07 10:08] aaclan-ebi commented on #549
You could download a sample spreadsheet from https://github.com/HumanCellAtlas/metadata-schema/blob/master/infrastructure_testing_files/current/dcp_integration_test_metadata_1_SS2_bundle.xlsx

[2022-01-07 10:15] gabsie commented on #575
So @jacobwindsor and @MightyAx -  we did 3 test scenarios:
1 test
1. On staging, I create a new project, but instead of going to the DOI entry route, I do it manually, however I still enter a real publication URL.
2. The catalogue on wwwdev shows the project, however it says preprint or publication citation missing, and it doesn't pick up the one author I added manually.
The project is: test autho

[2022-01-07 10:21] gabsie commented on #509
So when I enter this DOI URL:
https://doi.org/10.1038/s41467-021-26902-8
system hangs. Is this the same problem?

10.1038/s41467-021-26902-8 should also give the right warning
so let's get this right.

Let's investigate

[2022-01-07 14:25] ofanobilbao opened #602 "Contributor able to edit or delete their recently registered projects"
As a contributor I want to be able to edit and/or delete a project I recently registered.

If I create a new Project in Ingest, and then realise I need to add more information, or I want to edit some of the information, as I might have made a mistake, or might be missing content, I want to:

1. Be able to edit the Project.
2. Be able to delete the Project, in case the changes are big enough that I

[2022-01-07 14:48] ofanobilbao opened #603 "Contributor Registered Projects Should show as "New Contributor" in Ingest Backoffice"
As a wrangler I want new projects registered by a contributor to show with a status of "**New Contributor Project**" or something similar so that I can identify them, and maybe even reach out to the contributor.
edit after Oihane/Gabs meet: We can actually use the New suggestion status (this is used/not used by the Catalogue  - Suggest a project)

So let's rename it to **New Contributor Project**

[2022-01-07 15:52] jacobwindsor commented on #260
@aaclan-ebi . Yes it's just a runner and can run integration tests as well as our builds. Now all of our pipelines (except integration) can run on this or use the shared EBI runners.

Ah I see why it needs the secrets now. We can reasses this if it's a security risk. We can just change the integration tests to use secret values stores in gitlab rather than AWS. That way we can run integration test

[2022-01-07 15:58] jacobwindsor commented on #575
@gabsie as discussed before, the catalogue needs a DOI because of the presence of the journal title. The journal title is picked up from looking up the publication. This was part of your original design and you didn't want the user to have to enter journal title.

Also, the script that picks up the journal information from the DOI runs every night so you will see pre-publication or citation missin

[2022-01-07 16:09] jacobwindsor commented on #575
Ah you added these project today! Sorry, I'm 6 hours behind so it's a bit weird.

So if those projects you added have a valid DOI, they should show the contributor list tomorrow after the script runs

[2022-01-07 16:30] amnonkhen commented on #576
@gabsie I attached an example file:
 [https://app.zenhub.com/files/299258791/9a56c74f-6487-465c-8ded-3290e223ec72/download](https://app.zenhub.com/files/299258791/9a56c74f-6487-465c-8ded-3290e223ec72/download)

[2022-01-07 18:16] ke4 commented on #581
The PR for the archiver triggering script: https://github.com/ebi-ait/ingest-archiver/pull/67 - needs reviews

[2022-01-08 14:46] gabsie commented on #575
I didn't know about this script - that explains the 'citation missing' bit. I am going to dig a little more on Mon.
Gabs

[2022-01-10 09:35] ipediez commented on #491
Deployed on staging, dealing with last issues

[2022-01-10 09:36] ipediez commented on #549
Alegria fixed the issues and it is ready for testing

[2022-01-10 09:38] ipediez commented on #575
Jacob is taking a look to the issues. @gabsie and @ofanobilbao to chat about this

[2022-01-10 09:41] ipediez commented on #590
@amnonkhen tried to replicate the issue in dev, but it doesn't raise the issue. Needs more investigating. @ipediez to load again the spreadsheet and update @amnonkhen

[2022-01-10 09:42] ipediez commented on #600
still waiting on the reviews

[2022-01-10 11:41] ofanobilbao commented on #549
I just tested all scenarios in the acceptance criteria.

They all worked fine except for:

In scenario number 1, my project in Ingest contained accessions. In the spreadsheet I uploaded I had removed the accessions apart from making some other very obvious changes. After uploading the SPS and clicking the option to update Project Information, everything was updated except that the accessions were

[2022-01-10 11:55] ofanobilbao commented on #549
When I try removing any other fields on the Project sheets, they get removed fine. I've tried removing one author, the DOI, the publication url. All fine. It's when I try removing the accessions that it doesn't work

[2022-01-10 13:48] aaclan-ebi commented on #549
Thanks @ofanobilbao ! I believe this issue on updates is related to ebi-ait/dcp-ingest-central#437 which is an existing bug.

I investigated that issue further it seems that it's affecting only the fields that are located in the root of the metadata json e.g. donor_organism.is_living, age, project accessions

https://schema.humancellatlas.org/type/project/15.0.0/project
https://schema.humancellatl

[2022-01-10 13:50] aaclan-ebi commented on #549
@gabsie I'll wait for the result of your testing in staging as well, in case you find any blocker issues for this story.

[2022-01-10 14:48] gabsie commented on #595
@gabsie
Maybe first start with the desired outcome as a history screen and then trigger a discussion with both devs and wranglers.

[2022-01-10 14:50] ofanobilbao opened #604 "Reporting on datasets"
As a **project manager / stakeholder / Operations Lead**
I want to be able to **run reports** from
so that I can give progress reports to funders and other stakeholders

The required reports are:
- [ ] How many projects were newly exported to DCP (could be within a custom time frame I choose, during a particular Release etc)
- [ ] Stats about the exported Projects (ex. How many estimated cells we

[2022-01-10 14:54] gabsie commented on #509
This now works, and maybe was a temporary issue. Might just need an amendment to the hlp text to say this expects the DOI number, not an URL?

[2022-01-10 14:58] ofanobilbao commented on #419
I have created a new ticket, #604, which is more focused on the first bullet point of Operational Metrics. I have added on that one as a stretch goal the cost side of things. But probably we can work that out on this ticket

[2022-01-10 15:02] ofanobilbao commented on #547
I need to think about this from the stakeholder perspective. But I believe that as the number of projects we push to DCP grows, it will be critical that we store a log or record (visible to wranglers and stakeholders) of what changes have been applied to a Project, and whether the changes have been exported to DCP or archives or not.

[2022-01-10 15:17] ofanobilbao commented on #547
related to #604

[2022-01-10 15:40] amnonkhen commented on #595
@gabsie, please review the mockups https://miro.com/app/board/uXjVOWr0iR0=/

[2022-01-10 16:16] ofanobilbao commented on #509
The issue also happens repeatedly with the following:

DOI: 10.1111/j.1399-0004.2009.01188.x

https://onlinelibrary.wiley.com/doi/10.1111/j.1399-0004.2009.01188.x

See screenshots below. The Project is not created. And no error message or advice is given. It just stays blank

![Screenshot 2022-01-10 at 15.46.35.png](https://images.zenhubusercontent.com/5b6c1d07134f1f42006dc89f/25531bb0-cb22-4f37-a

[2022-01-10 16:18] ofanobilbao commented on #575
I will check tomorrow, as there is one test I did (that has no DOI) that did not show in the Catalogue. I did not realise DOI was needed to show up. I have edited today to add a DOI. I'll check tomorrow and if it's there this can be promoted to Production.

[2022-01-10 16:48] aaclan-ebi commented on #571
The integration test changes were merged to staging and prod, I noticed an issue in the changes for prod and fixed it. The environment variable for jwt audience is different in prod. Fixed it here: https://github.com/ebi-ait/ingest-integration-tests/commit/ef032e5d441d37bab2e8669d114f2f276c3fd41c

[2022-01-10 16:49] aaclan-ebi commented on #549
Agreed with @gabsie on slack dm to promote this to prod. This is now in prod.

[2022-01-10 17:14] aaclan-ebi commented on #571
I think there's an issue in gitlab config changes, in the build stage. This build job https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/jobs/687810  is pushing an ingest validator image in the integration test pipeline.

[2022-01-11 09:30] gabsie commented on #600
Hey @aaclan-ebi - Diagram looks great to me!

[2022-01-11 09:31] gabsie commented on #575
I think this worked, @ofanobilbao?
This can now potentially also be on prod.

[2022-01-11 09:37] amnonkhen commented on #601
IT (Mahmut Ackin) has been running security tests (OWASP top 10) since 10/1. They will continue today. According to the findings we'll decide whether we run them on Prod.

[2022-01-11 09:39] MightyAx commented on #575
@MightyAx to move to production

[2022-01-11 09:43] MightyAx commented on #581
@ke4 to give demo today, with readme should be ready for Wrangler Testing.

[2022-01-11 09:43] MightyAx commented on #570
@MightyAx to promote to staging

[2022-01-11 09:45] aaclan-ebi opened #605 "Fix build job of integration tests"
The integration test pipeline's build job rebuilds the image of the integration tests and pushes it in the ingest component's quay.io and image.

ebi-ait/dcp-ingest-central/issues#605

Also related to ebi-ait/dcp-ingest-central#571

[2022-01-11 10:48] ofanobilbao opened #606 "Allow auto-populating/updating fields on existing project when adding DOI"
As a wrangler I want to be able to override some of the information on the project tabs when I introduce a DOI to an existing project so that I don't need to update all the Project fields manually

For an existing project in Ingest that does not have a DOI (ex. In comms with Contributor but initially no publication yet):
- [ ] I am able to add the DOI
- [ ] When I add the DOI I am given the option

[2022-01-11 10:58] ofanobilbao commented on #575
@jacobwindsor this was all good so Alexie promoted it to Production. However, when testing I came across something else. I have created a ticket and suggested the improvement to Gabs (#606). Gabs will prioritise it when appropriate. I just wanted to let you know

[2022-01-11 11:41] aaclan-ebi opened #607 "Display error properly in the UI when submission is submitted with invalid project"
**Steps to Replicate**
1. Create an invalid project
2. Upload integration test spreadsheet - do not update the project
3. Upload the data files
4. Wait for files to be validated
5. Wait for the submission's graph to be valid
6. Submit to HCA

**Actual Behavior**
![Screenshot 2022-01-11 at 11.41.13.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/5913a4d6-4359-413c-ad76-71a3b1b8c9

[2022-01-11 11:51] aaclan-ebi opened #608 "[ingest-core] 2 submit buttons appearing in the Ingest UI"
**Steps to replicate:**
1. Upload a spreadsheet with project
2. Upload data files
3. Validate the graph
4. Wait for _Graph Valid_ state
5. Go to Submit tab on the submission's page
6. Tick the _submit to hca_ checkbox

**Actual Behavior**
2 buttons appearing
![Screenshot 2022-01-11 at 11.50.55.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/392f9c4a-67a1-45d1-bfa6-4ebc58bd13e0)

[2022-01-11 16:50] amnonkhen opened #609 "integration tests should not use 3rd party services"
integration tests should use mocks for al 3rd party services

[2022-01-12 10:02] gabsie commented on #595
this looks great as a start, @amnonkhen

[2022-01-12 10:42] gabsie commented on #590
This doesn't seem like a memory issue, so waiting for the wranglers to decide the scientific decision on these types of datasets.

[2022-01-12 10:42] #590 closed, assigned to nobody

[2022-01-12 11:05] gabsie commented on #600
Alegria can pair up with another dev and talk things a bit more on the design.

[2022-01-12 11:19] MightyAx commented on #570
Testing finished on #575
@MightyAx to merge to master to trigger deployment to staging.

[2022-01-12 11:22] MightyAx commented on #608
It seems the "Submit" button will perform the action for "Submit to HCA" when required (by ticking the HCA box) so we should not need the "Submit to HCA" button anymore.

[2022-01-12 11:33] gabsie commented on #595
This is a good start to the design discussion, but we might have skipped some scenarios (how the submission flow works). @gabsie to initiate a design discussion to help this.

[2022-01-12 14:03] MightyAx commented on #570
Deployed to **staging**, @ofanobilbao and @gabsie to test.

[2022-01-12 14:27] gabsie opened #610 "Improve functionality for reporting in backoffice"
This epic will contain bugs and improvements on how search/filter etc work.

[2022-01-12 14:34] gabsie opened #611 "Automation around project statuses so that manual change of status is avoided"
This group of tasks is around how we handle project statuses, so that
1. wranglers are not burdened with manual change of status
2. wranglers and stakeholders can get reliable reports from backoffice

[2022-01-12 14:43] aaclan-ebi commented on #605
I believe I've fixed this. Here are the changes I made: https://github.com/ebi-ait/ingest-integration-tests/compare/893aa9b..11d6774

[2022-01-12 14:51] aaclan-ebi commented on #571
@jacobwindsor posting here the changes I did, https://github.com/ebi-ait/ingest-integration-tests/compare/893aa9b..11d6774 please review once you're back! (don't review now! hope you're enjoying your holidays!)

[2022-01-12 15:21] #260 closed

[2022-01-12 15:21] #312 closed

[2022-01-12 18:58] ke4 commented on #581
I also organised a meeting for tomorrow (this Thursday afternoon) for the Wranglers to demo it again and help them to understand how to use this script.

[2022-01-13 09:21] MightyAx commented on #570
Tested on Staging:

https://user-images.githubusercontent.com/13031259/149301868-98c19940-adcb-4db4-943e-9da770c1b8c2.mov

[2022-01-13 09:37] prabh-t commented on #570
Waiting for @ofanobilbao and @gabsie to test.

[2022-01-13 09:38] prabh-t commented on #601
Amnon - IT still running tests. they haven't found anything yet.

[2022-01-13 11:37] amnonkhen opened #612 "submission unlinked from project"
**Describe the bug**
discovered by @ipediez

**To Reproduce**
Steps to reproduce the behaviour:
1. start with an existing project - autoimported
2. update project info
3. created a submission by uploading spreadsheet
4. notice submission is not linked to project

**Expected behaviour**
Submission should be linked to project

**Screenshots / Logs**

**Links**

**Environment**
- [x] prod
- [ ] stagi

[2022-01-13 11:51] ipediez commented on #612
### Project 1
https://contribute.data.humancellatlas.org/projects/detail?uuid=cd61771b-661a-4e19-b269-6e5d95350de6

**Submissions:**

1. https://contribute.data.humancellatlas.org/submissions/detail?uuid=7b1f1a8d-4aa6-4d2d-a675-5b0589ed2d65
This one, by 11:47 13.01.22 is still linked. Only the spreadsheet has been uploaded.

2. https://contribute.data.humancellatlas.org/submissions/detail?uuid=4bc

[2022-01-13 14:37] ke4 commented on #581
On the meeting we agreed that @Wkt8 is doing a direct archiving test probably on the staging environment with NOT an SS2 dataset. As I ( @ke4 ) was only tested it with the SS2 dataset.
Thanks a lot for volunteering @Wkt8 !

[2022-01-13 16:35] idazucchi opened #613 "Submission entities tables are stuck on page 1"
**Describe the bug**
In the submission section, for tabs Biomaterials, Processes, Data and possibly Protocols:
The tables displaying the entities do not allow to visualise all entities.
It's impossible to display any page other than the first one: the page counter will change but the table remains frozen on the first 20 entities.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any pro

[2022-01-13 18:05] ke4 commented on #527
I had a discussion with @ESapenaVentura how to map the biomaterial's attributes to ENA sample's attributes. I am working on a draft model for now and we could improve it later if I accidentally skipped some attributes.

[2022-01-14 09:38] Wkt8 commented on #605
@MightyAx to update the ticket

[2022-01-14 09:39] Wkt8 commented on #570
Oihane should be completing testing by today.

[2022-01-14 09:40] Wkt8 commented on #601
IT has said no major problems were determined, but minor problems were detected - more information to follow.

[2022-01-14 09:42] Wkt8 commented on #142
Yusra to check if there are any additional steps to run geo-to-hca standalone after the repackaging (Poetry). Then will proceed with integrating into Ingest.

[2022-01-14 09:45] Wkt8 commented on #576
@gabsie what are the next steps for this ticket?

[2022-01-14 09:47] Wkt8 commented on #527
ENA file structure is more flat than ours. Karoly is working on a draft model including mappings for wranglers to review.
- will check current archiving to DSP (via ENA) but... that might not be that helpful. As DSP creates the objects.

[2022-01-14 09:50] Wkt8 commented on #613
This also does not work on the Data and the Processes tab.

[2022-01-14 09:51] Wkt8 commented on #613
@gabsie this is a bug and the fix needs to be prioritised as it is significant in ingest

[2022-01-14 10:27] MightyAx commented on #605
I [made a change](https://github.com/ebi-ait/ingest-integration-tests/commit/660da17ce02df7a82fe24e4b373e2ef7c2619cf0) to the build configuration to allow manual retrying on integration test builds.
This was important because a failed build meant that integration tests were trying to pull a docker container that did not exist.

Upon making the change the automated build was successful without havi

[2022-01-14 14:31] Wkt8 opened #614 "Unable to run the direct archiving script"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Clone the ingest-archiver repo
2. Obtain the ARCHIVER_API_KEY
3. Run the direct_archiving script using the staging environment and submission uuid `ed92c63e-af9b-49a0-a12d-be8ba423452c`
4. An error occurs

`2022-01-14 12:44:59,126 - __main__ - INFO - Archiving has started in staging environment for submission: ed92c63e-af9

[2022-01-14 15:03] ke4 opened #615 "Create a document to map HCA biomaterial attributes with ENA sample attributes"
Biomaterials described by these schemas currently:
- type/biomaterial/3.3.0/imaged_specimen: https://schema.humancellatlas.org/type/biomaterial/3.3.0/imaged_specimen
- type/biomaterial/11.3.0/organoid: https://schema.humancellatlas.org/type/biomaterial/11.3.0/organoid
- type/biomaterial/15.0.0/cell_line: https://schema.humancellatlas.org/type/biomaterial/15.0.0/cell_line
- type/biomaterial/15.5.0/

[2022-01-17 08:32] gabsie commented on #570
Hi, everyone. Oihane and myself tested this and chatted about it.
What we discovered:

- Went and created a project, entered some minimal info, saved ignoring the validation, a message appears that it would not be in catalogue.
- Went and entered back some more info, including organ/technology and publication. Project should appear in catalogue, but it doesn't.
- We go back to check why and discov

[2022-01-17 09:31] idazucchi commented on #612
I think I might be facing the same problem, at least with one project
### Project 3
https://contribute.data.humancellatlas.org/projects/detail?uuid=d71c76d3-3670-4774-a9cf-034249d37c60&tab=upload

**Submissions**
Oldest to newest, in both cases I only uploaded the spreadsheet
1. https://contribute.data.humancellatlas.org/submissions/detail?uuid=981498d4-ff17-495d-9bb9-f9076d25fbf9
2. https://contr

[2022-01-17 09:37] ESapenaVentura commented on #605
@aaclan-ebi pushed some changes but there were issues with gitlab. More investigation is needed, not sure if it's related to this issue.

@MightyAx will create a ticket about the issue

[2022-01-17 09:39] MightyAx opened #616 "[ingest-ui] Error 137: Gitlab build actions failing"
Build actions are [failing for Ingest UI](https://gitlab.ebi.ac.uk/hca/ingest-ui/-/jobs/693102) without reporting a useful error:
I've tried:
- Restarting the job
- Not using the ingest runner so that the task gets picked up by the EBI runners.
    - EBI runners using gitlab runner v13 or above are successful
    - EBI runners using v12 fail or below fail (Opened #617 to investigate later)
    - I

[2022-01-17 09:39] ESapenaVentura commented on #581
@Wkt8 tested and ran into issues. Had a chat with @ke4 and created a bug ticket.

@ke4 to investigate the issue (Possibly related to BioStudies?)

[2022-01-17 09:40] ESapenaVentura commented on #570
All testing is done, @MightyAx to push this today

[2022-01-17 09:42] ESapenaVentura commented on #601
IT sent @amnonkhen a report, there doesn't seem to be anything grave.

@amnonkhen to ask if there is anything we should prioritise

The discussion may be extended to the archiver as @ke4 detected some attacks

[2022-01-17 09:46] ESapenaVentura commented on #576
@gabsie:
- Sent an email to sanger to put us in touch with people
- Put questions

For now we are just waiting for them to reply to the email (Possible meeting next week)

[2022-01-17 09:49] ESapenaVentura commented on #142
@amnonkhen and @yusra-haider had a meeting on this on Friday. Discussed about design and integration into the UI.

Workflow TBD and to be reviewed by wranglers/ @gabsie

[2022-01-17 09:52] ESapenaVentura commented on #615
@ke4 to re-schedule meeting with wranglers to discuss about this

[2022-01-17 09:53] ESapenaVentura commented on #527
Waiting on outcome of #615