[2021-04-06 08:16] gabsie commented on #250
![Sprint 11 - Project start.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/54a10261-7190-4334-91d3-f9d2f1caa6de)![Sprint 11 - Project start-1.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/ee8265db-c18c-4013-b62e-7f2200307e70)![Sprint 11 - Project tab1.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/36efac20-e9cc-498b-b41b-83c859d9427b)![S

[2021-04-06 14:21] clairerye opened #267 "Consumer metadata spreadsheet"
As data consumer I want to understand the metadata associated with a project so that I can re-use the data in a scientifically valuable way for my own research.

** Acceptance Criteria / Definition of Done **

* Given the HCA metadata that accompanies a project
* When a consumer downloads that metadata from the project catalogue (or elsewhere)
* Then the metadata is useable to a data consumer

**

[2021-04-07 00:02] gabsie opened #268 "Contributors and where necessary (Funders) - display the entries in a table with the option to edit"
As a data submitter and data wrangler, I want to view and edit the contributors in a list/table so that I can visualise and valuate if this is the full list. Actions I would like to do after:

- I want to edit a particular entry (add an institute) or correct a name
- I want to add more contributors
- Make somebody a primary contributor
- Understand that there should be at least one contact contrib

[2021-04-07 00:08] gabsie commented on #197
Hello

My suggestion is here:![Sprint 11 - UUID.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/d2faa6fa-b8da-40fa-98f8-16957cf0a46c)

We can show that if you guys are OK with this

Gabs

[2021-04-07 00:30] gabsie opened #269 "Assigning a wrangler for a project"
As a data wrangler I want to assign myself to a project I'm wrangling so that we have a clear view in the backoffice which project is being worked on by whom.

** Acceptance Criteria / Definition of Done **

* Given a wrangler is in ingest wrangler view
* When they open up a project
* Then they can add their name from a list of wranglers and save that info.

Tasks

- [ ] UI design for wrangler vie

[2021-04-07 09:10] rays22 commented on #246
@aaclan-ebi
Please, coordinate the tests for this ticket with the wranglers on the dev rota.

[2021-04-07 09:13] rays22 commented on #210
@aaclan-ebi
Please, coordinate the tests for this ticket with the wranglers on the dev rota for the current sprint.

[2021-04-07 09:32] amnonkhen opened #270 "cucumber testing pilot"

[2021-04-07 10:06] yusra-haider commented on #136
**Listing the feedback that was given during the demo of this user story:**

1. the doi field should be able to take both doi urls and plain doi strings as input.

2. we should have all doi validations on the page where the user inputs the doi. Right now the validation checks are:
-  the input doi isn't being used by any other project in ingest
- the input doi actually exists in europe pmc, and is

[2021-04-07 10:18] amnonkhen opened #271 "Create dev environment for ingest"

[2021-04-07 10:23] amnonkhen opened #272 "gitlab ci on HCA AWS account"

[2021-04-07 10:29] aaclan-ebi opened #273 "post process links.json to always have same process uuids"
As a data wrangler
I want the links.json files for the test data to use consistent process UUIDs
so we can easily see diffs if there are significant changes

Given a link in links.json
When it has same inputs, outputs, protocols
Then it should have a consistent process uuid

[2021-04-07 10:37] gabsie commented on #266
From the chat in the sprint meeting, to be continued here now we understand the problem:
"From an error prevention principle POV, a file format should be automatically detected and checked by the system. why we keep a field in the db to say manually what the file format is, I don't get.. "

Gabs +1 from everyone else

[2021-04-07 10:44] clairerye commented on #197
This is not for "new projects" this is to be shown wherever possible, nice to have would be the copy to clipboard

[2021-04-07 10:47] lauraclarke commented on #266
Might be worth checking if any downstream component expects this field, it is the sort of thing that might have been added as a convenience for some other component or because at the time we did it, it was easier than automatic detection!

[2021-04-07 11:03] clairerye commented on #206
Introduce autosave to get around this

[2021-04-07 11:08] aaclan-ebi commented on #273
From Hannes' comment https://github.com/HumanCellAtlas/schema-test-data/pull/8#pullrequestreview-628277075

[2021-04-07 11:12] clairerye commented on #271
Split between ingest and upload service

[2021-04-07 11:14] ESapenaVentura commented on #266
https://github.com/HumanCellAtlas/metadata-schema/issues/1383

I created a schema ticket about a possible update on this

@lauraclarke yes, we discussed a little bit in the meeting, and afaik there's at least one downstream component that uses (browser displays file format)

[2021-04-07 11:16] mshadbolt commented on #210
I will run through the test plan for this

[2021-04-07 18:01] aaclan-ebi commented on #266
After a discussion with @ESapenaVentura and @amnonkhen, we've thought of the possible options:
1. Update metadata schema to validate correct file format, e.g. will match regex without dot in the beginning
- will take time before the schema changes can be released given the current process
- won't guarantee misspelt file formats
2. Flagging to the user if a file is set as valid if it has no validat

[2021-04-08 07:13] mshadbolt commented on #210
@aaclan-ebi just to confirm the task for this, you want me to manually look at the list of files and the links.json provided above to make sure all the expected files and links are present?

[2021-04-08 07:38] mshadbolt commented on #210
number of files in each sub folder:
|directory   |  n|passing|
|:-----------|--|---:|
|data        |  3| Y|
|descriptors |  3|Y|
|links       |  1|Y|
|metadata    | 17|Y|

Number of json files for each entity type
|type                         |  n|passing|
|:----------------------------|--:|
|analysis_file                |  1|Y|
|analysis_protocol            |  1|Y|
|cell_suspension

[2021-04-08 09:32] clairerye commented on #136
This is great, thank you, I will make new tickets for the feedback/suggestions

[2021-04-08 16:41] jacobwindsor opened #274 "Fix broken tests of ingest-state-tracking"
Some of the tests in ingest-state-tracking are failing. These should be passing and then should be ran as part of the CI process

[2021-04-08 17:03] jacobwindsor commented on #274
Setting the env var INGEST_API_ROOT=http://localhost:8080 will fix these tests. However, the tests should not have a dependency on this

[2021-04-09 10:03] clairerye opened #275 "flexible DOI input, rigid output"
As a user I want to be able enter "whatever I consider as a DOI" and use it to pre-fill project metadata.

the doi field should be able to take both doi urls and plain doi strings as input.
the doi should always be stored as the doi string in ingest/mongo.

Additionally it would be nice to have have all doi validations on the page where the user inputs the doi.

Right now the validation checks are

[2021-04-09 10:35] yusra-haider commented on #136
@gabsie  @rays22

Just wanted to confirm if it's okay to move have this on prod now?

cc: @clairerye

[2021-04-09 10:43] ami-day commented on #177
I have tested this for Jacob in staging and it is working now! He is promoting the changes to prod.

[2021-04-09 10:47] gabsie commented on #136
Hi, @yusra-haider

I am good with uploading this to prod.
@clairerye I think I have already created a ticket for the list of contributors, but will also create one for purely frontend optimisations we need to do, as well as for the one for URL pick up.

Gabs

[2021-04-09 10:50] clairerye commented on #136
Yep its here - https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/275

[2021-04-12 03:26] mshadbolt opened #276 "Update version of fastq_utils being used for fastq validation"
As a wrangler I would like to validate fastq files via the ingest upload service using the latest version of the software so that known bugs on earlier versions of the software don't force me to manually validate files.

When attempting to validate fastq files using the ingest UI, I found that reads from nanopore sequencing failed validation but when using the latest version of the fastq validatio

[2021-04-12 15:20] jacobwindsor commented on #257
We've decided to keep all of the helm charts in ingest-kube-deployment repo.

So steps are:

1. Add gitlab annotations to the deployment.yaml of each helm chart in ingest-kube-deployment
2. Add the gitlab annotations env vars to the makefile
3. Modify the gitlab-ci.yml template in [this repo](https://github.com/ebi-ait/gitlab-ci-templates/) to use the makefiles in ingest-kube-deployment
4. Set the

[2021-04-12 17:48] aaclan-ebi commented on #210
Thanks @mshadbolt ! I'm so sorry for my delayed response.
I was wondering if you could try this using a real dataset spreadsheet if there is one. If none, I believe this test should be good enough.

[2021-04-12 17:49] aaclan-ebi commented on #210
I've deployed the changes in staging today. Will promote to prod by tomorrow.

[2021-04-13 07:39] mshadbolt commented on #210
I did a test by adding analysis files and analysis protocols to a project I am wrangling.

spreadsheet: [GSE130708_ontologies_matrices.xlsx](https://github.com/ebi-ait/dcp-ingest-central/files/6301794/GSE130708_ontologies_matrices.xlsx)

I used dummy fastq and analysis files to minimise size of files.

I uploaded the spreadsheet to staging here: https://staging.contribute.data.humancellatlas.org/s

[2021-04-13 10:41] mshadbolt commented on #267
Had a quick chat with Claire and we decided that a good first step would be to come up with my best guess of what I think a consumer might want in terms of a table of our metadata.

We discussed a little bit about a potential 'summary graph shape' of projects too.

[2021-04-13 12:08] aaclan-ebi commented on #210
Thanks for testing this Marion! Yes, the UI isn't displaying the input files yet. When the UI which displays the linking info was implemented, there was an assumption that there are no analysis files that will be submitted thru Ingest. I have very rough UI changes that I still need to properly code and finalise to support the display of input files. I'll create a separate ticket for that.

I'll pr

[2021-04-13 12:09] mshadbolt commented on #210
sounds good to me!

[2021-04-13 12:14] aaclan-ebi opened #277 "View input files to a process in the UI"
As a contributor/wrangler
I want to view the input files linked to a process in the UI
so that I can verify if I have linked them correctly from the spreadsheet

** Acceptance Criteria / Definition of Done **
* Given a submission with an analysis process
* When I view the process details in the UI
* Then it should display the input files linked to it

Related to the user story ebi-ait/dcp-ingest-c

[2021-04-13 15:18] clairerye commented on #266
Out of curiosity if we can:

Can we auto fill the field from the file format rather than just doing the comparison?

[2021-04-14 09:22] aaclan-ebi commented on #246
This is blocking ebi-ait/hca-ebi-wrangler-central#280

[2021-04-14 10:06] ESapenaVentura commented on #266
I worked in a detailed spreadsheet with the possible use cases https://docs.google.com/spreadsheets/d/1J0oNWFDLmoLh_a26itZQCu8eH9eAZ0Ts1ZcEQXKRPX4/edit#gid=0

One of the possible outcomes for a couple of scenarios is to either fill automatically (When it wasn't filled in the spreadsheet) or throw a warning and ask if ingest can fill it automatically.

I like the idea of automatic filling tbh, but

[2021-04-14 11:59] mshadbolt commented on #275
I found a couple of small bugs to fix up when using the doi input project registration flow
* The authors in the `project.publications.authors` have a leading white space from the second author onwards e.g. `"publications" : [ {
      "authors" : [ "Sim CB", " Phipson B", " Ziemann M", " Rafehi H",...` [in ingest](https://api.ingest.archive.data.humancellatlas.org/projects/6076ceb2dd9aab1232d26848

[2021-04-14 12:00] amnonkhen commented on #270
@jacobwindsor @aaclan-ebi I pushed the skeleton test to [cucumber-test-pilot] remote branch (https://github.com/ebi-ait/ingest-validator/tree/task/cucumber-test-pilot)

[2021-04-14 12:07] mshadbolt commented on #275
I was curious so I looked into it a bit more, i think either the journal or crossref guesses ORCIDs by author names (https://api.crossref.org/v1/works/10.1161/circulationaha.120.051921)

[2021-04-14 14:01] aaclan-ebi commented on #246
I ran the migration script against the prod Terra staging area. The script is in the PR linked to this ticket. The log files were too big to paste here. It ran against the descriptors listed [here](https://github.com/ebi-ait/hca-ebi-dev-team/blob/master/scripts/fix_iss_ebi-ait_dcp-ingest-central_246/descriptors.txt).

[2021-04-15 14:01] amnonkhen opened #278 "PLS IGNORE: testing from slack slash cmd"
---
name: Bug report
about: Create a report to help us improve
title: ''
labels: bug
assignees: ''

---

**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Run '...'
4. Scroll down to '....'
5. See error

**Expected behavior**

**Screenshots / Logs**

** Links **

[2021-04-15 14:02] #278 closed, assigned to nobody

[2021-04-15 16:10] gabsie opened #279 "Project statuses - proposal"
As a contributor/data wrangler/stakeholder I want to see the statuses of HCA eligible projects so that I can do my work.

** Acceptance Criteria / Definition of Done **

* Given we establish these statuses per project in the ingest DB
* When any of the user personas above sees the statuses suggested
* Then they know how to understand the project status and continue with their work (submit, wrangle

[2021-04-15 16:17] ami-day commented on #246
Submitted export form for the updated project.

[2021-04-15 18:20] gabsie commented on #279
Hi, everyone

As we have recently raised the subject about Data tracking, we are now at a stage to establish appropriate project statuses, so that these are meaningful to data wranglers (first), and also make sense to contributors.

For this piece of work, I have suggested a process of how I see these working, as well as their concrete labels.

In the Miro document I have got the whole story and t

[2021-04-15 23:32] mshadbolt commented on #279
thanks @gabsie looks good.

One thing we have struggled with when assigning statuses in a one dimensional way is that a project can be in multiple statuses at once, and this can lead to confusion about where a project is in its lifecycle. I am wondering if we actually need different statuses for each separate action. I kind of see different phases to the wrangling process.

- **Wrangling status**:

[2021-04-16 05:56] mshadbolt commented on #275
In the registration form it now asks for 'Existing project accession ID' from any of geo/arrayexpress but in the next step it puts it into the 'ArrayExpress' field. It might be possible to use regex matching to put the accessions into the appropriate fields, e.g. starts with 'E-MTAB', put in arrayexpress, starts with 'GSE', put it in GEO, matches with any of the INSDC study/project pattern

[2021-04-16 06:15] ofanobilbao commented on #279
Thanks Gabs,

It looks quite good to me.

I left a couple of comments, but I totally agree with Marion. For me when trying to fill the reporting for year 4 for instance, it was many times very difficult to establish what we had done with the different datasets because of this one dimensional status.

I believe what Marion suggests here makes total sense. If we could describe statuses for each sepa

[2021-04-16 10:55] clairerye commented on #279
Thanks @gabsie Looks good. I agree with the above from Marion and Oihane.

[2021-04-16 10:57] aaclan-ebi commented on #266
@clairerye, sorry for my late reply to your question. @ESapenaVentura made a good point as well on overwriting the file format specified by the contributor.

@amnonkhen and @jacobwindsor discussed this and we think that auto-filling could be implemented if the user hasn't specified any file format. We could do it but we decided to scope it out for now as it'll have to be implemented during importi

[2021-04-16 11:00] jacobwindsor opened #280 "Fix broken ingest-archiver tests"
Many of the tests for ingest-archiver are failing. A large part of the tests are also integration tests so can be removed

[2021-04-16 11:01] clairerye commented on #266
Yes, absolutely. I was just checking. I like the idea of not including this field in the spreadsheet and autofilling it in the future.
I see @ESapenaVentura concern on

But I think this is metadata the contributor should never be asked to fill in in the first place.

Your plan @aaclan-ebi is sound and maybe we can consider autofill in the future

[2021-04-16 11:06] aaclan-ebi opened #281 "Autofill file format if not filled in by the user"
As a data contributor/wrangler,
I want the format in the file metadata to be auto-filled if i don't specify it in the spreadsheet/json
so that it'll be easier and less prone to validation error.

Given a spreadsheet with file metadata
And file format is not specified
When metadata/it's imported in Ingest
Then the file format will be detected and auto-filled.

File format is a required field: https

[2021-04-16 11:10] aaclan-ebi commented on #266
Thanks @clairerye ! I created a ticket here ebi-ait/dcp-ingest-central#281

Yeah, but won't the user have to confirm/verify if the type detected by the system is correct? So we were thinking it's a bigger scope and still needs a bit more thinking. The validation should be simple enough to be put in place for this sprint.

[2021-04-16 11:28] MightyAx commented on #276
Is this a development task or an operations task?

[2021-04-16 11:29] clairerye commented on #266
Great, thank you.

I would argue no, but am possibly missing things. Is there a scenario when the system would be wrong? And if so would the contributor be right? I agree a bit more thinking about this is sensible, but not for this sprint.

[2021-04-16 11:32] clairerye commented on #276
I was thinking ops, am I wrong?

[2021-04-16 11:48] clairerye commented on #250
I really like these, thank you @gabsie. Will you have a discussion next week with the wranglers?
I see this removes the authors from the publications. This makes sense to me as I agree they aren't required as can be reached from the publication details if needed. I think they are still required by the schema at the moment though (assuming there is a publication)

[2021-04-16 11:55] lauraclarke commented on #276
I think this lands in the grey area between ops and dev. If it is just a configuration change, then it is definitely ops. If the upload service is so tightly bound to a specific version of fastqutils that change requires significant code changes then it is probably dev. If it is somewhere between the two, a judgement call has to be made

[2021-04-16 12:57] MightyAx commented on #276
From @aaclan-ebi:

Which we agree means its a development ticket rather than operations.

[2021-04-16 13:02] clairerye opened #282 "Evaluation of DSP and decision on HCA archiving"
Evaluation of DSP and HCA's current archiving infrastructure architecture to determine next steps.

Considering the following options:

- Re-using DSP’s services and move them into HCA’s infrastructure.
- Build a brand new application and reuse some libraries that we created when we implemented a supporting app for the Covid-19 Drag & Drop Portal in the last couple of months.

Both of the options

[2021-04-16 13:16] clairerye opened #283 "DOI autofill improvements"
As a wrangler/contributor I want the auto-filled fields to be as correct as possible so I don't need to manually fix them.

Two areas:

The authors in the project.publications.authors have a leading white space from the second author onwards e.g. "publications" : [ { "authors" : [ "Sim CB", " Phipson B", " Ziemann M", " Rafehi H",... in ingest
The contributor names get commas in the wrong spot whe

[2021-04-16 13:16] clairerye commented on #275
Changing my mind and moving @mshadbolt suggestions to a different user story so this doesn't become a "grab all" list of improvements. This will be tracked in #283

[2021-04-16 13:23] clairerye commented on #276
Thanks for clarifying, I agree. I will put it into the backlog for next sprint as it is blocking a dataset for the April data freeze.
When we do this, can we consider ways to make it so this can become a regular task so we can always use the latest (or near latest) version?

[2021-04-16 13:34] clairerye opened #284 "Source Project Catalogue from ingest core"
Aim: improve the maintainability of the project catalogue, allowing it to grow without causing an increasing amount of development overhead. Currently, it is populated via a manually run script that consumes the ingest API this was a proof of concept solution that now needs to be replaced by a sustainable solution.

sub tasks summary (Update 25/05)

#### Ingest-Core:
##### ingest-core#65 Merged to

[2021-04-16 15:26] ke4 commented on #282
This is the document that is containing the plans for archiving:

https://docs.google.com/document/d/10m4IDxtFw68ZiTzTHGH3EKJvmHd9Bl3zb-mGbK9glJg/edit#

[2021-04-16 15:27] ke4 commented on #282
This is a document that lists the known issues and missing features of DSP regarding to HCA submissions:

https://docs.google.com/document/d/1UixAKWBrYqgvjzXZwEclcG4xptyKSpsLd3ngoRM1CDg

[2021-04-16 15:53] tburdett commented on #279
Hi @gabsie. I did a review, I didn't comment on the doc cos it all looks totally sensible to me. Couple of very general points:

1. A data flow diagram might help to visualise this. I really like the "branching tree" suggestion from @mshadbolt - we have used a tubemap style visualisation of this in the past. Understanding where the data "stops" and transitions are makes it easy to see if there's s

[2021-04-16 15:55] clairerye commented on #279
I have an updated tube map visualisation in progress, I will finish it asap... its got a bit more complicated than it was.
https://docs.google.com/drawings/d/1UqUH2llMs5iBPifTljecZoW9lbtP79dKs24x6qiDfYQ/edit

[2021-04-16 20:13] lauraclarke commented on #276
@clairerye I think there is a workaround which is the up to date version of the tool is available to be run manually on EC2 so while I agree with your proposed prioritization if the dataset @mshadbolt was wrangling gets manually set to valid rather than via the upload tool, we can still move forward with that dataset

[2021-04-19 10:08] jacobwindsor opened #285 "Setup deployment of ontology via GitLab"
As a developer, I want to deploy the ontology service via an automated deployment pipeline.

Currently, all components except `ontology` are deployed via GitLab. `ontology` is still deployed using the Make commands. We could use GitLab to do this. This would involve setting up a new pipeline for the ontology service.

**Proposal**
1. Create a new Git repo that contains a `.gitlab-ci.yml`. We could

[2021-04-19 10:16] aaclan-ebi commented on #285
Is it possible to add the auto deployment of the validator after deployment of ontology service?

[2021-04-19 10:17] tburdett commented on #285
Could we update the user story in this ticket to reflect the rationale (you could also consider that there's no "so that..." part to this story)?

I've asked in the past why we deploy our own version of the ontology rather than rely on the version in OLS and I'm not sure if we have a good (documented) answer to this question. Generally I really appreciate the approach to automate here, but at the

[2021-04-19 10:37] jacobwindsor commented on #285
@aaclan-ebi Yes! We can just trigger the deployment of that in the `.gitlab-ci.yml`. We will just have to override the deployment stages

[2021-04-20 08:08] gabsie commented on #237
As a start, can we please show the errors for the DOI in this way? I think this is part of the Visual framework?
Let me know if any questions.

Gabs![Sprint 11 - Project start-1.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/a7925f84-f787-401a-8ee5-b8970a7d614b)

[2021-04-20 08:19] gabsie commented on #250
Hi, @clairerye - yes - sure. I will just make a few changes to reflect the project status task and get them to give feedback.

Thanks!

Gabby

[2021-04-20 08:27] gabsie opened #286 "Admin area/view per project, where wranglers can assign statuses and assign themselves to a project"
As a wrangler, I want to access an area per project, which only wranglers can see, and where I can update the status for a project in terms of data tracking, as well as assign myself as a working wrangler to it.

** Acceptance Criteria / Definition of Done **

* Given a wrangler visits this wrangler view
* When they select their name from a list of wranglers
* Then their name will appear as associ

[2021-04-20 11:45] yusra-haider commented on #206
PR raised here: https://github.com/ebi-ait/ingest-ui/pull/89

The current implementation / flow is as follows:

While registering a new project, the project will get autosaved to the client browser storage, 10 seconds after every user change to the form. The project stays saved in the browser till a successful save to the ingest db occurs, after which the project is removed from the client browser

[2021-04-20 11:59] gabsie opened #287 "HCA Project Catalogue page as a service page from VF"
As a visitor to the HCA Project Catalogue page under the ebi.ac.uk domain, I expect to see it similar in style as other EBI resource pages.

** Acceptance Criteria / Definition of Done **

* Given [assumption]
* When [action]
* Then [outcome]

[2021-04-21 10:22] amnonkhen opened #288 "ingest -> BioSamples using Excel Covid"
Diagram: https://drive.google.com/file/d/1NHpkIK-irfD7Eq2A8jyqi4xSJ9CX8R2Z/view?usp=sharing
In-progress Branch: [biosamples-direct](https://github.com/ebi-ait/ingest-archiver/tree/biosamples-direct)

Subtasks (Not exhaustive or prescriptive)
- [x] Import submission module
- [x] Create an ~~ingest~~ loader package
    - [x] Create Cached ingest class
    - [x] Loads an ingest project / submission i

[2021-04-22 09:16] aaclan-ebi commented on #266
Hi @Wkt8

The changes are now in staging. You could do the testing there. Here are the test cases based on @ESapenaVentura 's [test plan](https://docs.google.com/spreadsheets/d/1J0oNWFDLmoLh_a26itZQCu8eH9eAZ0Ts1ZcEQXKRPX4/edit#gid=0)
https://github.com/ebi-ait/ingest-validator/blob/master/features/validator.feature

[2021-04-22 11:34] aaclan-ebi opened #289 "Fix RATE_LIMIT_EXCEEDED errors during exporting"
From ebi-ait/hca-ebi-dev-team#411

There were a lot of *RATE_LIMIT_EXCEEDED* errors in the exporter logs and causing submissions to be stuck in _Exporting_

[code]

[2021-04-22 15:02] Wkt8 commented on #266
I have gone through the test plan and also added a couple more involving changes in the UI. (https://staging.contribute.data.humancellatlas.org/submissions/detail?id=60818a665ba51701d5bb4978) There are two points:
1. We are able to edit the file_name in the UI after syncing the files from the hca-util upload area to the s3 bucket. This means the file_name in the metadata could be changed whilst th

[2021-04-22 23:03] #269 closed

[2021-04-22 23:06] gabsie commented on #19
Hey @yusra-haider

here is my current design (however only look at the field 'primary wrangler', because that is the only thing for this sprint.

So we need an extra tab under Project, which is called Admin, and which is only visible to Wrangler access users.
Let me know if any questions
![Sprint 12 - Wrangler admin area.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/fdd1ed13-a

[2021-04-23 08:33] yusra-haider commented on #19
Thanks for the designs @gabsie!

[2021-04-26 09:34] jacobwindsor commented on #280
Looks like @aaclan-ebi did this #266

[2021-04-26 09:56] aaclan-ebi commented on #289
There are some other exporting errors noted for recent datasets being submitted:

[code]

[2021-04-26 09:58] aaclan-ebi commented on #289
command to get all exporter logs:

[code]

[2021-04-26 10:15] aaclan-ebi commented on #280
@jacobwindsor you can remove all integration tests in the archiver repository, they were all moved to the ingest-integration-tests. Please retain the unit tests if there are.

[2021-04-26 14:01] gabsie commented on #197
Hi, Jacob

This can be uploaded, with this small addition - on hover, and before clicking - can you show 'Click to copy', and once a person has clicked, show a message ' 'Copied to clipboard'

Thanks,
Gabby

[2021-04-27 09:19] clairerye commented on #282
Decision to retire DSP and replace it using the covid-utils work.

[2021-04-27 09:19] #282 closed

[2021-04-27 16:02] clairerye commented on #284
@mshadbolt and @jacobwindsor are you able to add details here of the current script and if you had thoughts on automating it... I think we had at one point discussed adding an end point specifically for this in ingest core?

[2021-04-27 17:02] #253 closed

[2021-04-27 23:33] mshadbolt commented on #284
What kind of details are you after here? The details about the script and how it is run is in the readme of the repo https://github.com/ebi-ait/projects-index. Are there specific details we are missing that you want outlined?

My understanding on automating it is that it would require some way of flagging on a project in ingest when it should be included in the catalogue and then setting up an API

[2021-04-28 08:58] clairerye commented on #284
Thanks @mshadbolt this is exactly what I was after.

[2021-04-28 09:19] jacobwindsor commented on #284
Thanks for the summary @mshadbolt.

For flagging a project in ingest, we could just add a property (which would require some db migration). For querying, I see two options. A new endpoint (e.g. `/projects/published`) or we set up Solr and we can use that to query only projects with the published facet. We could then use Solr in other places in ingest. Obviously, the latter is a bigger time cost bu

[2021-04-28 09:23] clairerye commented on #284
So it sounds like we need the "published" facet either way. I really like the idea of being able to do ontology searching in ingest and project catalogue. Being able to query our super rich metadata is one of the key points of collecting it so +1 to this idea from me.

[2021-04-28 09:25] jacobwindsor commented on #284
@clairerye Yes, either way we will need the published property so that is a good start.

Solr will obviously take some more time but I can have a chat with Isuru and Amnon to get an estimate on this. I'm not really sure myself

[2021-04-28 10:03] clairerye commented on #286
@gabsie I believe this is the UX ticket for #19 which is done, so I am now closing this one. (let me know if I am missing things :) )

[2021-04-28 10:03] #286 closed

[2021-04-28 16:32] aaclan-ebi opened #290 "Do not allow filename update in the file metadata"
As a contributor/wrangler
I want to be flagged that I shouldn't update the filename in the file metadata
So that my data file and file metadata won't be inconsistent

Given a file metadata
When the user attempts to update the filename
Then there should be an error

[2021-04-28 17:09] aaclan-ebi commented on #266
Thanks @Wkt8 for the feedback.

For 1, I've filed a different user story ticket for disallowing users to update the filename in the file metadata ebi-ait/dcp-ingest-central/290.

For 2, I will update the test cases in the ingest validator cucumber tests.

[2021-04-29 11:14] amnonkhen opened #291 "prohibit merges to master from branches other then dev"

[2021-04-29 11:54] aaclan-ebi opened #292 "Alternate way for contributors to upload files if they can't use AWS access keys"

[2021-04-29 12:48] yusra-haider commented on #206
@clairerye this is in dev now -- is this going to be tested by a wrangler? There isn't any wrangler assigned to it yet

[2021-04-29 14:45] yusra-haider commented on #206
wrangler testing assigned to @ESapenaVentura

cc: @clairerye

[2021-04-29 14:52] jacobwindsor commented on #197
@gabsie Sorry, I missed this comment. How exactly do you want that to look like? We do not have a standard "on hover notification" that we have used before, as far as I'm aware.

[2021-04-30 08:56] ESapenaVentura commented on #206
I have tried it with a project and I have a couple of notes:

Autogenerate label does not work after being logged out (I guess it's not in the scope of this but just wanted to point it out)

If there was required information not filled, it doesn’t let you click save (It will always tell you there are errors and to go back to fix them, even though there aren't any)

It was actually saved but it is

[2021-04-30 09:16] yusra-haider commented on #206
Thank you for the feedback @ESapenaVentura

Would it be possible for you to post a screenshot of autogenerate label not working after being logged out, for tracking / record keeping purposes?

And yes, we need to do more work on better showing the project being autosaved from the UX / UI perspective

[2021-04-30 10:17] ke4 commented on #289
Log from the exporter pod:

[code]

[2021-04-30 11:37] yusra-haider opened #293 "Refactor project creation, summary and edit view components to have centralized logic for form tabs layout"
related to the changes for https://github.com/ebi-ait/dcp-ingest-central/issues/19

We need to have centralized logic for controlling the project from tabs that can appear on any of these views. At present the code is being duplicated in three different components

[2021-04-30 16:27] MightyAx commented on #288
One last thing for Tuesday is to save the Accessions from Biosamples into Ingest.
The rest of the work is here: https://github.com/ebi-ait/ingest-archiver/pull/33

[2021-05-04 08:53] yusra-haider commented on #19
Comments from the demo for this feature:

- can the wranglers see the projects that they're assigned as Primary Wranglers to?
- @MightyAx confirmed that the `My Projects` view shows both projects created by the current user as well as projects that are meant to be wrangled by the current user
- todo: check what the view looks like

cc: @clairerye  @gabsie

[2021-05-04 09:07] yusra-haider commented on #206
@clairerye I've moved this into the `In Production` pipeline, is that okay or do we need it in the `Evaluating Impact` pipeline?

[2021-05-04 10:31] clairerye commented on #206
I will move it into the evaluating impact now we are at the end of the sprint, thank you!

[2021-05-04 10:57] aaclan-ebi opened #294 "Create dev environment for the upload service"

[2021-05-04 10:59] aaclan-ebi opened #295 "Create dev environment for the schema servers"

[2021-05-04 11:00] aaclan-ebi opened #296 "Create and Setup the Wrangler EC2 instance"

[2021-05-04 13:26] MightyAx commented on #288
# Notes from Sprint Review Demo:

## Missing Features:
 - Fix datatime conversion bug
 - Unit tests of the: Loader / BiosamplesSubmitter classes
 - Save Accessions back to ingest
 - Switch over to stop sending BioSamples to DSP
    - Default to new functionality with param for DSP mode?

## Possible future improvements:
 - Send BioSample Attributes for any value in the HCA schema rather than speci

[2021-05-04 15:50] MightyAx opened #297 "BioSamples Archiving Integration Test"
## Acceptance Criteria.
Resubmit accessioned product BioSamples to as new samples to staging BioSamples to verify the format of the current archiver conversion.

### Testing Method
Create test utility inside of archiver that, Given a Production BioSample Accession

1. Identify the biomaterial object on Production Ingest
1. Load the relevant project using the `HcaLoader`
1. Remove the accessions re

[2021-05-04 15:52] clairerye commented on #197
This is in prod so moving to evaluating impact

[2021-05-04 16:03] MightyAx opened #298 "BioSamples Archiving Improvements"
# Acceptance Criteria
Improve the mapping / functionality of the Ingest Archiving to BioSamples.
The wranglers should involved in developing this ticket so that we can describe as much as possible how an **ideal HCA Biomaterial would be represented in BioSamples**

# Possible features:
written by a developer
 - Send BioSample Attributes for any value in the HCA schema rather than specific ones:

[2021-05-04 16:06] MightyAx opened #299 "Create Switch to Archiving Direct Mode."
# Acceptance Criteria
Archive Production Projects biomaterial to BioSamples using "direct-mode" rather than through DSP.

[2021-05-04 16:59] MightyAx commented on #288
Ticket updated with latests todos:
1. HcaLoader Unit Tests
2. BioSamplesSubmitter Unit Tests
3. fix datetime conversion bug
4. Save to ingest
5. unit test save to ingest

[2021-05-04 20:24] clairerye opened #300 "Assess impact and viability of the Updates "specify update semantics" for the DCP"
Aim: To have a shared understanding of how updates, but particularly deletions will be communicated through the DCP to allow users to change, update and remove data from the DCP.
DCP spec - https://github.com/HumanCellAtlas/dcp2/pull/6
There is a follow up call for this Thursday 13th to raise/resolve concerns

For ingest -
Assess if updates requirements are met from a user perspective
Assess impac

[2021-05-05 07:43] aaclan-ebi opened #301 "Create staging and production environments"

[2021-05-05 09:26] #273 closed

[2021-05-05 09:26] #177 closed

[2021-05-05 09:26] #246 closed

[2021-05-05 09:26] #235 closed

[2021-05-05 09:26] #280 closed

[2021-05-05 09:26] #217 closed

[2021-05-05 09:26] #204 closed

[2021-05-05 09:27] #136 closed

[2021-05-05 09:27] #96 closed

[2021-05-05 09:27] #241 closed

[2021-05-05 09:27] #196 closed

[2021-05-05 09:27] #167 closed

[2021-05-05 09:27] #129 closed

[2021-05-05 09:27] #212 closed

[2021-05-05 09:27] #166 closed

[2021-05-05 09:27] #200 closed

[2021-05-05 09:27] #172 closed

[2021-05-05 09:37] clairerye commented on #270
waiting on file format ticket

[2021-05-05 09:38] clairerye commented on #266
In staging, needs staging integration tests to pass then can be promoted

[2021-05-05 09:38] clairerye commented on #19
waiting on PR

[2021-05-05 09:46] clairerye commented on #299
Need to make a decision about when we do the switch between DSP and the new archiving method.

[2021-05-05 09:52] clairerye commented on #271
some resources have to be manually done and CD has to do the policy creation that relate to the upload service. So there is a dependency here on the upload service.

[2021-05-05 09:53] clairerye commented on #272
blocked by all other aws migration aspects

[2021-05-05 10:13] clairerye opened #302 "New BioStudies archiving route"
Diagram: https://drive.google.com/file/d/1NHpkIK-irfD7Eq2A8jyqi4xSJ9CX8R2Z/view?usp=sharing

Subtasks
- [x] Import BioStudies-client module
- [x] Create a converter package
- [x] BioStudiesSubmitter class
- [x] Save accessions back to ingest

[2021-05-05 10:43] ke4 commented on #299
I am not sure this action worth to do.
My points:
- This could be a bit complex to do and won't add any value to the user. They won't see any difference at the result.
- It has never be tested how DSP would work without a BioSamples submission. It might work or not.
- **DSP is linking together BioStudies (project is DSP) entity and the BioSamples that belongs to them. Without BioSamples submission

[2021-05-05 12:09] aaclan-ebi opened #303 "Use smaller python image when running ingest integration tests"
In the gitlab runner, we found out that the python docker image is too big:

[code]

[2021-05-05 12:10] aaclan-ebi commented on #303
Investigate issue why this was reverted https://github.com/ebi-ait/ingest-integration-tests/commit/5d426cacd0ece0947f6a274c483effb11663ee36#diff-037ea159eb0a7cb0ac23b851e66bee30fb838ee8d0d99fa331a1ba65283d37f7

[2021-05-05 13:44] aaclan-ebi commented on #266
Promoted to prod https://gitlab.ebi.ac.uk/hca/ingest-validator/-/pipelines/153303

[2021-05-05 13:45] aaclan-ebi commented on #270
Promoted to prod: https://gitlab.ebi.ac.uk/hca/ingest-validator/-/pipelines/153303

[2021-05-06 03:02] gabsie commented on #19
Hi, @yusra-haider

This looks good as a start and functionality.
1. Can we, when clicking Edit on the section we're on (Admin area) just go to this specific section to edit?
2. Also, this list needs cleaning (removing the people who have left the team  - Justin, Rodrey, Rolando, etc)
3. We seem to have lost the top navigation once in Edit mode (we don't have the step by step flow of Project/Experi

[2021-05-06 03:12] gabsie commented on #197
Hey @jacobwindsor

Like this? Both for hover on the icon  (text to be - Click to copy) and for after clicking on it (like the below)

![Screenshot 2021-05-06 at 04.11.17.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/d4a01176-29ea-443e-bde6-bdc276f6f615)

let me know!
Gabs

[2021-05-06 03:16] gabsie opened #304 "Update to new designs - Figma and ingest UI"
The Figma files look really different to the ingest UI.
This needs to be updated little by little, because there's a stark difference.

Start creating tickets for QA, Gabby

[2021-05-06 03:17] gabsie commented on #304
1. handling of helper texts
2. form fields, mandatory stuff
3. login screens
4. admin area positioning
5. step-by-step flow
6. different colour to admin area
7. back and next, Save - final decision and implementation
8. what belongs where

[2021-05-06 03:26] yusra-haider commented on #19
Thanks for the feedback @gabsie

For:

1. That's how the `edit` button currently works for all tabs, Contacts, Publications, Funders etc.
    Do we want to change how that works for all these tabs or just for the Admin area?

2. yes, the list is dynamic and gets all the wranglers from the ingest database. We need to eventually have some database cleanups.

3. I am not sure how the top navigation u

[2021-05-06 05:59] mshadbolt commented on #19
Rough testing plan from a wrangler perspective based on some ideas from @Wkt8 and @yusra-haider:

Testing on dev:

### Basic functionality:
- [ ] the primary wrangler field is editable and behaves as expected in edit mode
- [ ] the admin tab isn't visible at all for non-wranglers

### Interacting as expected:

#### If I go to an existing project
- [ ] Projects that I wrangled seem to already have

[2021-05-06 07:57] ESapenaVentura opened #305 "Unexpected behaviour when logged out of project registration form"
**Describe the bug**
When filling the project registration form, being logged out (Without reloading the tab) results in the following unexpected behaviour:
- Checkbox to auto-generate project label does not work
- Trying to save the project reports errors (even when fixing them)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the project registration form
2. Start filling the project

[2021-05-06 15:23] MightyAx commented on #288
I've finally decided that there's no reasonable Unit Test for the HCA Loader passed on the architecture of the Ingest API that it is calling.
I added in #299 since I needed to test the output.
Ready for Review

[2021-05-06 15:57] MightyAx opened #306 "Fix Ingest Client for use in other components"
Ingest archiver can't be merged because its use of ingest-client blocks the use of unit tests and automated deployments.
This ticket is to update ingest-client so that it's dependencies can once again run unit tests and automated deployments.
[code]

[2021-05-06 16:00] MightyAx commented on #299
we can probably close this ticket because the work is done in #288

[2021-05-07 08:43] gabsie opened #307 "Incorporate the VF-hero component into the HCA Project Catalogue"
As a visitor to the HCA Project Catalogue, I wish to see it appear consistent with other sites of EBI, so I know it's their product and I can trust it.

** Acceptance Criteria / Definition of Done **

* Given we implement the header component
* When a visitor goes to the homepage
* Then they recognise it as the usual for EBI services

Tasks:

- [x] implement the vf-hero component from the Visual F

[2021-05-07 09:30] yusra-haider opened #308 "Autogenerate Project Label does not work when logged out of project registration form"
**Describe the bug**
When filling the project registration form, being logged out (Without reloading the tab) results in the following unexpected behaviour:
- Checkbox to auto-generate project label does not work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the project registration form
2. Start filling the project but don't fill all required fields
3. Wait for an hour for the token

[2021-05-07 09:30] yusra-haider commented on #305
separated out and created new ticket for the project label generation issue: https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/308

[2021-05-07 11:41] #299 closed

[2021-05-07 12:19] amnonkhen opened #309 "hca-to-scea testing and cleanup"

[2021-05-07 12:51] MightyAx opened #310 "Direct Archiving to Biosamples"

[2021-05-07 12:55] MightyAx commented on #302
As per @jacobwindsor's comment here https://github.com/ebi-ait/ingest-archiver/pull/33#discussion_r628087977
A common BaseSubmitter class would also be useful to neaten the implementation of the DirectArchiver, but we could do this as cleanup afterwards.

[2021-05-07 12:55] MightyAx commented on #310
As per @jacobwindsor's comment here https://github.com/ebi-ait/ingest-archiver/pull/33#discussion_r628087977
A common BaseSubmitter class would also be useful to neaten the implementation of the DirectArchiver, but we could do this as cleanup afterwards.

[2021-05-10 08:50] MightyAx commented on #297
Some Other Ideas to discuss.
1. Submit to BioSamples Staging a production ingest project prior to it going via the current method
2. Make Old Projects New:
- Clone Production Ingest projects using the HcaLoader
- Remove their accessions
- Replace/remove their uuid's
- post to staging as new project
- Test Staging project to BioSamples Staging

[2021-05-10 09:16] MightyAx commented on #288
Integration Test Failure:
https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/jobs/439151#L416

Pod Logs:
[code]

Fix:
https://github.com/ebi-ait/ingest-archiver/commit/99ff6c04fd0a038e1c1fbb25ad0632b6d3fc6649

[2021-05-10 11:30] gabsie commented on #307
Here are the top header area suggestions, if I find alternative visuals, I will upload different ones, let's have these as placeholders

Gabs
![nobreadcrumb.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/b9a8be67-0ad0-4118-ae10-41f2e852c854)![with breadcrumb.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/02503f39-653b-47cf-8c08-0e1750f24e4d)

[2021-05-11 10:18] gabsie commented on #19
Hi, both
Yes, next steps and one of the tickets for me to work on is the filtering by wrangler.
Yusra, I am good for this to go in prod.
Did we at least clean up the list of people? For now let's remove Rodrey/Rolando/Justin, as well as my name appears twice?

Thanks!
Gabs

[2021-05-11 10:29] MightyAx commented on #297
Backup of non-chosen ideas:
# Social Solution:
**Submit to BioSamples Staging a production ingest project prior to it going via the current method.**

# Previous Write Up (Compare existing to new as ongoing integration test):
Decided against this as a strict integration test because whenever we change the mapping the test will fail.
## Acceptance Criteria
Use [submitted HCA BioSamples](https://www

[2021-05-11 11:42] amnonkhen opened #311 "DSP Retirement (Archiving)"
ingest data should go to arcvies in addtional to DCP.
Also, it should be done directly from ingest w/o using DSP - [see relevant docs](url)

[2021-05-12 08:46] jacobwindsor commented on #290
Quik point, we should probably allow file names to be updated in the metadata until the point where files are uploaded right?

[2021-05-13 01:20] gabsie opened #312 "Clean up the list of wranglers assigned per project"
In the list of wranglers which can be assigned to a project, you can still see names like Justin, Rodrey and Rolando.
Can we please remove people who have left, thanks!

Gabs

[2021-05-13 01:21] gabsie commented on #19
I created a ticket - 312

[2021-05-13 01:25] gabsie opened #313 "Filter projects by assigned wranglers and status"
As a wrangler/stakeholder I want to go and find just the projects I am assigned to so that I can quickly review them and work on them.

**Acceptance Criteria / Definition of Done**

* Given the list of all projects
* When I select a wrangler to view their projects
* Then I am presented with a smaller list with just the relevant projects.

Tasks:
- [x] UI design

To avoid doing this work twice we *

[2021-05-13 01:26] gabsie commented on #313
Here is an initial suggestion for discussion.![Projects - Wrangler list.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/b8916b3b-9ad2-4353-9f12-4d8d215a0979)
Thoughts, @clairerye @mshadbolt

[2021-05-13 01:28] gabsie opened #314 "Remove Actions for a project in the table"
A link in the title does the same thing and we have space for a new column- Status

[2021-05-13 14:19] clairerye commented on #210
Using for release 6, will close when this has been used successfully.

[2021-05-14 00:35] mshadbolt commented on #230
There is now a pending PR for an initial version of this process https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/326

It will need to iterated and improved on once we become more familiar with how Zooma works and how it can best help with our ontology curation work

[2021-05-14 08:40] amnonkhen opened #315 "monitoring - performance and errors"
- [x] install prometheus (via GitLab)
- [x] install grafana/loki stack (without prometheus)
- [x] metric 1
- [x] metric 2

Done on:
- [x] dev
- [x] staging
- [x] prod

[2021-05-14 15:32] MightyAx commented on #297
example output for project `c4077b3c-5c98-4d26-a614-246d12c2e5d7`
[code]

[2021-05-17 09:49] clairerye commented on #10
Currently with the bug reported here - Filter entities when searching to update links  (#219) and so it is still easier to delete a submission and re-upload the spreadsheet than identify the entities that need to be changed.

[2021-05-17 11:31] jacobwindsor opened #316 "Move nginx-ingress to ingress-nginx"
[nginx-ingress](https://github.com/helm/charts/tree/master/stable/nginx-ingress) is deprecated

[2021-05-17 14:54] clairerye commented on #300
PR has been commented on and approved

[2021-05-18 13:04] ke4 commented on #302
@MightyAx I just saw your comment from 11 days ago. I was doing something similar to that yesterday, although not the Tuple or the List version. I can spend more time and refactor it with that idea.

[2021-05-18 14:24] clairerye commented on #298
This is super useful commentary, thank you @mshadbolt!

[2021-05-18 14:32] clairerye commented on #266
Closing this ticket, assumption is that this ticket will mean less helpdesk tickets/ pipelines questions about data files, so will keep an eye on this.

[2021-05-18 14:32] #266 closed

[2021-05-18 14:33] #288 closed

[2021-05-18 14:33] #134 closed

[2021-05-18 14:49] clairerye commented on #206
Next steps, @MightyAx, @ESapenaVentura  and @clairerye to confirm what we need from the above, what it may cost and what the priority is.

[2021-05-18 14:50] #206 closed

[2021-05-18 14:50] clairerye commented on #298
Next steps, @MightyAx, @ESapenaVentura  and @clairerye to confirm what we need from the above, what it may cost and what the priority is.

[2021-05-18 14:53] clairerye commented on #220
I don't think we touched this ticket this sprint? Do we have plans for it? @aaclan-ebi or @jacobwindsor do either of you know?

[2021-05-18 14:54] gabsie commented on #279
Hi,

I am going to close this ticket and open up a new one for the implementation, last task for this list.
But as a resolution, suggested statuses as per board and discussions with wranglers are:

![Screenshot 2021-05-18 at 15.51.51.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/3ba05ac0-1cdd-4a7a-a3e0-fc7c41634094)

I will as a start suggest the Wrangler -driven statuses to b

[2021-05-18 14:58] gabsie opened #317 "Set Project Wrangling Status on Admin Screen"
#### Ingest Core:
- [x] Add Wrangling Status field as set by the Wrangler to Project Metadata (not schema)

#### Ingest UI:
 - [ ] Add Wrangler Status Dropdown to Project Admin Screen

This is a continuation of [ticket 279](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/279)

[2021-05-18 14:59] clairerye commented on #113
No further issues reported since March 9th, so counting this as successful

[2021-05-18 14:59] #113 closed

[2021-05-18 15:16] gabsie commented on #313
Also include a filter by wrangler and status for this.

[2021-05-18 15:44] clairerye opened #318 "Eligibility and prioritisation Criteria in the catalogue"
As a user of the Project Catalogue I want to understand by what criteria data is eligible and how the curation is prioritised, so that I can understand what is included now and in the future.

On the [about page](https://www.ebi.ac.uk/humancellatlas/project-catalogue/about) - under the aims paragraph, add in [Eligibility criteria](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/dataset_sui

[2021-05-18 16:20] aaclan-ebi commented on #210
Hannes confirmed that our implementation which creates 1 links.json for both assay and analysis subgraph is fine.
https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1621333630000700

[2021-05-19 04:18] yusra-haider commented on #220
I remember that @jacobwindsor worked on this ticket last to last sprint: https://github.com/ebi-ait/ingest-state-tracking/pull/7

[2021-05-19 08:53] clairerye commented on #208
something like -

![image.png](https://images.zenhubusercontent.com/5e4d068a4ff78267228d27b4/6679bb20-bb23-4ac7-bef5-4425145ac71b)

[2021-05-19 08:54] ESapenaVentura opened #319 "Fix small bug on ENA data imports"
**Description of the task:**
Related to the conversation [on slack](https://embl-ebi-ait.slack.com/archives/CGKP7EZ54/p1621004881096700)

*tl;dr*: For certain accessions, trying to retrieve the files and uploading them results in a silent error. After Eugene looked into this, apparently this is related to an issue of how files are handled (BAM conversion from SRA into ENA)

The expected behaviour

[2021-05-19 08:59] lauraclarke commented on #208
Is there a plan to make this default yes? a default no will be frequently missed

[2021-05-19 09:04] clairerye commented on #317
Designs as per the assign a wrangler admin screen
https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/fdd1ed13-a1c4-4f41-91ef-92871ee31600

[2021-05-19 09:11] amnonkhen opened #320 "add healthchecks to ingest service containers"

[2021-05-19 09:13] amnonkhen commented on #320
We need health checks to monitor container startup and crashes.

[2021-05-19 09:18] clairerye commented on #208
good plan

[2021-05-19 09:24] aaclan-ebi opened #321 "Integration tests are intermittently failing due to file/s stuck in Invalid"
The integration tests has an intermittent issue where files are stuck in Invalid because it’s failing to mark the file as uploaded in Core

[code]

[2021-05-19 09:52] clairerye commented on #284
Remove the script, and create an API end point to query directly

[2021-05-19 10:00] clairerye commented on #208
set default flag as yes if spreadsheet is uploaded

[2021-05-19 10:14] clairerye opened #322 "Add pagination to Project catalogue"

[2021-05-19 10:31] amnonkhen commented on #309
This is about creating a characteristic automated test to facilitate refactoring and improvements of this blackbox code.

[2021-05-19 10:31] MightyAx commented on #284
Also possibly add wrangling status

[2021-05-19 11:10] clairerye commented on #284
Absolutely - but I think we should call this out of scope for now

[2021-05-19 15:39] MightyAx commented on #322
This is no longer needed this sprint and won't add value until the future work of adding Solr indexing support to ingest core. Pushing to product backlog and removing dependency.

[2021-05-19 18:11] aaclan-ebi commented on #289
Promoted to staging and prod:

Exporter pipeline: https://gitlab.ebi.ac.uk/hca/ingest-exporter/-/pipelines/157316
Core pipeline: https://gitlab.ebi.ac.uk/hca/ingest-core/-/pipelines/157245
State tracker pipeline: https://gitlab.ebi.ac.uk/hca/ingest-state-tracking/-/pipelines/157317

The archiver tests were skipped because there seems to be an issue in DSP test environment.

[2021-05-20 09:13] jacobwindsor opened #323 "Add export time tracking and export errors to Grafana"
We can use grafana to track the time taken to export a given submission. By utilising the logs from exporter, we can perform some basic querying and then build graphs on top of that.

## Tasks
- [ ] Add the submission UUID to all of the logs from the exporter. Particularly the log for "Export time" and any error logs
- [ ] Add queries to Grafana config
- [ ] Add graphs for tracking single submissi

[2021-05-20 10:32] clairerye commented on #208
closing as this is a duplicate of 284

[2021-05-20 10:32] #208 closed

[2021-05-20 13:55] Wkt8 opened #324 "File validator assumes anything after a '.' is the extension"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.contribute.data.humancellatlas.org/
2. Create a submission which has a metadata file entity, whose name has a '.' in it, e.g. a sequencing file with the name 24905_6#205.cram-1.fastq.gz
3. Sync the files from the hca-util upload area
4. Wait for the files to validate
5. See error

**Expected behavior**

[2021-05-20 14:29] clairerye commented on #266
First bug ticket - https://github.com/ebi-ait/dcp-ingest-central/issues/324

[2021-05-20 19:29] jacobwindsor commented on #284
Draft PR for core: https://github.com/ebi-ait/ingest-core/pull/65

[2021-05-24 08:26] gabsie commented on #317
Hi, @aaclan-ebi and @clairerye

As per our chat on Friday, here is the list of Wrangling statuses that we decided on:

New
Eligible - 1,2,3
Not eligible
In progress
Stalled
Submitted
Published in DCP
Deleted

Let me know if anything else needs discussing, @aaclan-ebi
Gabs

[2021-05-24 14:16] aaclan-ebi commented on #146
A conversation with Dani Welter before:

![Screenshot 2021-05-24 at 15.16.25.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/205db784-11ad-4e18-8141-2cb0a8c14061)

[2021-05-24 15:03] aaclan-ebi commented on #317
Here are the current changes, will push the PR to play around in dev env.
![Screenshot 2021-05-24 at 15 59 29](https://user-images.githubusercontent.com/31281398/119366665-1bfd1d80-bca9-11eb-9182-66b97d56b4e1.png)

We still need a plan for populating the existing projects. Currently, they will be set as empty.

[2021-05-24 15:07] MightyAx commented on #284
I've tested this modification to Jacob's script:

[code]

[2021-05-24 15:14] MightyAx commented on #284
We can now also set the publications for these 12 projects manually, even though the projects "in ingest" have no publication info:

1. [005d611a-14d5-4fbf-846e-571a1f874f70](https://api.ingest.archive.data.humancellatlas.org/projects/search/findByUuid?uuid=005d611a-14d5-4fbf-846e-571a1f874f70)
1. [116965f3-f094-4769-9d28-ae675c1b569c](https://api.ingest.archive.data.humancellatlas.org/projects/se

[2021-05-25 08:58] MightyAx commented on #284
Projects that were in the old version of the catalogue that do not exist in ingest:

1. 592a97ab-d575-4e91-b68e-547d1d66d087
, 2dcc3807-e008-4ccc-b000-bffe2d86f429, and 9cd9669b-55cf-4b32-9187-629bcc2f7bf8

[2021-05-25 09:10] aaclan-ebi opened #325 "Fix exporter error when check GCP File Transfer job status"
Error:
[code]

[2021-05-25 09:15] aaclan-ebi commented on #325
Full log: [https://app.zenhub.com/files/299258791/a4de13a9-12de-4825-92dc-cd43e496e9d5/download](https://app.zenhub.com/files/299258791/a4de13a9-12de-4825-92dc-cd43e496e9d5/download)

[2021-05-25 12:03] aaclan-ebi commented on #317
Hi @gabsie @ESapenaVentura The changes are now in dev, please let me know what you think. Thanks!

[2021-05-25 12:18] aaclan-ebi commented on #317
https://dev.contribute.data.humancellatlas.org/projects/new

[2021-05-25 14:28] MightyAx commented on #284
For Review by @gabsie
![Screenshot 2021-05-25 at 15.27.25.png](https://images.zenhubusercontent.com/5d4053c054f6346037c2ef53/939f7f59-fee7-4a59-8265-bbde633bd06e)

[2021-05-26 11:46] amnonkhen opened #326 "stress test the catalog - 1000 projects in dev db"

[2021-05-26 11:46] amnonkhen opened #327 "paging for projects list"

[2021-05-26 11:50] amnonkhen commented on #322
no need for solr indexing. No need to bring a cannon in at this point.
Add simple client side paging using Angular Material table.

[2021-05-26 11:51] #327 closed

[2021-05-26 12:11] amnonkhen commented on #326
The purpose here is to get a feel on the UI's performance when the catalogue is in its full expected load of 800 projects.
We should check:
- [x] ui load time
- [x] search time
- [x] sort time

[2021-05-26 13:14] amnonkhen commented on #147
@ami-day this is what you spoke of earlier today.

[2021-05-26 14:55] ami-day commented on #147
Ohhh I created a new ticket, I hadn't seen this ticket. I will delete the ticket I created!

I will paste the actions I wrote here:

- Claire and Amnon to discuss a solution
-
-  Implementation of a temporary workaround so that we can update projects for the June Release 7 milestone
-
-  Implementation of a longer term solution to making bulk metadata updates in ingest production (if you think thi

[2021-05-26 14:55] ami-day commented on #147
Hi @clairerye Yes, I will create a calendar invite

[2021-05-26 15:09] ESapenaVentura commented on #317
Hi @aaclan-ebi LGTM! Excited to see this feature

As @clairerye mentioned, having the possibility of negative numbers looks weird, but I don't think that should be a problem (Also tried to break it by adding a super high number but it just gave a validation error and reset to 0, so great!)

About the statuses, just 3 minor things:
- Can they have a more user-friendly name? Even if internally they

[2021-05-27 08:37] clairerye commented on #284
sounds good to me

[2021-05-27 09:21] MightyAx commented on #284
@gabsie

To confirm, should the guide text should be A or B?
If B, we will have not link to the Human Cell Atlas Project Catalogue by EMBL-EBI and the user will have to google it.

#### A:

#### B:

[2021-05-27 09:35] gabsie commented on #284
Good thought, Alexie.
Especially as I want to make all these guide texts in tooltips in the future , because they take up too much space.

The [Human Cell Atlas Project Catalogue by EMBL-EBI ](https://www.ebi.ac.uk/humancellatlas/project-catalogue/) provides a comprehensive list of all the cellular resolution data generated by and available to the HCA community. Your project will appear with its n

[2021-05-27 10:15] ke4 opened #328 "Ingest UI unnecessary polling pages every 5 seconds"
Steps to reproduce:

1. Log into Ingest UI.
2. Click on the All submissions link.
3. Open Web developer tool and go to the Network tab

Notice that every 5 seconds the page refreshing itself.
I am not sure it is necessary on this page.
You can also notice that most of the response is 200, but there are some 500 as well.

We should investigate if this polling is really necessary and if not then rem

[2021-05-27 10:22] amnonkhen opened #329 "Use dataset snapshot to generate ingest import"
Using [Dataset Tracking Sheet - Project Catalogue "Todo" Snapshot; Jun 3rd 2021](https://docs.google.com/spreadsheets/d/15imB5HErtY-wWaelnT_gxHRjWXyOQP6iagfPm0hU8sU/edit#gid=1934812232), populate ingest with new projects, and review.

#### Import Group 1
- [x] Ask Devs if we can use the DevDB for reviewing import results.
- [x] Ask Wranglers if we can use Wrangling Priority / Wrangling Status to f

[2021-05-27 10:35] ke4 opened #330 "Ingest UI stuck in Loading state when submission does not exist"
**Ingest UI stuck in Loading state when submission does not exist**

**Steps to reproduce the behaviour**:
1. Log in to Ingest UI
2. Type a non existent submission URL to the browser like this: https://contribute.data.humancellatlas.org/submissions/detail?uuid=12345678-6938-4f73-b7e7-3eb5e016f80b&project=7b947aa2-43a7-4082-afff-222a3e3a4635

**Expected behavior**

**Screenshots / Logs**
![Screensh

[2021-05-27 14:48] gabsie commented on #317
Hi, everyone

Just to repeat the things from @ESapenaVentura and Claire, let's, if possible, have the statuses read like we had them in the task:
New
Eligible
Not eligible
In progress
Stalled
Submitted
Published in DCP
Deleted

2. @ESapenaVentura - We thought that Deleted would be for anything that for example needed removing from the DCP etc. Yes, supposedly all data and metadata and data for the

[2021-05-27 14:58] jacobwindsor opened #331 "Investigate sporadic docker dind issues in GitLab"
Occasionally, docker fails in the gitlab runner (see https://gitlab.ebi.ac.uk/hca/ingest-core/-/jobs/455800).

Error:
[code]

[2021-05-27 16:09] MightyAx commented on #284
Catalogue script run on production:
[code]

[2021-05-27 20:47] gabsie commented on #317
And one more thing...
I suggest that before somebody has put a priority, we just have N/A and then only 1,2,3 afterwards

One thing I don't know actually, @ESapenaVentura - when you guys keep the triaging info in the data tracker, do you have priority placed alongside eligibility?

Thanks!
Gabby

[2021-05-27 22:06] clairerye commented on #284
Single cell transcriptome analysis of human pancreas reveals transcriptional signatures of aging and somatic mutation patterns is now https://contribute.data.humancellatlas.org/projects/detail?uuid=cddab57b-6868-4be4-806f-395ed9dd635a
Can we please check cddab57b-6868-4be4-806f-395ed9dd635a is part of the project catalogue and if not include it

An Atlas of Immune Cell Exhaustion in HIV-Infected I

[2021-05-28 08:41] yusra-haider commented on #173
https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/318 --> the ticket for adding Eligibility Criteria and Prioritization sections to the About page was also done as part for this ticket.
Feedback / todo with @gabsie: @gabsie to shorten to text for both sections

https://app.zenhub.com/workspaces/dcp-ingest-product-development

[2021-06-01 11:03] jacobwindsor commented on #284
Updated script that updates the wrangling state if a project is in DCP. Also in [this gist](https://gist.github.com/jacobwindsor/095f7d59bf755207cc547e9d9a154e51)

[code]

[2021-06-01 12:07] aaclan-ebi opened #332 "Optimise delete submission"
Delete submission can cause Ingest Core pod to restart.

![Screenshot 2021-05-25 at 11.45.57.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/8abf32ef-4830-42b6-88eb-c0eaab88b663)![Screenshot 2021-05-25 at 11.42.30.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/a792d455-84a6-495b-ba30-c9d88e1899c1)

[2021-06-01 12:47] gabsie commented on #173
Hey @yusra-haider

1. A suggestion for the Homepage Title and subtitle. The Title should be on its own line, without breaking.

HCA Project Catalogue
A comprehensive list of cellular resolution datasets for the Human Cell Atlas.
About the catalogue  (link to About) (Can we actually move the link to be at the end of the above sentence and not fall on next line? Just asking..)

Comments there:
a) id

[2021-06-02 09:00] yusra-haider commented on #173
@ke4 tagging you here as you would be taking up these stylistic improvements.

cc: @gabsie @clairerye @amnonkhen

[2021-06-02 09:09] aaclan-ebi commented on #313
Updates:

The primary wrangler and wrangling status are added in the project list table
https://staging.contribute.data.humancellatlas.org/projects/all

![Screenshot 2021-06-02 at 10.04.03.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/6d0deb29-243e-48ce-b2a8-c32d97f02710)

Waiting for designs for the badges and the filters.

[2021-06-02 09:43] ESapenaVentura commented on #317
@gabsie agree on tickets for that in the future - I was just thinking ahead, don't expect it to be in this iteration!

Also I like the changes a lot! But if I can be very picky, I'd like for the wrangling status and priority to have the same blank state; either you can specify N/A for both or just leave both blank, but not both

[2021-06-02 11:17] clairerye commented on #313
super super excited about this!!

[2021-06-02 13:00] gabsie commented on #313
So I have updated things here:

You can use the badges for the statuses
The Search component for the top
the dropdowns components for the filters

Gabs

![Projects - Filter Wrangler list.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/3b59f7d0-bb05-4943-a16e-b07035a4dec8)

[2021-06-02 13:20] jacobwindsor opened #333 "Make dev project catalogue point to dev ingest API"
At the moment, both dev and prod project catalogue use the prod ingest API endpoint. We could use env vars (in e.g. `dev.yaml` and `prod.yaml` to set this accordingly

[2021-06-02 13:47] jacobwindsor opened #334 "Make the project catalogue have a pretty error message"
**User story**
As a user, I want to see a pretty error page if the project catalogue cannot retrieve data from ingest API.

[2021-06-02 14:07] clairerye commented on #173
final testing and deploying @rays22

[2021-06-02 14:08] clairerye commented on #318
will be deployed with 173

[2021-06-02 14:09] clairerye commented on #307
will be deployed with 173

[2021-06-02 14:15] clairerye opened #335 "Add google analytics to Project Catalogue"
put the google analytics into the project catalogue

[2021-06-02 14:25] aaclan-ebi opened #336 "Cannot view project in Safari, console logs has errors"
**Describe the bug**
Cannot view project in Safari, console logs has errors

**To Reproduce**
Steps to reproduce the behavior:
1. Go to All projects
2. Click on 1 project to view the project details
3. The project details is not loaded
4.  Open the developer console, there are errors logged.

**Expected behavior**
The project details should be loaded and viewable by the user.

**Screenshots / Logs

[2021-06-02 14:29] MightyAx commented on #329
Don't include "unsuitable"

[2021-06-02 14:33] clairerye commented on #326
Include payload size testing with the number of projects

[2021-06-02 14:53] ke4 commented on #336
This project could have the same issue: https://contribute.data.humancellatlas.org/projects/detail?uuid=fc55bd4a-8694-4a28-9a35-59a685bda323

[2021-06-02 15:17] ke4 opened #337 "Styling fixes for the project catalogue"
Copy from [#173](https://app.zenhub.com/workspaces/dcp-ingest-product-development-5f71ca62a3cb47326bdc1b5c/issues/ebi-ait/dcp-ingest-central/173) from Gabs:

1. A suggestion for the Homepage Title and subtitle. The Title should be on its own line, without breaking.
HCA Project Catalogue
A comprehensive list of cellular resolution datasets for the Human Cell Atlas.
About the catalogue (link to Abou

[2021-06-02 15:41] ke4 commented on #337
@gabsie For me the Feedback button is not hidden. Maybe @yusra-haider has already fixed it in the last sprint?

[2021-06-02 15:42] ke4 commented on #337
@gabsie Is that looks OK for now?
![Screenshot 2021-06-02 at 16.35.17.png](https://images.zenhubusercontent.com/5f2957fd448645a503a32777/bbf34467-928a-4d11-9699-63ac8c029b59)

[2021-06-02 15:44] ke4 commented on #337
It is the same for the about page
![Screenshot 2021-06-02 at 16.43.24.png](https://images.zenhubusercontent.com/5f2957fd448645a503a32777/40d4f87a-c8dc-482f-a7b7-ef2153715db2)

[2021-06-02 15:47] MightyAx commented on #329
Useful Fields:
Identifying uniqueness (new project or updating existing project)

- ingest_project_uuid
- doi

Filling project details:

- access_permission
- organism
- sample_type
- assay_type
- organ
- nucleic_acid_source

[2021-06-02 15:54] MightyAx commented on #329
Also useful: this google sheet:
https://docs.google.com/spreadsheets/d/1bE9fbMw0Ujgjag3odL1bnbtqKCw_43T_AHz5mebrzyc/edit#gid=0

which used google script to query ingest and return the results in the sheets cells:
[code]

[2021-06-03 09:25] tburdett commented on #329
I've taken a snapshot of the data tracking sheet and grouped it according to what next steps should be, see https://docs.google.com/spreadsheets/d/15imB5HErtY-wWaelnT_gxHRjWXyOQP6iagfPm0hU8sU/edit#gid=0

This gives a total cohort of projects for the Catalogue at 432 (which may need to change slightly if we find discrepancies)

@MightyAx I have not changed the structure of the sheets at all, column

[2021-06-03 10:00] ESapenaVentura opened #338 "Bug when deleting estimated cell count from cell suspensions"
**Describe the bug**
While deleting the values for the estimated_cell_count from some cell suspensions for submission https://contribute.data.humancellatlas.org/submissions/detail?uuid=0ddb157b-beab-4721-b8fe-53f04a2328ae&project=b963bd4b-4bc1-4404-8425-69d74bc636b8 , the metadata becomes invalid for those files.

The error is about the field needing an integer value

To fix it, you need to go int

[2021-06-03 10:27] tburdett commented on #329
As discussed, @MightyAx is going to work through the projects in group 1 of the above sheet, @rays22 will review outcomes and decide on next steps for any discrepancies

[2021-06-03 10:34] yusra-haider commented on #336
this project may have the same issue: https://contribute.data.humancellatlas.org/projects/detail?uuid=a9c022b4-c771-4468-b769-cabcf9738de3 The page fails to load properly and it isn't possible to open the console

[2021-06-03 11:32] rays22 commented on #173
I have compared the functionality of the dev and prod versions. I **could not find any differences in functionality** between the two. I ignored any differences in catalogue content.

Tests:
1. `Search projects` box
    - Query: `bone`
        - **PASS**
    - Query: `mus musculus`
        - **PASS**
    - Query: `Mus musculus`
        - **PASS**
2. `All organs` box
    - Query: `Adrenal gland`

[2021-06-03 14:24] gabsie opened #339 "DO NOT IMPORT all wrangled or in progress from data tracker, perform check they're in ingest"
Using [Dataset Tracking Sheet - Project Catalogue "Todo" Snapshot; Jun 3rd 2021](https://docs.google.com/spreadsheets/d/15imB5HErtY-wWaelnT_gxHRjWXyOQP6iagfPm0hU8sU/edit#gid=1934812232)
Review all projects that are in the dataset tracker that are either already in the DCP or somewhere in the wrangling process (and therefore should already be in the project catalogue), excluding the ones from offic

[2021-06-03 16:26] gabsie opened #340 "Review all projects on the official HCA publications list and make sure they are in the project catalogue"
Using [Dataset Tracking Sheet - Project Catalogue "Todo" Snapshot; Jun 3rd 2021](https://docs.google.com/spreadsheets/d/15imB5HErtY-wWaelnT_gxHRjWXyOQP6iagfPm0hU8sU/edit#gid=1934812232)

Check the list in group 3 tab matches the list at https://www.humancellatlas.org/publications/.
Check all projects in this group are in ingest.
For any projects that are not already present, either add them or fla

[2021-06-04 13:38] ke4 commented on #335
Instructions from @jacobwindsor (Thanks):

1. Go to an older version of the project in github, like this: https://github.com/ebi-ait/projects-index/tree/331f1e727cfcf38e1a65e9242877853e35cbadbb
2. Copy the `scripts` tags for Google Tag manager from `index.html` to the latest `index.html`
`
    <script>
      dataLayer = [];
    </script>

    <script>
      (function (w, d, s, l, i) {
        w[l]

[2021-06-04 15:28] ke4 commented on #335
Step 2 is already exists in the current code ;-)

[2021-06-07 08:55] MightyAx commented on #329
Ways to distinguish imported projects:

- Wrangling Priority: 3
- Notes: "Imported from Snapshot (Date)"

[2021-06-07 09:29] gabsie commented on #329
@rays22 @ESapenaVentura @Wkt8 @ami-day  - Hi, wranglers, for all the imported projects we will place them as Priority 3 for now, and will include in the notes the above message "Imported from Snapshot"

Let us know if that is OK for you,
Gabs

[2021-06-07 10:05] Wkt8 opened #341 "Wrangling to cellxgene"
There is a task to explore the possibilities of providing a standardised form of CGMs into CZI’s CellxGene platform (https://cellxgene.cziscience.com/).

This ticket is simply to try to take a single project's CGMs, and
- figure out what format CellxGene accepts
- how to edit the CGM into that format, and how much effort this will roughly take
- how much effort curating to extract cell type annota

[2021-06-07 10:37] jacobwindsor commented on #334
@gabsie to change 404 text: "We’re sorry - we can’t find the page or file you requested.

It may have been removed, had its name changed, or be temporarily unavailable.

You might try searching for it."

[2021-06-07 21:25] jacobwindsor commented on #326
# With 1000 projects

## UI Load Time
- Time to contentful paint: 3.3s (lighthouse reported)
- Catalogue endpoint load time (no throttling): 1.17s
- Catalogue endpoint load time (throttled slow 3g): 21.68s
- Catalogue endpoint load time (throttled fast 3g): 6.73s

## Search Time
- On desktop (no cpu throttling):
  - Responsive when searching and faceting
  - Noticeable lag when going from few proj

[2021-06-07 21:48] amnonkhen commented on #326
Thanks.How do the numbers look with 500 projects? On Jun 7, 2021 22:26, Jacob Windsor ***@***.***> wrote:
Testing done with 1000 projects
UI Load time
Time to contentful paint: 3.3s (lighthouse reported)Catalogue endpoint load time (throttled slow 3g): 21.68sCatalogue endpoint load time (throttled fast 3g): 6.73s
Search time

—You are receiving this because you authored the thread.Reply to this em

[2021-06-08 07:44] rays22 commented on #329
Yes, the default values for priority and notes look sensible to me, so it is is fine with me.

[2021-06-08 09:17] aaclan-ebi opened #342 "Browser becomes unresponsive when viewing some projects in the Ingest UI"
**Describe the bug**
Browser becomes unresponsive when viewing some projects in the Ingest UI

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to https://contribute.data.humancellatlas.org/projects/detail?uuid=fc55bd4a-8694-4a28-9a35-59a685bda323
2. OR to https://contribute.data.humancellatlas.org/projects/detail?uuid=a9c022b4-c771-4468-b769-cabcf9738de3
3. The project details are not loa

[2021-06-08 09:18] aaclan-ebi commented on #336
I believe the issue with those 2 projects is different from the issue with Safari browser that Alexie detected. Created a different ticket: https://github.com/ebi-ait/dcp-ingest-central/issues/342

[2021-06-08 10:09] amnonkhen commented on #334
@jacobwindsor would this show a nice error message for "ui freezing" projects mentioned in dcp-ingest-central#334?

[2021-06-08 10:44] jacobwindsor commented on #334
@amnonkhen That is unrelated and not related to the catalogue

[2021-06-08 10:44] aaclan-ebi commented on #342
This seems to happen both in Chrome and Safari.

[2021-06-08 10:52] amnonkhen opened #343 "misleading error when browsing to non-existent project uuid"
**Describe the bug**
Browsing to a non existent project using a direct url shows a misleading error message.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to a url of a non existing project like
2. see error message

**Expected behaviour**

1. see a "project with uuid XYZ not found"
2. not see a javascript error message

**Screenshots / Logs**

error shown to the user:

[code]

**env**

[2021-06-08 11:17] #231 closed

[2021-06-08 11:17] amnonkhen commented on #231
closing this ticket, as it would be tracked by others. See epic.

[2021-06-08 12:23] jacobwindsor commented on #326
@amnonkhen See updated comment above

[2021-06-08 13:53] ESapenaVentura commented on #329
Yep, that's fine with me as well :)

[2021-06-08 14:06] jacobwindsor opened #344 "Include Cell Count & Extra Fields in the Project Catalogue"
- [x] Add cell count to project (core)
- [ ] Migration for populating cell count (or Python post-processing script)
- [ ] UI designs for including cell count in the catalogue
- [x] Add cell count to the catalogue
- [ ] Add filters/facets for cell count
- [ ] Any more fields we would like to visualize in the catalogue?

[2021-06-08 14:13] gabsie commented on #344
Hi, Jacob

I will update the designs tonight with showing this in the table.
I will also study the numbers in data tracker, so that I know what the different levels might be for filtering on

Gabs

[2021-06-08 15:21] jacobwindsor opened #345 "Project catalogue bug fixes"
- [x] No array express accessions showing
- [x] Poor formatting when there is >1 publications
- [x] Extra space between commas in organ and technology columns
- [x] Poor formatting when opening up more authors (see "Single-cell RNA-sequencing of skin, fresh blood, and cultured peripheral blood mononuclear cells from a patient with drug-induced hypersensitivity syndrome and healthy volunteers")
- [

[2021-06-09 08:59] clairerye opened #346 "export filtered results"
As a stakeholder, I want to further use, share and manipulate the subset of results I have found on the project catalogue so that I don't waste time copying and pasting the values I need.

[2021-06-09 09:04] gabsie commented on #344
Jacob, actually for Cell count you only need an extra column in the table for project catalogue, I suggest just before Organ and Technology. Thoughts, @clairerye @ESapenaVentura @rays22

Gabs

[2021-06-09 09:25] gabsie opened #347 "Introduce the Main nav from VF, for three items - Home / About and Add a Project"
I think it's a good idea to actually introduce a nav just below the header area, because that way a user doesn't just depend on the links on home for accessing About and Add a project.

The component is in the VF and maybe easy to introduce? We can also remove this sentence already, if we have the navigation.

Sorry for jumping things on the  sprint, let me know if makes sense! (and certainly this

[2021-06-09 09:26] gabsie commented on #347
For a glimpse on how this looks, a nav like this (for us it will be Home  About  Add a Project): ![Screenshot 2021-06-09 at 10.25.57.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/98f35c31-52e7-4216-9913-ac44075de703)

[2021-06-09 10:00] ESapenaVentura commented on #339
https://docs.google.com/document/d/1DLT0LThCifVVCl4FfZmcBV1g-o0pDkP24oCXsvEvGS8/edit#

I have checked group 2 and made a report with my findings

Also highlighted in orange the entries that are not registered in ingest

[2021-06-09 10:32] clairerye commented on #344
From the meeting we decided it should be an extra column after organ and technology

[2021-06-09 10:48] aaclan-ebi commented on #342
Findings so far:

Commenting out this part in the project.component.html will fix the unresponsive browser.
[code]

The file's metadata for some projects might not be being handled well in the data table component. Needs to further investigate.

Assigning to @ke4 as I'll prioritise another ticket. Thanks @ke4 !

[2021-06-09 11:46] aaclan-ebi commented on #344
How will filtering look like?

[2021-06-09 12:03] aaclan-ebi commented on #344
@clairerye @gabsie How big can cell counts be?

[2021-06-09 12:56] gabsie commented on #344
Hi, @aaclan-ebi

Here you can see what those might be:
https://docs.google.com/spreadsheets/d/15imB5HErtY-wWaelnT_gxHRjWXyOQP6iagfPm0hU8sU/edit#gid=1934812232&range=N:N

Gabs

[2021-06-09 13:38] rays22 commented on #329
### Review of `2021-06-03 Snapshot.json` of **Group 1**

* 10 of the 19 ignored projects in the `2021-06-03 Snapshot.json` are already are in Ingest and they have project UUIDs in the [Dataset Tracking Sheet snapshot.](https://docs.google.com/spreadsheets/d/15imB5HErtY-wWaelnT_gxHRjWXyOQP6iagfPm0hU8sU/edit#gid=0)

[code]

* I should note that two of the ten Ingest project pages are crashing my bro

[2021-06-09 13:50] rays22 commented on #342
An additional example of an Ingest project page that is crashing my browser:
* [027c51c6-0719-469f-a7f5-640fe57cbece](https://contribute.data.humancellatlas.org/projects/detail?uuid=027c51c6-0719-469f-a7f5-640fe57cbece)

[2021-06-09 14:52] clairerye commented on #329
This is great Ray. I think we should include
dcp6037919259260882: this project has the status stalled in the Dataset Tracking Sheet, because it was deemed very low priority It is a judgement call to include this project in the catalogue/Ingest or not.
As although it is low priority it is eligible - I have added the DOI to the snapshot sheet.
I also think we should include the 6 UCSC datasets. But

[2021-06-09 15:03] Wkt8 commented on #340
I have checked. The list in Group 3 does not match up precisely to the list at https://www.humancellatlas.org/publications/ but I have included the new papers in my analysis as well.

There were a number of benchmarking/review/meta-analysis studies in the official publication list that I included in the analysis and excluded from the below report to be added to the catalogue.

Report here:
There a

[2021-06-09 15:07] clairerye commented on #326
@amnonkhen and I agreed this was not a problem. It would be nice to have a loading whirly to help communicate its loading, which I will make a separate ticket for.

[2021-06-09 15:59] ESapenaVentura commented on #339
I have uploaded all the projects to ingest.

We need to contact UCSC to inform the projects are already in ingest (So that when they want to work on the submission, can submit to the project and verify the details)

A full record of all the new project uuids can be found in [this document](https://docs.google.com/document/d/1DLT0LThCifVVCl4FfZmcBV1g-o0pDkP24oCXsvEvGS8/edit#), but I have also modif

[2021-06-10 00:53] gabsie opened #348 "Publication citation and author list in project catalogue"
- [x] Replace the Author list expandable link with a down arrow -  in Project Catalogue
At the moment, we have an arrow which we put temporarily, but is more like navigating externally, instead of allowing to collapse the info on authors
Can we use a drop arrow like these in the Visual Framework?
https://stable.visual-framework.dev/components/vf-link-list/#vf-link-list--easyist/

- [x] Ensure no w

[2021-06-10 09:13] rays22 commented on #329
@MightyAx : I will try to match up the technology and organ terms used in the dataset tracking spreadsheet with the correct ontology terms for Ingest import. I will use your tables to add the mappings. I will get back to you with the results and any problematic lines in the table that we might need to leave blank.
- [x] Resolve [Organ Ontologies that cannot be found](https://docs.google.com/spread

[2021-06-10 09:54] ami-day commented on #342
An additional example:
https://contribute.data.humancellatlas.org/projects/detail?uuid=08b794a0-519c-4516-b184-c583746254c5

[2021-06-10 10:42] clairerye commented on #342
and this one [091cf39b-01bc-42e5-9437-f419a66c8a45](https://contribute.data.humancellatlas.org/projects/detail?uuid=091cf39b-01bc-42e5-9437-f419a66c8a45)

[2021-06-10 10:54] amnonkhen opened #349 "Updating metadata JSON via spreadsheet"

[2021-06-10 10:57] amnonkhen commented on #349
# Acceptance Criteria

## Scenario 1: Changing Accessions*
* Given a spreadsheet
  * with uuids
  * and a list of files with no accessions
* when the accessions is added to the spreadsheet
* then the spreadsheet can be uploaded keeping uuids consistent

## Scenario 2: ????
* Given ...
* when ...
* then ...

[2021-06-10 10:58] jacobwindsor opened #350 "Project catalogue - horizontal scrollbar showing when not needed"
The horizontal scrollbar appears whenever there is a vertical scrollbar. This is usually because of using `100vw` on `body` but I cannot find that to be the case.

A good approach to find this is to gradually delete elements from the DOM (using dev tools) until you find the culprit. I wasn't able to track it down as of yet and it is not very high priority

[2021-06-10 10:58] clairerye commented on #349
Target use case - https://app.zenhub.com/workspaces/dataset-wrangling-status-5f994cb88e0805001759d2e9/issues/ebi-ait/hca-ebi-wrangler-central/18

Latest spreadsheet: https://drive.google.com/open?id=1vk5e2yPk6plMnoor1JvcLxzxwUbTmTrs

and
https://app.zenhub.com/workspaces/dataset-wrangling-status-5f994cb88e0805001759d2e9/issues/ebi-ait/hca-ebi-wrangler-central/20

[2021-06-10 11:02] ami-day commented on #342
Same with this submission: I am able to get to the project page ok and it loads fine, but then when I click the submission to be able to make updates to the metadata, the metadata page won't load properly: https://contribute.data.humancellatlas.org/submissions/detail?uuid=d35d9af6-c532-4944-b520-3ec5ca369dc9&project=2d846095-8a33-4f3c-97d4-585bafac13b4

[2021-06-10 12:19] tburdett commented on #329
I wanted to clarify that as part of this ticket it is **not** a requirement to resolve all ontology mapping problems in the first pass - this is less urgent and we can create another task to solve this in the second round. A recommendation of how we might resolve them would be useful (sounds like you're zooming in on manual review of the source data?).

There is **a strong requirement** to make su

[2021-06-10 12:44] amnonkhen commented on #270
Closing. We will use cucumber in future testing.

[2021-06-10 12:44] #270 closed

[2021-06-10 13:47] rays22 commented on #329
@tburdett I am not sure if I understand your clarification.

I have already mapped the [single cell library construction](http://www.ebi.ac.uk/efo/EFO_0010183) technologies in this tab: <https://docs.google.com/spreadsheets/d/15imB5HErtY-wWaelnT_gxHRjWXyOQP6iagfPm0hU8sU/edit#gid=746177999>
I have also mapped the problematic text terms from the dataset tracking sheet organ column to ontology terms

[2021-06-10 14:53] yusra-haider opened #351 "Investigate issue in core pods in prod in evicted status, except one pod (in running)"
kubectl get pods | grep core                                                                                                                            ✔  10313 

ingest-core-78478464c9-2f9wl                            0/1     Evicted     0          21d
ingest-core-78478464c9-47grs                            0/1     Evicted     0          16d
ingest-core-78478464c9-6mhc2

[2021-06-10 14:53] #351 closed, assigned to yusra-haider

[2021-06-10 15:43] jacobwindsor opened #352 "undefined showing in catalogue authors"
![image.png](https://images.zenhubusercontent.com/5f8d5ed6657f5d56f6792bec/835b0bc3-5669-4bf8-8929-3d7466851c3e)

[2021-06-11 08:36] jacobwindsor commented on #348
Removing wranglers from contributors is related to [this PR](https://github.com/ebi-ait/hca-ebi-dev-team/pull/418). We can just use that script (after editing it) to update contributors. However, we need to fix the issue discussed there.

[2021-06-11 08:41] jacobwindsor commented on #348
@gabsie I'm not really sure what you mean with the link list. You mean just to change the arrow to the same one there or something more?

[2021-06-11 08:48] aaclan-ebi commented on #344
you could add a project in https://staging.contribute.data.humancellatlas.org/projects/adcb86a4-f685-440e-8c9a-b24ef4171012/project update cell count and that should be reflected in https://wwwdev.ebi.ac.uk/humancellatlas/project-catalogue/

Assigning to @rays22 to do some testing in staging, Thanks @rays22!

[2021-06-11 09:43] jacobwindsor commented on #348
We already use contributors to populate the list of authors not the authors of the publication

[2021-06-11 11:30] rays22 commented on #344
* I have updated the **cell count** for some of the projects on staging.
* The new cell count values **did show up** in the dev **project catalogue**.

[2021-06-11 12:27] rays22 commented on #342
An additional example: [88ec040b-8705-4f77-8f41-f81e57632f7d](https://contribute.data.humancellatlas.org/projects/detail?uuid=88ec040b-8705-4f77-8f41-f81e57632f7d)

[2021-06-11 17:37] rays22 commented on #329
I have updated the [Nearest Ontology Check](https://docs.google.com/spreadsheets/d/15imB5HErtY-wWaelnT_gxHRjWXyOQP6iagfPm0hU8sU/edit#gid=781850240) tab with the correct `text --> ontology term, ontology id` mappings.

[2021-06-15 08:28] aaclan-ebi commented on #344
Thanks for testing @rays22 . The changes were promoted to prod last 12th June. Moving this to Production pipeline.

[2021-06-15 11:08] ke4 opened #353 "Ontology related values are converted into a wrong URL"

[2021-06-15 11:47] rays22 commented on #353
I think showing the original field value of the abbreviated IRI (for example, `NCBITaxon:9606`) in Ingest is good enough and it is better than expanding the abbreviated IRI into an incorrect URL.
I am not sure if there was an intended feature in Ingest to expand the IRI to [http://purl.obolibrary.org/obo/NCBITaxon_9606](http://purl.obolibrary.org/obo/NCBITaxon_9606) or not.

[2021-06-15 14:36] amnonkhen opened #354 "author list touch up"

[2021-06-15 14:36] amnonkhen opened #355 ""loading..." whirly"
As a user I want to know that the page is loading so I don't get impatient and refresh again or leave.
@gabsie is there a specific style you would like here?

Required while searching

[2021-06-15 14:36] amnonkhen opened #356 "export search results to tsv"
As a user of the catalogue
I would like to export project search results in a csv format so that I can keep/modify/ add relevant additional info etc

check out - https://stackoverflow.com/questions/51487689/angular-5-how-to-export-data-to-csv-file

[2021-06-15 14:36] amnonkhen opened #357 "ontology search"

[2021-06-15 14:38] amnonkhen opened #358 "Direct download links - CGM, DCP, SCEA"

[2021-06-15 14:39] amnonkhen opened #359 "search improvement - cell type"

[2021-06-15 14:47] amnonkhen commented on #356
As a user of the catalogue
I would like to export project search results in a textual format (csv, json)

check out - https://stackoverflow.com/questions/51487689/angular-5-how-to-export-data-to-csv-file

[2021-06-15 14:56] amnonkhen opened #360 "suggest a project"
see https://docs.google.com/document/d/1fSIPU85oDj_Ee09zyyHegHJwwy66vN-cGgn12hJC1B4/edit

[2021-06-15 15:54] clairerye commented on #354
duplicat of #438 so closing

[2021-06-15 15:54] #354 closed, assigned to nobody

[2021-06-16 08:55] clairerye commented on #360
Form that alerts wranglers in some way when the form has completed and its contents so a wrangler can review it
contains:
Name
contact email address
DOI/URL
Optional Free text for additional comments

[2021-06-16 09:14] clairerye commented on #355
Have some reference scenarios to test

[2021-06-16 09:18] clairerye commented on #356
What should be included in the download. All fields from the project catalogue and the UUID as a first pass
.

[2021-06-16 09:19] gabsie commented on #355
hi there,

we just got something prepared in VF, but not available as code.
the guys from the other team might be using a component from material design...
it's basically a whirly loader icon, and possibly we add an overlay on the current page so you can't select/search etc
![loader.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/83a54f47-756d-4591-b276-83d2a0b45ffc)

I have att

[2021-06-16 09:22] clairerye commented on #355
thank you

[2021-06-16 09:26] clairerye commented on #360
possible dependency in #313

[2021-06-16 09:36] clairerye opened #361 "Improve analytics"
We currently have event tracking in google analytics which is useful to see how many people do what actions, but not the contents of the actions.
Do we need to add an additional event for the download your results feature?

We would like to track searches both search terms to see what is most popular and also the search results to see which projects come up most frequently. It would be great to ha

[2021-06-16 09:45] MightyAx commented on #360
Implementation Idea:
Unsecured Post/Get endpoint on ingest-core that puts the project in the database but not in the catalogue with a wrangler status that allows them to find it.

new project with just:

- a doi
- a corresponding contributor
- wranglingStatus: New
- inTheCatalogue: False

Something we discussed was using the uniqueness check on doi to reject doi's those already exist in ingest, wi

[2021-06-16 10:16] gabsie commented on #348
hi, @jacobwindsor

in this covid portal page, in the cross references tab, you can see how they use that down arrow.
for the Publication link, can we also use the external link icon they use, please?
let me know if questions..

https://www.covid19dataportal.org/sequences?crossReferencesOption=all
thanks!

Gabs

[2021-06-16 10:18] clairerye commented on #360
If we are collecting the persons name and email could we also add that into the notes section on the admin page? (this is a nice to have! not essential so happy for it to be out of scope for now.)

[2021-06-16 15:41] clairerye commented on #360
need to consider GDPR and terms and conditions for this

[2021-06-17 10:55] amnonkhen commented on #357
When searching for a broad term, show docs involving more specific ones.

For example:
 - search for "lower limb"
- should yield docs involving "left toe"

[2021-06-17 14:16] jacobwindsor commented on #347
Work for #360 can be combined with this work on the `add-nav` branch @MightyAx

[2021-06-17 14:26] jacobwindsor opened #362 "Re-consider code formatting for project catalogue and ingest-ui"
We have are using Prettier to format code for the catalogue. However, it formats angular html files strangely and is not consistent with TSConfig. Either we should configure prettier to format in a better style or use a different tool for formatting.

- [ ] current we use tslint which is depracted. We should. me to eslint - see guide in https://dev.to/gsarciotto/migrating-and-configuring-eslint-wi

[2021-06-17 14:55] gabsie commented on #360
Hi, @jacobwindsor and @MightyAx

Attached the suggested form for suggesting a project, I am only now doing the Thank you page, and will upload it here as well.
Please ask me questions. (Updated the file, after Claire's comment)

![Suggest a project.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/1ff7d882-7f49-4445-b025-db9682d28890)

https://www.figma.com/proto/Ajxve72idcWGOB07G

[2021-06-17 15:08] clairerye commented on #360
Can we have a tick box terms and conditions please - link is: https://www.ebi.ac.uk/data-protection/privacy-notice/human-cell-atlas-ingest-submission
maybe just above the send button? @gabsie

[2021-06-17 15:10] jacobwindsor opened #363 "Updating publicationsInfo does not behave as expected"
When updating `publicationsInfo` for a project if it already exists, and authors already exist on this object, instead of replacing the author values, it will append the new values to the existing list of authors. This was first found in [this PR](https://github.com/ebi-ait/hca-ebi-dev-team/pull/418).

[2021-06-17 15:32] gabsie commented on #360
Yes, just updated the image! Sorry
And here is the Thank you page as well.![Suggest a project-thanks.png]![Suggest a project-thanks.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/675a19d5-c35a-43a5-a32e-da80c683dc5e)

[2021-06-17 15:35] clairerye commented on #360
They look awesome, thank you!

[2021-06-17 15:54] MightyAx commented on #360
Ah, I don't think I understood what a Project URL is and why it's a good substitute for Publication DOI.
Is this so we can take pre-publication info?

[2021-06-17 16:27] ke4 opened #364 "[Project catalogue] Missing author name fails rendering the project"
Some projects does not have `name` property on the author object.
It could have `last` property that also contains name.

Currently this throws an exception that is being caught by the code, but the project won't appear on the screen.

[2021-06-18 08:11] clairerye commented on #360
I wanted to make it more flexible than simply a publication DOI, so people could use archive URLs, bioarchive URLs (which mostly but not always have a doi) their own website like the covid19 portal etc- lots of which was pre publication. Sounds like we need to change the wording or we perhaps need some examples after it to make that more obvious?

[2021-06-18 13:47] #214 closed

[2021-06-18 14:22] clairerye opened #365 "Visualisation of the contents of Project Catalogue"
As an HCA stakeholder I want a summary of the contents of the project catalogue so that identify trends, patterns, and outliers within HCA data

** Acceptance Criteria / Definition of Done **

- [ ] Total cell count, number of organs, number of projects
- [ ] Representation of organs by project and by cell count
- [ ] representation of technology by project and by cell count
- [ ] number of public

[2021-06-18 14:31] clairerye opened #366 "Visual summary of project catalogue contents"
As HCA stakeholder I want to quickly understand the contents of the HCA project catalogue so that identify trends, patterns, and outliers within HCA data.

** Acceptance Criteria / Definition of Done **

- [x] total number of projects, cell counts, organs
- [x] representation of organs by project and by cell count
- [x] representation of technology by project and by cell count
- [ ] number of publ

[2021-06-21 12:25] Wkt8 commented on #324
This affects the submission of this dataset: https://contribute.data.humancellatlas.org/projects/detail?uuid=dc1a41f6-9e09-42a6-959e-3be23db6da56

[2021-06-21 12:45] aaclan-ebi commented on #324
![Screenshot 2021-06-21 at 13 14 15](https://user-images.githubusercontent.com/31281398/122763976-dd9e5280-d296-11eb-97e0-29adb8a20ba5.png)

[2021-06-21 13:30] jacobwindsor opened #367 "Use JSON mapper in project catalogue"
Use something like [JSON Object Mapper](https://www.npmjs.com/package/json-object-mapper) in the projects-service of the project catalogue so that we lose some of the duplications and make this slightly more readable

[2021-06-21 13:33] jacobwindsor commented on #362
Ensure no relative paths in imports

[2021-06-21 15:06] gabsie commented on #334
@jacobwindsor - I think you wanted from me the last sentence, right?

"We’re sorry - we can’t find the page or file you requested.

It may have been removed, had its name changed, or be temporarily unavailable.

You might want to [go back to Homepage](url) and try navigating from there."

[2021-06-22 08:30] gabsie commented on #322
Hey @jacobwindsor and all,

If we get the VF pagination, I can't see at the moment, let's place it not stretching, left aligned, at the bottom of the table.

Gabs

like this?
![export.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/367412e7-4b4b-4925-a54d-05869a7702c5)

[2021-06-22 08:47] MightyAx commented on #360
I think it just means we can't automatically put it through the DOI Enrichment routine we use for the UI / Script Loading. But perhaps that wasn't ever a requirement.

[2021-06-22 09:21] gabsie commented on #356
hey people, @MightyAx @jacobwindsor

I have this as a link above the table for now.
Clicking should automatically download the file to one's computer. Let me know if questions and ignore the old contents within the table

gabs
![export](https://user-images.githubusercontent.com/19713125/122899315-a174fb80-d343-11eb-95ff-ca5f23a435f7.png)

[2021-06-23 09:10] amnonkhen commented on #366
@gabsie please review/suggest/beautify
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/a54e1c7a-6fc7-4b7e-8ac2-5ca6a5fd431a)

[2021-06-23 14:20] gabsie commented on #322
Hi, @jacobwindsor
Here is the screenshot of how they have done the paging on the other resource. and I think they ust be using the VF..
![Screenshot 2021-06-23 at 10.14.50.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/28092988-6a06-4ae2-b580-647b91ae1cd9)

[2021-06-23 15:30] MightyAx commented on #356
There's an open question whether the "Unique Key" (aka UUID) column should be moved to the last column. Currently it is the first column so get chosen in the numbers app as a header.

We can actually change the column ordering very easily if a decision is made on this at a later date.

[2021-06-24 11:47] aaclan-ebi opened #368 "Fix exporter "broken pipe" error"
This is another intermittent issue in the exporter which causes a submission to get stuck at Exporting state.

Please see error details in this ticket.
https://github.com/ebi-ait/hca-ebi-dev-team/issues/429

[2021-06-24 13:32] aaclan-ebi commented on #147
To support updating multiple metadata entities at once, we need to restrict that the set should be using the same schema version to make sure should have the same set of fields.

I've made some queries in our prod database and the schema versions are not very varied (no major version differences).

https://docs.google.com/document/d/1guMmgOOFT4Q-UKQ4OF9OJTgd8z52zQhRbBpmnsvnK0w/edit

We should be a

[2021-06-24 14:05] aaclan-ebi commented on #363
It looks like there are already affected data in prod. They should also be fixed (remove duplicates) when this issue is fixed.

[2021-06-24 14:11] aaclan-ebi commented on #363
The issue seems to be happening in the `domainObjectReader.merge` https://github.com/ebi-ait/ingest-core/blob/master/src/main/java/org/humancellatlas/ingest/patch/JsonPatcher.java#L33 which is an expected behavior of the DomainObjectReader class (from package org.springframework.data.rest.webmvc.json;):

[2021-06-24 14:12] aaclan-ebi commented on #363
We might want to try a different implementation for the PATCH endpoints if we want the behaviour to only apply the patch at the top-level attributes.

[2021-06-24 15:48] gabsie opened #369 "When datasets don't have Cell count - and are methods etc, think of a rule to set an appropriate label"
This is not for now, but to think about re: Catalogue after MVP

[2021-06-24 15:51] gabsie opened #370 "Think of a species per project in the catalogue - ability to filter by"
again not for MVP

[2021-06-24 15:53] gabsie opened #371 "Project page - with all links and metadata, etc"

[2021-06-25 15:33] gabsie commented on #360
hey @jacobwindsor

I entered my details but it deosn't allow me to submit, while on the surface everything should be correct (using a real DOI![Screenshot 2021-06-25 at 16.31.02.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/62f14b6e-02c0-46be-8c4c-7cc127b7c48f))

[2021-06-25 15:34] gabsie commented on #360
changed my email to not be all caps
worked.
but the all caps one was from my remembered info

[2021-06-25 16:02] gabsie opened #372 "Header of About page - changed + text changes"
hey

can we please get the header text on the About to be as it is on prod
I notice it is now changed on dev.
![Screenshot 2021-06-25 at 17.01.15.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/2f5de458-00e9-4722-a5a4-ef04ae03077c)

Gabs

[2021-06-25 16:03] gabsie commented on #372
I will also place some text changes for the page on this ticket here.

[2021-06-28 09:04] jacobwindsor commented on #372
Done the about page heading change. Leaving this open for more incoming changes

[2021-06-28 13:43] gabsie commented on #372
I have made the changes I think are relevant for now. @jacobwindsor @clairerye
https://docs.google.com/document/d/1rCRJB5AdOIT1UnLHOJWRXtR6Y2HOisms7WMoF8Di09g/edit?usp=sharing

(I will make this page shorter in the future, but for now this is good!)

[2021-06-28 14:08] clairerye commented on #372
LGTM

[2021-06-29 09:29] Wkt8 commented on #340
All the projects in the HCA Publication list are now in the Project Catalogue.

[2021-06-29 13:48] #148 closed

[2021-06-30 08:24] clairerye opened #373 "Backoffice management of suggest a project"
As wrangler I want to triage and include relevant suggestions from users so that the project catalogue can be as complete as possible with as little duplication of effort

** Acceptance Criteria / Definition of Done **

* Given the information stored in ingest (suggested by the user)
* When I come to evaluate the potential project
* Then I can easily find the submitted details, add additional deta

[2021-06-30 08:28] #365 closed, assigned to nobody

[2021-06-30 11:07] amnonkhen opened #374 "projects with no title in the catalogue"
The following projects show a "no title" error in the browser's console log:

- 4c1ec016-f459-4fd0-ad89-c6d7a14609df
- b1fd299e-a0e0-409c-9d03-55f8e6c1e74d
- a7d8a83c-a10c-4fa6-b60d-3b3ee4d02da2
- fe28e4dc-a735-4f51-ad8f-4991e6d826d0

[2021-06-30 14:12] ke4 opened #375 "Suggested project is not editable in Ingest UI"
Steps to reproduce:
1. Suggest a project in Project Catalogue
2. Go to Ingest UI and open that project
3. Click on the `Edit project`

Expected result:
The project details are displayed and they are editable.

Actual result:
Only `Loading project...` text appears and nothing else.

[2021-06-30 15:02] ke4 commented on #375
When we open a "Suggested project" in Ingest UI we get this error report in the JS console:

[code]

[2021-06-30 15:50] ke4 commented on #375
The other problem lies in the `project-form.component.ts` file:

[code]

We have 2 problems with this condition:
- As we are not persisting a content when we save the suggested project in the database the content will be `null`, so the or condition will throw an error. It is easy to fix with a parentheses around the last 2 conditions.
- We also have to persist a content for the project resource wi

[2021-07-01 11:13] clairerye opened #376 "DCP1 project updates to terra"
DCP1 projects were not exported/imported through ingest and the GCP staging area to terra, they were exported from the DSS via another GCP staging area to terra.
This means the data files for DCP1 projects do not exist in the staging area used for export/import to DCP2 and so updates for DCP1 projects do not currently make it to terra.

Options to solve this
- ~improve importer to not require data

[2021-07-02 14:37] aaclan-ebi commented on #349
Please note that I'm trying to work on implementation to support the general case.

* Given a spreadsheet that accurately represents the project in ingest
   * with UUIDs
   * and updated values
* when the spreadsheet is uploaded to Ingest
* update the entities with the relevant changes in the metadata JSON

The use case for updating accessions should be supported with the general case implementat

[2021-07-02 14:47] aaclan-ebi commented on #349
previous title: Simple Bulk Update Scenario - usecase 2 adding accessions to files

I replaced the title with the more generic one.

@clairerye @amnonkhen, FYI.

[2021-07-05 09:12] yusra-haider opened #377 "Investigate which dcp 1 projects are re-export-able"
The metadata documents for some of the dcp 1 datasets don't have the `dcpVersion` field set in the database which leads to errors when these datasets have to be re-exported.

The corresponding error log:

[code]

i.  find out the dcp 1 datasets that don't have this field populated

ii. set this field for those datasets, in the `biomaterial`, `process`, `file`, and `protocol` collections in the db

[2021-07-05 09:52] ke4 opened #378 "Suggested project not displaying properly in ingest UI"
When we open a "Suggested project" in Ingest UI we get this error report in the JS console:

[code]

[2021-07-06 13:50] ke4 opened #379 "Delete corrupt suggested projects from Ingest"
There are some earlier created suggested projects that their `content` filed is `null`.
In Production:
- https://api.ingest.archive.data.humancellatlas.org/projects/60daf50ec78d1b6cc5ca6025 (uuid=f6e5f841-4baa-4d39-b32e-9275b08d1340)
- https://api.ingest.archive.data.humancellatlas.org/projects/60dadc2fc78d1b6cc5ca5d52 (uuid=ea121f58-272d-40e5-90b1-a6539706338a)
- https://api.ingest.archive.data.h

[2021-07-06 14:19] ke4 commented on #379
Deleted all corrupt suggested projects from staging.

[2021-07-06 14:24] ke4 commented on #379
Deleted all corrupt suggested projects from production.

[2021-07-08 13:39] clairerye commented on #373
In discussion with @gabsie and @yusra-haider we talked about the following flow/situations
If valid DOI from the suggest a project form- check not in ingest, autofill project based on DOI
If DOI derivative - full DOI url, can we convert to valid DOI to do the above
If it is not recognised as a valid DOI - (likely publication link or GEO accession etc) then as part of the review process the wrangle

[2021-07-08 13:39] ESapenaVentura opened #380 "[BUG] Fix ontology recognition for BAM creation in ingest archiver"
In order to determine the flag to send to the BAM converter, the archiver is currently checking outdated ontologies in https://github.com/ebi-ait/ingest-archiver/blob/master/utils/protocols.py

The archiver is failing at the step of creating a DSP submission because it can't recognise the new ontologies/hierarchy.

[2021-07-08 14:40] clairerye opened #381 "Retiring the data tracker"

[2021-07-08 14:58] clairerye opened #382 "Add multiple projects from literature search"
As wrangler I want to add any new projects found in NXN.SE SINGLE CELL DATABASE (VALENTINE SVENSSON) so that they can be added to ingest as potential datasets to wrangle so that ingest (and the catalogue) are the source of all Single Cell projects

Periodical searches in Valentine’s db and adding new projects to ingest.
Change from current behaviour is that currently it is adding records to the tr

[2021-07-08 14:59] clairerye commented on #382
@ESapenaVentura can you check the acceptance criteria here please, are there other (or fewer) fields that are critical to be filled?

[2021-07-08 15:36] clairerye commented on #376
Discussed with Jeff and Drew from the Broad.
**Decision**
**Short term plan** - change the exporter to not export file descriptors/file metadata, test in dev before production
**Long term plan** - implement DCP2 updates spec but scope out some aspects, such as deletions. Timeframe on this tbd

**note:** for testing in dev - we need to export a project get import, delete the project from the stagin

[2021-07-08 15:45] ESapenaVentura commented on #382
With the DOI we shouldn't need the publication title! (That info is gathered automatically)

We are missing the organism here, that can also be extracted from valentines. Other than that, the fields seem fine to me, that's all we need to fill the project catalogue with!

As a note, as much as I'd love to automate organ & tech collection, I don't think it's possible in most cases with Valentine's d

[2021-07-08 16:03] clairerye commented on #382
Thanks @ESapenaVentura! 100% agree with DOI - sorry, I meant that it should be filled in ingest based on DOI and I think project description too, but I wasn't very clear.
I have updated the ticket based on your comments

[2021-07-09 08:37] gabsie commented on #373
Hey both and everyone
I came up with this idea for this scenario: comments welcome.
The other option might be to open in a new popup window.![DOI not from the start.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/ecd5d97e-bb43-4061-8234-1e024763f976)![DOI saving.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/97cbfafd-044e-4daa-8cc7-8b5534e0681c)

[2021-07-09 11:21] amnonkhen opened #383 "low scores in app browser performance tests"
App scores low in performance, accessibility and best practices.
Also, page is blocked from indexing.

![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/1a8d3b03-6feb-4322-84ea-a8cedef618fa)

[2021-07-09 13:30] aaclan-ebi commented on #376
Also noting here the issue on provenance fields that may be affecting other DCP1 datasets https://github.com/ebi-ait/hca-ebi-dev-team/issues/433#issuecomment-877187803

[2021-07-09 13:32] aaclan-ebi commented on #349
All necessary changes for this user story are here:
https://github.com/ebi-ait/ingest-client/pull/19/files
https://github.com/ebi-ait/ingest-broker/pull/15/files
https://github.com/ebi-ait/ingest-ui/pull/102

[2021-07-09 15:12] amnonkhen commented on #13
See [miro board](https://miro.com/app/board/o9J_l7MWiX0=/) for architecture.

![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/fffa623e-a3fa-48d7-a6c2-7e574e305f99)

[2021-07-12 08:43] ESapenaVentura commented on #380
PR: https://github.com/ebi-ait/ingest-archiver/pull/38

[2021-07-12 09:19] gabsie commented on #366
Hi, @amnonkhen!

Looks good. Can we please get rid of the heading at the top of the visualisations? We already have 3 instances where we have which page the user is on, and the rest of the pages just display the content on the pages.

What I can suggest is probably a sentence at the top. Will come up with suggestions :)
Gabs

[2021-07-12 13:25] ke4 opened #384 "Get projects by submissionEnvelope returns empty list although projects should exists for that submissionEnvelope"
Steps to reproduce:
1. Go to `https://api.ingest.archive.data.humancellatlas.org/projects/search/findByUuid?uuid=<project_UUID>`, for example: https://api.ingest.archive.data.humancellatlas.org/projects/search/findByUuid?uuid=c715cd2f-dc7c-44a6-9cd5-b6a6d9f075ae
2. Go to the `submissionEnvelopes` link from the result of the previous request's `_links` section.
3. Go to the `projects` link from the

[2021-07-13 08:49] aaclan-ebi opened #385 "Setup CI/CD for ingest-client"
GH repo: https://github.com/ebi-ait/ingest-client

[2021-07-13 10:30] clairerye commented on #366
This is great! - It loads rather strangely though - bits at a time that then move on the page as other bits load, can we changes this? Also is it possible to have the border extend so that the organs/technology fit rather than them being chopped as it makes it hard to read.

![image.png](https://images.zenhubusercontent.com/5e4d068a4ff78267228d27b4/cc66fc71-c926-44e2-8626-ebcd76d9ddc1)

[2021-07-13 10:37] clairerye opened #386 "project search by keywords"
As wrangler I want to find specific projects so that I can organise my work

Change the search to allow users to select partial or full word search with and/or logic on multiple search terms, and search across all fields in the metadata schema

** Acceptance Criteria / Definition of Done **

- [x] Given an identifier for a project - e.g. UUID, Accession (GEO/AE etc), DOI, publication link/title th

[2021-07-13 11:06] rays22 opened #387 "Show the 'project.ega_accessions' metadata field in Ingest UI."

[2021-07-13 11:10] rays22 commented on #387
I need to add EGA accessions for [a project in Ingest UI](https://github.com/ebi-ait/hca-ebi-wrangler-central/issues/315)
but the **EGA Study/Dataset Accession(s)** metadata field  (`project.ega_accessions`) is not shown in the `Project` tab.
The [project ebi-ait/hca-ebi-wrangler-central#315] is targeted to Release 8 (July 26th), so I need this fixed in time before the data handover deadline, so I

[2021-07-13 12:32] clairerye commented on #387
Thanks for making this ticket @rays22 we will discuss it at sprint planning tomorrow and get it done

[2021-07-13 13:31] clairerye opened #388 "triage statuses in back office admin"
As wrangler I want to track additional aspects about a project so that I can manage the workflow

Building on the admin page to add additional fields that need to be tracked

** Acceptance Criteria / Definition of Done **

Wrangler can input additional tracking information in the admin screen of the UI

[2021-07-13 15:10] clairerye opened #389 "Template for tracking during wrangling"
As wrangler I want to a template for notes so that I can track the progress of wrangling a dataset in ingest and not in Github

** Acceptance Criteria / Definition of Done **

A template that can be generated the captures the key wrangling events:

- Send initial instructions about contributing, including questionnaire and T&Cs
 - Receive project questionnaire
 - Assign the Primary Wrangler
 - Rec

[2021-07-14 09:01] amnonkhen opened #390 "improve ingest-core audit logging"
It is  currently difficult to understand what is going in ingest-core.
When we notice some problems in the operation of ingest-core such as:
- errors in the logs
- increased memory consumption
we have no way of investigating and figuring out which usage scenarios cause these problems.

We need to add more information to the log so that it includes:

- [ ] http access logs, i.e. originating ip, url

[2021-07-14 09:04] amnonkhen commented on #390
@jacobwindsor please review & revise as needed
@clairerye what do you think? please prioritise this

[2021-07-14 09:08] clairerye commented on #387
This should be added to the project tab below the other accessions and before the supplementary links, can we please add the dbGaP accession field at the same time too please.

[2021-07-14 13:49] amnonkhen commented on #386
[Full text search in mongo](https://docs.mongodb.com/manual/text-search/) can be used here.
It can be done on all textual fields or just on some.

It supports:
- searching for a list of strings in any order, e.g. `liver Teichmann`
- searching for a phrase, e.g. `"left lung"`

not sure about `liver` vs. `oliver`

[2021-07-15 12:19] jacobwindsor commented on #383
I actually get different results for this when running against prod.

![image.png](https://images.zenhubusercontent.com/5f8d5ed6657f5d56f6792bec/37db3c71-a963-454c-95d9-8d47fe4f054e)

I think in general we score pretty well for an angular app. It's hard to make the first contentful paint shorter when we're serving from an API. Anyway, here's a list of TODOs:

- [x] Increase cache TTL for static as

[2021-07-15 12:45] tburdett commented on #383
For search engine performance, before we embark on a complex process to update the EBI corporate site (and assuming we haven't already done this) I'd try registering the project catalogue with search.google.com. in conjunction with good keywords this has usually proved enough to give good results on other services (e.g. Biosamples)

[2021-07-15 13:46] jacobwindsor commented on #383
The catalogue has now been verified by Google. It should crawl it in a day or two

[2021-07-15 14:00] tburdett commented on #383
Very nice. Let's see if that gives us good enough results before we go much further with the EBI corporate site

[2021-07-16 09:11] aaclan-ebi commented on #13
**Bug**:  Some column headers missing

**Steps to replicate:**
1. Upload a test spreadsheet https://github.com/HumanCellAtlas/metadata-schema/blob/master/infrastructure_testing_files/current/dcp_integration_test_metadata_1_SS2_bundle.xlsx
2. Go to the project's view
3. Edit project and update 1 contributor to have a _Contributor role ontology_
4. Download spreadsheet

**Actual Behavior:**
In the P

[2021-07-16 12:13] clairerye commented on #383
Search phrases could include:
hca/human cell atlas and data/dataset/project/publications/catalogue/index
human single cell sequencing and data/dataset/project/publications/catalogue/index

not sure if anyone has any other thoughts?? @gabsie?

[2021-07-16 13:52] gabsie opened #391 "Project catalogue header background - use plain colour instead of the image"
Hi,

can we please just use the blue background colour we have placed as a stretching blue on the sides, as the colour for the background.

We are not allowed to use the hca parts of the logo in this way ,and until we have some imagery, we can just use the [plain blue colour.

Gabs

[2021-07-19 07:55] gabsie opened #392 "When registering a new project as a wrangler, a lot of fields with errors don't turn red"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to 'Register new project'
2. Provide a real DOI and click Next
3. Enter info here and there, click Register at the end
4. See a big error flag display at the top
5. Go back to see several field in red, fill them out, try Saving again
6. The invalid message at the top stays
7. You go back and see that e.g. Library prepar

[2021-07-19 08:48] jacobwindsor commented on #383
[Here](https://search.google.com/u/1/search-console?resource_id=https%3A%2F%2Fwww.ebi.ac.uk%2Fhumancellatlas%2Fproject-catalogue%2F) is the google dashboard for the crawling status

[2021-07-19 08:51] tburdett commented on #383
Hey @jacobwindsor , I'd be interested in having a nosey around this dashboard but I don't have access. What's the sharing policy for this, do I need to be added to a team somewhere or can you just grant me permissions?

[2021-07-19 08:57] jacobwindsor commented on #383
I have added you (@tburdett), @gabsie, and @clairerye. If anyone else would like permissions please just ping me.

I thought anyone would be able to see it since it's not confidential I think.

[2021-07-19 11:13] gabsie commented on #225
Hey, everyone

I think generally I am fine if you make it so there's just one form, and depending on the occasion - we show or hide fields.

I think a couple of points need addressing - the ones I noticed when going through the forms this morning. I am not sure if there are more fields that need attention? Let's list them in this ticket.

1. When in 'Edit' view for a wrangler, there's an option fo

[2021-07-19 12:48] jacobwindsor opened #393 "project search field weights"
Add weights to search fields. E.g. accessions are higher weighted than description

[2021-07-19 12:49] jacobwindsor commented on #386
I have moved the UUID searching into #393 since it is not so simple but not too difficult. Just to get the other features into prod more quickly

[2021-07-20 08:35] clairerye commented on #386
waiting on #313

[2021-07-20 08:53] amnonkhen opened #394 "review/approve metadata PRs"
[PR 1388](HumanCellAtlas/metadata-schema#1388)
[PR 1396](HumanCellAtlas/metadata-schema#1396)

[2021-07-20 09:25] aaclan-ebi opened #395 "Remove storing of original spreadsheet and spreadsheet with updates"
Since we now support downloading spreadsheets from data in Ingest, we could remove storing of original and succeeding spreadsheets submitted in ingest.

[2021-07-20 09:26] aaclan-ebi commented on #395
we need to check with @clairerye if we don't want to store the spreadsheets being uploaded by the user

[2021-07-20 15:31] amnonkhen opened #396 ""service unavailable" during dcp demo ( stale token )"
during the spreadsheet export/import demo on 20/7 there were "service unavailable" messages in the ui. Let's investigate and see how this can be avoided in the future.

<details>
  <summary>Click to see the log</summary>

<pre>
ingest-broker-77d5c97464-qlx5s ingest-broker [app.py:1455 -        log_exception() ] 2021-07-20 15:20:02,763 - broker_app - ERROR - Exception on /submissions/60ec310d-5f5c-

[2021-07-21 14:38] rays22 commented on #387
@jacobwindsor
* I have tested the new feature on dev. I can confirm that I can add [EGA accessions](https://data.humancellatlas.org/metadata/dictionary/project/project/#ega_accessions) to projects in Ingest UI.
    * I have noticed that I get a JSON validation error after adding EGA accessions:

should NOT have additional properties at root of document

* I could not find a new [`project.dbgap_acc

[2021-07-22 08:52] yusra-haider opened #397 "All Projects page: Search text box doesn't get cleared when the cross / cancel button is clicked"

[2021-07-22 10:09] amnonkhen opened #398 "Search projects by uuid by UUID"

[2021-07-22 10:42] clairerye opened #399 "Fix the sequencing runs of HeartSingleCellsAndNucleiSeq"
This ticket is to track the development work needed to update the sequencing runs with incorrect bam files for the HeartSingleCellsAndNucleiSeq dataset and work needed to produce an SOP on how to do it for other submissions in ebi-ait/hca-ebi-wrangler-central/issues#250

**Acceptance Criteria:**
1. Raw fastq files should be available for HeartSingleCellsAndNucleiSeq in ENA
2. SOP how to update the

[2021-07-22 10:43] clairerye commented on #399
blocking https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-wrangler-central/385

[2021-07-22 15:30] clairerye opened #400 "metadata schema estimated_cell_count PR"
[estimated_cell_count PR
](https://github.com/HumanCellAtlas/metadata-schema/pull/1388)
- [x] merge PR to staging
- [x] point ingest staging at the new schema
- [ ] link the UI cell count field to the new schema field
- [x] create a test dataset that has the estimated_cell_count
- [x] Make a PR in the dataset test repo with the test dataset
- [x] Notify 6 reviewers on slack that test data is avail

[2021-07-22 17:51] ke4 commented on #396
There is another bug.
Here is the log:
<details>
  <summary>Click to see the log</summary>

<pre>
[_internal.py:225 -                 _log() ] 2021-07-22 17:41:21,166 - werkzeug - INFO - 10.40.1.113 - - [22/Jul/2021 17:41:21] "^[[35m^[[1mGET /submissions/60ec310d-5f5c-4f09-996b-7555e1bb7d12/spreadsheet HTTP/1.1^[[0m" 500 -
[app.py:1455 -        log_exception() ] 2021-07-22 17:41:21,312 - broker_ap

[2021-07-23 16:37] ke4 commented on #13
Integration test subtask - I uploaded a work in progress version here:
https://github.com/ebi-ait/ingest-broker/pull/17
Hopefully the test flow is understandable.

Missing/TODO:
- We need to add JWT token for ingest API
- ingest_api_url would be better to come from an environment variable. Currently it is hardcoded to use the dev environment

[2021-07-23 16:55] ke4 commented on #13
Sub-task: couldn't import spreadsheets with module worksheets like collection protocol - reagents see 10x test spreadsheet

In the downloaded spreadsheet the `collection protocol` has not got a UUID column. Also missing other properties if you compare the UI with the worksheet. The problem could lies around there, but I would need time to debug this more.
The code that generates the input JSON for

[2021-07-23 17:51] aaclan-ebi commented on #13
@ke4 and I tried to pair on fixing the collection protocol issue:

https://github.com/ebi-ait/ingest-client/pull/24

We haven't fully tested this yet with the broker.

[2021-07-25 20:50] clairerye opened #401 "Metadata schema - official_hca_publication"
[official_hca_publication](https://github.com/HumanCellAtlas/metadata-schema/pull/1396/files) PR

- [x] Decide on whether we want the ? given there are no other ? in the schema (unless I am missing things) Hannes is ok either way, I think we decide, I wanted to wait for @ESapenaVentura
- [x] Get missing approvals
- [x] merge PR to staging
- [ ] point ingest staging at the new schema
- [ ] link the

[2021-07-26 14:02] amnonkhen opened #402 "write docs for test data generation"

[2021-07-27 08:46] amnonkhen opened #403 "revive "original spreadsheet" endpoint"
in ingest-broker.
PR: ebi-ait/ingest-broker#19

[2021-07-27 09:00] aaclan-ebi opened #404 "Metadata/Data Validation error links in View Submission page bug"
Reported by Will Sullivan https://embl-ebi-ait.slack.com/archives/C014HMTV0FN/p1627329034020700

**Steps:**
1. Go to an invalid submission's page
2. In the metadata/data validation report found next to the Project title
![Screenshot 2021-07-27 at 09.58.47.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/8476d096-493f-4517-be28-3a217d1017d1)
3. Click `1 file missing` link

**Expec

[2021-07-27 13:31] amnonkhen opened #405 "ingest ui error messages: distinguish data or service problem"
As a wrangler/contributor
when there is an error in ingest ui
I would like to understand whether the error is due to a problem with my project or a problem with ingest service.

[2021-07-27 20:06] amnonkhen opened #406 "ingest-ui error messages in google analytics"
GA integration to ingest-ui: https://github.com/ebi-ait/ingest-ui/blob/master/src/index.html#L9

[2021-07-28 09:23] gabsie opened #407 "Improve mobile experience for HCA project catalogue - table views and action buttons"
The project catalogue has not really been designed/optimised for mobile views. Updates in the design to address these issues, especially the table views.

Google search console has reported:
- Clickable elements too close together
- Content wider than screen

User story: As a user browsing the HCA project catalogue on mobile devices, I want to get as full an experience as I do on desktop.

Gabs

[2021-07-28 09:25] #360 closed, assigned to jacobwindsor, MightyAx

[2021-07-28 09:25] #391 closed, assigned to jacobwindsor

[2021-07-28 09:26] #347 closed, assigned to nobody

[2021-07-28 09:26] #372 closed, assigned to jacobwindsor

[2021-07-28 09:30] gabsie opened #408 "Revisit the design for New project and Edit Project, with a view to the two users and VF implementation"

[2021-07-28 11:19] aaclan-ebi commented on #399
The fastq files are in:
1. the HeartSingleCellsAndNucleiSeq hca-util upload area in AWS S3 -- incurs cost to our AWS Account billing
2. the Google Storage bucket `gs://broad-dsp-monster-hca-prod-ebi-storage/prod/ad98d3cd-26fb-4ee3-99c9-8a2ab085e737/data/`

[2021-07-28 13:15] ESapenaVentura opened #409 "Make it possible to add a dbGAP accession for a project in the project registration form"
As a data submitter (wrangler or contributor) I want to add a dbGAP accession for a project, so that people can find the data for my project in the correct resource (Project Catalogue or DCP) by its accession.

** Acceptance Criteria / Definition of Done **

* Given there is an option to accept dbGAP accessions when registering a project
* When I enter a dbGap accession
* Then the interface accept

[2021-07-28 15:29] aaclan-ebi commented on #399
@yusra-haider and I chatted about the tasks needed to get this done:

_This is better viewed in Github_

- [x] 1. DEV - Download and Upload the fastq files to ENA's upload area  (~3TB)
        1. Download the files from the google storage bucket to an NFS directory in the EBI cluster - this will take some time but much faster than uploading (@yusra-haider is looking into triggering this asap)

[2021-07-29 08:01] aaclan-ebi commented on #399
From trying to run the _sequencing run submitter_ script, I found out that there's an issue in the script submitting multiple sequencing runs. There was only 1 sequencing run (with 3 fastq files) submitted. I am still uncertain if this is not supported in ENA or there's something wrong with the script in passing seq runs XML files in the POST request to ENA API. The script could be modified to do

[2021-07-29 10:02] jacobwindsor commented on #225
Testing procedure:

- [x] Can navigate to the register project page when clicking the button on the home page
- [x] Can navigate to the register project page when clicking the button on the all projects page
- [x] Can create a project by using the autofill DOI feature
- [x] Can load a previously cached project that had not been finished (if you find a bug here, please check if it exists in prod to

[2021-07-29 10:12] Wkt8 commented on #225
I'll pick this up - will try and do it today, but if not might wait until tomorrow!

[2021-07-29 14:16] jacobwindsor commented on #396
Tested locally on recently restored DB from prod. UUIDs are submission UUIDs. All were test by changing the project short name and one of the biomaterial names

- ee32b5da-696f-4f65-bf0e-83be66e88122
  - [x] Downloads with updates from UI
  - [x] Updates with updates from spreadsheet
  - No errors in broker
- db5fa8f5-5069-4aa0-a5f9-edc61f9120fd
  - [x] Downloads
  -  **Uploads but does not update

[2021-07-30 11:48] Wkt8 commented on #225
Have completed the testing, and made a couple observations! Apart from that it all looks great.

1. 'Restore project' could be made to be slightly more noticeable (I almost missed it!)

2. For the Publication DOI (New Project - start), it might be a good idea to add
an example text for the doi prompt. E.g. 0.1038/s41577-021-00564-5

This is because some people might enter https://doi.org/10.1038/s

[2021-07-30 12:22] jacobwindsor commented on #225
Thanks @Wkt8 !

Since these comments are not directly related to this work, I will leave this for @gabsie and get this in production

[2021-07-31 20:51] ke4 commented on #403
@amnonkhen Could you add some description please why we need to 'revive' this odd feature?
Thanks a lot

[2021-08-02 08:45] ESapenaVentura commented on #402
https://github.com/HumanCellAtlas/schema-test-data/pull/14

[2021-08-02 10:48] clairerye commented on #409
hang on, we do have this as part of the schema, it just needs to be added in Ingest UI I believe.
See - https://github.com/HumanCellAtlas/metadata-schema/pull/1366#pullrequestreview-613159160

[2021-08-02 10:54] ESapenaVentura commented on #409
Yep, you're right

I don't know how I missed this, my bad

[2021-08-02 10:56] clairerye commented on #409
its not you, we missed this dev work at the time

[2021-08-02 10:58] clairerye commented on #387
Used as part of release 8

[2021-08-02 10:58] #379 closed, assigned to ke4

[2021-08-02 10:58] #375 closed, assigned to ke4

[2021-08-02 10:59] #342 closed

[2021-08-02 10:59] #173 closed

[2021-08-02 11:00] #344 closed, assigned to jacobwindsor, MightyAx, rays22, aaclan-ebi

[2021-08-02 11:00] #339 closed

[2021-08-02 11:01] clairerye commented on #210
using this in release 7 and 8

[2021-08-02 11:01] #210 closed

[2021-08-02 11:01] #284 closed

[2021-08-02 11:01] #333 closed

[2021-08-02 11:01] #197 closed

[2021-08-02 11:05] clairerye commented on #160
have been using this successfully for multiple releases

[2021-08-02 11:06] #336 closed

[2021-08-02 11:06] #378 closed, assigned to ke4

[2021-08-02 11:23] ESapenaVentura opened #410 "Include DbGap accessions in the project catalogue and project registration form"
We currently have an accession field that we are not including either in the project registration form, nor in the catalogue:

- `project.dbgap_accessions`

We need to include this accession field for datasets that contain dbGaP accessions

[2021-08-02 13:27] ESapenaVentura opened #411 "Delete the develop and integration branches in the metadata-schema repository"
As per the new process (docs WIP), the develop and integration branches of the metadata-schema repository are not needed anymore.

We should delete them to avoid any problem in the future.

**Acceptance criteria**
- [x] Delete the `develop` branch of the metadata-schema repository
- [x] Delete the `integration` branch of the metadata-schema repository

[2021-08-03 06:36] aaclan-ebi commented on #399
The _sequencing run submitter_ script should now be able to handle adding/modifying multiple sequencing runs. There was an issue in the RUN XML. We should only be submitting one RUN XML with multiple RUN's XML clauses:
https://github.com/ebi-ait/ingest-archiver/pull/40

[2021-08-03 08:42] amnonkhen opened #412 "fix failing integration test on gitlab"

[2021-08-03 09:09] aaclan-ebi commented on #399
Upon testing, it looks like updating a run's files is not supported in ENA:

[code]

I filed a ticket to ENA to request if the ability to update files of a run can be supported ticket #522253

[2021-08-03 10:30] aaclan-ebi commented on #399
Problem: Some bam files with incorrect headers were submitted in the past.

Two options to correct this:

1. Update the runs to have the correct bam files.

    Pros:
    - The sequencing run accessions are preserved.

    Cons:
    - There was an issue in running the latest version bam converter before. We still have to figure out how to fix that before we can proceed with running the bam convers

[2021-08-03 12:03] clairerye commented on #386
Exact match search is needed.
Here are some examples that we would like to work more effectively.
searching for "Single-cell transcriptome profiling of the vaginal wall in women with severe anterior vaginal prolapse" in ingest UI gives 533 results (from a total of 541 possible)
Only 1 project in ingest exactly matches that and we would expect to see that one project at the top of the search list.

[2021-08-03 12:23] jacobwindsor commented on #412
This is fixed. I have also increased the number of available runners to 2 by utilising the gitlab runner running with docker.

However, I have found the ingest-kube-deployment-gitlab-runner EC2 instance and am not sure what it is. I cannot get access to it since I cannot find the SSH key. I think we could use this as another runner, increasing our available runners even more so and making our test

[2021-08-04 07:51] aaclan-ebi commented on #399
Option 2 was decided in the [email thread](https://app.zenhub.com/files/299258791/60762364-7591-4576-9764-b85abf6ce337/download).

@ESapenaVentura  suggested the next set of actions in this order (to not leave an empty study):
1. Submit the new runs and retrieve the accessions in ingest
2. Delete the bam runs

I've updated the checklist of actions above to reflect this.

[2021-08-04 08:21] aaclan-ebi commented on #399
Upon checking the submission to make sure all processes contain the sequencing experiment accession, I found out that there were some manual changes done in the past which made some data in Ingest inconsistent with what's in the archives.

Past events:
1. The submission was archived using Ingest Archiver (which uses DSP)
2. The submission was exported to DCP.
3. There were changes in the linking o

[2021-08-04 09:16] aaclan-ebi commented on #399
mapping of sequencing experiments to samples based from [TSV](https://app.zenhub.com/files/299258791/d0b40890-4ee9-4d2a-b2d7-45dcc877215b/download) which was downloaded from [ENA](https://www.ebi.ac.uk/ena/browser/view/PRJEB39602?show=reads):

[code]

List of cell suspensions with no accessions:
[code]

|uuid|biomaterial_id|biomaterial_name|biomaterial_description|biosamples_accession|experiment_a

[2021-08-04 09:20] aaclan-ebi commented on #399
List of sequencing run entities that need to be suppressed(killed?):
<details>
  <summary>count: 256</summary>

[code]
</details>

[2021-08-04 13:35] aaclan-ebi commented on #399
The 12 cell suspensions and 12 assay processes are now updated with their accessions.

by running the following snippets:
[code]

[2021-08-04 13:41] aaclan-ebi commented on #399
I'm going to regenerate all bundle manifests by triggering the submission for archiving again (Valid-> Submitted -> Processing -> Archiving) and manually set it back to Archived.

Deleting existing bundle manifests by running:
[code]

After deleting the manifests, I regenerated the bundle manifests by submitting and checking the first checkbox (_Submit to the EMBL-EBI public archives and get acces

[2021-08-04 14:42] jacobwindsor commented on #396
I found another bug! This one I think is to do with the UI

If you upload a change the spreadsheet, and reupload you get an error with console message ERR_UPLOAD_FILE_CHANGED.

[2021-08-04 14:44] jacobwindsor opened #413 "Fix ERR_UPLOAD_FILE_CHANGED"
When uploading a spreadsheet via the UI for a submission, if you upload a spreadsheet, change it quickly, and re-upload, before getting a response from broker, you will receive an error. This is a bug in the UI and not the broker.

Relates to #396

[2021-08-05 08:31] gabsie commented on #408
Here is where I am working on the project form fields and flow:
https://docs.google.com/drawings/d/1uai8JZmZ4n_EcLK4OGfmkgh0ciYySc4gqqVZd7FKtw0/edit?usp=sharing

Gabs

[2021-08-05 12:39] jacobwindsor commented on #13
@ke4 @aaclan-ebi  I have ran the above steps using broker and client hash `
99816a2` (PR [24](https://github.com/ebi-ait/ingest-client/pull/24)). No errors seen in broker and seems to work as expected.

[2021-08-05 12:57] gabsie commented on #225
Hey @jacobwindsor

I entered as a wrangler in prod and saw the Contributor doesn't have a name, we must have lost it along the way.

Gabs

[2021-08-05 13:07] ke4 commented on #399
The script to remove `insdc_run_accessions` could be found under the https://github.com/ebi-ait/ingest-archiver repository in the `ena/clear_run_accession_from_files.py` file.

[2021-08-05 13:15] jacobwindsor commented on #225
Fixed in https://github.com/ebi-ait/ingest-ui/pull/113

[2021-08-06 13:14] ke4 commented on #399
We successfully executed the `submit_10x_fastq_files.py`script with Alegria and created the new runs in ENA and also updated the metadata of the files with the run accessions.
<details>
  <summary>Here is receipt file from ENA:</summary>

[code]
</details>

[2021-08-06 13:15] ke4 commented on #399
<details>
  <summary>Here is the report file that the submitter script generated:
</summary>

[code]
</details>

[2021-08-06 13:17] #410 closed, assigned to nobody

[2021-08-06 13:41] #21 closed

[2021-08-06 13:41] #22 closed

[2021-08-06 13:42] #18 closed

[2021-08-06 13:42] #17 closed

[2021-08-06 13:42] #14 closed

[2021-08-06 13:42] #20 closed

[2021-08-06 13:43] #2 closed

[2021-08-06 13:44] #3 closed

[2021-08-06 13:44] #4 closed

[2021-08-06 14:49] yusra-haider commented on #225
moved the contributor name to be the top field in the form:

PR: https://github.com/ebi-ait/ingest-ui/pull/114
Screenshot of project creation form -- contributors tab

![image.png](https://images.zenhubusercontent.com/5fa15836bb6093b67034928a/4209875f-b619-4273-a3d4-dc33e2fa8ce7)

[2021-08-06 14:52] clairerye commented on #225
awesome, thank you!!

[2021-08-06 15:33] ke4 commented on #399
Sent an email to datasubs@ebi.ac.uk to ask to suppress the unneeded sequencing runs mentioned in this comment: https://github.com/ebi-ait/dcp-ingest-central/issues/399#issuecomment-892504239

If that would not work, then we should go over this form to submit our request: https://www.ebi.ac.uk/ena/browser/support

[2021-08-06 18:00] ke4 commented on #399
The email is not a viable route to create a support ticket for ENA. We should go through the web form:  https://www.ebi.ac.uk/ena/browser/support
We could do it on Monday morning.

[2021-08-09 09:01] ke4 commented on #399
I filled in the ENA request form with the help of @clairerye (thanks).
Here is their confirmation email:

Dear Colleague,

The ENA Helpdesk has received your query regarding:
	[ena-data-status] karoly@ebi.ac.uk

This has created a ticket in our helpdesk system and been assigned an ID of [ENA DATA STATUS #**523526**]. The issue will be routed to the most appropriate member of our team.

If there is

[2021-08-09 09:50] clairerye commented on #399
@aaclan-ebi and @ke4  As part of this ticket, can we document the process  - [SOP in the wrangler docs ](https://ebi-ait.github.io/hca-ebi-wrangler-central/SOPs/archiving_SOP.html)is probably best - we have used to do this (and where the scripts are etc) in case we need to repeat it for additional new datasets before we fully automate.
We should also consider what is needed to improve this and aut

[2021-08-09 12:25] Wkt8 commented on #402
Added the changes suggested, and have merged!

[2021-08-09 12:25] #402 closed, assigned to ESapenaVentura, Wkt8

[2021-08-09 13:41] ke4 commented on #399
I had a discussion with Dipayan and he checked ENA's DB and confirmed that our newly submitted sequencing runs are already in PUBLIC status in the DB. We need to wait up to 48 hours to be available in the ENA browser.

[2021-08-10 12:27] clairerye commented on #400
@ESapenaVentura I think quite a lot of this is now done. Are we waiting on acknowledgement of test data?

[2021-08-10 13:14] ESapenaVentura commented on #400
Yep - I have ticked the proper boxes, thanks for tagging me

The schema test PR is here: https://github.com/HumanCellAtlas/schema-test-data/pull/13

It's missing a couple of approvals, should we ping people on slack?

[2021-08-10 13:45] clairerye commented on #400
thank you, yes, I reckon we should

[2021-08-11 09:07] gabsie opened #414 "Do bulk updates on the Peng dataset"
As a wrangler I want to update my dataset so that it has the right accessions.

Make sure that we can update the Peng dataset with the new accessions for runs.
This is also part of the [test plan](https://docs.google.com/spreadsheets/d/1hf6k7EUw5_l3mZEHVMi-iRZTRtCFyTDS1rOcIXNHBpo/edit?usp=sharing).

[2021-08-11 09:28] gabsie commented on #413
maybe @gabsie or a wrangler can try this as well on prod and see if possible to reproduce. @gabsie to try first and get in touch with wrangler.

[2021-08-11 11:59] gabsie commented on #408
Just an update here. I am planning on separating the questionnaire bit of the project so that it's clear.
I am also thinking this questionnaire bit can be used for both the project catalogue and the ingest website, with a few changes.
Ideally

[2021-08-11 13:41] aaclan-ebi opened #415 "Could not flatten metadata whose ontology property only requires text"
**Actual Behavior:**

UI displays the error page because the broker api is returning HTTP 500
![Screenshot 2021-08-11 at 21.33.16.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/aff43c77-8ef4-49dc-a2c2-f5caecee8573)

Broker has error in logs:
[code]

**Steps to replicate:**
1. Restore prod db in the local database
2. Download spreadsheet of the Heart dataset in the production
ht

[2021-08-12 10:10] aaclan-ebi commented on #13
Test plan for bulk updates: https://docs.google.com/spreadsheets/d/1hf6k7EUw5_l3mZEHVMi-iRZTRtCFyTDS1rOcIXNHBpo/edit#gid=0

[2021-08-12 12:00] gabsie opened #416 "Accessions in the submissions/Accessions tab are the old ones, not the updated ones"

[2021-08-13 08:27] gabsie opened #417 "Metadata spreadsheet downloadable from ingest for data consumer to contain the linking between biomaterials"
Note: this ticket has been changed to just include the task about the linking between biomaterials. The original description and epic is here.

As a data consumer, I want to be able to access and download the metadata spreadsheet for a project with as complete metadata as possible, with the ability to trace which file corresponds to which cell suspension, specimen and donor.

Note: for the data co

[2021-08-13 08:29] gabsie commented on #414
Make sure that we can update the Peng dataset with the new accessions for runs.
This is also part of the [test plan](https://docs.google.com/spreadsheets/d/1hf6k7EUw5_l3mZEHVMi-iRZTRtCFyTDS1rOcIXNHBpo/edit?usp=sharing).

[2021-08-13 13:40] ESapenaVentura commented on #400
Project schema v 14.3.0 is officially in master - What should be the next steps?

@aaclan-ebi mentioned we need to update the form in the UI

Tagging @clairerye @gabsie @amnonkhen

[2021-08-13 14:47] aaclan-ebi commented on #399
Please see SOP here (still in PR): https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/401
https://github.com/ebi-ait/hca-ebi-wrangler-central/blob/task/updating-ena-runs-sop/docs/SOPs/update_ena_runs_SOP.md

[2021-08-17 08:31] #307 closed

[2021-08-17 09:50] clairerye opened #418 "EGA/dbGaP accessions to show correctly in the project catalogue"
As wrangler I want to the EGA accessions to show up correctly in the project catalogue so that we can link to the data

Since updating the schema to support EGA and dbGaP accessions we no longer use the supplementary links field to capture these.
We need to change the catalogue to use the correct accession field and also migrate the current projects (or support both?)

** Acceptance Criteria / Def

[2021-08-17 10:47] ESapenaVentura commented on #13
Tested this feature - kept metadata changes

[2021-08-19 10:00] ESapenaVentura commented on #349
I have found a small issue with this feature - Whenever you upload a spreadsheet to update the submission, if there is an error in the spreadsheet (e.g. missing required field `official_hca_publication`), it throws that error but doesn't update and doesn't say anything about any error updating

[2021-08-19 10:50] ESapenaVentura commented on #349
I have tested the feature:
- Addition of fields and modification of existing metadata works as intended *
   - *Aside from adding a list object, which adds it as a string instead of as an array
- Deletion of metadata does not work, if I delete the field completely (3 types of fields) ingest does not detect it on upload

All details here: https://docs.google.com/spreadsheets/d/1hf6k7EUw5_l3mZEHVMi-

[2021-08-19 14:29] gabsie opened #419 "What kind of reports do we need from ingest - stakeholder needs for key pieces of info on projects"
As a stakeholder I want to be able to access key pieces of information, so that I can compile reports for our own metrics, for funders and outside stakeholders.

There are some key pieces of information we do need to be able to track on a (semi) regular basis for reporting, including

-  Operational metrics - so how many projects, cells we have ingested over time
-  How much ingest costs to run wi

[2021-08-23 09:21] ami-day opened #420 "Ingest not loading submission errors"
I have tried to upload a spreadsheet and check whether it validates. The validation appears to work and errors are found. However when I try to view the errors, the page says "Loading..." forever. The issue is the same for 2 submissions I am working on:
https://staging.contribute.data.humancellatlas.org/submissions/detail?uuid=75216c31-d710-48c3-9ceb-b73afcbf61c2
and
https://staging.contribute.dat

[2021-08-24 09:00] ami-day opened #421 "Project stuck in "exporting" status"
I have a project stuck in "exporting" status in ingest production. It should have been exported by now: https://contribute.data.humancellatlas.org/projects/detail?uuid=1ea27d07-056b-488e-8b72-b6de5f9774ec&tab=upload

[2021-08-25 09:53] gabsie commented on #399
Maybe @yusra-haider can review some of the requested changes?

[2021-08-25 11:50] jacobwindsor commented on #421
I have restarted the exporter in the hope that this works. It seems the failure was due to a polling timeout with this errror `"polling.TimeoutException: (\u003cqueue.Queue object at 0x7f4791a7ea50\u003e, None)\n","stream":"stdout","time":"2021-08-23T19:41:24.431197065Z"}`.

I will monitor and check that it's working. I see something has started exporting since i restrated the exporter but cannot

[2021-08-26 07:42] ESapenaVentura opened #422 "Delete develop and integration branches in metadata-schema repository"
**Acceptance criteria**:
- [ ] `develop` and `integration` branches are deleted in the metadata schema repository
- [ ] (Optional) All branches are revised and stalled branches are deleted (Check PRs to confirm, may be snyk updates)

[2021-08-26 07:43] #422 closed, assigned to nobody

[2021-08-26 08:29] gabsie opened #423 "Wrangling from backlog in backoffice - ability to filter by priority"
As a data wrangler who wishes to take another project to wrangle, I want to be able to filter by priority, and select a project with priority number 1.

Acceptance Criteria / Definition of Done

- Given I am in backoffice logged as a wrangler, I can see a filter for priority
- When I filter by priority 1
- Then I get relevant results and can choose a project to wrangle next.

Tasks:

- [ ]  UI des

[2021-08-26 13:13] ami-day commented on #420
Just checked this and it's fixed.

[2021-08-26 13:13] #420 closed, assigned to jacobwindsor, ami-day

[2021-08-26 22:27] gabsie opened #424 "Introduce a field for HCA publication in the project form, and link to the metadata schema"
As a data wrangler I want to be able to select whether a project is a HCA publication or not, so that we can prioritise these projects better, visualise that information in the DCP ingest backoffice and the HCA DCP browser.

** Acceptance Criteria / Definition of Done **

* Given I am entering details about a project
* When I see a field for HCA publication, I wish to select whether it is or not,

[2021-08-26 22:32] gabsie opened #425 "Make sure the field for cell count in the project form is linked to the metadata schema"
As a data wrangler I want to be able to enter the cell count for a project, so that we can prioritise these projects better, visualise that information in the DCP ingest backoffice and the HCA DCP browser.

Acceptance Criteria / Definition of Done

Given I am entering details about a project
When I see a field for cell count and enter the number
Then this information will be saved in ingest, as we

[2021-08-26 22:39] gabsie opened #426 "Triaging from backoffice - ability to filter by different criteria and get relevant results and perform triaging"
As a data wrangler, I want to be able to filter by criteria such as the below, so that I can get results of eligible projects for the HCA, which I can further triage and assign priority to, and they're ready for wrangling.

** Acceptance Criteria / Definition of Done **

* Given I am in backoffice logged as a wrangler, I can see filters which are relevant to eligibility criteria and contrubute to

[2021-08-26 22:43] gabsie opened #427 "Admin area for Projects - introduce a field for Release"
As a data wrangler, I wish to note which release a Dataset is attached to. This is so we can do reporting and also see quickly how many datasets are planned for this release.

**Tasks**
- [x] Add release to project in core
- [x] Add release edit field to admin area (UI)
- [x] Add release drop-down to filters in all projects page (UI)
- [x] Add release column to table in all projects page and make

[2021-08-27 14:32] amnonkhen opened #428 "webin auth prototype"

[2021-08-27 14:33] amnonkhen commented on #428
@yusra-haider @gabsie please fill this ticket with substance

[2021-08-27 18:20] amnonkhen commented on #423
@gabsie,  few quesstions:

- [ ] do you mean that the sorting be only on the displayed page? or do you want it to reset the paging?
- [ ] Do you want a new "priority column" in the table? or just a priority filter field in the filter row?
- [ ] Do you want to change the default sort from descending update date to sort by wrangling priority?

[2021-08-31 08:49] amnonkhen commented on #421
Ideas for research:
Is problem reproduced by:

- [ ] recreate same project on dev
- [ ] recreate same project on prod
- [ ] anything else???

[2021-08-31 10:00] jacobwindsor commented on #418
https://github.com/ebi-ait/projects-index/pull/74

[2021-08-31 10:00] jacobwindsor commented on #409
https://github.com/ebi-ait/ingest-ui/pull/117

[2021-08-31 10:06] jacobwindsor commented on #404
@ami-day to test in staging

[2021-08-31 10:17] ESapenaVentura opened #429 "Create new processes + update linkings for submission 96e500d8-11e9-4d25-a2e5-817e0628199f"
Context + some info here https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-wrangler-central/416

- [x] Create 10 processes to link specimens with cell suspensions
- [x] Update linking between specimens and cell suspensions
- [x] Have a wrangler (Preferrably Will) look at the linkings
- [x] Export the submission

[2021-08-31 10:54] ofanobilbao opened #430 "JSON Validation Error message on Projects added to Ingest on 27th August 2021"
When you click on "View Project" for a Project where "Last Updated" is 27th August 2021, when the project opens, you get an error message that says "JSON Validation Error. Should NOT have additional properties at root of document".

![Screenshot 2021-08-31 at 10.59.17.png](https://images.zenhubusercontent.com/5b6c1d07134f1f42006dc89f/4de0da55-85a8-4bc0-a5ff-f3713b596710)

This does not happen when

[2021-08-31 12:24] ke4 opened #431 "Requesting Ingest API's root with a valid token results 401"
When we send an API request to Ingest API root with a valid JWT token we get an Authentication error response (401).
Example URL: https://api.ingest.dev.archive.data.humancellatlas.org

Expected results:

1. With no auth header -> get response from the root endpoint with JSON payload
2. With valid JWT token in the request header -> get response from the root endpoint with JSON payload
3. With inva

[2021-08-31 16:30] amnonkhen opened #432 "project accession data migration"
This was requested by the Components on the DCP Demo session of 31/8/2021

The motivation is that accession changes done "the old way" require a dedicated property per accession and a re-indexing of the database.

Person to engage from the components would be Hannes.

*Tasks / Questions/ Prerequisites*
- [ ] implement schema change: e.g. accession module in the schema
- [ ] which projects need to

[2021-08-31 16:42] yusra-haider commented on #399
I've made some changes / added comments to the SOP https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/401. If everything looks good, we should be able to merge this soon

Also, this SOP cant be merged unless this PR https://github.com/ebi-ait/ingest-archiver/pull/40 gets merged

cc: @gabsie @amnonkhen

[2021-09-01 09:23] ofanobilbao commented on #430
I have linked this ticket that Gabs created, as after conversation with Enrique, it looks like this issue should be resolved once that other issues is dealt with.

[2021-09-02 10:14] ke4 commented on #399
I merged  https://github.com/ebi-ait/ingest-archiver/pull/40 to dev and also to master. In fact accidentally the PR was set to merge to master first. When I realised it later I rebased dev by master. So everything looks good. Just waiting for GitLab to do the build.

[2021-09-02 10:30] ke4 commented on #415
I tested the fix in dev and we don't have `Service unavailable` error anymore, but we still need to do a small fix as the `||` are still added into the cell's value if there is no value after them.
I attached a screenshoot from the spreadsheet.

![Screenshot 2021-09-02 at 11.26.59.png](https://images.zenhubusercontent.com/5f2957fd448645a503a32777/73eb0067-aeff-4305-933e-c1bacf122ee2)

[2021-09-02 12:37] ESapenaVentura opened #433 "[Metadata-schema] Create PR for accessions.json"
Context: https://github.com/HumanCellAtlas/metadata-schema/issues/1408

[2021-09-02 13:25] amnonkhen opened #434 "integration test stuck for an hour"
See in https://gitlab.ebi.ac.uk/hca/ingest-integration-tests/-/jobs/551587

From the log:

It shows this message
[code]

then repeats the following for an hour until failure:

[code]

[2021-09-03 09:25] ke4 commented on #415
Fixes:
- https://github.com/ebi-ait/ingest-client/commit/6249cbc52c18ceae91f0649d2fa7297a8ef60970
- https://github.com/ebi-ait/ingest-client/commit/c95e0794ae08e3d394229216cc8e0d6946531ba6

Tested it by the above mentioned project in production and I was able to download a spreadsheet without the service unavailable error and the spreadsheet looked fine.

[2021-09-03 14:49] ami-day commented on #421
I am looking into this
link to project: https://contribute.data.humancellatlas.org/projects/detail?uuid=1ea27d07-056b-488e-8b72-b6de5f9774ec

[2021-09-06 08:48] ofanobilbao commented on #421
Ami wrote on Friday 03/09/2021: "So now when I try to upload the spreadsheet again for this submission, I get a weird error I don't understand: https://contribute.data.humancellatlas.org/submissions/detail?uuid=7e4cbf7d-aa00-446e-a1cd-52bc1c21fdc9"

[2021-09-06 10:56] Wkt8 opened #435 "Validating biomaterials are linked to upstream biomaterials in ingest"
As a **wrangler**,
I want to be able to validate that my cell suspensions are linked to upstream biomaterials with species information
so that CGMs display properly in the browser.

There are multiple paths which are covered in the slack conversation below, but the generally agreed method is to do this by creating ingest-graph-validator validation rules

** Acceptance Criteria / Definition of Done

[2021-09-06 11:02] tburdett commented on #435
See also: https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-wrangler-central/420

These projects each demonstrate problems in the browser due to missing links as described above; once this user story is complete, we would expect to be able to detect these projects as being in error during submission

[2021-09-06 12:57] Wkt8 commented on #424
official_hca_publication is a required field, that at the moment we cannot change in the UI.
This means that for some projects and submissions, we cannot export them because we have no way of adding the official_hca_publication information (we cannot update project data by updates).
So we want the ability to - in the project.publications tab of ingest UI - to change / select whether the project is

[2021-09-06 13:39] Wkt8 commented on #404
Tested with errors on biomaterial, protocol and data tabs. Works as expected.

[2021-09-06 14:08] Wkt8 commented on #409
Have tested and spoken to Jacob - when registering a new project / editing an existing project - there are options to enter dbGAP accessions. This gets carried through to the Project Catalogue.

Have also tested that adding the accession in the UI carries over to the metadata schema and spreadsheet. Looks good!

[2021-09-06 14:21] aaclan-ebi opened #436 "Ingest integration test should use the schema-test-data test spreadsheet and data files"
It would be nice to use the official test data we provide to DCP downstream for our integration tests.

Test spreadsheet: https://github.com/HumanCellAtlas/schema-test-data/blob/master/Schema_Test_Data.xlsx

Additional changes:
1. Need to fix the spreadsheet in the schema-test-data repo to contain the new publication field: official_hca_publication
2. Test projects should not appear in the project

[2021-09-06 14:36] aaclan-ebi commented on #436
@ESapenaVentura do you store the test data files in a hca-util upload area? Could you paste here the upload area uuid? Thanks!

[2021-09-07 08:43] ESapenaVentura commented on #434
@aaclan-ebi and @ke4 investigated this.

Issue is:
- Dev branch --> schema dev
- Schema update pushed a required field that was not reflected in the integration test spreadsheet

Outcomes:
- Integration test spreadsheet updated for now
- Decided to go for integration test from spreadsheet in schema-test-data (Always updated). That will be done later, for now using schema repo.

[2021-09-07 08:51] ESapenaVentura commented on #13
### AI

@gabsie to create a removal ticket
@ke4 and @aaclan-ebi to work on integration test/rest of the items
@Wkt8 and @ESapenaVentura to look at SOP

[2021-09-07 11:45] gabsie commented on #409
Great stuff

[2021-09-07 12:03] aaclan-ebi commented on #434
Notes:

1. dev integration test - it couldn’t download the test spreadsheet from the metadata-schema repo’s develop branch anymore. The tests download from the link: https://raw.githubusercontent.com/HumanCellAtlas/metadata-schema/develop/infrastructure_testing_files/current/dcp_integration_test_metadata_1_SS2_bundle.xlsx

Fix: point the test to staging branch and redeployed ingest-core in dev to

[2021-09-07 13:11] gabsie opened #437 "Bulk updates - removal of values for metadata"
This is a ticket linked to ticket 13 - Bulk updates.
This ticket only applies to being able to remove information from the project metadata.

Enrique's scenarios - https://docs.google.com/spreadsheets/d/1hf6k7EUw5_l3mZEHVMi-iRZTRtCFyTDS1rOcIXNHBpo/edit#gid=0

[2021-09-07 13:44] aaclan-ebi opened #438 "Integration test for Bulk Updates"

[2021-09-07 13:46] aaclan-ebi opened #439 "Bulk Updates - Fix test case "Removal of field""
Fix failing test case:
https://docs.google.com/spreadsheets/d/1hf6k7EUw5_l3mZEHVMi-iRZTRtCFyTDS1rOcIXNHBpo/edit#gid=0

@gabsie this is the known bug of bulk updates about the removal of fields

[2021-09-07 13:58] aaclan-ebi commented on #439
closing as this is duplicate of #437

[2021-09-07 13:58] #439 closed, assigned to nobody

[2021-09-07 13:59] aaclan-ebi commented on #437
Fix failing test case:
https://docs.google.com/spreadsheets/d/1hf6k7EUw5_l3mZEHVMi-iRZTRtCFyTDS1rOcIXNHBpo/edit#gid=0

[2021-09-07 14:02] aaclan-ebi commented on #13
Remaining tasks to be filed in specific tickets:
1. Bulk updates - removal of values for metadata #437
2. Integration test for Bulk Updates #438

[2021-09-07 15:11] #434 closed, assigned to nobody

[2021-09-07 15:11] #403 closed, assigned to amnonkhen, aaclan-ebi

[2021-09-07 15:11] #396 closed, assigned to ke4

[2021-09-07 15:12] #404 closed, assigned to jacobwindsor

[2021-09-07 15:12] #415 closed, assigned to aaclan-ebi

[2021-09-07 15:14] #394 closed, assigned to amnonkhen

[2021-09-07 15:14] #401 closed, assigned to ESapenaVentura

[2021-09-07 15:18] aaclan-ebi commented on #401
Closing this as the project metadata's new version has been released to prod. But, there are unchecked tasks in the task checklist. I believe these will be captured in the operations/wrangling tasks as we submit new datasets or update existing datasets to use the new project schema version.

[2021-09-07 15:19] aaclan-ebi commented on #400
The work to update the UI is captured here: https://github.com/ebi-ait/dcp-ingest-central/issues/425

[2021-09-07 15:19] #400 closed, assigned to ESapenaVentura, Wkt8

[2021-09-07 15:20] aaclan-ebi commented on #399
The scripts and SOP are merged to master, closing this ticket.

[2021-09-07 15:20] #399 closed, assigned to aaclan-ebi, yusra-haider, Wkt8

[2021-09-08 09:28] gabsie commented on #426
Examples of the different kinds of filters we wish to introduce in backoffice, and how this can work:
![Screenshot 2021-08-25 at 15.35.37.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/5eb5ae2f-9e63-451a-8fb2-30c9527846ef)![Screenshot 2021-08-25 at 15.34.12.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/ce89d2c7-96dd-46f2-a9aa-c2fe043b8357)

[2021-09-08 10:14] gabsie opened #440 "Sorting in the search results - what types"
As [role/persona] I want to [goal] so that [value]

** Acceptance Criteria / Definition of Done **

* Given [assumption]
* When [action]
* Then [outcome]

[2021-09-08 10:32] Wkt8 commented on #13
Picking up test scenarios and looking at the SOP again.

[2021-09-08 10:33] amnonkhen commented on #424
assigning to @aaclan-ebi  because @jacobwindsor is on Ops

[2021-09-08 11:39] aaclan-ebi commented on #13
Dev notes:

While developing this feature, @ke4 and I made the decision to prioritise the functionality and to scope out the generation of header rows and ensuring the order is the same as the generated spreadsheet:

![Screenshot 2021-09-08 at 12 10 25](https://user-images.githubusercontent.com/31281398/132501093-79943882-88af-4e88-a876-2a1910bc8d99.png)

I believe we haven't rewritten the code fo

[2021-09-08 14:33] jacobwindsor commented on #430
https://github.com/ebi-ait/ingest-ui/pull/118

[2021-09-08 14:33] jacobwindsor commented on #424
https://github.com/ebi-ait/ingest-ui/pull/118

[2021-09-08 17:12] aaclan-ebi commented on #425
From what I understand, what we want here is that when a user updates a "cell count" field in the Ingest UI, this would appear as the `estimated_cell_count` property in the project metadata JSON that we are submitting to the HCA DCP browser.

The implementation would involve the following tasks:

1. Update existing projects to move the current `cellCount` field value to the `estimated_cell_count`

[2021-09-08 21:20] amnonkhen commented on #386
The scenario Claire described on Aug 3 looks like "any keyword" query, which is the default of mongo text index.
I believe this should be changed to an "all keyword" query.
The questions are:
- [ ] Do we only allow "all keywords" queries?
- [ ] Do we let the user choose between "any keyword", "all keywords", "exact match"?

@gabsie what do you think?

[2021-09-09 08:44] amnonkhen commented on #425
related to ebi-ait/dcp-ingest-central#432 - this one is  about accession, but it explains the principal of migrating project data to a newer schema.

[2021-09-09 08:44] ke4 commented on #438
PR could be find here: https://github.com/ebi-ait/ingest-integration-tests/pull/8

[2021-09-09 08:45] ke4 commented on #438
@amnonkhen said he would review the PR today

[2021-09-09 08:52] aaclan-ebi commented on #425
Thanks @amnonkhen , i'll work on how to migrate the existing projects to use the latest schema version and update their cell count property.

[2021-09-09 13:34] Wkt8 commented on #414
This is now complete. See https://contribute.data.humancellatlas.org/submissions/detail?uuid=8f44d9bb-527c-4d1d-b259-ee9ac62e11b6&project=b176d756-62d8-4933-83a4-8b026380262f

There were two submissions made to Peng's dataset. The first was exported. The second is in the 'archived' state. This is the one which has been updated with the new run accessions.

We are currently waiting for Peng to give

[2021-09-09 15:30] Wkt8 commented on #13
Summary of testing:
- removing a field directly. This does not work. I could not remove values from a single cell, or remove values from a column of cells (it would not update when uploading the update spreadsheet) and no error message was tracked. This would be a very useful feature, and is probably highest priority. (https://github.com/ebi-ait/dcp-ingest-central/issues/437)
- file's filename can

[2021-09-09 16:31] ke4 opened #441 "Create a sequence diagram for a sample submission to the BioSamples archive from the Ingest app"
Create a sequence diagram based on the already written code: https://github.com/ebi-ait/covid-excel-utils/blob/d211dd46394a30163521eacd8f98ee27c70cc62e/cli.py

The purpose is to be able to assess the effort required to implement BioStudies and ENA submissions.

[2021-09-10 08:35] Wkt8 commented on #426
Amnon is starting work on this. Gabsie planning to do some design work on this today (which will not stop work).

[2021-09-10 08:36] Wkt8 commented on #382
Meeting with wkt8 to discuss today.

[2021-09-10 08:36] gabsie commented on #382
hey guys - is it possible for me to see this and see how it works?  :) let me know if this will distract your meeting. @yusra-haider @Wkt8

[2021-09-10 08:45] amnonkhen opened #442 "file's filename cannot be edited"
Per @Wkt8 's testing for the import/export feature:

file's filename cannot be edited. This should be a ticket for a new feature. However, it is my understanding that no error message occurs when changing the file's filename via spreadsheet. If it does not take too long, a task for showing an error message should be prioritised. Otherwise low priority until we have evidence of a direct project bei

[2021-09-10 09:04] aaclan-ebi commented on #425
I worked on a script to migrate projects with cell count in Ingest - will have it ready for PR today.

The latest project schema version is **15.0.0** however, this is a breaking change as all projects with publications will need to be updated with boolean value for `official_hca_publication`.

The schema version **14.3.0** is the one that introduced the cell count field. It should be safe to migr

[2021-09-10 10:37] aaclan-ebi commented on #425
Per discussion with @amnonkhen ,
1. We should do a run-through of the migration first in the dev/staging environment to see how the core will handle the exporting of many submission envelopes.
2. It would be nice to track the last modified timestamp and user of the metadata update (check if this can be easily done)
3. Include the steps/tasks listed ebi-ait/dcp-ingest-central#432  in the migration

[2021-09-10 12:54] jacobwindsor opened #443 "Automate population of publicationsInfo and "Published in DCP""
**Background**

The `publicationsInfo` field was added to the project metadata for use in the project catalogue so that we can add information about e.g. a publications journal title. The wrangling status "Published in DCP" was added so that the catalogue could filter by those in the DCP. These fields were populated by a script that looked up the information from euro PMC and azul, repectively. Th

[2021-09-10 13:07] jacobwindsor commented on #424
Testing steps:

- Create a project
- Add three contributors:
  - For the first one, tick corrresponding contributor
  - for the second, tick and then untick corresponding contributor
  - for the third, never touch the corresponding contributor box
- Add three publications:
  - For the first one, tick the HCA official publication box
  - For the second one, tick the HCA official publication box and

[2021-09-10 13:21] amnonkhen opened #444 "slack notification about updates by Prabhat in integration tests repo"
See ![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/8a67000b-2c8c-44b9-a677-5c0a76a6d723)

This might be related to some automation Prabhat created. We should change it to some service user.

[2021-09-10 15:48] aaclan-ebi commented on #425
There are 9 projects which couldn't be updated due to the following error:

[code]

I need to investigate this.

[2021-09-10 18:34] theathorn commented on #429
[Project details](https://data.humancellatlas.org/explore/projects/d3446f0c-30f3-4a12-b7c3-6af877c7bb2d?catalog=dcp9).

[2021-09-13 08:36] amnonkhen commented on #430
@ami-day to verify

[2021-09-13 08:37] amnonkhen commented on #438
@ke4 to move to Prod today

[2021-09-13 09:20] aaclan-ebi commented on #425
Update for today:
- PR created for update script last friday
- 9 projects can't be updated and I need to invest core error further, but will prioritise ingest-ui and project catalogue
- detailed list of tasks needed for this work
- Setting up a meeting today with @gabsie to discuss the migration and related changes to this ticket

Listing the questions/tasks from ebi-ait/dcp-ingest-central#432

Al

[2021-09-13 09:25] ke4 commented on #441
Sequence diagram for brokering from Ingest to BioSamples archive: https://app.diagrams.net/?libs=general;uml#G1snjESpcfqqfXc9M66r4H9_zFhGJAFCh8

[2021-09-13 10:27] aaclan-ebi opened #445 "Migrate existing projects to use latest project metadata schema version 15.0.0"
Track the work needed for migration of project metadata of all existing projects in Ingest to use the latest project schema version: update the `describedBy` to `15.0.0` version and update the ff fields

1. **estimated_cell_count** - optional property introduced introduced in `14.3.0`, source the value from existing `cellCount `(outside project metadata) in the project

2. **official_hca_publicati

[2021-09-13 10:34] aaclan-ebi opened #446 "Project catalogue should read the estimated_cell_count from project metadata"
As a project catalogue user, I want to see the project cell count sourced from project metadata's estimated_cell_count

** Acceptance Criteria / Definition of Done **

* Given a project metadata with a cell count
* When I update the estimated_cell_count property in the project form in the Ingest UI
* Then I should be able to see the cell count updated in the project catalogue

[2021-09-13 10:42] aaclan-ebi commented on #445
@Wkt8 /@ESapenaVentura  Do you have a list of projects which are considered official HCA publications? Could you list them here? Thanks!

[2021-09-13 10:45] aaclan-ebi commented on #425
I'm moving all the migration work needed for cell count to ebi-ait/dcp-ingest-central#445 .

[2021-09-13 10:50] ESapenaVentura commented on #445
@aaclan-ebi the dataset tracking sheet has an official_hca_publication field!

[2021-09-13 10:51] ESapenaVentura commented on #445
is called `hca_pub`

[2021-09-13 11:00] aaclan-ebi commented on #445
Ah, cool, Thanks @ESapenaVentura !

[2021-09-13 12:37] ke4 opened #447 "Integration test for archiving from Ingest to BioSamples archive"
Implement an integration test to archive samples from Ingest to BioSamples archive.
- It needs to use the BioSamples test environment (wwwdev)
- It needs to test the direct archiving approach from Ingest to BioSamples and not via DSP

Test cases:
- [ ] Test a successful sample(s) submission from Ingest to BSD
- [ ] Test when BSD archive's service is down (mock a 500 response from BSD)

[2021-09-13 12:37] ke4 opened #448 "Integration test for archiving from Ingest to BioStudies archive"
Implement an integration test to archive samples from Ingest to BioStudies archive.

It needs to use the BioStudies test environment (wwwdev)
It needs to test the direct archiving approach from Ingest to BioStudies and not via DSP
Test cases:

- [ ] Test a successful sample(s) submission from Ingest to BioStudies
- [ ] Test when BioStudies archive's service is down (mock a 500 response from BioStu

[2021-09-13 13:58] ami-day commented on #424
Hi @jacobwindsor this seems to be working fine based on the above testing steps, see: https://staging.contribute.data.humancellatlas.org/projects/detail?uuid=f59fd331-b73c-47a8-b1f7-daeb44a3e642&tab=project The only thing I would point out is that rather than the corresponding contributor or publication status being shown as false, or no, the field name is not shown at all in the cases where the t

[2021-09-13 13:59] jacobwindsor commented on #424
Thanks @ami-day That is the desired behaviour

[2021-09-13 17:32] aaclan-ebi commented on #445
For this task, I need to do some testing in the dev environment to predict how long exporting will take given 100 submission envelopes.

@amnonkhen @gabsie if it's proven to take too long to export the project metadata changes given the current behaviour of the exporter and it's not acceptable, we would need to do some changes to optimise the exporter. I just want to note that this ticket may be a

[2021-09-14 08:21] ESapenaVentura opened #874 "Is dataset questionnaire form too long?"
**Description of the issue**:
As a contributor, I would like to contribute my data to the HCA. I have filled the dataset questionnaire form, where I have been already ask if my data can be openly released at several levels. Filling out the T&C makes me feel like I am duplicating work.

[Dataset questionnaire](https://forms.gle/KFYna7zGdQvwya8b8)

**Acceptance criteria**:
- [ ] The Dataset Question

[2021-09-14 08:30] gabsie opened #449 "UX design for the filters in backoffice (ticket )"
Uploading this as a start, and for comments.![Projects - Filters 1.0.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/741da07f-1af7-44d6-b62d-8f96d2654ac3)

[2021-09-14 08:31] gabsie opened #450 "UX design for the filters in backoffice (for ticket 426 )"
Uploading this as a start, and for comments
![Projects - Filter Wrangler list - expanded.png](https://images.zenhubusercontent.com/5b18f77c348b7966b4345c29/7a31377f-81cf-4489-b089-7c748b24abbb)

[2021-09-14 08:41] Wkt8 commented on #386
Possibly being demo'd today. @jacobwindsor and @amnonkhen to discuss progress

[2021-09-14 08:48] Wkt8 commented on #450
@Wkt8 @ofanobilbao to have a look and comment

[2021-09-14 08:54] aaclan-ebi commented on #425
I created PR for UI changes yesterday. I'll apply the review comments today.

[2021-09-14 08:55] aaclan-ebi commented on #445
I will do testing in dev env to predict exporter performance for 100 submissions today.

[2021-09-14 09:18] Wkt8 commented on #13
tagging @ami-day for reference

[2021-09-14 09:22] Wkt8 commented on #437
~@ami-day is blocked on a dataset until this is complete (https://app.zenhub.com/workspaces/operations-5fa2d8f2df78bb000f7fb2b5/issues/ebi-ait/hca-ebi-wrangler-central/418)~
Due to the update below ami actually isn't blocked and has resubmitted!

[2021-09-14 10:18] Wkt8 commented on #450
From a UI perspective:
Questions:
- Do you have a screenshot of what it looks like after clicking on 'close filters'?
- Maybe have a 'search' button, so that it only searches after you have set your separate search terms in each category?
- Is there any specific reason the 'Species' isn't on the same row as the 'HCA publication' and 'Cell count'?
- We will have to be picky about what columns we sh

[2021-09-14 10:49] Wkt8 commented on #437
Regarding this: It actually seems like we can partially remove some project metadata via bulk updates.
Fields without ontology fields (e.g. BioSample accessions, Genotype) can be removed and the entity cycles to draft and valid
Fields which are required / have ontology fields (e.g. donor_organism.is_living, age) cannot be removed and the entity does not cycle to draft
Project metadata can be updat

[2021-09-14 10:49] Wkt8 commented on #13
Removing a field directly partially works: see (https://github.com/ebi-ait/dcp-ingest-central/issues/437)

[2021-09-14 16:00] gabsie opened #451 "Matrices to be available in Catalogue"

[2021-09-14 16:09] aaclan-ebi commented on #445
Slack thread for testing project metadata migration with DCP downstream : https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1631635383071300

[2021-09-15 08:52] amnonkhen opened #452 "ingest ui occasionally blocked by Elixir"
During the last few weeks ingest-ui suffered a problem with login using Elixir.

Problem scenario

1. go to ingest ui home page
2. click login
3. instead of logging in, it take the user to some elixir screen that says "already registered"

See screenshot:
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/aeac1b2c-d40f-4e12-92d4-fa45a11476a0)

see also [background on slack]

[2021-09-15 08:53] amnonkhen opened #453 "Ingest ui occasionally blocked by Elixir"
During the last few weeks ingest-ui suffered a problem with login using Elixir.
Last time it happened was during the DCP Demo of 14/92021.

**Problem Scenario**

1. go to ingest ui home page
2. click login
3. instead of logging in, it take the user to some elixir screen that says "already registered"

See screenshot:
![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/aeac1b

[2021-09-15 14:13] aaclan-ebi commented on #425
Merged PR, deployed to dev and staging:
![Screenshot 2021-09-15 at 15.12.43.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/d1951d36-059e-43bf-8294-1b70365627ed)

[2021-09-15 15:05] aaclan-ebi opened #454 "Investigate why files became invalid after file metadata update"
Affected dataset: Lung_Fibroblasts

https://contribute.data.humancellatlas.org/submissions/detail?uuid=d8bcfa5a-d8a7-4dd0-8953-3c3bafdbf87e&project=b4a7d12f-6c2f-40a3-9e35-9756997857e3

Check if it also happens with other older submissions.

[2021-09-15 16:08] aaclan-ebi commented on #454
The file metadata entities should have the following information. However, the files in this submission don't have this info and the validator is trying to request file validation again. The file validation request is failing and even if it succeeds the file validation will fail because we have deleted the file in Ingest already.

[code]

We need to check if this also happens with older submission

[2021-09-15 16:51] aaclan-ebi commented on #446
The cell count changes were deployed to dev env which points to Ingest staging env.

![Screenshot 2021-09-15 at 17.50.39.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/e50be135-7b15-4480-a968-a57ce1904502)

[2021-09-15 17:07] aaclan-ebi commented on #425
Hi @Wkt8 , this should be ready for wrangler testing and can be tested alongside the project catalogue changes ebi-ait/dcp-ingest-central#446.

For the test plan, I imagine test cases & expected behaviour will be:
1. **Create a project** - the project metadata created should have estimated_cell_count property with value the same as what is set in the UI form. The project catalogue should display t

[2021-09-15 17:11] aaclan-ebi commented on #425
screenshot:
![Screenshot 2021-09-14 at 09.00.14.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/1ac1773e-718b-40ed-9dc2-8c034a377d26)

[2021-09-15 17:22] aaclan-ebi opened #455 "Bulk updates should preserve metadata schema versions"
**Steps to replicate:**
1. Create a project via API with an older version of the project schema. The current latest version of the project metadata schema is 15.0.0. Pick a version older than that. Upload a submission for that project.

or

Pick an existing submission linked to a project with an older version.

2. Download spreadsheet of a submission.
3. Update the project metadata in the spreadsh

[2021-09-15 17:29] aaclan-ebi commented on #452
Duplicate of ebi-ait/dcp-ingest-central#453 Retaining that as that contains more details.

[2021-09-15 17:29] #452 closed, assigned to nobody

[2021-09-15 20:33] ke4 commented on #447
After some investigation I decided to implement this test in the ingest-integrations-test repository instead of the ingest-archiver.

[2021-09-16 08:27] #318 closed

[2021-09-16 08:27] #317 closed

[2021-09-16 10:13] yusra-haider commented on #382
PR for the script: https://github.com/ebi-ait/hca-ebi-dev-team/pull/445

PR for updated SOP: https://github.com/ebi-ait/hca-ebi-wrangler-central/pull/444

[2021-09-16 15:10] amnonkhen opened #456 "ingest ui analytics"
record user interaction with ingest ui

- [ ] user counts
- [ ] interaction, engagement
- [ ] drop off rates
- [ ] acquisition
- [ ] errors
- [ ] ui events - search usage, common keywords and filters, clicking api links
- [ ] project lifecycle events - submission, spreadsheet upload, etc.

Pay attention to:
- dev/prod separation - currently only prod is recorded. [dev and staging are filtered](htt

[2021-09-16 15:27] gabsie opened #457 "Cellxgene link per project as an additional field in the form"
a separate URL or field per visualisation portal

[2021-09-17 11:02] jacobwindsor opened #458 "Publications being added to cell lines"
Due to the new `official_hca_publication` field and the fact that it is always required AND the fact that cell line has publications, any cell lines are invalid because they have a publication with only the `official_hca_publication` field.

[2021-09-17 11:41] ami-day commented on #458
assigning myself to test fixes

[2021-09-17 13:31] ami-day opened #459 "Errors uploading spreadsheet with imaging tabs to ingest production"
I am working on an imaging technology dataset, and I am getting an error importing the spreadsheet to ingest production. I think this is because of known problems with the imaging tabs, but it is difficult to interpret the error message I am getting.

submission in ingest production: https://contribute.data.humancellatlas.org/submissions/detail?uuid=3cf32c24-c2a8-4874-a413-aeb1ab66b2af

[2021-09-17 13:41] Wkt8 commented on #425
Have tested the following test plans in staging: (skip to summary at the bottom)
1. Create a project - the project metadata created should have estimated_cell_count property with value the same as what is set in the UI form. The project catalogue should display the updated value.
	1. Testing creating a project via submission that does NOT have the estimated_cell_count property
		1. Edit the estima

[2021-09-17 14:07] aaclan-ebi commented on #425
Thanks @Wkt8 for testing and noting the detailed steps! I will promote the UI and project catalogue changes to prod now!

[2021-09-17 15:24] aaclan-ebi commented on #425
This is now in prod.

![Screenshot 2021-09-17 at 16 23 35](https://user-images.githubusercontent.com/31281398/133808243-c25236fe-e2ff-4443-b9af-7988fc02438a.png)

[2021-09-17 15:24] aaclan-ebi commented on #446
This is now in prod ![Screenshot 2021-09-17 at 16 23 03](https://user-images.githubusercontent.com/31281398/133808247-b1c8a6c3-e66c-45e5-8ffc-738d46c35409.png)

[2021-09-17 16:22] jacobwindsor opened #460 "Propose a way to handle deletions of optional field values, without prompting Invalid status"
There is no way to "delete" a publication from a cell line once one has been added

If the user adds a publication, then wants to delete it, they would probably try just removing the title, authors etc. from the form. However, that will not remove the publication and the validation will fail. The publication will still be there but the values for each field will be an empty string.

I think the wa

[2021-09-20 09:43] amnonkhen commented on #386
There is a new form field for defining the search type. The user can choose between all keywords, any keyword or an exact phrase match.

See screen shot:

![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/68b9bf85-84a9-4188-99ad-fefb30fd8abe)

[2021-09-20 13:37] Wkt8 commented on #458
![Screenshot 2021-09-20 at 14.36.05.png](https://images.zenhubusercontent.com/5fd74f67b86eb46030b3f4e3/4435f4e1-5927-471d-97c6-82cc6750a864)

Looks good! @jacobwindsor has created a separate ticket #460 for adding the functionality to be able to remove publications from a cell line, but for now, we are able to submit cell lines through ingest once more.

@ami-day if you want to have a look at a te

[2021-09-20 14:06] ami-day commented on #458
It's ok I am testing it on a dataset I am trying to get submitted :) thanks @Wkt8 for testing

[2021-09-20 14:56] aaclan-ebi commented on #455
This is now deployed in dev and staging.
(staging pipeline)https://gitlab.ebi.ac.uk/hca/ingest-broker/-/pipelines/195322
(dev pipeline) https://gitlab.ebi.ac.uk/hca/ingest-broker/-/pipelines/195317

![Screenshot 2021-09-20 at 15.55.47.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/f74664b7-8ef7-4e3f-8e0d-3ae7e64dd59b)

[2021-09-20 14:56] aaclan-ebi commented on #455
Hi @Wkt8, would you be able to verify in `staging` if the issue is fixed? Thanks!

[2021-09-20 15:49] ami-day opened #461 "Updating DCP1 datasets submitted to ingest"
We have come across a DCP1 dataset wrangled by our team which needs an update as it is missing lane indices to distinguish multiple fastq files per input cell suspension.
However, currently we are not able to make updates to DCP1 datasets in ingest. We need a way to be able to update DCP1 datasets in ingest.

[2021-09-21 05:56] ofanobilbao commented on #461
@ami-day, ticket #376 is trying to cover exactly that. Deleting this ticket as it is a duplication.

[2021-09-21 05:56] #461 closed, assigned to nobody

[2021-09-21 08:32] Wkt8 commented on #455
Will do!

[2021-09-21 08:41] jacobwindsor commented on #458
https://github.com/ebi-ait/ingest-ui/pull/121

See conversation in https://github.com/ebi-ait/ingest-ui/pull/121#issuecomment-921911059

[2021-09-21 08:42] jacobwindsor commented on #458
#460 opened to fix issues found

[2021-09-21 08:42] jacobwindsor commented on #460
Relates to #458

[2021-09-21 08:56] Wkt8 commented on #455
Testing to make sure that updating via bulk updates does not change the schemas

Have done the following:
- [x] Pick an existing submission linked to a project with an older version. (https://staging.contribute.data.humancellatlas.org/projects/detail?uuid=955dfc2c-a8c6-4d04-aa4d-907610545d11&tab=upload)

- [x] Download spreadsheet of a submission.
- [x] Update the project metadata in the spreadshe

[2021-09-21 08:59] ami-day opened #462 "Error uploading dataset with imaging tabs to ingest prod."
I am working on an imaging technology dataset, and I am getting an error importing the spreadsheet to ingest production. I think this is because of known problems with the imaging tabs, but it is difficult to interpret the error message I am getting.

submission in ingest production: https://contribute.data.humancellatlas.org/submissions/detail?uuid=3cf32c24-c2a8-4874-a413-aeb1ab66b2af

[2021-09-21 09:01] jacobwindsor commented on #328
I think is no longer the case right? This was fixed with https://github.com/ebi-ait/ingest-ui/pull/75

@ke4

[2021-09-21 09:04] jacobwindsor commented on #255
This was done already

[2021-09-21 09:08] aaclan-ebi commented on #445
I've picked 10 projects for testing and exported them.

[code]

I notified the Data Import team of these 10 projects in the dcp2 thread https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1632166712089600?thread_ts=1631635383.071300&cid=C01360XN04S

There are some issues I noticed:
1. Some submissions couldn't be set back to Valid because they're either Completed or Exported. I need to think of a

[2021-09-21 09:09] jacobwindsor commented on #244
Closing as no longer a bug

[2021-09-21 09:09] #244 closed

[2021-09-21 09:11] aaclan-ebi commented on #455
Thanks @Wkt8 , promoting this to prod now.

[2021-09-21 09:13] ke4 commented on #328
@jacobwindsor I tested this on dev and unfortunately it is still happening.
![Screenshot 2021-09-21 at 10.12.04.png](https://images.zenhubusercontent.com/5f2957fd448645a503a32777/dac1a843-d567-42aa-a7c5-2fd1ca7aa170)

[2021-09-21 10:45] amnonkhen commented on #213
This could be closed. It is about deploying newly built images as pat of the CI.

[2021-09-21 10:46] #213 closed

[2021-09-21 10:47] #374 closed, assigned to nobody

[2021-09-21 10:59] #293 closed

[2021-09-21 10:59] yusra-haider commented on #293
done in https://github.com/ebi-ait/ingest-ui/pull/107

closing this ticket

[2021-09-21 11:12] aaclan-ebi commented on #455
This is deployed in prod and the ingest integration test is passing.

https://gitlab.ebi.ac.uk/hca/ingest-broker/-/pipelines/195322

![Screenshot 2021-09-21 at 12.08.25.png](https://images.zenhubusercontent.com/5b042c754b5806bc2bd426e2/c1a274ba-6b3a-4a77-aae3-cc4a4cd757dd)

*note: The integration test in staging was already fixed. The staging pipeline triggered yesterday became stale and new pipel

[2021-09-21 11:38] Wkt8 commented on #386
Doing some testing.

[2021-09-21 11:56] Wkt8 commented on #386
Search Type:
- All Keywords
- Any Keywords
- Exact Match

What's the difference between all keywords and any keywords?

Have tested the following:
UUID (does not work)
ProjectShortName (works with some bugs)
- Given Project ID: HeterogeneityCD4Tcells
- Searching on Search Type 'Any Keyword'
- Search: Heterogeneity - works
- Search: CD4 - works
- Search: HeterogeneityCD4 - does not work???

Disease

[2021-09-21 12:58] gabsie commented on #386
Hi, @amnonkhen and @Wkt8

From a user perspective, I would expect some sort of a broad search and get rid of the box for exact match etc, etc.. These options should be incorporated into the system/code, but maybe not visualised in an additional box.

The system I expect to display at the top the exact matches.. then the rest if relevant

To me the highest priority is still to search by short name,

[2021-09-21 14:22] #329 closed

[2021-09-21 14:22] #289 closed

[2021-09-21 14:23] #441 closed, assigned to ke4

[2021-09-21 14:23] #313 closed

[2021-09-21 14:23] #411 closed, assigned to nobody

[2021-09-21 14:23] #413 closed, assigned to jacobwindsor

[2021-09-21 14:23] #392 closed, assigned to jacobwindsor

[2021-09-21 14:23] #397 closed, assigned to yusra-haider

[2021-09-21 14:23] #380 closed, assigned to ESapenaVentura

[2021-09-21 14:23] #412 closed, assigned to jacobwindsor

[2021-09-21 14:23] #324 closed

[2021-09-21 14:23] #75 closed

[2021-09-21 14:23] #160 closed

[2021-09-21 14:23] #230 closed

[2021-09-21 14:23] #337 closed

[2021-09-21 14:23] #345 closed, assigned to jacobwindsor

[2021-09-21 14:23] #352 closed, assigned to jacobwindsor

[2021-09-21 14:23] #348 closed, assigned to jacobwindsor

[2021-09-21 14:23] #356 closed, assigned to MightyAx, gabsie

[2021-09-21 14:23] #387 closed, assigned to jacobwindsor

[2021-09-21 14:23] #383 closed, assigned to jacobwindsor

[2021-09-21 14:24] #364 closed, assigned to ke4

[2021-09-21 14:24] #353 closed, assigned to ke4

[2021-09-21 14:24] #340 closed

[2021-09-21 14:24] #300 closed

[2021-09-21 14:24] #326 closed

[2021-09-21 14:24] #315 closed

[2021-09-21 14:24] #297 closed

[2021-09-21 14:24] #263 closed

[2021-09-21 14:24] #257 closed

[2021-09-21 14:24] #279 closed

[2021-09-21 14:24] #309 closed

[2021-09-22 09:42] #414 closed, assigned to Wkt8

[2021-09-22 14:09] ESapenaVentura commented on #382
Reviewed the SOP - Waiting for the script PR to be ready for me to test

[2021-09-22 14:40] ESapenaVentura commented on #450
To second 2 of Wei's comments:
- Cell count probably needs a range, with an `N/A` min and a `No upper limit` max
- I think your idea For `type of data` is nice, but maybe instead "Published data? yes/no". @Wkt8 is right in that we don't have that field in the metadata (Or in the project registration form), but I think it can be inferred by the presence/absence of accessions

And to contradict anot

[2021-09-22 14:40] amnonkhen commented on #398
Pasting the project uuid in the search box shows the relevant project.

![image.png](https://images.zenhubusercontent.com/600ed297091d3ea152b83c2d/81e60587-78d5-43b8-b4de-262c3894d09e)

[2021-09-22 15:55] aaclan-ebi commented on #445
Reexported the 10 test projects and copied the data files for testing with downstream DCP. Please see thread https://embl-ebi-ait.slack.com/archives/C01360XN04S/p1632326054101500?thread_ts=1631635383.071300&cid=C01360XN04S

[2021-09-22 21:53] amnonkhen commented on #386
search by uuid - ticket 398
search by shot name - TBD